<template>
  <modal name="access-management" width="900" height="auto">
    <v-card>
      <v-card-title>
        <v-row no-gutters justify="space-between">
          <div class="myPageTitle">Full Access Management</div>
          <v-btn-toggle v-model="access.view" mandatory dense>
            <v-btn value="access">
              <v-icon left color="light-green">fa-check</v-icon>Full
              Access
            </v-btn>
            <v-btn value="no-access">
              <v-icon left color="red lighten-1">fa-times</v-icon> Limited
              Access
            </v-btn>
          </v-btn-toggle>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row no-gutters align="center">
          <v-text-field label="Search Employees" v-model="access.search" clearable dense hide-details />
          <v-btn @click="getAccessList" color="primary" fab x-small class="mx-1" :loading="access.loading">
            <v-icon small>fa-sync</v-icon>
          </v-btn>
        </v-row>
        <v-divider />
        <div style="height: 65vh; overflow-y: auto">
          <div v-if="accessList.length > 0">
            <div v-if="access.view === 'access'">
              <div v-for="(emp, i) in filtered(access.full, access.search)" :key="i" class="my-1">
                <div>
                  <v-btn color="error" fab x-small class="mx-3" @click="removeAccess(emp.EmpID)">
                    <v-icon> fa-times </v-icon>
                  </v-btn>
                  {{ emp.Name }}
                </div>
              </div>
            </div>
            <div v-else>
              <div v-for="(emp, i) in filtered(access.limited, access.search)" :key="i" class="my-1">
                <!-- <v-btn loading v-if="!emp.lazy" icon color="primary" /> -->
                <!-- <v-lazy v-model="emp.lazy" :options="{ threshold: 0.5 }"> -->
                <div>
                  <v-btn color="success" fab x-small class="mx-3" @click="addAccess(emp.EmpID)">
                    <v-icon>fa-plus</v-icon>
                  </v-btn>
                  {{ emp.Name }}
                  <!-- <v-checkbox readonly v-model="emp.lazy" /> -->
                </div>
                <!-- </v-lazy> -->
              </div>
            </div>
          </div>
          <div v-else>
            <v-alert text type="warning" class="my-2">
              No employees found
            </v-alert>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-btn @click="$modal.hide('access-management')" block color="error" outlined>close <v-icon right>fa-times</v-icon>
          </v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </modal>

</template>

<script>
import { EventBus, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR, CONFIRM_INFO, CONFIRM_WARNING, UNKNOWN_ERROR } from '@/EventBus'
import axios from 'axios'
import { onNull, filtered } from '@/functions'

export default {
  props: {
    // users: null
  },
  data() {
    return {
      access: {
        dialog: false,
        loading: false,
        lazy: false,
        search: '',
        view: 'access',
        full: [],
        limited: []
      }
    }
  },
  computed: {
    accessList() {
      return this.access.view === 'access' ? this.access.full : this.access.limited
      // return this.filtered(
      //   this.access.view === 'access' ? this.access.full : this.access.limited,
      //   this.access.search
      // )
    }
  },
  mounted() {
    this.getAccessList()
  },
  methods: {
    filtered,
    getAccessList() {
      this.access.loading = true
      axios
        .get('security/GetAccessList')
        .then((response) => {
          this.access.loading = false
          this.access.full = response.data.list
            .filter((p) => p.FullAccess)
            .map((item) => ({
              lazy: false,
              ...item
            }))
          this.access.limited = response.data.list
            .filter((p) => !p.FullAccess)
            .map((item) => ({
              lazy: false,
              ...item
            }))
        })
        .catch((error) => {
          this.access.loading = false
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, UNKNOWN_ERROR))
        })
    },
    addAccess(id) {
      ShowLoading('Adding Access')
      axios
        .post('security/AddAccess', {
          UserID: id
        })
        .then((response) => {
          HideLoading('Adding Access')
          this.getAccessList()
          EventBus.$emit(SHOW_SUCCESS, response.data)
        })
        .catch((error) => {
          HideLoading('Adding Access')
          EventBus.$emit(SHOW_ERROR, error.response.data)
        })
    },
    removeAccess(id) {
      ShowLoading('Removing Access')
      axios
        .post('security/RemoveAccess', {
          UserID: id
        })
        .then((response) => {
          HideLoading('Removing Access')
          this.getAccessList()
          EventBus.$emit(SHOW_SUCCESS, response.data)
        })
        .catch((error) => {
          HideLoading('Removing Access')
          EventBus.$emit(SHOW_ERROR, error.response.data)
        })
    }
  }
}
</script>