<template>
  <v-container class="myCenter" :style="backgroundStyle" fluid>
    <div>
      <v-card elevation="24" style="width: 50vw">
        <v-card-title style="border-bottom: 1px solid lightgray">
          <v-row justify="space-between">
            <div class="myPageTitle">Add Sub-Account</div>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  label="First Name"
                  v-model="firstName"
                  prepend-icon="far fa-smile"
                  class="mr-2"
                  clearable></v-text-field></v-col>
              <v-col>
                <v-text-field
                  :label="'Last Name'"
                  v-model="lastName"
                  class="ml-2"
                  clearable></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  label="City"
                  v-model="city"
                  prepend-icon="fa-building"
                  class="mr-2"
                  clearable></v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  :label="'State'"
                  v-model="state"
                  class="ml-2"
                  clearable></v-text-field>
              </v-col>
              <!-- prepend-icon="room" -->
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  label="Email Address"
                  v-model="email"
                  :rules="rules.email"
                  validate-on-blur
                  prepend-icon="fa-user"
                  clearable
                  required></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  label="Password"
                  hint="Password requirements: minimum length of 12 characters; at least one special character"
                  type="password"
                  :rules="rules.password"
                  v-model="password"
                  prepend-icon="fas fa-shield"
                  validate-on-blur
                  clearable
                  required
                  counter></v-text-field>
                <password
                  :strength-meter-only="true"
                  :secure-length="12"
                  v-model="password"></password>
                <v-text-field
                  label="Confirm Password"
                  hint="Password requirements: minimum length of 12 characters; at least one special character"
                  type="password"
                  :rules="rules.password"
                  v-model="password2"
                  prepend-icon="fas fa-shield"
                  validate-on-blur
                  clearable
                  required
                  counter></v-text-field>
                <password
                  :strength-meter-only="true"
                  :secure-length="12"
                  v-model="password2"></password>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  label="Company Name"
                  v-model="company"
                  prepend-icon="fa-briefcase"
                  clearable></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  label="Position Title"
                  v-model="title"
                  prepend-icon="fa-id-card"
                  clearable></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-layout justify-center>
            <v-btn block color="primary" @click="create" :disabled="!valid">add sub-account</v-btn>
          </v-layout>
        </v-card-actions>
      </v-card>
      <!-- <v-alert :type="tierAlert" dark v-if="tierInfo != null" dismissible>
          <v-row justify="center"
            >You currently have {{ getRemainingLimit() }} sub-account(s)
            remaining.</v-row
          >
        </v-alert> -->
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
// import loading from '@/components/Loading'
import { EventBus, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR, SHOW_WARNING } from '@/EventBus'
import { rules, onNull, backgroundStyle } from '@/functions'
import Password from 'vue-password-strength-meter'

export default {
  name: 'AddAccount',
  components: {
    Password
  },
  data() {
    return {
      valid: false,
      company: '',
      city: '',
      state: '',
      firstName: '',
      lastName: '',
      title: '',
      email: '',
      password: '',
      password2: '',
      rules,
      tierInfo: null
    }
  },
  computed: {
    tierAlert() {
      // let color = ''
      let limit = 1
      let type = ''
      if (this.tierInfo != null) {
        var accountLimit = this.tierInfo.AccountLimit
        if (accountLimit !== null && accountLimit > 0) {
          limit = this.tierInfo.SubAccounts / accountLimit
        }

        if (limit >= 1) {
          // color = 'red'
          type = 'error'
        } else if (limit >= 0.75) {
          // color = 'orange'
          type = 'warning'
        } else if (limit >= 0.5) {
          // color = 'yellow'
          type = 'info'
          // } else if (limit >= 0.25) {
          //   color = 'blue'
          //   type = 'warning'
        } else {
          // color = 'green'
          type = 'success'
        }
      }
      return type
    },
    tierStatusColor() {
      let color = ''
      switch (this.tierInfo.TierCode) {
        case '200':
          color = '#b3b3b3'
          break
        case '300':
          color = '#e6e600'
          break
        case '400':
          color = '#f2f2f2'
          break
        default:
          color = '#806600'
          break
      }

      return color
    },
    isMatch() {
      return this.password === this.password2
    },
    backgroundStyle
  },
  mounted() {
    // this.load()
  },
  methods: {
    clear() {
      this.$refs.form.reset()
    },
    getRemainingLimit() {
      var limit = this.tierInfo.AccountLimit - this.tierInfo.SubAccounts
      if (limit < 0) {
        limit = 0
      }

      return limit
    },
    create() {
      if (this.isMatch) {
        if (this.$refs.form.validate()) {
          // this.loggingIn = true
          ShowLoading('Add Account')
          axios
            .post('security/AddAccount', {
              Email: this.email,
              Password: this.password,
              City: this.city,
              State: this.state,
              FirstName: this.firstName,
              LastName: this.lastName,
              Company: this.company,
              Title: this.title
            })
            .then(response => {
              // console.log(response.data)
              // this.loggingIn = false
              HideLoading('Add Account')
              EventBus.$emit(SHOW_SUCCESS, onNull(response.data, 'User account added. Visit Master User Settings for verification.'))
              this.$router.push({ name: 'Home' })
            })
            .catch(error => {
              HideLoading('Add Account')
              EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred.'))
              // this.loggingIn = false
            })
        }
      } else {
        EventBus.$emit(SHOW_WARNING, 'Passwords must match')
      }
    }
  }
}
</script>
