<template>
  <v-container fluid>
    <div>
      <div v-if="users !== null" style="width: 100%; height: 100%;">
        <div style="border-bottom: 1px solid lightgray">
          <v-row no-gutters justify="space-between" align="center">
            <div class="myPageTitle">Administrator Settings</div>
            <div>
              <v-tooltip bottom>
                <template #activator="master_access">
                  <v-btn v-if="users !== null" v-on="master_access.on" @click="$modal.show('master-management')" icon color="primary" class="mx-2" :disabled="onNull(users, []).length === 0">
                    <v-icon>fa-users-crown</v-icon>
                  </v-btn>
                </template>
                Master Account Management
              </v-tooltip>
              <v-tooltip bottom>
                <template #activator="full_access">
                  <v-btn v-on="full_access.on" @click="$modal.show('access-management')" icon color="amber" class="mx-2" :disabled="onNull(users, []).length === 0">
                    <v-icon>fa-star</v-icon>
                  </v-btn>
                </template>
                Employee Access List
              </v-tooltip>
              <v-tooltip bottom>
                <template #activator="gen_thumbnails">
                  <v-btn v-on="gen_thumbnails.on" @click="genThumbnails" icon color="warning" class="mx-2">
                    <v-icon>fa-images</v-icon>
                  </v-btn>
                </template>
                Generate Gallery Thumbnails
              </v-tooltip>
            </div>
            <v-row no-gutters justify="end">
              <v-text-field label="Search Email Address" v-model="filters.search" dense prepend-icon="fa-search" validate-on-blur class="mx-4" style="max-width: 500px" clearable></v-text-field>
              <v-menu v-model="filters.menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="400px" left>
                <template #activator="filter">
                  <v-btn v-on="filter.on" class="mx-3">
                    filters
                    <v-icon right>fa-filter</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                        <v-autocomplete label="Parent User Account" prepend-icon="fa-user" :items="masterList" dense clearable hide-details validate-on-blur style="max-width: 500px" v-model="filters.parent" />
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-checkbox label="Sub Accounts Only" v-model="filters.child" hide-details class="mx-2" :disabled="filters.master || filters.admin" />
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-checkbox label="Master Accounts Only" v-model="filters.master" hide-details class="mx-2" :disabled="filters.child || filters.admin" />
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-checkbox label="Admin Accounts Only" v-model="filters.admin" hide-details class="mx-2" :disabled="filters.child || filters.master" />
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-content>
                        <v-checkbox label="Active Accounts Only" v-model="filters.verified" hide-details class="mx-2" />
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card>
              </v-menu>
              <v-btn fab x-small @click="load" :loading="loading" color="primary">
                <v-icon small>fa-sync</v-icon>
              </v-btn>
            </v-row>
          </v-row>
        </div>
        <div>
          <v-data-table :headers="headers" :items="users" :search="filters.search" :loading="loading" item-key="UserID" :height="height" v-resize="onResize" :footer-props="footer" fixed-header multi-sort v-model="selected" show-select>
            <template #item.FirstName="{ item }">
              <!-- <v-text-field dense hide-details v-model="item.FirstName" :readonly="isRecordSelected(item) === false"></v-text-field> -->
              {{`${item.FirstName} ${item.LastName}`}}
            </template>
            <!-- <template #item.LastName="{ item }">
              <v-text-field dense hide-details v-model="item.LastName" :readonly="isRecordSelected(item) === false"></v-text-field>
            </template>
            <template #item.Title="{ item }">
              <v-text-field dense hide-details v-model="item.Title" :readonly="isRecordSelected(item) === false"></v-text-field>
            </template>
            <template #item.Company="{ item }">
              <v-text-field dense hide-details v-model="item.Company" :readonly="isRecordSelected(item) === false"></v-text-field>
            </template> -->
            <template #item.Admin="{ item }">
              <v-switch dense hide-details class="pa-0 ma-0" v-model="item.Admin" disabled></v-switch>
            </template>
            <template #item.LastLogin="{ item }">
              <my-moment localize :value="item.LastLogin" format="lll" style="white-space: nowrap" :disabled="true || isRecordSelected(item) === false" />
            </template>
            <template #item.AgreementSigned="{ item }">
              <v-switch dense hide-details class="pa-0 ma-0" v-model="item.AgreementSigned" :disabled="true || isRecordSelected(item) === false"></v-switch>
            </template>
            <template #item.PromptNewPassword="{ item }">
              <v-switch dense hide-details class="pa-0 ma-0" v-model="item.PromptNewPassword" :disabled="true || isRecordSelected(item) === false"></v-switch>
            </template>
            <template #item.Master="{ item }">
              <v-switch dense hide-details class="pa-0 ma-0" v-model="item.Master" disabled></v-switch>
              <!-- <v-switch dense hide-details class="pa-0 ma-0" v-model="item.Master" :disabled="item.ParentID > 0 || item.accounts > 0 || isRecordSelected(item) === false"></v-switch> -->
            </template>
            <template #item.Verified="{ item }">
              <v-switch dense hide-details class="pa-0 ma-0" v-model="item.Verified" :disabled="true || isRecordSelected(item) === false"></v-switch>
            </template>
            <template #item.tier="{ item }">
              <div v-if="item.tier !== null">
                <v-tooltip right v-if="item.UserID > 0 && tierList !== null && tierList.length > 0">
                  <template #activator="code">
                    <v-chip v-on="code.on" dense dark v-if="item.tier !== null" :color="tierStatusColor(onNull(item.tier.TierCode, ''))">
                      <v-icon>{{tierIcon(onNull(item.tier.TierCode, ''))}}</v-icon>
                    </v-chip>
                  </template>
                  {{ onNull(item.tier.TierStatus, '') }}
                </v-tooltip>
              </div>
              <v-btn v-else-if="tierList.length === 0" color="primary" icon loading />
              <v-chip v-else color="primary">
                <v-icon>fal fa-question</v-icon>
              </v-chip>
            </template>
            <template #item.ParentID="{ item }">
              <!-- <v-select :items="masterList" dense clearable hide-details style="max-width: 300px; font-size: .9em" v-if="!item.Master && !item.Admin" v-model="item.ParentID" :disabled="isRecordSelected(item) === false" /> -->
              {{(item.ParentID > 0 && getUserInfo(item.ParentID) !== null ? `${getUserInfo(item.ParentID).EmailAddress} (${item.ParentID})` : '')}}
            </template>
            <template #item.options="{ item }">
              <v-menu v-model="item.options">
                <template #activator="userOptions">
                  <v-btn color="primary" style="min-width: 60px; font-size: 0.9em" v-on="userOptions.on" small>Options <v-icon x-small right>fa-cogs</v-icon>
                  </v-btn>
                </template>
                <v-list dense>
                  <v-list-item @click="maintainUser(item)">
                    <v-list-item-avatar height="20">
                      <v-icon small left color="success">fa-user-cog</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Maintain User</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="loginProxy(item)">
                    <v-list-item-avatar height="20">
                      <v-icon small left>fa-user</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Login as User </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="linkAccount(item)" v-if="!item.Admin">
                    <v-list-item-avatar height="20">
                      <v-icon small left color="primary">fa-users-crown</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Link Master Account </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="promptCacheOrder(item)" v-if="!item.Admin">
                    <v-list-item-avatar height="20">
                      <v-icon small left color="purple">fa-history</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Sync Order List </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="reset(item)">
                    <v-list-item-avatar height="20">
                      <v-icon small left color="warning">fa-user-lock</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Reset Password </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="defaultPassword(item)">
                    <v-list-item-avatar height="20">
                      <v-icon small left>fa-lock</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Default Password </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item @click="deleteUser(item)">
                    <v-list-item-avatar height="20">
                      <v-icon small left color="error">fa-user-times</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>Delete User </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </v-data-table>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <!-- <v-btn color="primary" block @click="submitChanges" :disabled="selected.length === 0">Submit changes</v-btn> -->
          <v-btn color="deep-orange" class="pl-4" outlined @click="defaultSelected" :disabled="selected.length === 0">Default passwords</v-btn>
        </div>
      </div>
    </div>
    <modal name="user-account" width="900" height="auto" :clickToClose="false">
      <account v-if="user != null" :info="user" admin @close_dialog="$modal.hide('user-account')" show-close />
      <!-- <v-btn block @click></v-btn> -->
    </modal>
    <access-management />
    <master-management :users="users" :masterList="masterList" @reload="load" />
    <modal name="master-assignment" width="1000" height="auto">
      <div v-if="assignee.user !== null">
        <div class="myPageTitle" style="display: flex; border-bottom: 1px solid lightgray; margin-right: 10px; letter-spacing: .0625em">
          <h3>Parent User Assignment</h3>
          <div style="display: flex; flex: 1 1 auto;" />
          <div style="display: flex; align-items: center">
            <h3 class="mr-1">{{assignee.user.EmailAddress}}</h3>
            (User ID: {{assignee.user.UserID}})
            <v-btn icon @click="$modal.hide('master-assignment')" color="error" title="Close Window">
              <v-icon>fa-times</v-icon>
            </v-btn>
          </div>
        </div>
        <div style="display: flex; flex-flow: column nowrap; justify-content: space-between">
          <div v-if="assignee.user.Master" style="margin: 10px;">
            <v-alert type="error" v-if="assignee.subaccounts.length > 0" border="left" dense text style="font-size: .925em;" prominent>This user is enabled as a master account and is linked to at least one sub-account (listed below). <br />You can
              update the master user for the account family (top left of admin page) and then re-assign this user account. </v-alert>
            <v-alert type="warning" v-else border="left" dense text style="font-size: .925em;" prominent>This user is enabled as a master account. </v-alert>
            <div v-for="(child, i) in assignee.subaccounts" :key="i">
              - {{child.EmailAddress}}
            </div>
          </div>
          <div v-else>
            <v-alert type="info" border="left" dense text style="margin: 10px;font-size: .925em;" prominent v-if="onNull(assignee.parent, null) !== null">This user is currently assigned to the following master account: <b
                style="letter-spacing: .0625em">{{assignee.parent.EmailAddress}}</b>
            </v-alert>
            <v-alert type="warning" border="left" dense text style="margin: 10px;font-size: .925em;" prominent v-else>This user is not currently assigned to a master account. Please assign to the appropriate account immediately.
            </v-alert>
          </div>
          <div style="margin:20px;display: flex; flex-flow: column nowrap; flex: 1 1 auto" v-if="assignee.subaccounts.length === 0">
            <v-autocomplete label="Parent" :items="masterList.filter(p => p.value !== assignee.user.UserID)" dense clearable hide-details style="width: 450px; margin: 0px 10px 20px 10px" v-model="assignee.parentId"
              @click:clear="assignee.parentId = null" />
            <v-btn color="success" block style="margin-top: 10px" v-if="!assignee.user.Master" @click="updateParent(assignee.user)" :disabled="onNull(assignee.parentId, 0) === 0">re-link</v-btn>
            <v-btn :color="onNull(assignee.parentId, null) === null ? 'warning' : 'primary'" block style="margin-top: 10px" v-else-if="assignee.user.Master" @click="updateParent(assignee.user)">
              {{(onNull(assignee.parentId, null) === null ? 'remove master status' : 'convert to sub-account & link parent')}}</v-btn>
            <v-btn color="warning" block style="margin-top: 10px" v-if="!assignee.user.Master" @click="convertToMaster(assignee.user)">Convert to Master Account</v-btn>
          </div>
        </div>
      </div>
    </modal>
  </v-container>
</template>

<script>
import { EventBus, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR, CONFIRM_INFO, CONFIRM_WARNING, UNKNOWN_ERROR } from '@/EventBus'
import axios from 'axios'
import api from '@/api'
import { onNull, filtered } from '@/functions'
import MyMoment from '@/components/MyMoment'
import Account from '@/components/Account'
import AccessManagement from '@/views/AccessManagement'
import MasterManagement from '@/views/MasterManagement'
// import store from '@/store'
// import { GetSessionStorage, USER_PROXY } from '@/storage.js'

export default {
  name: 'AdminUser',
  components: {
    MyMoment,
    AccessManagement,
    MasterManagement,
    Account
  },
  data() {
    return {
      user: null,
      users: [],
      tierList: [],
      employees: [],
      assignee: {
        user: null,
        parent: null,
        subaccounts: 0,
        parentId: 0
      },
      loading: false,
      valid: false,
      editProfile: false,
      orders: [],
      selected: [],
      headers: [
        { text: 'User ID', align: 'center', value: 'UserID' },
        {
          text: 'Active',
          value: 'Verified',
          filter: val => {
            var value = onNull(this.filters.verified, false)

            if (value) {
              if (val === value) {
                return true
              } else {
                return false
              }
            }

            return true
          }
        },
        { text: 'Email Address', align: 'center', value: 'EmailAddress' },
        { text: 'Name', align: 'center', value: 'FirstName' },
        // { text: 'Last Name', align: 'center', value: 'LastName' },
        { text: 'Company', align: 'center', value: 'Company' },
        { text: 'Title', align: 'center', value: 'Title' },
        { text: 'Last Login', align: 'center', value: 'LastLogin' },
        { text: 'Agreement Signed?', align: 'center', value: 'AgreementSigned' },
        { text: 'Prompt Password?', align: 'center', value: 'PromptNewPassword' },
        {
          text: 'Master',
          value: 'Master',
          filter: val => {
            var value = onNull(this.filters.master, false)
            let child = onNull(this.filters.child, false)

            if (value) {
              if (val === value) {
                return true
              } else {
                return false
              }
            } else {
              if (child) {
                if (val === !child) {
                  return true
                } else {
                  return false
                }
              }
            }

            return true
          }
        },
        // { text: 'Limited Access', align: 'center', value: 'LimitedAccess' },
        // { text: 'List of Orders', align: 'center', value: 'OrderList' },
        {
          text: 'Parent Account',
          align: 'center',
          value: 'ParentID',
          filter: val => {
            var value = onNull(this.filters.parent, 0)

            if (value > 0) {
              if (val === value) {
                return true
              } else {
                return false
              }
            }

            return true
          }
        },
        { text: 'Options', align: 'center', value: 'options' },
        { text: 'Tier Code', align: 'left', value: 'tier' },
        // { text: 'Tier Status', value: 'TierStatus' },
        { text: 'Sub-Accounts', align: 'center', value: 'accounts' },
        {
          text: 'Admin',
          value: 'Admin',
          filter: val => {
            var value = onNull(this.filters.admin, false)
            let child = onNull(this.filters.child, false)

            if (value) {
              if (val === value) {
                return true
              } else {
                return false
              }
            } else {
              if (child) {
                if (val) {
                  return false
                } else {
                  return true
                }
              }
            }
            return true
          }
        }
      ],
      height: null,
      filters: {
        menu: false,
        search: '',
        admin: false,
        master: false,
        child: false,
        verified: true,
        parent: 0
      },
      footer: {
        itemsPerPageOptions: [50, 100, 200, 500, -1],
        showFirstLastPage: true
      }
    }
  },
  computed: {
    masterList() {
      return this.users
        .filter(p => p.Master)
        .sort((a, b) => a.EmailAddress > b.EmailAddress ? 1 : -1)
        .map(item => ({
          text: item.EmailAddress,
          value: item.UserID
        }))
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    onNull,
    filtered,
    load() {
      this.loading = true
      ShowLoading('Load Users')
      // this.loading = true
      axios
        .get('security/GetAllUsers')
        .then(response => {
          this.selected = []
          this.users = response.data.users.map((item, index) => ({
            id: index,
            dialog: false,
            options: false,
            accounts: 0, // item.tier.SubAccounts,
            tier: null,
            // tier: this.getTier(item.UserID),
            ...item
          }))
          this.tierList = []
          this.getTiers()
          this.orders = response.data.orders
          HideLoading('Load Users')
          this.loading = false
        })
        .catch(error => {
          // alert(error)
          console.error(error)
          HideLoading('Load Users')
          this.loading = false
        })
      // this.loading = false
    },
    getTiers() {
      axios.get('security/GetTierStatusList').then(response => {
        this.tierList = response.data.customerTiers

        for (var t of this.tierList) {
          let user = this.users.find(p => p.UserID == t.UserID)
          if (user !== null && user !== undefined) {
            user.accounts = t.SubAccounts
            user.tier = t
          }
        }
      })
    },
    getTier(userId) {
      axios
        .get('security/GetTierStatus')
        .then(response => {
          let tierInfo = response.data.customerTier

          // let index = this.selected.findIndex(rec => rec.UserID === userId)
          let user = this.users.find(p => p.UserID == userId)

          if (user !== null) {
            user.tier = tierInfo
            user.accounts = tierInfo.SubAccounts
          }
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.', false)
        })

      return null
    },
    tierInfo(userId) {
      let tier = this.tierList.find(p => p.UserID == userId)
      return tier
    },
    maintainUser(item) {
      this.user = item
      this.$modal.show('user-account')
    },
    reset(value) {
      let email = onNull(value.EmailAddress, '')
      EventBus.$emit(CONFIRM_WARNING, `Initiate password reset for <b>${email}</b>?`, () => {
        if (email.length > 0) {
          this.loading = true
          axios
            .post('security/ForgotPassword', {
              Email: email
            })
            .then(response => {
              let reply = response.data.response
              EventBus.$emit(SHOW_SUCCESS, reply)
              this.loading = false
            })
            .catch(error => {
              // console.error(error)
              this.response = error.data.response
              EventBus.$emit(SHOW_ERROR, this.response)
              this.loading = false
              // EventBus.$on(SHOW_ERROR, (msg) => { this.SweetAlert(msg, 'error') })
            })
        }
      })
    },
    defaultPassword(value) {
      EventBus.$emit(CONFIRM_WARNING, `DEFAULT password for <b>${value.EmailAddress}</b>?`, () => {
        this.loading = true
        axios
          .post('security/DefaultPasswordAdmin', {
            user: value
          })
          .then(response => {
            EventBus.$emit(SHOW_SUCCESS, response.data)
            this.loading = false
            this.load()
          })
          .catch(error => {
            EventBus.$emit(SHOW_ERROR, error.response.data)
            this.loading = false
          })
      })
    },
    defaultSelected() {
      EventBus.$emit(CONFIRM_WARNING, `DEFAULT password for <b>${this.selected.length}</b> users?`, () => {
        this.loading = true
        axios
          .post('security/DefaultPasswordsAdmin', {
            users: this.selected
          })
          .then(response => {
            EventBus.$emit(SHOW_SUCCESS, response.data)
            this.loading = false
            this.load()
          })
          .catch(error => {
            EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred.'))
            this.loading = false
          })
      })
    },
    onResize() {
      let offset = 300
      let height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - offset
      this.height = height
    },
    submitChanges() {
      this.Alert('Mass update to user records is currently disabled!<br/>Reach out to Help Desk for further assistance.', 'error')
      // EventBus.$emit(CONFIRM_INFO, `Are you sure you want to update <b>${this.selected.length}</b> customer records?`, () => {
      //   this.loading = true
      //   axios
      //     .post('security/UpdateUsers', {
      //       users: this.selected
      //     })
      //     .then(() => {
      //       // }).then(response => {
      //       EventBus.$emit(SHOW_SUCCESS, 'Changes have been saved.')
      //       this.load()
      //       this.loading = false
      //     })
      //     .catch(error => {
      //       EventBus.$emit(SHOW_ERROR, 'Error occurred during update.')
      //       console.error(error)
      //       this.loading = false
      //     })
      // })
    },
    getUserInfo(id) {
      return this.users.find(p => p.UserID === id)

      // let user = null

      // if (this.users.includes((p) => p.UserID == id)) {
      //   user = this.users.find((p) => p.UserID === id)
      // }

      // return user
    },
    tierIcon: function(code) {
      let award = ''
      switch (code) {
        case '200':
          award = 'fa-medal'
          break
        case '300':
          award = 'fa-trophy'
          break
        case '400':
          award = 'fa-trophy-alt'
          break
        default:
          award = 'fa-award'
          break
      }

      return award
    },
    tierStatusColor: function(code) {
      let color = ''
      switch (code) {
        case '200':
          color = '#b3b3b3'
          break
        case '300':
          color = '#e6e600'
          break
        case '400':
          color = '#f2f2f2'
          break
        default:
          color = '#806600'
          break
      }

      return color
    },
    isRecordSelected(val) {
      let find = rec => rec.UserID === val.UserID
      let index = this.selected.findIndex(find)
      // console.log(`Index: ${index} - UserID: ${val.UserID}`)
      return index > -1
    },
    loginProxy(item) {
      axios
        .post('security/RequestProxyToken', {
          Email: item.EmailAddress
          // Password: this.proxy.password
        })
        .then(response => {
          this.$store.commit('user/setUser', { token: response.data.token, userId: response.data.UserID, userRole: response.data.userRole, proxyId: response.data.proxyID })

          if (this.$route.name !== 'Home') {
            this.$router.push({ name: 'Home' })
          }
          EventBus.$emit(SHOW_SUCCESS, 'Logged in successfully.')
        })
        .catch(error => {
          console.error(error)
          if (error.response.data !== undefined && error.response.data !== null) {
            EventBus.$emit(SHOW_ERROR, error.response.data)
          } else {
            EventBus.$emit(SHOW_ERROR, 'Error attempting to log in.')
          }
        })
    },
    deleteUser(item) {
      EventBus.$emit(CONFIRM_WARNING, `This action cannot be reversed. Are you sure you want to delete the following user: <b>${item.EmailAddress}</b>?`, () => {
        ShowLoading('Delete User')
        axios
          .post('security/DeleteUser', {
            // params: {
            UserID: item.UserID
            // }
          })
          .then(response => {
            let msg = onNull(response.data, 'User deleted')
            HideLoading('Delete User')
            EventBus.$emit(SHOW_SUCCESS, msg)
            this.load()
          })
          .catch(error => {
            let msg = onNull(error.response.data, 'Unknown error encountered')
            HideLoading('Delete User')
            EventBus.$emit(SHOW_ERROR, msg)
          })
      })
    },
    updateOrderList() {
      if (this.user !== null) {
        // if (this.user.orders.length === 0) {
        //   this.user.OrderList = ''
        // }

        // let temp = this.user.orders.map((i) => (i.value))
        // this.user.OrderList = JSON.stringify(temp)

        this.user.OrderList = JSON.stringify(this.user.orders.sort())
      }
    },
    updateUser(user, parentId, master) {
      ShowLoading('Update User')
      api.all([api.post('security/UpdateUser', { Id: user.UserID, Field: 'ParentID', Value: parentId }), api.post('security/UpdateUser', { Id: user.UserID, Field: 'Master', Value: master })]).then(
        api.spread((parentResponse, masterResponse) => {
          HideLoading('Update User')
          this.cacheUserOrders(user)
          this.load()
          this.$modal.hide('master-assignment')
        })
      )
    },
    linkAccount(user) {
      this.assignee.user = user
      this.assignee.parent = onNull(
        this.users.find(p => p.UserID === user.ParentID),
        null
      )
      this.assignee.subaccounts = this.users.filter(p => p.ParentID === user.UserID)
      this.assignee.parentId = onNull(this.assignee.user.ParentID, null)
      this.$modal.show('master-assignment')
    },
    updateParent(user) {
      let parent = this.users.find(p => p.UserID === this.assignee.parentId)
      let msg = `${
        onNull(parent, null) !== null ? `This action will create a link to the following parent account: <b>${parent.EmailAddress}</b>.` : `This action will remove the master status for this account (<b>${user.EmailAddress}</b>).`
      }<br/>Are you sure you want to proceed with this action?`
      EventBus.$emit(CONFIRM_WARNING, msg, () => {
        this.updateUser(user, onNull(this.assignee.parentId, null), false)
      })
    },
    convertToMaster(user) {
      let parent = this.users.find(p => p.UserID === this.assignee.parentId)
      EventBus.$emit(
        CONFIRM_WARNING,
        `${onNull(parent, null) !== null ? `This action will break the link to the parent account: <b>${parent.EmailAddress}</b>.<br/>` : ''}Are you sure you want to convert <b>${user.EmailAddress}</b> into a master account?`,
        () => {
          this.updateUser(user, null, true)
        }
      )
    },
    promptCacheOrder(user) {
      EventBus.$emit(CONFIRM_WARNING, `Are you sure you want to sync the order list for the following user: <b>${user.EmailAddress}</b> ?`, () => {
        this.cacheUserOrders(user)
      })
    },
    cacheUserOrders(user) {
      ShowLoading('Cache User Orders')
      axios
        .post('security/CacheUserOrders', { user })
        .then(response => {
          HideLoading('Cache User Orders')
          this.Alert(response.data, 'success')
        })
        .catch(error => {
          HideLoading('Cache User Orders')
          EventBus.$emit(SHOW_ERROR, error.response.data)
        })
    },
    genThumbnails() {
      ShowLoading('Gen Thumbnails')
      api.post('photo/GenerateGalleryThumbnails').then(response => {
        HideLoading('Gen Thumbnails')
        this.Alert(response.data, 'success')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.textfield {
  width: 100%;
  margin-right: 20px;
}

.override {
  margin-left: 65px;
}
</style>
