<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" temporary touchless app>
      <v-list dense>
        <v-list-item class="hidden-xs-and-down" style="padding: 10px 0px 30px 0px">
          <v-img src="img/Frazier.png" contain height="50" />
        </v-list-item>
        <v-list-item value="true" v-for="(item, i) in pages" :key="i" :to="{ name: item.route }">
          <v-list-item-avatar height="30">
            <v-icon>{{item.icon}}</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{item.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app dense min-height="65" :style="{
        backgroundColor: 'white',
        borderTop: `15px solid ${debug ? 'red' : '#e66b20'}`,
      }">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-img class="hidden-sm-and-down ml-2" src="img/Frazier.png" height="35" max-width="190" contain />
      <v-btn v-for="(item, i) in pages" :key="i" :to="{ name: item.route }" class="mx-1 hidden-md-and-down" text>{{ item.title }}</v-btn>
      <v-spacer></v-spacer>
      <v-menu v-model="search.menu" nudge-bottom="45" max-height="700" min-width="500">
        <template v-slot:activator="{}">
          <v-text-field placeholder="Search order, name, address..." v-model="search.filter" @keyup.enter.native="getSearch" clearable outlined hide-details dense class="ma-0 pa-0" style="font-size: 0.9em" clear-icon="fal fa-times"
            append-icon="fa-search" @click:append="getSearch" :loading="search.loading"></v-text-field>
          <!-- <v-btn
            v-on="on"
            icon
            @click="getSearch"
            :loading="search.loading"
            title="Search"
          >
            <v-icon>fa-search</v-icon>
          </v-btn> -->
        </template>
        <v-card>
          <v-list two-line subheader dense>
            <v-subheader>Orders</v-subheader>
            <v-list-item v-if="onNull(orders, []).length < 1">
              <v-list-item-avatar>
                <v-icon>fa-question-circle</v-icon>
              </v-list-item-avatar>No orders could be found
            </v-list-item>
            <v-list-item v-else v-for="(o, i) in orders" :key="i" @click="goToOrder(o.OrderNum)" class="pb-2">
              <v-list-item-avatar tile>
                <v-img :src="`img/flags/${
                    o.Company === 'FUS'
                      ? 'USA'
                      : o.Company === 'FCAN'
                      ? 'Canada'
                      : 'Mexico'
                  }.png`" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ o.OrderNum }} - {{ o.SoldTo }}</v-list-item-title>
                <v-list-item-subtitle>{{ o.OTSName }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ o.OTSAddress1 }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ o.OTSCity }}, {{ o.OTSState }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider />
          <v-list>
            <v-subheader>Contacts</v-subheader>
            <v-list-item v-if="onNull(contacts, []).length < 1">
              <v-list-item-avatar>
                <v-icon>fa-question-circle</v-icon>
              </v-list-item-avatar>No contacts could be found
            </v-list-item>
            <v-list-item v-else v-for="(c, i) in contacts" :key="i" @click="goToContacts()" class="pb-2">
              <v-list-item-avatar tile>
                <v-img :src="loadPhoto(c.ID)" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ c.Name }}</v-list-item-title>
                <v-list-item-subtitle>{{ c.Title }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ c.Phone }}</v-list-item-subtitle>
                <v-list-item-subtitle>{{ c.Email }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider />
          <v-card-text>
            <v-btn icon color="teal" href="mailto:frazier@frazier.com" class="mr-2" title="Email Customer Service">
              <v-icon>fa-paper-plane</v-icon>
            </v-btn>Please contact Customer Service for portal support at (908)
            876-3001.
          </v-card-text>
        </v-card>
      </v-menu>
      <v-menu v-model="settings.menu" :close-on-content-click="false" v-if="showSettings" offset-y min-width="300">
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon title="Settings">
            <v-icon>fa-cog</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list dense>
            <div v-if="!isEmployee">
              <v-subheader>USER SETTINGS</v-subheader>
              <v-list-item @click="goTo('Profile')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-user-circle</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Profile</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goTo('ChangePassword')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-user-shield</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Change Password</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div v-if="isMaster">
              <v-divider />
              <v-subheader>MASTER SETTINGS</v-subheader>
              <v-list-item @click="goTo('Master')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-users-cog</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Manage Users</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goTo('AddAccount')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-user-friends</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Add User Account</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div v-if="isAdmin">
              <v-divider />
              <v-subheader>ADMIN SETTINGS</v-subheader>
              <v-list-item @click="goTo('Admin')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-users-crown</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Administrator Settings</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goTo('NewAccount')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-user-plus</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Create Account</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goTo('SurveyEditor')" v-if="surveyEditorAccess">
                <v-list-item-avatar height="30">
                  <v-icon>fa-edit</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Survey Editor</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goTo('SurveyResponses')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-paste</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Survey Responses</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="goTo('HomeMaintenance')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-wrench</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Home Maintenance</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item style="background-color: #fcbcb5" @click="logoutProxy" v-if="isProxyLoggedIn">
                <v-list-item-avatar height="30">
                  <v-icon>fa-sign-out-alt</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    <span style="font-style: italic"> Log out of </span>
                    <span style="font-weight: bold; margin-left: 2px">{{
                      proxy.email
                    }}</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
            <div v-if="hasFullAccess">
              <v-divider v-if="!isEmployee || isMaster || isAdmin" />
              <!-- <v-subheader>OTHER SETTINGS</v-subheader> -->
              <v-list-item @click="goTo('Reports')">
                <v-list-item-avatar height="30">
                  <v-icon>fa-copy</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Reports</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
          </v-list>
        </v-card>
      </v-menu>

      <div class="hidden-md-and-down">
        <v-btn @click="promptLogout" text tile class="mx-1">Logout
          <v-icon small right>fa-sign-out-alt</v-icon>
        </v-btn>
      </div>
      <v-btn @click="promptLogout" icon class="hidden-lg-and-up mx-1">
        <v-icon>fa-user-lock</v-icon>
      </v-btn>
    </v-app-bar>
    <v-dialog v-model="agreement.dialog" v-if="agreement.signed === false" :fullscreen="agreement.fullscreen" persistent scrollable>
      <v-card>
        <v-card-title>
          Terms & Conditions
          <v-row justify="end">
            <v-btn outlined class="mx-3" @click="expandSections" color="primary">
              <v-icon left>fa-plus-square</v-icon>expand sections
            </v-btn>
            <v-btn outlined class="mx-3" @click="collapseSections">
              <v-icon left>fa-minus-square</v-icon>collapse sections
            </v-btn>
            <v-btn class="mx-3" icon large @click="agreement.fullscreen = !agreement.fullscreen">
              <v-icon large>fa-{{
                  agreement.fullscreen === false
                    ? 'expand-arrows'
                    : 'compress-arrows'
                }}-alt</v-icon>
            </v-btn>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-expansion-panels inset multiple v-model="agreement.panels" popout>
            <v-expansion-panel v-for="(section, i) in agreement.sections" :key="i" active-class="active-panel">
              <v-expansion-panel-header class="panel-header">{{
                section.header
              }}</v-expansion-panel-header>
              <v-expansion-panel-content class="pt-2">&nbsp;{{ section.content }}</v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
        <v-card-actions>
          <v-row justify="end" no-gutters>
            <v-btn large class="mx-3" min-width="150" color="error" @click="promptDisagreement">
              disagree
              <v-icon right>fa-thumbs-down</v-icon>
            </v-btn>
            <v-btn large class="mx-3" min-width="150" color="success" @click="promptAgreement">
              agree
              <v-icon right>fa-thumbs-up</v-icon>
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <vue-snotify></vue-snotify>
    <v-main>
      <v-container id="base-container" fluid style="padding-top: 30px">
        <router-view />
      </v-container>
    </v-main>
    <v-footer app style="border-top: 1px solid lightgray">
      <div style="display: flex; align-items: center; width: 100%" class="small-font">
        <div style="padding-left: 10px">Frazier Industrial Company &copy; 2023</div>
        <div style="flex: 1" />
        <div class="d-flex align-center mx-2">
          <v-chip small color="primary" style="letter-spacing: 1px" v-if="email">{{ email }}</v-chip>
          <div v-if="isProxyLoggedIn">
            &nbsp;(Logged in as:
            <span style="color: blue">
              <u>
                <b>{{ proxy.email }}</b>
              </u> </span>)
          </div>
        </div>
        <v-chip small outlined>v {{version}}</v-chip>
      </div>
    </v-footer>
    <loading :event-bus="EB" label="Loading"></loading>
  </v-app>
</template>

<script>
import Loading from '@/components/Loading'
import { EventBus, SHOW_SUCCESS, SHOW_ERROR, SHOW_WARNING, SHOW_INFO, CHANGE_LOCALE, CONFIRM_INFO, CONFIRM_SUCCESS, CONFIRM_ERROR, CONFIRM_WARNING, FLASH_INFO, FLASH_SUCCESS, FLASH_ERROR, FLASH_WARNING } from '@/EventBus'
import { version } from '../../package.json'
// import store from '@/store'
import { BaseAPIUrl } from '@/plugins/axios'
import axios from 'axios'
import swal from 'sweetalert'
import { SnotifyPosition } from 'vue-snotify'

export default {
  name: 'BaseWrapper',
  components: {
    Loading
  },
  data() {
    return {
      agreement: {
        fullscreen: false,
        dialog: false,
        signed: false,
        sections: [
          {
            header: 'Liability Disclaimer and User Agreement',
            content:
              'This website is offered to You, the Customer, as the “User” conditioned upon acceptance of the Terms, Conditions and Notices contained herein, without modification.  User access and use of this Site constitutes acceptance of these Terms and Conditions.  '
          },
          {
            header: 'Acceptance of Conditions of Use',
            content:
              'Use of this Site is reserved to Users who have read and accepted the Terms and Conditions unconditionally provided in this Internet Disclaimer and Legal Statement prior to use.  In case of disagreement with the Terms and Conditions  of the Use, the User should not use the Site.  User acknowledges having the capacity to enter into a contract.  In case where Users act in the name of or on behalf of their employer, they must declare that they have been delegated to do so and that they are representing their employer legally.  In any event, this Site is not directed at, nor is it intended for persons under 13 years of age.  We do not knowingly solicit or collect Personal Information from or about children.  We do not knowingly market our products or services to persons under 13 years of age. Frazier reserves the right to modify the Terms and Conditions of use at any time.  As far as possible, Frazier will inform Users about changes made in the Terms and Conditions of use by email or via an announcement on the Site.  '
          },
          {
            header: 'Registering for the Site',
            content:
              'When Registering for the Site, User chose a password that will allow User to access their account.  Users represent that they have given complete and accurate personal data that is not misleading and that will allow them to be identified in case of legal proceedings.  '
          },
          {
            header: 'Disclaimer of Liability and Reliability',
            content:
              'In preparation of this Site, every effort has been made by Frazier to offer the most current, correct and clearly expressed information possible.  Inadvertent errors in information nevertheless may occur.  Frazier hereby disclaims any responsibility for typographical errors and the accuracy of the information that may be contained on the web pages.  The information and data included herein has been compiled by the Frazier staff from a variety of sources and are subject to change without notice to the User.  Frazier makes no warranties or representations whatsoever regarding the quality, content, completeness, suitability, adequacy, sequence, accuracy or timeliness of such information and data.  The services, information and data made available at the Frazier Customer Portal Website are provided “AS IS” and without warranties of any kind.  Frazier makes no representation or warrantees regarding the condition or functionality of this website, its suitability for use or that the Site will be uninterrupted or error-free.  If inaccurate or otherwise inappropriate information is brought to our attention, a reasonable effort will be made to fix or remove it.  Such concerns may be addressed by notifying frazier@frazier.com  '
          },
          {
            header: 'Disclaimer of Damages',
            content:
              'The User assumes all risks associated with the use of this Site including any risk to User’s computer, software or data being damaged through use of the website or any file which might be transmitted or activated via the Frazier Customer Portal or User’s access to it.  In no event shall Frazier be liable for any direct, indirect, punitive, special, incidental or consequential damages, including, without limitation, lost revenues or lost profits arising out of or in any way connected with the use or misuse of the information or lack of information on the Frazier Customer Portal Website or with a delay or inability to use this Website or from any information documents, services, software or other material obtained through this Website or otherwise arising out of the use of this Website, whether based on contract, tort, strict liability or otherwise, even if Frazier and/or any of its employees/affiliates has been advised of the possibility of damages.  Frazier shall not be liable for any loss or injury caused, in whole or in part, by its actions, omissions or contingencies beyond its control, including procuring, compiling or delivering the information or arising out of any errors, omissions or inaccuracies in the information regardless of how caused or arising out of any User’s decision or action taken or not taken in reliance upon information furnished hereon.  '
          },
          {
            header: 'Indemnity',
            content:
              'As a condition of use of the Frazier Customer Portal, the User agrees to indemnify Frazier, its officers, employees and agents against any and all liability, expenses (including attorney’s fees) and damages arising out of claims resulting from User’s use of this Website, including, without limitation, any claims alleging facts that, if true, would constitute a breach by User of these Terms and Conditions.'
          },
          {
            header: 'Proprietary Information',
            content:
              'This Site contains Frazier Proprietary Information.  Users agree not to, directly or indirectly, use the information contained on this Site for any reason other than the purpose for which said information has been given or as may be agreed by Frazier from time to time and shall not distribute, modify, revise or transmit to any third party the contents of this Site without Frazier’s written permission.  All rights reserved.  '
          },
          {
            header: 'Privacy Statement',
            content:
              'Frazier is committed to respecting your privacy and recognizes Users’ need for appropriate protection of personally identifiable information which is any information by which User can be identified such as name, address, telephone and facsimile numbers, email address and any other information about themselves which Users might furnish to Frazier through the use of this Site (“Personal Information”).  When you log in on this Site, Frazier’s web servers collect domain names and/or email addresses of User, as applicable.  To help Frazier Website Users improve their experience, Frazier’s web servers may attempt to place a “cookie” (a small data file transferred from a web server to an individuals computer for record keeping purposes) on your computer’s hard drive.  This allows us to track information regarding use of our website and also helps us to improve the experience of Users.  Cookies are industry standard and most websites use them.  Cookies are not used to obtain your name or any other personal data.  The information tracked is used strictly for internal purposes and is not shared with third parties other than Frazier affiliates and contractors who assist Frazier in these efforts and are bound to confidentiality.  If you choose not to accept cookies, most browsers allow you to adjust your settings to delete existing cookies, decline acceptance of new cookies and/or alert you before such cookie is placed.  You should know, however, that by declining to use cookies, it might alter or impair your experience with this and/or other websites.  '
          },
          {
            header: 'Jurisdiction',
            content:
              'This Agreement is governed by the laws of the State of New Jersey.  User consents to the exclusive jurisdiction and venue of state courts in Morris County, NJ, USA or federal courts located in the District of New Jersey in all disputes arising out of or relating to the use of this Website.  Use of this Website is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms and Conditions, including, without limitation, this paragraph.  Frazier’s performance of this Agreement is subject to existing laws and legal process and nothing contained in this Agreement is in derogation of Frazier’s right to comply with law enforcement requests or requirements relating to the User’s use of this Website or information provided to or gathered by Frazier with respect to such use.  '
          },
          { header: 'Amendments', content: 'Frazier may change, update and/or improve this Site and its content at any time without notice, but does not assume any responsibility to do so.    ' }
        ],
        panels: []
      },
      updatePassword: false,
      timer: null,
      logoutTimer: null,
      debug: null,
      loggingIn: false,
      loggingOut: false,
      // admin: false,
      // master: false,
      settings: {
        menu: false
      },
      email: '',
      proxy: {
        valid: false,
        login: false,
        email: ''
      },
      drawer: false,
      orders: [],
      contacts: [],
      search: {
        menu: false,
        loading: false,
        filter: ''
      },
      pages: [
        {
          icon: 'fa-home',
          title: 'Home',
          visible: true,
          route: 'Home'
        },
        {
          icon: 'fa-address-book ',
          title: 'My Contacts',
          visible: true,
          route: 'Contacts'
        },
        {
          icon: 'fa-wrench',
          title: 'My Orders',
          visible: true,
          route: 'Orders'
        },
        // {
        //   icon: '',
        //   title: 'My Billing',
        //   visible: false,
        //   route: 'Billing'
        // },
        // {
        //   icon: '',
        //   title: 'News',
        //   visible: true,
        //   route: 'Articles'
        // },
        {
          icon: 'fa-list',
          title: 'Feedback',
          visible: true,
          route: 'SurveyList'
        },
        {
          icon: 'fa-images',
          title: 'Photo Gallery',
          visible: true,
          route: 'Photos'
        }
      ],
      title: 'Customer Portal',
      version
    }
  },
  computed: {
    EB() {
      return EventBus
    },
    isProxyLoggedIn() {
      return this.$store.state.user.proxyId > 0
      // return this.onNull(this.proxy.email, '').length > 0 || this.$store.state.user.proxyId > 0
    },
    isEmployee() {
      return this.$store.state.user.role.toLowerCase() === 'employee'
    },
    isAdmin() {
      return this.$store.state.user.role.toLowerCase() === 'admin' || this.$store.state.user.role.toLowerCase() === 'proxy'
    },
    isMaster() {
      return this.$store.state.user.role.toLowerCase() === 'master'
    },
    hasFullAccess() {
      return this.onNull(this.$store.state.user.fullAccess, false)
    },
    showSettings() {
      return !this.isEmployee || this.isAdmin || this.isMaster || this.hasFullAccess
    },
    surveyEditorAccess() {
      let id = this.$store.state.user.userId
      // jalmonte, bfattoross:
      return id === 1 || id === 1478
    }
  },
  watch: {
    updatePassword(val) {
      if (val && this.$route.name !== 'ChangePassword') {
        this.$router.push({ name: 'ChangePassword' })
      }
    }
  },
  created() {
    EventBus.$on(FLASH_INFO, msg => {
      this.SweetAlert(msg, 'info')
    })
    EventBus.$on(FLASH_SUCCESS, msg => {
      this.SweetAlert(msg, 'success')
    })
    EventBus.$on(FLASH_ERROR, msg => {
      this.SweetAlert(msg, 'error')
    })
    EventBus.$on(FLASH_WARNING, msg => {
      this.SweetAlert(msg, 'warning')
    })
    EventBus.$on(SHOW_INFO, msg => {
      this.SweetAlert(msg, 'info', true)
    })
    EventBus.$on(SHOW_SUCCESS, msg => {
      this.SweetAlert(msg, 'success', true)
    })
    EventBus.$on(SHOW_ERROR, msg => {
      this.SweetAlert(msg, 'error', true)
    })
    EventBus.$on(SHOW_WARNING, msg => {
      this.SweetAlert(msg, 'warning', true)
    })
    EventBus.$on(CONFIRM_INFO, (msg, onSuccessFx = () => { }, onCancelFx = () => { }) => {
      this.SweetAlert(msg, 'info', true, true, onSuccessFx, onCancelFx)
    })
    EventBus.$on(CONFIRM_SUCCESS, (msg, onSuccessFx = () => { }, onCancelFx = () => { }) => {
      this.SweetAlert(msg, 'success', true, true, onSuccessFx, onCancelFx)
    })
    EventBus.$on(CONFIRM_ERROR, (msg, onSuccessFx = () => { }, onCancelFx = () => { }) => {
      this.SweetAlert(msg, 'error', true, true, onSuccessFx, onCancelFx)
    })
    EventBus.$on(CONFIRM_WARNING, (msg, onSuccessFx = () => { }, onCancelFx = () => { }) => {
      this.SweetAlert(msg, 'warning', true, true, onSuccessFx, onCancelFx)
    })
    document.title = process.env.VUE_APP_TITLE
  },
  mounted() {
    this.debug = process.env.VUE_APP_MODE !== 'production' && process.env.VUE_APP_MODE !== 'beta'
    if (this.debug) {
      console.log(`version = ${version}`)
    }
    this.getCredentials()
    // this.setSecurity()
    this.setTimer()
    window.addEventListener('mouseover', this.setTimer)
    window.addEventListener('update-proxy-info', this.getCredentials)
  },
  destroyed() {
    this.clearTimer()
  },
  beforeDestroy() {
    window.removeEventListener('mouseover', this.setTimer)
    window.removeEventListener('update-proxy-info', this.getCredentials)
  },
  methods: {
    showTimer() {
      this.$snotify.clear()
      this.setLogOutTimer()
      this.$snotify.confirm('You will be automatically logged out in one minute, would you like to extend your session?', 'Idle Session', {
        timeout: 59000,
        showProgressBar: true,
        pauseOnHover: false,
        closeOnClick: false,
        position: SnotifyPosition.centerCenter,
        buttons: [
          {
            text: 'Extend session',
            action: () => {
              // console.log('Session time extended')
              this.$snotify.clear()
              this.resetTimer()
            }
          },
          {
            text: 'Log out',
            action: () => {
              // console.log('Log out button clicked')
              this.$snotify.clear()
              this.logout()
            },
            bold: false
          }
        ]
      })
    },
    setTimer() {
      let time = 7140000 // 119 mins (last minute of 2 hour timer is handled in setLogOutTimer())
      // let time = 3000
      clearTimeout(this.timer)
      this.timer = setTimeout(this.showTimer, time)
    },
    resetTimer() {
      this.clearTimer()
      this.$snotify.clear()
      this.setTimer()
    },
    clearTimer() {
      clearTimeout(this.logoutTimer)
      clearTimeout(this.timer)
    },
    setLogOutTimer() {
      let time = 60000 // give user one full minute to click timer to stay logged in
      clearTimeout(this.logoutTimer)
      this.logoutTimer = setTimeout(this.logout, time)
    },
    changeLanguage() {
      EventBus.$emit(CHANGE_LOCALE, this.locale === 'en' ? 'es' : 'en')
    },
    SweetAlert(msg, type, confirm = false, cancel = false, onSuccessFx = () => { }, onCancelFx = () => { }) {
      let wrapper = document.createElement('div')
      wrapper.style.textAlign = 'center'
      wrapper.style.width = '100%'
      wrapper.style.fontFamily = 'Roboto'
      wrapper.innerHTML = '<br>' + msg
      return swal({
        content: wrapper,
        icon: type,
        timer: !confirm ? 2000 : null,
        buttons: {
          cancel: cancel ? 'Cancel' : null,
          confirm: confirm ? 'OK' : null
        }
      }).then(answer => {
        // console.log(answer)
        if (answer) {
          onSuccessFx()
        } else {
          onCancelFx()
        }
      })
    },
    logout() {
      this.$store.commit('user/removeUser')
      this.$router.push({ name: 'Login' })
    },
    promptLogout() {
      EventBus.$emit(CONFIRM_WARNING, 'Are you sure you want to log out?', () => {
        this.logout()
      })
    },
    // setSecurity () {
    //   this.admin = (store.state.user.role === 'ADMIN' || store.state.user.role === 'PROXY')
    //   this.master = (store.state.user.role === 'MASTER')
    // },
    logoutProxy() {
      this.loggingOut = true
      axios
        .post('security/RemoveProxyToken')
        .then(response => {
          this.loggingOut = false
          this.settings.menu = false
          this.$store.commit('user/setUser', { token: response.data.token, userId: response.data.UserID, userRole: response.data.userRole, proxyId: response.data.proxyID })
          if (this.$route.name !== 'Admin') {
            this.$router.push({ name: 'Admin' })
          } else {
            EventBus.$emit(SHOW_SUCCESS, 'Logged out successfully.')
          }
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'Error attempting to log out.')
          this.loggingOut = false
        })
    },
    goTo(toName) {
      this.settings.menu = false
      if (this.$route.name !== toName) {
        var pass = this.$store.state.user.newPass ?? false
        if (pass) {
          EventBus.$emit(SHOW_WARNING, 'Please change password to proceed!')
        } else {
          this.$router.push({ name: toName })
        }
      } else {
        this.$router.go()
      }
    },
    goToOrder(order) {
      this.search.menu = false
      this.search.filter = ''
      this.$router.push({ name: 'Order', params: { orderNum: order } })
    },
    goToContacts() {
      this.search.menu = false
      this.search.filter = ''
      this.$router.push({ name: 'Contacts' })
    },
    getCredentials() {
      axios
        .get('security/GetCredentials')
        .then(response => {
          this.email = response.data.email
          this.proxy.email = response.data.proxyEmail
          this.agreement.signed = response.data.agreementSigned
          this.updatePassword = response.data.promptNewPassword
          this.agreement.dialog = this.agreement.signed === false
          this.expandSections()
          this.$store.commit('user/updateUser', { fullAccess: response.data.fullAccess })
          this.$store.commit('user/requirePass', this.updatePassword)
          // this.proxy.loggedIn = (store.state.user.token !== null && store.state.user.role === 'PROXY')
          // if (this.agreement.signed === true && this.updatePassword === true) {
          //   this.$router.push({ name: 'ChangePassword' })
          //   EventBus.$emit(SHOW_INFO, 'You must reset your password!')
          // }
        })
        .catch(error => {
          console.error(error)
          if (error.response.status === 401) {
            EventBus.$emit(SHOW_ERROR, `Error (${error.response.status}): ${error.response.statusText}<br/>You have been logged out. Please login to continue.`)
            this.logout()
          } else {
            EventBus.$emit(SHOW_ERROR, 'Unexpected error has occurred.')
          }
          // for (let err of Object.keys(error.response)) {
          //   console.info(err)
          // }
          this.loggingOut = false
        })
    },
    getSearch() {
      if (this.onNull(this.search.filter, '').length === 0) {
        // this.sorry = (this.Orders === null)
        this.search.menu = false
      } else {
        this.search.loading = true
        axios
          .get('order/GetSearchResults', { params: { searchText: this.search.filter } })
          .then(response => {
            this.orders = response.data.orderData
            this.contacts = response.data.contactData
              .map(item => ({
                ID: item.ID,
                Name: item.Name,
                Email: item.Email,
                Title: item.Title,
                Phone: item.Phone
              }))
              .distinct()
            // this.sorry = (this.Orders === null)
            this.search.loading = false
          })
          .catch(error => {
            console.error(error)
            this.search.loading = false
          })
        this.search.menu = true
      }
    },
    expandSections() {
      this.agreement.panels = [...Array(this.agreement.sections.length).keys()].map((k, i) => i)
    },
    collapseSections() {
      this.agreement.panels = []
    },
    promptDisagreement() {
      EventBus.$emit(CONFIRM_WARNING, 'Disagreement will cause the application to log out. Are you sure you want to do this?', () => {
        // console.log(this.id)
        this.logout()
      })
    },
    promptAgreement() {
      EventBus.$emit(CONFIRM_WARNING, 'Please confirm that you agree to the terms and conditions!', () => {
        axios.post('security/SignAgreement').then(() => {
          this.getCredentials()
          if (this.agreement.signed === true) {
            EventBus.$emit(SHOW_SUCCESS, '')
          }
        })
      })
    },
    loadPhoto(ID) {
      return `${BaseAPIUrl}order/GetEmployeePhoto?photo=${ID}`
      // return BaseAPIUrl + 'order/GetEmployeePhoto?photo=' + ID
    }
  }
}
</script>

<style lang="scss" scoped>
.proxy {
  margin-left: 20px;
}

.text_field {
  margin-left: 10px;
  width: 80%;
}

.active-panel {
  font-weight: 500;
  margin-bottom: 20px;
}

.panel-header {
  background-color: #ffad33;
  font-weight: 600;
  font-size: 1.5em;
}
</style>
