<template>
  <v-main>
    <v-container fluid>
      <div>
        <div v-if="sorry">
          <div class="myUnfound">
            <h2>Sorry, we were unable to look up billing for your account.</h2>
          </div>
          <div class="myUnfound">
            <v-img src="img/question.png" contain height="250" />
          </div>
        </div>
        <div v-else>
          <!-- <div v-show="invoices !== null && invoices.length > 0"> -->
          <div class="myPageTitle">My Billing</div>
          <table class="invoices-table">
            <thead>
              <tr>
                <th>Order #</th>
                <th>Invoice #</th>
                <th>Invoice Date</th>
                <th>Invoice Amount</th>
                <th>Invoice Balance</th>
                <th>Due Date</th>
                <th>Ship To</th>
                <th>City</th>
                <th>State</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(invoice, i) in invoices" :key="i">
                <td>
                  <router-link
                    :to="{ name: 'Order', params: { orderNum: invoice.orderNum }}">{{invoice.orderNum}}</router-link>
                </td>
                <td>{{invoice.invoiceNum}}</td>
                <td>
                  <my-moment :value="invoice.invoiceDate" :format="'L'"></my-moment>
                </td>
                <td>$ {{invoice.invoiceAmt.toFixed(2).toLocaleString()}}</td>
                <td>{{(invoice.invoiceBal > 0 ? `$ ${invoice.invoiceBal.toFixed(2).toLocaleString()}` : '-')}}</td>
                <td>
                  <my-moment :value="invoice.dueDate" :format="'L'"></my-moment>
                </td>
                <td>{{invoice.otsName}}</td>
                <td>{{invoice.otsCity}}</td>
                <td>{{invoice.otsState}}</td>
                <td>
                  <v-btn icon @click="downloadPDF(invoice.invoiceNum)">
                    <v-icon>cloud_download</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </v-container>
  </v-main>
</template>

<script>
import axios from 'axios'
import MyMoment from '@/components/MyMoment'
import { ShowLoading, HideLoading, EventBus, SHOW_SUCCESS } from '@/EventBus'

export default {
  name: 'Billing',
  components: {
    MyMoment
  },
  data() {
    return {
      invoices: null,
      sorry: false
    }
  },
  mounted() {
    ShowLoading('Get Billing')
    axios.get('order/GetBilling').then(response => {
      this.invoices = response.data.invoices
      this.sorry = this.invoices === null || this.invoices.length === 0
      HideLoading('Get Billing')
    })
  },
  methods: {
    getUrl(url) {
      this.url = url
      // console.log(this.url)
    },
    downloadPDF(invoiceNum) {
      EventBus.$emit(SHOW_SUCCESS, `Invoice ${invoiceNum} Downloaded`)
    }
  }
}
</script>

<style lang="scss" scoped>
.invoices-table {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      border-bottom: 1px solid gray;
    }
  }
  tbody td {
    height: 30px;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
  }
  text-align: center;
  // tbody tr:hover {
  //   // background-color:orange;
  // }
  // tbody tr:nth-child(odd) {
  //   // background-color:lightgray;
  // }
}

.header {
  font-size: 0.7em;
  color: dimgray;
}

.field {
  margin-bottom: 2px;
  font-size: 0.9em;
  font-weight: 450;
}

.brick {
  border: 1px solid #e66b20;
  padding: 4px;
  // text-align:center;
  line-height: 20px;
  font-size: 1.2em;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px #adadad;
}

.brick-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
</style>
