<template>
  <v-container class="myCenter" :style="backgroundStyle" fluid>
    <div>
      <v-card elevation="24" style="width: 50vw">
        <v-card-title
          class="mb-3 pb-3"
          style="border-bottom: 1px solid lightgray">
          <!-- <v-btn icon color="primary" :to=" { name: 'Home'}" class="mr-3" outlined elevation="2">
                <v-icon>fa-home</v-icon>
              </v-btn>-->
          Change Password
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field
              label="Current Password"
              v-model="password"
              :rules="rules.required"
              type="password"
              prepend-icon="fas fa-shield"
              validate-on-blur
              style="width: 100%"
              clearable
              @keyup.enter.native="reset"
              required></v-text-field>
            <v-text-field
              label="New Password"
              v-model="newPassword"
              :rules="rules.password"
              type="password"
              prepend-icon="fas fa-shield"
              hint="Password requirements: minimum length of 12 characters; at least one special character"
              validate-on-blur
              counter
              @keyup.enter.native="reset"
              clearable
              required></v-text-field>
            <password
              :strength-meter-only="true"
              :secure-length="12"
              v-model="newPassword"></password>
            <v-text-field
              label="Confirm New Password"
              v-model="confirmPassword"
              :rules="rules.password"
              type="password"
              prepend-icon="fas fa-shield"
              hint="Password requirements: minimum length of 12 characters; at least one special character"
              validate-on-blur
              counter
              @keyup.enter.native="reset"
              clearable
              required></v-text-field>
            <password
              :strength-meter-only="true"
              :secure-length="12"
              v-model="confirmPassword"></password>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row justify="end" no-gutters>
            <v-btn color="primary" @click="reset" :disabled="!valid">submit changes</v-btn>
            <v-btn :to="{ name: 'Home' }" class="mx-3" v-if="!alertPass">cancel</v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
      <v-alert v-if="alertPass" type="error"  border="left" >
        New password required to continue accessing the customer portal
        site</v-alert>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
// import loading from '@/components/Loading'
import { ShowLoading, HideLoading, EventBus, SHOW_SUCCESS, SHOW_ERROR, SHOW_WARNING } from '@/EventBus'
import { onNull, rules, backgroundStyle } from '@/functions'
import Password from 'vue-password-strength-meter'
import store from '@/store'

export default {
  name: 'ChangePassword',
  components: {
    // loading,
    Password
  },
  data() {
    return {
      valid: true,
      password: '',
      newPassword: '',
      confirmPassword: '',
      alertPass: false,
      success: false,
      error: false,
      language: 'en',
      rules
    }
  },
  computed: {
    backgroundStyle
  },
  mounted() {
    this.alertPass = store.state.user.newPass ?? false
  },
  methods: {
    clear() {
      this.$refs.form.reset()
    },
    reset() {
      if (this.newPassword === this.confirmPassword) {
        if (this.$refs.form.validate()) {
          ShowLoading('Change Password')
          axios
            .post('security/ChangePassword', {
              CurrentPassword: this.password,
              NewPassword: this.newPassword,
              ConfirmPassword: this.confirmPassword
            })
            .then(response => {
              this.$store.commit('user/requirePass', response.data.promptPass)
              EventBus.$emit(SHOW_SUCCESS, response.data.response)
              HideLoading('Change Password')
              this.$router.push({ name: 'Home' })
              // this.$router.go()
            })
            .catch(error => {
              EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'Unexpected error has occurred.'))
              HideLoading('Change Password')
            })
        }
      } else {
        console.error('New password and Confirmed password must be the same.')
        EventBus.$emit(SHOW_WARNING, 'New password and Confirmed password must be the same.')
      }
    }
  }
}
</script>
