<template>
  <div>
    <div v-if="sorry">
      <sorry value="contacts" />
    </div>
    <div v-else>
      <!-- <div v-show="sales !== null && cs !== null && pms !== null && (sales.length > 0 || cs.length > 0 || pms.length > 0)"> -->
      <v-navigation-drawer v-model="orderDrawer" enable-resize-watcher mini-variant.sync temporary right width="600" touchless app>
        <v-list>
          <div style="display: flex; justify-content: center" class="mx-5 my-2">
            <v-btn block large @click.stop="orderDrawer = !orderDrawer" outlined>
              close
              <v-icon right>fa-times</v-icon>
            </v-btn>
          </div>
          <v-subheader class="tile-title" style="color: black">
            <h3>
              <u>Related Orders
                {{
                  this.selectedName === '' ? '' : ' - ' + this.selectedName
                }}</u>
            </h3>
          </v-subheader>
          <!-- <v-list-item-title class="tile-title">
                <h3>
                  <u
                    >Related Orders
                    {{
                      this.selectedName === '' ? '' : ' - ' + this.selectedName
                    }}</u
                  >
                </h3>
              </v-list-item-title>-->
          <v-list-item-subtitle class="tile-subtitle">
            <v-icon left>fa-info-circle</v-icon>Click an order below to view
            details
            <!-- <v-list-item-action>
                </v-list-item-action>
                  <v-list-item-content>
                </v-list-item-content>-->
          </v-list-item-subtitle>
          <div v-if="contactOrders !== null && contactOrders.length > 0">
            <v-list-item value="true" v-for="c in contactOrders" :key="c.OrderNum">
              <!-- :to="{ name: 'Order', params: {orderNum: c.OrderNum } }" -->
              <v-list-item-icon>
                <v-icon>{{
                  c.Company === 'FUS'
                    ? 'fas fa-flag-usa'
                    : c.Company === 'FCAN'
                    ? 'fab fa-canadian-maple-leaf'
                    : 'fa-flag-checkered'
                }}</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <router-link :to="{ name: 'Order', params: { orderNum: c.OrderNum } }" class="order_link">
                  <v-list-item-title>{{`${c.OrderNum} - ${c.OTSName}`}}</v-list-item-title>
                </router-link>
                <v-list-item-subtitle>{{`${c.OTSCity}, ${c.OTSState}`}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </div>
          <div v-else>
            <v-list-item value="true">This contact can assist you with any order on the&nbsp;
              <router-link :to="{ name: 'Orders' }">orders</router-link>
              &nbsp;page.
            </v-list-item>
          </div>
        </v-list>
      </v-navigation-drawer>
      <!-- <div class="myPageTitle" class="mt-6">My Frazier Contacts</div> -->
      <p style="margin-top: 10px">Click on one of the following contacts to see your orders they are related
        to.</p>
      <div class="mt-6" v-if="sales !== null && sales.length > 0">
        <div class="section-header">My Account Management Contacts</div>

        <div class="cards">
          <div v-for="s in sales" :key="s.ID">
            <div>
              <contact-card :contact="s" :clickFx="function () {loadContactOrders(s.ID)}.bind(this)" :clickStopFx="function () {orderDrawer = !orderDrawer}.bind(this)" />
              <!-- <div @click="loadContactOrders(s.ID)" @click.stop="orderDrawer = !orderDrawer">
                  <contact-card :contact="s" />-->
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6" v-if="pms !== null && pms.length > 0">
        <div class="section-header">My Project Management Contacts</div>
        <div class="cards">
          <div v-for="p in pms" :key="p.ID">
            <div>
              <contact-card :contact="p" :clickFx="function () { loadContactOrders(p.ID) }.bind(this)" :clickStopFx="function () {orderDrawer = !orderDrawer}.bind(this)" />
              <!-- <div @click="loadContactOrders(p.ID)" @click.stop="orderDrawer = !orderDrawer">
                  <contact-card :contact="p" />-->
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6" v-if="cs !== null && cs.length > 0">
        <div class="section-header">My Customer Service Contacts</div>
        <div class="cards">
          <div v-for="c in cs" :key="c.ID">
            <div>
              <contact-card :contact="c" :clickFx="function () {loadContactOrders(c.ID)}.bind(this)" :clickStopFx="function () {orderDrawer = !orderDrawer}.bind(this)" />
              <!-- <div @click="loadContactOrders(c.ID)" @click.stop="orderDrawer = !orderDrawer">
                  <contact-card :contact="c" />-->
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6" v-if="ar !== null && ar.length > 0">
        <div class="section-header">My Accounts Receivable Contacts</div>
        <div class="cards">
          <div v-for="a in ar" :key="a.ID">
            <div>
              <contact-card :contact="a" :clickFx="function () {loadContactOrders(a.ID)}.bind(this)" :clickStopFx="function () {orderDrawer = !orderDrawer}.bind(this)" />
              <!-- <div @click="loadContactOrders(a.ID)" @click.stop="orderDrawer = !orderDrawer">
                  <contact-card :contact="a" />-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { BaseAPIUrl } from 'axios'
import axios from 'axios'
import { ShowLoading, HideLoading, SHOW_ERROR, EventBus } from '@/EventBus'
import Sorry from '@/components/Sorry'
import ContactCard from '@/components/ContactCard'
import { onNull } from '@/functions'

export default {
  name: 'Contacts',
  components: {
    Sorry,
    ContactCard
  },
  props: ['ID'],
  data() {
    return {
      mini: false,
      orderDrawer: false,
      contacts: [],
      contactOrders: null,
      sorry: false,
      selectedName: ''
    }
  },
  computed: {
    sales() {
      return this.contacts.filter(p => p.Dept.toLowerCase() === 'sales')
    },
    ar() {
      return this.contacts.filter(p => p.Dept.toLowerCase() === 'ar')
    },
    cs() {
      return this.contacts.filter(p => p.Dept.toLowerCase() === 'cs')
    },
    pms() {
      return this.contacts.filter(p => p.Dept.toLowerCase() === 'pm')
    }
  },
  mounted() {
    // console.log(`ID=${this.ID}`)
    this.loadContacts()
  },
  methods: {
    loadContacts() {
      ShowLoading('Load Contacts')
      axios
        .get('order/GetFrazierContacts')
        .then(response => {
          this.contacts = response.data.contacts
          this.sorry = this.contacts == null || this.contacts.length === 0
          HideLoading('Load Contacts')
        })
        .catch(error => {
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred.'))
        })
    },
    loadContactOrders(ID) {
      this.contactOrders = null
      this.selectedName = ''
      ShowLoading('Load Contact Orders')
      axios
        .get('order/GetContactOrders', { params: { ID: ID } })
        .then(response => {
          this.contactOrders = response.data.contactOrders
          this.selectedName = response.data.name
          HideLoading('Load Contact Orders')
        })
        .catch(error => {
          this.orderDrawer = false
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred.'))
        })
      // },
      // loadPhoto (ID) {
      //   return `${BaseAPIUrl}order/GetEmployeePhoto?photo=${ID}`
    }
  }
}
</script>

<style lang="scss" scoped>
.section-header {
  font-size: 1.5em;
  color: dimgray;
  font-weight: 500;
  margin: 0px 0px 20px 20px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contact-info {
  // font-size: .9em; // 0.85em;
  // margin-bottom: 10px;
  color: dimgray;
  // height: 100%;
}

.tile-title {
  padding: 20px;
  font-size: 1.1em;
}

.tile-subtitle {
  padding: 0px 0px 10px 20px;
}

.list__tile__title {
  padding-bottom: 25px;
}

.list__tile__action {
  margin-right: -20px;
}

.card__title {
  padding-bottom: 0px;
}

.card__text {
  padding-top: 5px;
  // border: 0px;
}

.order_link {
  color: black;
  font-size: 1.2em;
}

.order_link:hover {
  color: #006bb7;
  font-size: 1.5em;
  transition: 200ms;
}
</style>
