<template>
  <v-app>
    <v-main :style="backgroundStyle">
      <v-container fluid fill-height>
        <v-layout row align-center justify-center>
          <v-flex xs8 sm6 md4 lg>
            <v-card>
              <v-card-title class="mb-3 pb-3" style="border-bottom: 1px solid lightgray">
                <v-btn icon :to="{ name: 'Login' }" title="Login Page">
                  <v-icon>fas fa-house</v-icon>
                </v-btn>
                <div class="pl-3">
                  <v-img src="img/Frazier.png" contain width="200" />
                </div>
                <div style="display: flex; flex: 1 1 auto;"/>
                <div class="myPageTitle">Forgot Password</div>
              </v-card-title>
              <v-card-text>
                <v-form v-model="valid" ref="form">
                  <v-text-field label="Email Address" v-model="email" :rules="rules.email" prepend-icon="fa-user" style="width: 100%" required clearable @keyup.enter.native="request"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn block color="primary" @click="request" :disabled="!valid" :loading="loading">SUBMIT</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import axios from 'axios'
import { SHOW_SUCCESS, SHOW_WARNING, SHOW_ERROR, EventBus, UNKNOWN_ERROR } from '@/EventBus'
import swal from 'sweetalert'
import { onNull, rules, backgroundStyle } from '@/functions'

export default {
  name: 'ForgotPassword',
  data() {
    return {
      valid: false,
      loading: false,
      email: '',
      response: '',
      language: 'en',
      rules
    }
  },
  computed: {
    backgroundStyle
  },
  created() {
    EventBus.$on(SHOW_SUCCESS, (msg) => {
      this.SweetAlert(msg, 'success', true)
    })
    EventBus.$on(SHOW_ERROR, (msg) => {
      this.SweetAlert(msg, 'error', true)
    })
  },
  methods: {
    clear() {
      this.$refs.form.reset()
    },
    request() {
      if (this.valid) {
        this.loading = true
        axios
          .post('security/ForgotPassword', {
            Email: this.email
          })
          .then((response) => {
            this.response = response.data.response
            EventBus.$emit(SHOW_SUCCESS, this.response)
            this.$router.push({ name: 'Login' })
            this.loading = false
          })
          .catch((error) => {
            // console.error(error)
            this.response = onNull(error.data.response, UNKNOWN_ERROR)
            EventBus.$emit(SHOW_ERROR, this.response)
            this.loading = false
            // EventBus.$on(SHOW_ERROR, (msg) => { this.SweetAlert(msg, 'error') })
          })
      } else {
        EventBus.$emit(SHOW_WARNING, `Please confirm ${this.email} is a valid email address`)
      }
    },
    SweetAlert(msg, type, confirm = false) {
      return swal({
        text: msg,
        icon: type,
        timer: !confirm ? 2000 : null,
        button: confirm
      })
    }
  }
}
</script>
