<template>
  <div>
    <home-carousel :message="content.Message" :title="content.Title" :photos="photos" :controls="true" />
    <v-row justify="space-around">
      <a @click="goTo('Contacts')">
        <div class="cardLink">
          <span class="fas fa-users iconLinks" />
          <div class="cardText">MY FRAZIER CONTACTS</div>
        </div>
      </a>
      <a @click="goTo('Orders')">
        <div class="cardLink">
          <span class="fal fa-truck iconLinks" />
          <div class="cardText">MY ORDERS</div>
        </div>
      </a>
      <!-- <a @click="goTo('Billing')">
          <div class="cardLink">
            <span class="fal fa-usd-circle iconLinks"/>
            <div class="cardText">MY BILLING/ADMIN</div>
          </div>
          </a>-->
      <!-- <a @click="goTo('Articles')">
          <div class="cardLink">
            <span class="fal fa-newspaper iconLinks"/>
            <div class="cardText">CUSTOMER NEWS</div>
          </div>
          </a>-->
      <a @click="goTo('SurveyList')">
        <div class="cardLink">
          <span class="fas fa-tasks iconLinks" style="margin-left: 20px" />
          <div class="cardText">FEEDBACK</div>
        </div>
      </a>
      <a @click="goTo('Search')">
        <div class="cardLink">
          <span class="fal fa-question-circle iconLinks" style="margin-left: 20px" />
          <div class="cardText">SEARCH/HELP</div>
        </div>
      </a>
    </v-row>
  </div>
</template>

<script>
import { EventBus, SHOW_INFO } from '@/EventBus'
import HomeCarousel from '@/components/HomeCarousel'
import axios from 'axios'

export default {
  name: 'Home',
  components: {
    HomeCarousel
  },
  data() {
    // let folder = 'img/landing/'
    return {
      content: {
        Title: 'WELCOME TO FRAZIER\'S CUSTOMER PORTAL',
        Message: 'Thank you for visiting Frazier\'s new Customer Portal. Here you will have the ability to track down your orders, access customer-only news and more!'
      },
      photos: ['Premium-Pallet-Mole.jpg', 'Frazier-Pallet-Mole-Shuttles.jpg', 'Home-Depot-SelecDeck.jpg', 'Premier-Pallet-Flow.jpg']
    }
  },
  mounted() {
    this.getActiveHomeContent()
  },
  methods: {
    goTo(toName) {
      if (toName !== '') {
        this.$router.push({ name: toName })
      } else {
        EventBus.$emit(SHOW_INFO, 'Sorry, this page is under maintenance. Please come back later.')
        // alert('Sorry, this page is under maintenance. Please come back later.')
      }
    },
    getActiveHomeContent() {
      this.ShowLoading('Load Home Content')
      axios
        .get('security/GetActiveHomeContent')
        .then(response => {
          if (response.data.content !== null) {
            this.content.Title = response.data.content.Title
            this.content.Message = response.data.content.Message
          }

          if (response.data.photos.length > 0) {
            this.photos = response.data.photos
          }
          this.HideLoading('Load Home Content')
        })
        .catch(error => {
          console.error(error)
          this.HideLoading('Load Home Content')
        })
    }
  }
}
</script>

<style lang="scss" scoped>
// $breakpoints: (phone: 640px,
//                tablet: 768px,
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
//   color: green;
// }

// @include media(">tablet", "<950px") {
//   color: yellow;
// }

.cardLink {
  transition: 1200ms;
  width: 250px;
  height: 300px;
  display: inline-block;
  background-color: #006bb7;
  // margin: auto;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 30px;
  /* text-shadow: 2px 2px; */
}

.cardText {
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: #006bb7;
  border-radius: 0px 0px 5px 5px;
  width: 95%;
  margin: auto;
  font-weight: 500;
  /* margin-top: 65px; */
}

.iconLinks {
  padding: 50px 0px 50px 25px;
  color: white;
  display: flex;
  font-size: 10em;
  /* text-align: center; */
}

.cardLink:hover {
  transition: 400ms;
  background-color: #e66b20;
  box-shadow: 2px 2px 15px #333333;
}
</style>
