<template>
  <div>
    <v-tabs vertical>
      <v-tab> <v-icon left>fa-list</v-icon>Content </v-tab>
      <v-tab> <v-icon left>fa-camera</v-icon>Photos </v-tab>
      <v-tab-item>
        <v-layout justify-end class="my-10">
          <!-- <v-btn
                @click="retrievePhotos"
                color="primary"
                class="mr-3"
                :loading="loading.isRetrieving"
              >
                <v-icon left>far fa-sync</v-icon>update photo db
              </v-btn> -->
          <v-btn
            class="mr-3"
            color="primary"
            @click="getHomeContentList"
            :loading="loading.isLoading">
            <v-icon left>fas fa-redo</v-icon>refresh list
          </v-btn>
          <v-dialog width="600" v-model="addDialog">
            <template v-slot:activator="{ on }">
              <v-btn class="mr-3" color="primary" v-on="on">
                <v-icon left>far fa-plus-square</v-icon>Add New Content
              </v-btn>
            </template>
            <v-card elevation="24">
              <v-card-title flat color="primary" dark>
                Add Home Content
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-model="newContent.Title"
                  label="Title"></v-text-field>
                <v-textarea
                  v-model="newContent.Message"
                  label="Message"
                  outlined
                  counter="240"></v-textarea>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="primary"
                  @click="addContent"
                  :loading="loading.isAdding"
                  :disabled="
                    newContent.Message !== null &&
                    newContent.Message.length > 240
                  ">ADD</v-btn>
                <v-btn @click="addDialog = false">CLOSE</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
        <v-card class="mt-5">
          <v-card-title>Content Options</v-card-title>
          <v-card-text>
            <v-data-table
              :headers="contentHeaders"
              :items="filterData"
              :search="searchText">
              <template v-slot:item.Active="editor">
                <v-switch readonly v-model="editor.item.Active"></v-switch>
              </template>
              <template v-slot:item.Edit="editor">
                <v-btn
                  :to="{ name: 'HomeContent', params: { id: editor.item.ID } }"
                  icon
                  color="primary">
                  <v-icon>fa-pen</v-icon>
                </v-btn>
              </template>
              <template v-slot:top>
                <v-row align="center" class="mx-12">
                  <v-text-field
                    v-model="searchText"
                    prepend-icon="fa-search"
                    placeholder="Search"
                    clearable
                    filled
                    rounded></v-text-field>
                </v-row>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-row>
          <!-- <v-file-input
                accept="image/*"
                label="Upload File"
                class="mx-8"
                show-size
                prepend-icon="fa-camera"
                v-model="attachments"
              ></v-file-input>-->
          <v-layout justify-end>
            <v-btn
              class="my-10"
              color="primary"
              @click="retrievePhotos"
              :loading="loading.isRetrieving">
              <v-icon left>fas fa-redo</v-icon>refresh list
            </v-btn>
            <uploader
              :attachments="attachments"
              :url="attachmentUrl"
              class="ma-10"/>
          </v-layout>
        </v-row>
        <!-- <v-container> -->
        <v-layout
          wrap
          row
          justify-start
          class="ml-12"
          v-if="photos !== null && photos.length > 0">
          <v-card
            width="250"
            v-for="(photo, i) in photos"
            :key="i"
            class="ma-3"
            elevation="12">
            <v-card-title>
              <v-layout justify-end>
                <v-btn
                  @click="removePhoto(photo)"
                  color="error"
                  rounded
                  :loading="loading.isRemoving">
                  remove
                  <v-icon right>fa-times</v-icon>
                </v-btn>
              </v-layout>
            </v-card-title>
            <v-img :src="loadPhoto(photo.FileName)" contain></v-img>
            <v-card-text>{{ photo.FileName }}</v-card-text>
          </v-card>
        </v-layout>
        <div v-else>
          <sorry value="photos" />
        </div>
        <!-- </v-layout> -->
        <!-- </v-container> -->
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import { ShowLoading, HideLoading, EventBus, SHOW_SUCCESS, SHOW_ERROR, FLASH_SUCCESS } from '@/EventBus'
import axios from 'axios'
import { BaseAPIUrl } from '@/plugins/axios'
import Sorry from '@/components/Sorry'
import Uploader from '@/components/Uploader'

export default {
  name: 'HomeMaintenance',
  components: {
    Sorry,
    Uploader
  },
  data() {
    return {
      addDialog: false,
      loading: {
        isRetrieving: false,
        isLoading: false,
        isAdding: false,
        isRemoving: false
      },
      searchText: null,
      newContent: {
        Title: null,
        Message: null
      },
      content: null,
      contentList: null,
      contentHeaders: [
        { text: 'ID', value: 'ID' },
        { text: 'Title', value: 'Title' },
        { text: 'Message', value: 'Message' },
        { text: 'Active', value: 'Active' },
        { text: 'Edit Content', value: 'Edit' }
      ],
      photos: null,
      attachments: null,
      attachmentUrl: `${BaseAPIUrl}security/UploadBlock?`
    }
  },
  computed: {
    filterData: function() {
      return this.contentList !== null ? this.contentList : this.empty
    }
  },
  mounted() {
    this.getHomeContentList()
  },
  methods: {
    getHomeContentList() {
      this.loading.isLoading = true
      axios.get('security/GetHomeContentList')
        .then(response => {
          this.contentList = response.data.contents
          this.photos = response.data.photos
          this.loading.isLoading = false
        })
        .catch(error => {
          console.error(error)
          this.loading.isLoading = false
        })
    },
    retrievePhotos() {
      this.loading.isRetrieving = true
      axios.get('security/RetrievePhotos')
        .then(response => {
          this.loading.isRetrieving = false
          this.photos = response.data.images
          // console.log(response.data.images)
        })
        .catch(error => {
          console.error(error)
          this.loading.isRetrieving = false
        })
    },
    addContent() {
      this.isAdding = true
      axios.post('security/AddHomeContent', {
        info: this.newContent
      })
        .then(() => {
          this.newContent.Title = null
          this.newContent.Message = null
          EventBus.$emit(SHOW_SUCCESS, 'New home content added successfully.')
          this.getHomeContentList()
          this.addDialog = false
          this.isAdding = false
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.')
          this.isAdding = false
        })
    },
    loadPhoto(fileName) {
      return `${BaseAPIUrl}security/GetPhoto?filename=${fileName}`
    },
    removePhoto(photo) {
      this.loading.isRemoving = true
      ShowLoading('Remove Photo')
      axios
        .post('security/RemovePhoto', {
          info: photo
        })
        .then(response => {
          if (response.data.success) {
            EventBus.$emit(FLASH_SUCCESS, `${photo.FileName} removed.`)
            this.getHomeContentList()
          } else {
            EventBus.$emit(SHOW_ERROR, `${photo.FileName} could NOT be removed!`)
          }
          this.loading.isRemoving = false
          HideLoading('Remove Photo')
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.')
          this.loading.isRemoving = false
          HideLoading('Remove Photo')
        })
    }
  }
}
</script>

<style lang="scss" scoped>
// $breakpoints: (phone: 640px,
//                tablet: 768px,
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
//   color: green;
// }

// @include media(">tablet", "<950px") {
//   color: yellow;
// }

.carousel {
  margin-top: 30px;
  margin-bottom: 30px;
}

#headerIntro {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 20px;
  opacity: 0.75;
  width: 55%;
  float: left;
  background-color: black;
  margin-top: 80px;
  margin-left: 20px;
  color: white;
  height: auto;

  // @media screen and (max-width: 449px) {
  //   color: aliceblue;
  // }
  // @media screen and (min-width: 450px) and (max-width: 1023px) {
  //   color: greenyellow;
  //   // height: 200px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   color: yellow;
  //   // height: 300px;
  // }

  // @media screen and (min-width: 1024px) {
  //   color: tan;
  //   // height: 400px;
  // }
}

.welcome {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.welcome {
  font-size: 2vw;
  // @media screen and (max-width: 449px) {
  //   font-size: 1em;
  // }
  // @media screen and (min-width: 450px) and (max-width: 1023px) {
  //   font-size: 2em;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: 3em;
  // }

  // @media screen and (min-width: 1024px) {
  //   font-size: 4em;
  // }
}

h3.welcome {
  font-size: 2vw;
  // @media screen and (max-width: 449px)  and (max-width: 766px) {
  //   font-size: 1em;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: 1.5em;
  // }

  // @media screen and (min-width: 1024px) {
  //   font-size: 2em;
  // }
}

.cardLink {
  transition: 1200ms;
  width: 250px;
  height: 300px;
  display: inline-block;
  background-color: #006bb7;
  // margin: auto;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 30px;
  /* text-shadow: 2px 2px; */
}

.cardText {
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: #006bb7;
  border-radius: 0px 0px 5px 5px;
  width: 95%;
  margin: auto;
  font-weight: 500;
  /* margin-top: 65px; */
}

.iconLinks {
  padding: 50px 0px 50px 25px;
  color: white;
  display: flex;
  font-size: 10em;
  /* text-align: center; */
}

.cardLink:hover {
  transition: 400ms;
  background-color: #e66b20;
  box-shadow: 2px 2px 15px #333333;
}
</style>
