<template>
  <v-main>
    <v-container fluid>
      <div>
        <!-- <v-btn :to="{ name: " -->
        <v-btn :to="{ name: 'HomeMaintenance' }" color="primary" text>
          <v-icon left>fa-arrow-left</v-icon>Home Maintenance
        </v-btn>
        <!-- <v-layout justify-start fill-height>
          <v-navigation-drawer app clipped>
            <v-list>
              <v-list-item v-for="(content, c) in contentList" :key="c">
                <v-list-item-content>
                  <v-btn color="primary" @click="goTo(content.id)"
                  >{{content.title}}</v-btn>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>
        </v-layout>-->
        <v-tabs right>
          <v-tab @click="getHomeContent">
            <v-icon left>fas fa-list</v-icon>Content
          </v-tab>
          <v-tab @click="loadPhotos">
            <v-icon left>fa-paint-brush</v-icon>Photos
          </v-tab>
          <v-tab @click="getPhotos">
            <v-icon left>fa-palette</v-icon>Preview
          </v-tab>

          <v-tab-item>
            <v-layout justify-center>
              <v-col md="5">
                <v-card class="mx-2" max-width="1200" elevation="24">
                  <v-toolbar flat color="primary" dark>
                    <v-toolbar-title>Edit Content ID # {{ id }}</v-toolbar-title>
                  </v-toolbar>
                  <v-card-text>
                    <v-text-field v-model="title" label="Title"></v-text-field>
                    <v-textarea
                      v-model="message"
                      label="Message"
                      outlined
                      counter="240"></v-textarea>
                    <!-- <v-switch v-model="active" label="Active"></v-switch> -->
                    <!-- <v-text-field v-model="content.title" placeholder="Title"></v-text-field>
                          <v-text-field v-model="content.message" placeholder="Message"></v-text-field>
                    <v-switch v-model="content.active" label="Active"></v-switch>-->
                    <!-- <v-col cols="12" sm="6">
                    </v-col>-->
                  </v-card-text>
                  <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                      color="success"
                      @click="activateContent"
                      :hidden="active"
                      :loading="isActivating">activate</v-btn>
                    <v-btn
                      color="primary"
                      @click="updateContent"
                      :loading="isLoading"
                      :disabled="message !== null && message.length > 240">Update</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-layout>
          </v-tab-item>
          <v-tab-item>
            <v-row class="px-12 pt-12" justify="end">
              <v-btn
                color="primary"
                @click="photosDrawer = !photosDrawer"
                :disabled="added.length < 1 && removed.length < 1">
                <v-icon left>fa-camera</v-icon>Photos
              </v-btn>
              <!-- <v-btn @click="splicePhoto">test</v-btn> -->
            </v-row>
            <v-container>
              <v-tabs vertical color="orange">
                <v-tab>Included</v-tab>
                <v-tab>Excluded</v-tab>
                <v-tab-item>
                  <v-layout wrap row justify-start class="ml-12">
                    <v-layout
                      v-if="included === null || included.length === 0"
                      justify-center>
                      <sorry value="photos" />
                    </v-layout>
                    <v-card
                      width="250"
                      v-for="(photo, i) in included"
                      :key="i"
                      class="ma-3"
                      elevation="12"
                      v-show="removed.indexOf(photo.PhotoID) < 0">
                      <v-card-title>
                        <v-layout justify-end>
                          <v-btn
                            @click="pushPhoto(removed, photo)"
                            color="error"
                            rounded>
                            <v-icon>fa-minus</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-card-title>
                      <v-img :src="loadPhoto(photo.FileName)" contain></v-img>
                      <v-card-text>{{ photo.FileName }}</v-card-text>
                    </v-card>
                  </v-layout>
                </v-tab-item>
                <v-tab-item>
                  <v-layout wrap row justify-start class="ml-12">
                    <v-layout
                      v-if="excluded === null || excluded.length === 0"
                      justify-center>
                      <sorry value="photos" />
                    </v-layout>
                    <v-card
                      width="250"
                      v-for="(photo, n) in excluded"
                      :key="n"
                      class="ma-3"
                      elevation="12"
                      v-show="added.indexOf(photo.PhotoID) < 0">
                      <v-card-title>
                        <v-layout justify-end>
                          <v-btn
                            @click="pushPhoto(added, photo)"
                            color="success"
                            rounded>
                            <v-icon>fa-plus</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-card-title>
                      <v-img :src="loadPhoto(photo.FileName)" contain></v-img>
                      <v-card-text>{{ photo.FileName }}</v-card-text>
                      <!-- <v-checkbox v-model="photo.include" label="Include" /> -->
                    </v-card>
                  </v-layout>
                </v-tab-item>
              </v-tabs>

              <v-navigation-drawer
                v-model="photosDrawer"
                right
                temporary
                touchless
                app
                width="400">
                <v-list>
                  <v-subheader :hidden="added.length < 1">Added</v-subheader>
                  <v-list-item v-for="(add, a) in added" :key="a" class="my-3">
                    <v-list-item-avatar>
                      <v-btn
                        @click="splicePhoto(added, add)"
                        icon
                        color="error">
                        <v-icon>far fa-times-circle</v-icon>
                      </v-btn>
                    </v-list-item-avatar>
                    <v-img
                      :src="loadPhotoById(add)"
                      contain
                      width="200"></v-img>
                    <!-- <v-list-item-title>{{ tile.title }}</v-list-item-title> -->
                  </v-list-item>
                  <v-subheader :hidden="removed.length < 1">Removed</v-subheader>
                  <v-list-item
                    v-for="(remove, r) in removed"
                    :key="r"
                    class="my-3">
                    <v-list-item-avatar>
                      <v-btn
                        @click="splicePhoto(removed, remove)"
                        icon
                        color="error">
                        <v-icon>far fa-times-circle</v-icon>
                      </v-btn>
                    </v-list-item-avatar>
                    <v-img
                      :src="loadPhotoById(remove)"
                      contain
                      width="200"></v-img>
                    <!-- <v-list-item-title>{{ tile.title }}</v-list-item-title> -->
                  </v-list-item>
                  <v-list-item-action>
                    <v-layout justify-center>
                      <v-btn
                        @click="updatePhotos"
                        color="primary"
                        :disabled="added.length < 1 && removed.length < 1">
                        <v-icon left>fa-upload</v-icon>link photos
                      </v-btn>
                    </v-layout>
                  </v-list-item-action>
                </v-list>
              </v-navigation-drawer>
            </v-container>
          </v-tab-item>
          <v-tab-item>
            <div v-if="message !== null">
              <home-carousel
                :title="title"
                :message="message"
                :photos="photos"
                :controls="true"/>
            </div>
            <div v-else>
              <sorry value="photos" />
            </div>
          </v-tab-item>
        </v-tabs>
      </div>
    </v-container>
  </v-main>
</template>

<script>
import { EventBus, SHOW_SUCCESS, SHOW_ERROR, CONFIRM_WARNING, ShowLoading, HideLoading } from '@/EventBus'
import axios from 'axios'
import { BaseAPIUrl } from '@/plugins/axios'
import Sorry from '@/components/Sorry'
import HomeCarousel from '@/components/HomeCarousel'

export default {
  name: 'HomeContent',
  components: {
    Sorry,
    HomeCarousel
  },
  props: [
    'id'
  ],
  data() {
    // let folder = 'img/landing/'
    return {
      title: '',
      message: '',
      active: false,
      displayActiveWarning: false,
      isActivating: false,
      isRetrieving: false,
      isLoading: false,
      photosDrawer: false,
      included: [],
      excluded: [],
      photos: null,
      newContent: {
      },
      added: [],
      removed: [],
      contentList: null
    }
  },
  mounted() {
    this.getHomeContent()
    // this.getHomeContentList()
  },
  methods: {
    // goTo (id) {
    //   console.log(id)
    //   this.$router.push({ name: 'HomeContent', params: { id: id } })
    //   // this.$router.go()
    // },
    loadPhotos() {
      this.isRetrieving = true
      // console.log(this.id)
      axios.get('security/LoadPhotos', {
        params: {
          contentID: this.id
        }
      })
        .then(response => {
          this.included = response.data.included
          this.excluded = response.data.excluded
          // console.log(this.included)
          // console.log(this.excluded)
          this.isRetrieving = false
        })
        .catch(error => {
          console.error(error)
          this.isRetrieving = false
        })
    },
    getPhotos() {
      axios.get('security/GetPhotos', {
        params: {
          ContentID: this.id
        }
      })
        .then(response => {
          this.photos = response.data.images
          // console.log(this.photos)
        })
        .catch(error => {
          console.error(error)
        })
    },
    loadPhoto(fileName) {
      return `${BaseAPIUrl}security/GetPhoto?filename=${fileName}`
    },
    loadPhotoById(id) {
      return `${BaseAPIUrl}security/GetPhotoByID?id=${id}`
    },
    addPhotos() {
      axios.post('security/AddPhotos', {
        newContent: this.newContent
      })
        .then(() => {
          this.newContent = null
          EventBus.$emit(SHOW_SUCCESS, 'New home content added successfully. Go to Select tab to review it.')
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.')
        })
    },
    activateContent() {
      // console.log(this.id)
      EventBus.$emit(CONFIRM_WARNING, 'Making this active will replace the current active home content! Are you sure you want to proceed?',
        () => {
          // console.log(this.id)
          this.isActivating = true
          axios.post('security/ActivateHomeContent', {
            ID: this.id,
            Title: this.title,
            Message: this.message,
            Active: this.active
          })
            .then(response => {
              // console.log(response.data)
              EventBus.$emit(SHOW_SUCCESS, response.data.message)
              this.isActivating = false
              this.getHomeContent()
            })
            .catch(error => {
              console.error(error)
              EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.')
              this.isActivating = false
            })
        })
    },
    updateContent() {
      this.isLoading = true
      axios.post('security/EditHomeContent', {
        ID: this.id,
        Title: this.title,
        Message: this.message,
        Active: this.active
      })
        .then(response => {
          // console.log(response.data)
          EventBus.$emit(SHOW_SUCCESS, response.data.message)
          this.isLoading = false
          this.getHomeContent()
        })
        .catch(error => {
          console.error(error)
          // if (error.data !== null && error.data !== undefined) {
          //   EventBus.$emit(SHOW_ERROR, error.data)
          // } else {
          //   EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.')
          // }
          this.isLoading = false
        })
    },
    getHomeContent() {
      ShowLoading('Get Home Content')
      axios.get('security/GetHomeContent', {
        params: {
          id: this.id
        }
      }).then(response => {
        this.title = response.data.content.Title
        this.message = response.data.content.Message
        this.active = response.data.content.Active
        HideLoading('Get Home Content')
      }).catch(error => {
        console.error(error)
        HideLoading('Get Home Content')
      })
    },
    getHomeContentList() {
      axios.get('security/GetHomeContentList')
        .then(response => {
          this.contentList = response.data.contents
        })
        .catch(error => {
          console.error(error)
        })
    },
    splicePhoto(item, id) {
      let index = item.indexOf(id)
      // console.log(index)
      // console.log(item)
      if (index > -1) {
        item.splice(index, 1)
      }
      // console.log(item)
      // EventBus.$emit(SHOW_INFO, this.directoryPath)
    },
    pushPhoto(item, photo) {
      if (!item.includes(photo.PhotoID)) {
        item.push(photo.PhotoID)
        // console.log(photo.PhotoID)
        // console.log(item)
        // console.log(photo)
      }
    },
    updatePhotos() {
      axios.post('security/UpdatePhotos', {
        ContentID: this.id,
        Include: this.added,
        Exclude: this.removed
      }).then(response => {
        if (response.data.success) {
          EventBus.$emit(SHOW_SUCCESS, 'Changes saved successfully!')
          this.added = []
          this.removed = []
          this.getHomeContent()
          this.loadPhotos()
          this.photosDrawer = false
        } else {
          EventBus.$emit(SHOW_ERROR, 'Changes not saved successfully!')
        }
      })
    }
    // },
    // watch: {
    //   active: function () {
    //     this.displayActiveWarning = this.active
    //   }
  }
}
</script>

<style lang="scss" scoped>
// $breakpoints: (phone: 640px,
//                tablet: 768px,
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
//   color: green;
// }

// @include media(">tablet", "<950px") {
//   color: yellow;
// }

.carousel {
  margin-top: 30px;
  margin-bottom: 30px;
}

#headerIntro {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 20px;
  opacity: 0.75;
  width: 55%;
  float: left;
  background-color: black;
  margin-top: 80px;
  margin-left: 20px;
  color: white;
  height: auto;

  // @media screen and (max-width: 449px) {
  //   color: aliceblue;
  // }
  // @media screen and (min-width: 450px) and (max-width: 1023px) {
  //   color: greenyellow;
  //   // height: 200px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   color: yellow;
  //   // height: 300px;
  // }

  // @media screen and (min-width: 1024px) {
  //   color: tan;
  //   // height: 400px;
  // }
}

.welcome {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.welcome {
  font-size: 2vw;
  // @media screen and (max-width: 449px) {
  //   font-size: 1em;
  // }
  // @media screen and (min-width: 450px) and (max-width: 1023px) {
  //   font-size: 2em;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: 3em;
  // }

  // @media screen and (min-width: 1024px) {
  //   font-size: 4em;
  // }
}

h3.welcome {
  font-size: 2vw;
  // @media screen and (max-width: 449px)  and (max-width: 766px) {
  //   font-size: 1em;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: 1.5em;
  // }

  // @media screen and (min-width: 1024px) {
  //   font-size: 2em;
  // }
}

.cardLink {
  transition: 1200ms;
  width: 250px;
  height: 300px;
  display: inline-block;
  background-color: #006bb7;
  // margin: auto;
  border-radius: 10px;
  margin-left: 2%;
  margin-top: 30px;
  /* text-shadow: 2px 2px; */
}

.cardText {
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: #006bb7;
  border-radius: 0px 0px 5px 5px;
  width: 95%;
  margin: auto;
  font-weight: 500;
  /* margin-top: 65px; */
}

.iconLinks {
  padding: 50px 0px 50px 25px;
  color: white;
  display: flex;
  font-size: 10em;
  /* text-align: center; */
}

.cardLink:hover {
  transition: 400ms;
  background-color: #e66b20;
  box-shadow: 2px 2px 15px #333333;
}
</style>
