<template>
  <v-container fluid>
    <!-- style="
        display: flex;
        justify-content: center;
        height: calc(100vh - 195px)
      " -->

    <div>
      <v-row justify="space-between" align="start" no-gutters>
        <v-alert border="left" type="info" dense class="mx-4" style="font-style: italic; font-weight: 450" outlined>
          You are the master user for all accounts listed below. Use this page
          to access and manage your sub-user accounts. You can also add sub-user
          accounts for additional access or limit access to specific orders
          based on each sub-user account.
        </v-alert>
      </v-row>
      <div>
        <div v-if="users !== null" style="width: 100%">
          <div style="border-bottom: 1px solid lightgray;display: flex; flex-flow: row nowrap; justify-content: space-between">
            <div class="myPageTitle">User Management</div>
            <div style="display: flex; flex: 1 1 auto;" />
            <v-btn :to="{ name: 'AddAccount' }" color="primary">
              <v-icon left> fa-plus</v-icon>Add account
            </v-btn>
          </div>
          <div>
            <v-data-table :headers="headers" :items="users" :search="filters.search" :loading="loading" item-key="UserID" :height="height" v-resize="onResize" fixed-header multi-sort v-model="selected" :footer-props="footer" :show-select="false">
              <template v-slot:top>
                <v-row no-gutters align="center">
                  <v-text-field label="Search Email Address" v-model="filters.search" prepend-icon="fa-search" class="mr-4" clearable></v-text-field>
                  <v-checkbox label="Verified Users Only" v-model="filters.verified" dense class="mr-4" />
                  <v-btn fab small @click="load" :loading="loading" color="primary">
                    <v-icon>fa-sync</v-icon>
                  </v-btn>
                </v-row>
              </template>
              <template v-slot:item.FirstName="{ item }">
                <v-text-field dense hide-details v-model="item.FirstName" :readonly="isRecordSelected(item) === false"></v-text-field>
              </template>
              <template v-slot:item.LastName="{ item }">
                <v-text-field dense hide-details v-model="item.LastName" :readonly="isRecordSelected(item) === false"></v-text-field>
              </template>
              <template v-slot:item.Title="{ item }">
                <v-text-field dense hide-details v-model="item.Title" :readonly="isRecordSelected(item) === false"></v-text-field>
              </template>
              <template v-slot:item.Company="{ item }">
                <v-text-field dense hide-details v-model="item.Company" :readonly="isRecordSelected(item) === false"></v-text-field>
              </template>
              <template v-slot:item.LastLogin="{ item }">
                <my-moment localize :value="item.LastLogin" format="lll" style="white-space: nowrap" :disabled="isRecordSelected(item) === false" />
              </template>
              <template v-slot:item.Verified="{ item }">
                <v-switch dense hide-details class="pa-0 ma-0" v-model="item.Verified" :disabled="isRecordSelected(item) === false"></v-switch>
              </template>
              <template v-slot:item.options="{ item }">
                <!-- <v-dialog v-model="item.dialog" max-width="1000"> -->
                <!-- <template v-slot:activator="{ on }"> -->
                <v-btn @click="editUser(item)" color="primary" small>
                  <v-icon left x-small>fa-pen</v-icon>edit
                </v-btn>
                <!-- </template> -->
                <!-- </v-dialog> -->
              </template>
            </v-data-table>
          </div>
          <!-- <v-card-actions >
            <v-row no-gutters>
              <v-btn color="primary" block @click="submitChanges" :disabled="selected.length === 0">Submit changes</v-btn>
            </v-row>
          </v-card-actions> -->
        </div>
        <modal name="edit-user" width="800" height="auto" :clickToClose="false">
          <account :info="user" master @close_dialog="$modal.hide('edit-user')" show-close />
        </modal>
      </div>
    </div>
  </v-container>
</template>


<script>
import axios from 'axios'
import { EventBus, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR } from '../EventBus'
import Account from '@/components/Account'
import { onNull } from '@/functions'

export default {
  name: 'MasterUser',
  components: {
    Account
  },
  data() {
    return {
      users: [],
      user: null,
      valid: false,
      loading: false,
      orders: [],
      selected: [],
      height: null,
      headers: [
        { text: 'User ID', align: 'center', value: 'UserID' },
        {
          text: 'Active',
          value: 'Verified',
          filter: val => {
            var value = onNull(this.filters.verified, false)

            if (value) {
              if (val === value) {
                return true
              } else {
                return false
              }
            }

            return true
          }
        },
        { text: 'Email Address', align: 'center', value: 'EmailAddress' },
        { text: 'First Name', align: 'center', value: 'FirstName' },
        { text: 'Last Name', align: 'center', value: 'LastName' },
        { text: 'Company', align: 'center', value: 'Company' },
        { text: 'Title', align: 'center', value: 'Title' },
        // { text: 'Limited Access', align: 'center', value: 'LimitedAccess' },
        // { text: 'List of Orders', align: 'center', value: 'OrderList' },
        { text: '', align: 'center', value: 'options' }
        // { text: 'Edit', value: 'edit' }
      ],
      filters: {
        menu: false,
        search: '',
        admin: false,
        master: false,
        verified: true,
        parent: 0
      },
      footer: {
        itemsPerPageOptions: [50, 100, 200, 500, -1]
      }
    }
  },
  computed: {
    filterUsers() {
      return this.users != null ? this.filters.search !== '' && this.filters.search !== null ? this.users.filter(f => f.EmailAddress.includes(this.filters.search)) : this.users : this.empty
    },
    locale() {
      return this.$i18n.locale()
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    load() {
      ShowLoading('Load Users')
      axios
        .get('security/GetUsers')
        .then(response => {
          this.users = response.data.users.map((item, index) => ({
            id: index,
            dialog: false,
            options: null,
            ...item
          }))
          HideLoading('Load Users')
        })
        .catch(error => {
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unexpected error has occurred.'))
          HideLoading('Load Users')
        })
    },
    editUser(user) {
      this.user = user
      this.$modal.show('edit-user')
    },
    // submitChanges() {
    //   // alert('changes incoming')
    //   axios
    //     .post('security/UpdateUsers', {
    //       Users: this.users
    //     })
    //     .then(response => {
    //       EventBus.$emit(SHOW_SUCCESS, onNull(response.data, 'Changes have been saved.'))
    //       this.load()
    //     })
    //     .catch(error => {
    //       EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unexpected error has occurred.'))
    //     })
    // },
    isRecordSelected(val) {
      let find = rec => rec.UserID === val.UserID
      let index = this.selected.findIndex(find)
      // console.log(`Index: ${index} - UserID: ${val.UserID}`)
      return index > -1
    },
    onResize() {
      let offset = 450
      let height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - offset
      this.height = height
    }
  }
}
</script>

<style lang="scss" scoped>
// .textfield {
//   width: 100%;
//   margin-right: 20px;
// }

// .override {
//   margin-left: -15px;
// }
</style>
