<template>
  <modal name="master-management" width="1200" height="auto">
    <v-card>
      <v-card-title>
        <v-row no-gutters align="center" justify="space-between">
          <div class="myPageTitle">Master Account Management</div>
          <v-btn-toggle v-model="masters.view" mandatory dense @change="defaultMastersSearch">
            <v-btn value="masters">
              <v-icon left color="primary">fa-user-crown</v-icon>Master Accounts
            </v-btn>
            <v-btn value="subaccounts">
              <v-icon left color="orange lighten-1">fa-question</v-icon>Unlinked Sub Accounts
            </v-btn>
          </v-btn-toggle>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row no-gutters align="center">
          <v-text-field label="Search Accounts" v-model="masters.search" clearable dense hide-details />
          <v-btn @click="load" color="primary" fab small class="mx-1" :loading="masters.loading">
            <v-icon>fa-sync</v-icon>
          </v-btn>
        </v-row>
        <v-divider />
        <div>
          <div v-if="masterList.length > 0 && masters.view == 'masters'">
            <!-- <div style="display: flex; justify-content: space-between;"> -->
            <div style="display: flex;">
              <div>
                <div style="display: flex; align-items: center">
                  <h3 style="text-decoration: underline; margin: 0px 10px;">Master Accounts</h3>
                  <input type="checkbox" v-model="masters.showAll" class="mx-3" :disabled="masters.account !== null && onNull(masters.subaccounts, []).length === 0" />
                  <span>Show All Accounts</span>
                </div>
                <div style="border-right: 1px solid black;min-width: 450px; overflow-y: auto; margin-right: 20px;height: 500px">
                  <div v-for="(master, i) in filtered(users.filter(p => p.Master && (masters.showAll || p.accounts > 0)), masters.search)" :key="`master-${i}`" class="my-1" style="">
                    <v-btn :color="masters.selected !== master.UserID ? 'primary' : 'error'" fab x-small class="mx-3" @click="selectMaster(master.UserID)">
                      <v-icon> {{masters.selected !== master.UserID ? 'fa-check-circle' : 'fa-times-circle'}} </v-icon>
                    </v-btn>
                    {{ `${master.EmailAddress} (${master.FirstName} ${master.LastName})`}}
                  </div>
                </div>
              </div>
              <div style="min-width: 450px; margin-left: 20px;">
                <h3 style="text-decoration: underline; margin-left: 10px;">Sub Accounts <span style="color: orange">{{ masters.account !== null ? ` - ${masters.account.EmailAddress}` : ''}}</span></h3>
                <div v-if="users.filter(p => p.ParentID == masters.selected).length  > 0">
                  <div v-for="(child, i) in users.filter(p => p.ParentID == masters.selected)" :key="`subaccount-${i}`" class="my-1">
                    <v-btn color="success" fab x-small class="mx-3" @click="changeMasterAccount(masters.selected, child.UserID)">
                      <v-icon> fa-share </v-icon>
                    </v-btn>
                    {{ `${child.EmailAddress} (${child.FirstName} ${child.LastName})`}}
                  </div>
                </div>
                <div v-else>
                  No users found
                </div>
              </div>
            </div>
          </div>
          <div v-else-if="masterList.length > 0 && masters.view == 'subaccounts'">
            <!-- <div style="display: flex; justify-content: space-between;"> -->
            <div style="display: flex;">
              <div>
                <div style="display: flex; align-items: center">
                  <h3 style="text-decoration: underline; margin: 0px 10px;">Sub Accounts</h3>
                </div>
                <div style="border-right: 1px solid black;min-width: 450px;overflow-y: auto; margin-right: 20px;height: 500px">
                  <div v-for="(child, i) in filtered(users.filter(p => !p.Admin && !p.Master && onNull(p.ParentID, 0) === 0), masters.search)" :key="`child-${i}`" class="my-1" style="">
                    <v-btn :color="unlinked.selected !== child.UserID ? 'primary' : 'error'" fab x-small class="mx-3" @click="selectSubaccount(child.UserID)">
                      <v-icon> {{unlinked.selected !== child.UserID ? 'fa-check-circle' : 'fa-times-circle'}} </v-icon>
                    </v-btn>
                    {{ `${child.EmailAddress} (${child.FirstName} ${child.LastName})`}}
                  </div>
                </div>
              </div>
              <div style="min-width: 450px; margin-left: 20px;">
                <h3 style="text-decoration: underline; margin-left: 10px;">Select Master Account <span style="color: orange">{{ unlinked.account !== null ? ` - ${unlinked.account.EmailAddress}` : ''}}</span></h3>
                <div style="display: flex; align-items: center; margin-top: 20px;">
                  <v-autocomplete :items="masterList" outlined dense clearable hide-details style="width: 450px; font-size: .9em" v-if="unlinked.account !== null" v-model="unlinked.master" />
                  <v-btn color="success" fab small class="mx-3" v-if="onNull(unlinked.master, 0) > 0" @click="updateMasterAccount(unlinked.selected, unlinked.master)">
                    <v-icon> fa-paper-plane </v-icon>
                  </v-btn>
                </div>
                <!-- <div v-if="users.filter(p => p.Master).length  > 0">
                    <div v-for="(child, i) in users.filter(p => p.Master)" :key="`subaccount-${i}`" class="my-1">
                      <v-btn color="success" fab x-small class="mx-3" @click="changeMasterAccount(masters.selected, child.UserID)">
                        <v-icon> fa-share </v-icon>
                      </v-btn>
                      {{ `${child.EmailAddress} (${child.FirstName} ${child.LastName})`}}
                    </div>
                  </div>
                  <div v-else>
                    No users found
                  </div> -->
              </div>
            </div>
          </div>
          <div v-else>
            <v-alert text type="warning" class="my-2">
              No master users found
            </v-alert>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="$modal.hide('master-management')" block color="error" outlined>close <v-icon right>fa-times</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </modal>
</template>

<script>
import { EventBus, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR, CONFIRM_INFO, CONFIRM_WARNING, UNKNOWN_ERROR } from '@/EventBus'
import axios from 'axios'
import api from '@/api'
import { onNull, filtered } from '@/functions'

export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    masterList: null,
    users: null
  },
  //   components: {},
  data() {
    return {
      masters: {
        loading: false,
        search: '',
        view: 'master',
        selected: 0,
        account: null,
        subaccounts: [],
        showAll: false
      },
      unlinked: {
        loading: false,
        search: '',
        view: 'master',
        selected: 0,
        account: null,
        master: null,
        showAll: false
      }
    }
  },
  watch: {},
  methods: {
    filtered,
    load() {
      this.$emit('reload')
    },
    changeMasterAccount(userId, parentId) {
      ShowLoading('Change Master')
      axios
        .post('security/ChangeMasterAccount', { userId, parentId })
        .then(response => {
          HideLoading('Change Master')
          this.masters.selected = 0
          this.masters.dialog = false
          EventBus.$emit(SHOW_SUCCESS, response.data)
          this.load()
        })
        .catch(error => {
          HideLoading('Change Master')
          EventBus.$emit(SHOW_ERROR, error.response.data)
        })
    },
    updateMasterAccount(userId, parentId) {
      let user = this.unlinked.account
      let parent = this.users.find(p => p.UserID === parentId)
      EventBus.$emit(CONFIRM_WARNING, `Are you sure you want to assign ${user.EmailAddress} user to master account ${parent.EmailAddress}?`, () => {
        ShowLoading('Update Master')
        api
          .all([api.post('security/UpdateUser', { Id: user.UserID, Field: 'ParentID', Value: parentId }), api.post('security/UpdateUser', { Id: user.UserID, Field: 'Master', Value: false })])
          .then(
            api.spread((parentResponse, masterResponse) => {
              HideLoading('Update Master')
              this.defaultMastersSearch()
              EventBus.$emit(SHOW_SUCCESS, masterResponse.data)
              this.load()
            })
          )
          .catch(error => {
            HideLoading('Update Master')
            EventBus.$emit(SHOW_ERROR, error.response.data)
          })
      })
    },
    // updateMaster(field, value) {},
    selectMaster(id) {
      if (this.masters.selected == id) {
        this.masters.selected = 0
        this.masters.account = null
        this.masters.subaccounts = []
      } else {
        this.masters.selected = id
        this.masters.account = this.users.find(p => p.UserID === id)
        this.masters.subaccounts = this.users.filter(p => onNull(p.ParentID, 0) === id)
      }
    },
    selectSubaccount(id) {
      if (this.unlinked.selected == id) {
        this.unlinked.selected = 0
        this.unlinked.account = null
      } else {
        this.unlinked.selected = id
        this.unlinked.account = this.users.find(p => p.UserID === id)
      }
    },
    defaultMastersSearch() {
      this.masters.selected = 0
      this.masters.account = null
      this.masters.subaccounts = []
      this.unlinked.selected = 0
      this.unlinked.account = null
      this.unlinked.master = null
    }
  }
}
</script>
