<template>
  <v-container class="myCenter" :style="backgroundStyle" fluid>
    <v-card style="width: 60vw">
      <v-card-title class="mb-3 pb-3 justify-space-between align-center" style="border-bottom: 1px solid lightgray">
        <div>
          <v-btn class="mx-3" icon :to="{ name: 'Login' }">
            <v-icon>fas fa-arrow-left</v-icon>
          </v-btn>
          <img src="img/Frazier.png" width="200" />
        </div>
        <div class="myPageTitle" style="text-align: right">Create Account</div>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
          <br />
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable label="First Name" v-model="firstName" prepend-icon="far fa-smile" @keyup.enter.native="create" style="width: 100%"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field clearable label="Last Name" v-model="lastName" @keyup.enter.native="create" style="margin-left: 10px; width: 100%"></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable label="City" v-model="city" prepend-icon="fa-building" @keyup.enter.native="create" style="width: 100%"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field clearable label="State" v-model="state" @keyup.enter.native="create" style="margin-left: 10px; width: 100%"></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable label="Email Address" v-model="email" :rules="rules.email" prepend-icon="fa-user" validate-on-blur @keyup.enter.native="create" style="width: 100%" required></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable hint="Password requirements: minimum length of 12 characters; at least one special character" label="Password" type="password" :rules="rules.password" v-model="password" validate-on-blur
                prepend-icon="fas fa-shield" @keyup.enter.native="create" required counter></v-text-field>
              <password :strength-meter-only="true" :secure-length="12" v-model="password"></password>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable hint="Password requirements: minimum length of 12 characters; at least one special character" label="Confirm Password" type="password" :rules="rules.password" v-model="password2" validate-on-blur
                prepend-icon="fas fa-shield" @keyup.enter.native="create" required counter></v-text-field>
              <password :strength-meter-only="true" :secure-length="12" v-model="password2"></password>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable label="Company Name" v-model="company" @keyup.enter.native="create" prepend-icon="fa-briefcase"></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field clearable label="Position Title" v-model="title" @keyup.enter.native="create" prepend-icon="fa-briefcase"></v-text-field>
            </v-col>
            <v-col cols="2">
              <v-switch clearable label="Master Account?" v-model="master" @keyup.enter.native="create" prepend-icon="fa-user-crown" class="ml-3"></v-switch>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn block color="primary" @click="create" :disabled="!valid">create account</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'
import { SHOW_SUCCESS, SHOW_ERROR, SHOW_WARNING, EventBus, ShowLoading, HideLoading } from '@/EventBus'
import swal from 'sweetalert'
import { rules, backgroundStyle } from '@/functions'
import Password from 'vue-password-strength-meter'

export default {
  name: 'NewAccount',
  components: {
    Password
  },
  data() {
    return {
      valid: false,
      company: '',
      title: '',
      city: '',
      state: '',
      firstName: '',
      lastName: '',
      master: false,
      // email: 'POInvoice@conagrafoods.com',
      email: '',
      password: '',
      password2: '',
      loggingIn: false,
      language: 'en',
      rules
    }
  },
  computed: {
    backgroundStyle,
    isMatch() {
      return this.password === this.password2
    }
  },
  methods: {
    testSecured() {
      axios.get('security/testsecured')
    },
    clear() {
      this.$refs.form.reset()
    },
    create() {
      if (this.isMatch) {
        if (this.$refs.form.validate()) {
          this.loggingIn = true
          ShowLoading('Creating Account')
          axios
            .post('security/CreateAccount', {
              Email: this.email,
              Password: this.password,
              City: this.city,
              State: this.state,
              FirstName: this.firstName,
              LastName: this.lastName,
              Company: this.company,
              Title: this.title,
              Master: this.master
            })
            .then(() => {
              // console.log(response.data)
              this.loggingIn = false
              EventBus.$emit(SHOW_SUCCESS, 'Your account has been successfully created.')
              this.$router.push({ name: 'Login' })
              HideLoading('Creating Account')
            })
            .catch((error) => {
              if (error.response !== undefined && error.response.data !== undefined) {
                console.error(error)
                EventBus.$emit(SHOW_ERROR, error.response.data)
              } else {
                EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred.')
              }
              HideLoading('Creating Account')
              this.loggingIn = false
            })
        }
      } else {
        EventBus.$emit(SHOW_WARNING, 'Passwords do not match')
      }
    },
    SweetAlert(msg, type, confirm = false) {
      return swal({
        text: msg,
        icon: type,
        timer: !confirm ? 2000 : null,
        button: confirm
      })
    }
  }
}
</script>
