  <template>
  <div>
    <div v-if="loading || sorry">
      <sorry value="orders" v-if="sorry" />
    </div>
    <!-- <div v-else class="brick-container" style="padding-top:10px;" v-show="orders !== null && orders.length > 0"> -->
    <div v-else>
      <div id="orders-view-tabs">
        <div style="display: flex; align-items: center; flex: 1 1 auto">
          <v-btn-toggle v-model="pageView" mandatory v-if="!hideTabs">
            <v-btn value="Map">
              <v-icon small left>fas fa-map-marked-alt</v-icon>map
            </v-btn>
            <v-btn value="Card">
              <v-icon small left>fa-image-polaroid</v-icon>card
            </v-btn>
            <v-btn value="List">
              <v-icon small left>fa-tasks</v-icon>list
            </v-btn>
          </v-btn-toggle>
          <v-text-field :label="`Search ${orders.length} Orders`" hint="Type order number or address to lookup" style="max-width: 500px; margin: 0px 20px 0px 20px" prepend-icon="fa-search" hide-details v-model="filter" :append-icon="filter ? 'fa-times-circle' : ''"
            @click:append="clearFilter"/>
          <span v-if="onNull(filter, '').length > 0 && pageView !== 'List'">
            Displaying {{ filteredOrders.length }} out of
            {{ orders.length }} orders
          </span>
        </div>
        <div style="margin: 0px 20px 0px 20px">
          <div v-if="pageView === 'Card'">
            <v-radio-group v-model="cardViewImage" row hide-details>
              <span style="margin-right: 10px">View Options:</span>
              <v-radio dense label="Satellite" value="Satellite"></v-radio>
              <v-radio dense label="Street" value="Street"></v-radio>
            </v-radio-group>
          </div>
          <div v-else-if="pageView === 'Map'" style="
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              align-items: center;
            ">
            <div style="
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 2px;
              ">
              <span style="font-weight: bold">Map Legend:</span>
              <img src="img/icons/red-blank.png" height="30" />Single order
              <v-divider vertical class="mx-3" />
              <img src="img/icons/m1.png" height="30" />
              2+ orders (zoom to separate)
            </div>
            <v-btn color="primary" @click="defaultZoomEvent" class="ml-3">
              reset zoom
              <v-icon right>fal fa-search-minus</v-icon>
            </v-btn>
          </div>
          <div v-else-if="pageView === 'List'" style="display: flex; align-items: center;">
            <!-- Bug presented with this approach not allowing column header sorting - will need to use paging logic from the my-table component while making appearance seamless-->
            <div style="margin-right: 10px; font-style: italic; font-weight: 300;">
              <v-icon left>fa-info-circle</v-icon>
              <span style="color: gray;">Click column headers to sort</span>
            </div>
            <!-- <div style="display: none; justify-content: flex-end; align-items: center; padding-left: 10px; border-left: 1px solid lightgray;" v-if="paging">
              <div style="margin-right: 10px; color: gray;">Pages:</div>
              <v-btn :disabled="currentPage <= 1" @click="currentPage = 1" icon title="First Page">
                <v-icon>fa-chevron-double-left</v-icon>
              </v-btn>
              <v-btn :disabled="currentPage <= 1" @click="currentPage--" icon title="Previous Page">
                <v-icon>fa-chevron-left</v-icon>
              </v-btn>
              <div class="select-editable" style="min-width: 50px">
                <select :value="currentPage" @change="val => currentPage = Number(val.target.value)" style="">
                  <option v-for="page in pages" :key="`page-${page}`" :value="page" style="text-align: center;">{{page}}</option>
                </select>
              </div>
              <v-btn :disabled="currentPage >= pages.length || filteredOrders.length < pageSize" @click="currentPage++" icon title="Next Page">
                <v-icon>fa-chevron-right</v-icon>
              </v-btn>
              <v-btn :disabled="currentPage >= pages.length || filteredOrders.length < pageSize" @click="currentPage = pages.length" icon title="Last Page">
                <v-icon>fa-chevron-double-right</v-icon>
              </v-btn>
            </div> -->
          </div>
        </div>
      </div>
      <div style="
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
        " v-if="pageView === 'Card'">
        <v-card class="order-brick mr-1" v-for="order in filteredOrders" :key="order.OrderNum">
          <div style="position: absolute; right: 10px; z-index: 3">
            <img :src="`img/flags/${
                order.Company === 'FUS'
                  ? 'USA'
                  : order.Company === 'FCAN'
                  ? 'Canada'
                  : 'Mexico'
              }.png`" style="height: 36px" />
          </div>
          <div>
            <v-img v-show="cardViewImage == 'Satellite'" lazy-src="img/pin-load.png" :src="getShipToAddressStaticImageUrl(order)" class="static-google-img" />
            <v-img v-show="cardViewImage == 'Street'" lazy-src="img/pin-load.png" :src="getShipToAddressStaticStreetViewUrl(order)" class="static-google-img" />
          </div>
          <v-card-text style="display: flex; flex-flow: row nowrap; padding: 2px">
            <div>
              <div class="header">Order #</div>
              <div class="field">
                {{ order.OrderNum }}
                <!-- <img style="height: 20px; float:right;" :src="`img/flags/${(order.Company === 'FUS' ? 'USA' : (order.Company === 'FCAN' ? 'Canada' : 'Mexico'))}.png`"/> -->
              </div>
              <div class="header">Order Date</div>
              <div class="field">
                <my-moment :value="order.OrderDate" :format="'MM/DD/YYYY'"></my-moment>
              </div>
              <div class="header">PO #</div>
              <div class="field">{{ order.PONum }}</div>
            </div>
            <div style="margin-left: 20px">
              <div class="header">Sold To</div>
              <div class="field">{{ order.SoldTo }}</div>
              <div class="header">Ship To</div>
              <div class="field" style="height: 70px">
                <div>{{ order.OTSName }}</div>
                <div>{{ order.OTSAddress1 }}</div>
                <div>{{ order.OTSCity }}, {{ order.OTSState }} {{ order.OTSZIP }}</div>
              </div>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-layout justify-center>
              <v-btn block :to="{
                  name: 'Order',
                  params: { orderNum: order.OrderNum },
                }" color="primary">click here for order details</v-btn>
            </v-layout>
          </v-card-actions>
        </v-card>
      </div>
      <div v-else-if="pageView === 'Map'">
        <div style="
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 10px 10px 10px 0px;
            align-items: center;
          ">
          <div id="map-orders">
            <div v-if="onNull(filteredOrders, []).length !== 0">
              <div v-for="order in filteredOrders" :key="order.OrderNum">
                <div :class="`map-order-tile ${
                    selectedBrick == order.id ? activeBrickClass : ''
                  }`" :id="`order_map_brick_${order.id}`">
                  <div class="map-order-row">
                    <div class="card-id">
                      <span style="
                          font-size: 0.75em;
                          vertical-align: text-top;
                          margin-right: 4px;
                        ">#</span>{{ order.id }}
                    </div>
                    <div style="
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                      ">
                      <span class="header">Order: </span>
                      {{ order.OrderNum }}
                    </div>
                    <div style="
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                      ">
                      <span class="header">Order Date: </span>
                      <my-moment :value="order.OrderDate" format="ll" />
                    </div>
                  </div>
                  <div style="padding: 4px">
                    <div class="map-order-row">
                      <div>
                        <span class="header">Sold To: </span>
                        {{ order.SoldTo }}
                        <br />
                        <span class="header">PO: </span>
                        {{ order.PONum }}
                        <br />
                      </div>
                    </div>
                    <v-divider />
                    <div style="display: flex; justify-content: space-between">
                      <span class="sub-header" style="white-space: normal">
                        <div>{{ order.OTSName }}</div>
                        <div>{{ order.OTSAddress1 }}</div>
                        <div>{{ order.OTSCity }}, {{ order.OTSState }} {{ order.OTSZIP }}</div>
                      </span>
                      <div style="
                          display: flex;
                          justify-content: flex-end;
                          align-items: flex-end;
                        ">
                        <div style="
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                          ">
                          <v-btn class="ma-1" color="success" small @click="orderClick(order.id, order.event)">
                            <v-icon left>fal fa-map-marked-alt</v-icon>zoom map
                          </v-btn>
                          <v-btn class="ma-1" color="primary" small :to="{
                              name: 'Order',
                              params: { orderNum: order.OrderNum },
                            }">
                            <v-icon small left>fa-search</v-icon>
                            open order
                          </v-btn>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else style="
                text-align: center;
                font-weight: bold;
                font-size: 1.05em;
                margin-top: 20px;
              ">
              No orders found using filter
            </div>
          </div>
          <mapping v-if="orders != null" :items="getMappings" :zoom="zoom" :clickZoom="17" clustered mapType="roadmap" class="google-map" @click_marker="
              ({ id, event }) => {
                orderClick(id, event)
              }
            " @default_marker="
              ({ id, event }) => {
                defaultClick(id, event)
              }
            " @close_info_window="
              () => {
                deselectOrder()
              }
            " @default_zoom="
              ({ event }) => {
                defaultZoom(event)
              }
            "></mapping>
        </div>
      </div>
      <div v-else>
        <my-table :items="orders" paging :customFilter="filter" customStyle="height: calc(100vh - 225px);">
          <!-- <template #menu-end>
            <div style="flex: 1;" />
            <div style="margin-right: 10px; font-style: italic; font-weight: 300;">
              <v-icon left>fa-info-circle</v-icon>
              <span style="color: gray;">Click column headers to sort</span>
            </div>
          </template> -->
          <template #header>
            <tr>
              <th></th>
              <th field="OrderNum">Order</th>
              <th field="PONum">PO</th>
              <th field="OrderDate">Order Date</th>
              <th field="SoldTo">Sold To</th>
              <th field="OTSName">Ship To</th>
              <th field="OTSAddress1">Address</th>
              <th field="OTSCity">City</th>
              <th field="OTSState">State</th>
              <th field="OTSZIP">ZIP</th>
              <th field="OTSCountry">Country</th>
            </tr>
          </template>
          <template #body="{ items }">
            <tr v-for="item in items" :key="item.OrderNum">
              <td style="text-align: center">
                <v-btn small icon elevation="10" color="primary" :to="{ name: 'Order', params: { orderNum: item.OrderNum } }" :title="`Open Order ${item.OrderNum}`">
                  <v-icon small>fa-share</v-icon>
                </v-btn>
              </td>
              <!-- <td style="text-align: center">{{item.OrderNum}}</td> -->
              <td style="text-align: center" v-html="enboldenTerm(item.OrderNum)"></td>
              <td style="text-align: center" v-html="enboldenTerm(item.PONum)"></td>
              <td style="text-align: center" v-html="enboldenTerm(formatDate(item.OrderDate, 'll'))"></td>
              <td v-html="enboldenTerm(item.SoldTo)"></td>
              <td v-html="enboldenTerm(item.OTSName)"></td>
              <td v-html="enboldenTerm(item.OTSAddress1)"></td>
              <td v-html="enboldenTerm(item.OTSCity)"></td>
              <td style="text-align: center" v-html="enboldenTerm(item.OTSState)"></td>
              <td style="text-align: center" v-html="enboldenTerm(item.OTSZIP)"></td>
              <td style="text-align: center" v-html="enboldenTerm(item.OTSCountry)"></td>
            </tr>
          </template>
        </my-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import StaticMap from 'vue-static-map'
import MyMoment from '@/components/MyMoment'
import Mapping from '@/components/Mapping'
import MyTable from '@/components/MyTable'
import { ShowLoading, HideLoading } from '@/EventBus'
import Sorry from '@/components/Sorry'
import { BaseAPIUrl } from '@/plugins/axios'
import { formatDate } from '@/functions'

export default {
  name: 'OrderList',
  components: {
    MyMoment,
    MyTable,
    Mapping,
    // StaticMap,
    Sorry
  },
  data() {
    return {
      loading: false,
      orders: [],
      sorry: false,
      filter: '',
      selectedBrick: 0,
      defaultZoomEvent: () => {},
      activeBrickClass: 'active_order_map_brick',
      cardViewImage: 'Satellite',
      pageView: 'Map',
      // pageView: 'List',
      pageSize: 100,
      pageSizes: [100, 200, 300, 400, 500],
      currentPage: 1,
      zoom: 5
    }
  },
  computed: {
    getMappings() {
      // var order = this.orders[0]
      var addresses = this.orders.map(item => ({
        Id: item.id,
        Address: this.getShipTo(item, true),
        Title: `${item.OrderNum}\r\n${item.OTSName}\r\n${item.OTSAddress1}\r\n${item.OTSCity} ${item.OTSState}, ${item.OTSZIP}\r\n${item.OTSCountry}`,
        Label: `${item.id}) ${item.OrderNum}<br/>${item.OTSName}<br/>${item.OTSAddress1}<br/>${item.OTSCity} ${item.OTSState}, ${item.OTSZIP}<br/>${item.OTSCountry}`,
        AddressHTML: `${item.OTSName}<br/>${item.OTSAddress1}<br/>${item.OTSCity} ${item.OTSState}, ${item.OTSZIP}`,
        OrderNum: item.OrderNum
      }))

      // for (let order in this.filteredItems(this.orders)) {
      // for (var order of this.orders) {
      //   let address = this.getShipTo(order)
      //   // console.log(address)
      //   if (!addresses.includes(address)) {
      //     addresses.push(address)
      //   }
      // }

      return addresses
    },
    filteredOrders() {
      let records = this.filteredItems(this.orders)

      if (this.paging) {
        var startSlice = (this.currentPage - 1) * this.pageSize
        return records.slice(startSlice, startSlice + this.pageSize)
      }

      return records
    },
    hideTabs() {
      if (this.orders && this.orders.length > 1000) {
        return true
      }

      return false
    },
    paging() {
      return this.pageView === 'List'
    },
    pages() {
      let count = []
      let orders = this.filteredItems(this.orders).length
      // let orders = Math.max(this.filteredOrders.length, this.orders.length)
      // let orders = this.onNull(this.filter, '').length > 0 ? this.filteredOrders.length : this.orders.length
      let pageLimit = Math.ceil(this.pageSize > 0 ? (orders || 0) / this.pageSize : 0)
      // console.log(`pageLimit: ${pageLimit}`)
      for (let i = 1; i <= pageLimit; i++) {
        count.push(i)
      }

      return count
    }
  },
  watch: {
    // filter(val) {
    //   if (val === null) {
    //     val = ''
    //   }
    // },
    pageView(val) {
      if (val === 'Map' || val === 'Card') {
        this.filteredOrders.sortBy('id')
      }
      if (val === 'Card' || val === 'List') {
        this.deselectOrder()
      }
    },
    loading(val) {
      let id = 'Get Orders'
      if (val) {
        this.ShowLoading(id)
      } else {
        this.HideLoading(id)
      }
    },
    hideTabs(val) {
      if (val) {
        this.pageView = 'List'
      } else {
        this.pageView = 'Map'
      }
    },
    pages(val) {
      if (this.currentPage > val.length) {
        this.currentPage = val.length
      } else if (this.currentPage <= 0 && val.length >= 0) {
        this.currentPage = 1
      }
    }
    // currentPage(count) {
    //   if (this.currentPage > count) {
    //     this.currentPage = count
    //   }
    // }
  },
  mounted() {
    this.load()
  },
  methods: {
    formatDate,
    load() {
      this.loading = true
      axios
        .get('order/GetOrders')
        .then(response => {
          let orders = response.data
          if (orders != null && orders.length > 0) {
            this.orders = orders.map((item, index) => ({
              id: index + 1,
              lazy: false,
              event: () => {},
              selected: false,
              ...item
            }))
          }
          this.loading = false
          this.sorry = this.orders === null || this.orders.length === 0
        })
        .catch(() => {
          this.sorry = true
          this.loading = false
        })
    },
    defaultZoom(event) {
      if (event !== null && event !== undefined) {
        this.defaultZoomEvent = event
      }
    },
    defaultClick(id, event) {
      let order = this.orders.find(p => p.id == id)
      if (order !== null) {
        order.event = event
      }
    },
    orderClick(id, event) {
      let elemId = `order_map_brick_${id}`
      document.getElementById(elemId).scrollIntoView({ block: 'start', behavior: 'smooth' })
      document.getElementById('map-orders').scrollTop -= 10
      // console.warn(elemId)
      let order = this.orders.find(p => p.id == id)
      if (order !== null) {
        this.selectedBrick = id
        order.event = event
        order.event()
      }
    },
    deselectOrder() {
      this.selectedBrick = 0
    },
    getShipToAddressStaticImageUrl(order, zoom = 17) {
      var address = this.getShipTo(order)
      return `${BaseAPIUrl}order/GetStaticMapImage?address=${encodeURIComponent(address)}&zoom=${zoom}`
    },
    getShipToAddressStaticStreetViewUrl(order) {
      var address = this.getShipTo(order)
      return `${BaseAPIUrl}order/GetStaticStreetViewImage?address=${encodeURIComponent(address)}`
    },
    filteredItems(items) {
      var self = this
      var records

      if (this.onNull(this.filter, '').length > 0) {
        // function GetValue (item, field) {
        //   if (self.valueConversionFunction != null) {
        //     return self.valueConversionFunction(item[field], field, item)
        //   } else {
        //     return item[field]
        //   }
        // }

        var data = items.filter(function(obj) {
          return Object.keys(obj).some(function(e) {
            // Remove search on unnecessary fields (custom fields added via load function) - can filter out additional fields by adding to array below
            let ignore = ['id']
            if (ignore.includes(e)) return false

            return self
              .onNull(obj[e], '')
              .toString()
              .toLowerCase()
              .contains(self.filter.toLowerCase())
          })
        })

        records = data
      } else {
        records = items
      }

      // if (this.filterFunction != null) records = records.filter(p => this.filterFunction(p))

      // this.filteredCount = this.totalItemCount || this.onNull(records, []).length

      // if (this.loadingFunction != undefined && this.filteredCount < (this.currentPage - 1) * this.pageSize) {
      //   this.currentPage = 1
      // }
      return records
    },
    getShipTo(order, includeCountry = false) {
      if (order == null) return ''

      let address = `${order.OTSAddress1} ${order.OTSCity} ${order.OTSState} ${order.OTSZIP}${includeCountry ? ' ' + order.OTSCountry : ''}`
      // console.log(typeof (order) + ' - ' + address)

      return address
    },
    clearFilter() {
      this.filter = ''
    },
    enboldenTerm(field) {
      let data = isNaN(field) ? field : this.onNull(field, '').toString()
      let term = this.onNull(this.filter, '').trim()
      if (term.length > 0) {
        let regex = new RegExp(term, 'i')
        if (regex.test(data)) {
          let val = regex.exec(data)
          // console.warn(data.replace(regex, `<b>${val}</b>`))
          return data.replace(regex, `<b>${val}</b>`)
        } else {
          // console.warn(`unable to match ${term} to ${field}`)
        }
      }

      return data
    }
  }
}
</script>

<style lang="scss">
.v-image__image--preload {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
</style>

<style lang="scss" scoped>
.orders-table {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      border-bottom: 1px solid gray;
    }
  }
  tbody td {
    height: 30px;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
  }

  // tbody tr:hover {
  //   // background-color:orange;
  // }
  // tbody tr:nth-child(odd) {
  //   // background-color:lightgray;
  // }
}

#orders-view-tabs {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.header {
  font-size: 0.7em;
  color: dimgray;
}

.field {
  margin-bottom: 2px;
  font-size: 0.9em;
  font-weight: 450;
  color: black;
}

.order-brick {
  // min-height: 610px;
  border: 1px solid #e66b20;
  padding: 4px;
  // text-align:center;
  line-height: 20px;
  font-size: 1.2em;
  // margin-right:20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px #adadad;
  width: 420px; // 410px;
  // height: 485px;
  // min-width: 410px;
  // max-width: 410px;
  // position: relative;
  padding-bottom: 5px;
}

#map-orders {
  display: flex;
  flex-flow: column nowrap;
  // border: 1px solid lightgray;s
  // min-width: 450px;
  // border-radius: 10px;
  height: calc(100vh - 195px);
  overflow-y: auto;
  min-width: 450px;
  // padding: 5px 20px 15px 5px;
}

.map-order-tile:hover {
  border: 1px solid #006bb7;

  .card-id {
    background-color: #006bb7;
  }
}

.active_order_map_brick {
  // background-color: #eeeeee;
  color: black;
  border: 2px solid #4caf50 !important;

  // .map-order-tile {
  //   border: 1px solid green !important;
  // }
  // background-color: lightgray;
  // font-weight: bolder;
  // transition: 1.5s;
  .card-id {
    background-color: #4caf50 !important;
  }
}

.card-id {
  border-radius: 0px 0px 5px 0px;
  padding: 1px;
  min-width: 40px;
  text-align: center;
  background-color: #e66b20;
  color: white;
  font-weight: bold;
}

.map-order-tile {
  border: 1px solid #e66b20;
  padding: 0px 4px 4px 0px;
  // padding-bottom: 10px;
  overflow-y: auto;
  // font-size: 1.2em;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
  // max-width: 350px;
  min-width: 350px;
  // margin-right: 20px;
  // margin-bottom: 20px;
  // background-color: whitesmoke;
  box-shadow: 3px 3px 5px #adadad;
  // box-shadow: 5px 5px 15px #adadad;
  // position: relative;

  .sub-header {
    font-size: 0.9em;
    color: dimgray;
  }

  .header {
    // margin-bottom: 2px;
    margin-right: 5px;
    font-variant: small-caps;
    font-size: 0.9em;
    // font-weight: 450;
    // font-weight: bold;
    // text-decoration: underline;
    // display: flex;
    // flex-flow: row nowrap;
    // align-items:  center;
    color: #696969;
    // color: #969696;
  }

  .map-order-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

// .brick-container {
//   display:flex;
//   flex-flow: row wrap;
//   justify-content: space-around;
// }

.click_details {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.google-map {
  height: calc(100vh - 195px);
  // width: 80vw;
  // width: 100%;
  flex: 1 1 auto;
  margin-left: 20px;
}

.static-google-img {
  width: 100%;
  height: 410px;
}
// Google Static Map
#google_img {
  width: 100%;
  height: 100%;
}

.select-editable {
  position: relative;
  background-color: white;
  // border:solid lightgray 1px;
  height: 24px;
  outline: 1px solid lightgray;
}

.select-editable select {
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  margin: 0;
  width: 100%;
  height: 24px;
  // font-size: 14px;
  appearance: menulist;
}
</style>
