<template>
  <div>
    <div id="navTab" v-if="order != null">
      <div id="section-nav">
        <v-btn @click="scrollTo('order-details')" class="mb-2" color="primary" block>details</v-btn>
        <v-btn @click="scrollTo('order-contacts')" class="my-2" color="primary" block>contacts</v-btn>
        <v-btn @click="scrollTo('order-schedule')" v-if="hasEvents" block class="my-2" color="primary">schedule</v-btn>
        <v-btn @click="scrollTo('order-billing')" class="my-2" color="primary" block>billing</v-btn>
        <v-btn @click="scrollTo('order-attachments')" block class="my-2" color="primary">attachments</v-btn>
        <!-- <v-btn
          @click="scrollTo('order-tasks')"
          class="my-2"
          color="primary"
          block
          >to-do</v-btn
        > -->
        <v-btn @click="scrollTo('order-map')" class="my-2" color="primary" block>map</v-btn>
      </div>
      <v-divider />
      <div style="margin: 10px 0px 5px 0px">
        <div id="contract-summary" v-if="changes.sum('Price') > 0">
          <div class="summary-header"> Contract Summary <span>{{ order.CurrencyCode }}</span>
          </div>
          <table class="contract-summary-table" style="">
            <tr v-if="changes != null && changes.length > 0">
              <td>Contract</td>
              <td style="text-align: right"> {{ originalCO.Price.USD(2) }} </td>
            </tr>
            <tr v-for="change in changes.filter((p) => p.CO > 0)" :key="change.CO" title="Change Order">
              <td>CO # {{ change.id }}</td>
              <td style="text-align: right"> {{ change.Price.USD(2) }} </td>
            </tr>
            <tr class="row_border_top" v-if="changes.length > 1">
              <td>Final Total</td>
              <td style="text-align: right"> {{ changes.sum('Price').USD(2) }} </td>
            </tr>
          </table>
          <div class="tax-note">Tax Excluded</div>
        </div>
        <div id="billing-summary" v-if="invoices.details.length > 0">
          <div class="summary-header"> Billing Summary <span>{{ order.CurrencyCode }}</span>
          </div>
          <table class="bill-summary-table" style="">
            <tr>
              <td>Billed</td>
              <td style="text-align: right"> {{ invoices.details.sum('DocInvoiceAmt').USD(2) }} </td>
            </tr>
            <tr>
              <td>Paid</td>
              <td style="text-align: right">- {{ invoices.details.sum('Collected').USD(2) }}</td>
            </tr>
            <tr class="row_border_top">
              <td>Amount Due</td>
              <td style="text-align: right">
                <span v-if="balance > 0">{{ balance.USD(2) }} </span>
                <span v-else> $0 </span>
              </td>
            </tr>
          </table>
          <div class="tax-note">Tax Included</div>
        </div>
      </div>
      <v-divider />
      <table style="width: 100%">
        <tr>
          <td style="font-size: 0.85em">Total # Invoices:</td>
          <td style="font-weight: bold">{{ invoices.details.length }}</td>
        </tr>
        <tr>
          <td style="font-size: 0.85em">Total # Attachments:</td>
          <td style="font-weight: bold"> {{ attachments.details.length + special.length }} </td>
        </tr>
        <!-- <tr v-if="tasks.length > 0">
          <td style="font-size: 0.85em">Total # To-Do's:</td>
          <td style="font-weight: bold">
            {{ tasks.length }}
          </td>
        </tr> -->
      </table>
      <v-divider />
      <weather class="my-3" :zipcode="order.OTSZIP" v-if="order.Company !== 'FMEX'" />
    </div>
    <div id="order-info" v-if="order !== null">
      <v-overlay :value="survey.alert" opacity=".35" style="justify-content: center; align-items: flex-start">
        <v-alert type="success" v-if="checkSurveyStatus" transition="slide-y-transition" style="margin: 45px 0px 0px 0px; display: flex; flex-flow: row nowrap" prominent :value="survey.alert">
          <span> Thank you for your business. Your order is now fully {{ order.FrazierInstallation ? 'installed' : 'shipped' }}.</span>
          <v-divider class="my-2" />
          <div style="
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: flex-end;
            "> Please fill out our survey. <v-btn dense class="mx-3" @click="showSurvey" color="primary">Take Survey</v-btn>
            <v-btn dense class="mr-3" @click="ignoreSurvey">Remind Me Later</v-btn>
            <!-- <v-menu v-model="survey.close" offset-y>
              <template #activator="closeOptions">
                <v-btn dense class="mx-3" v-on="closeOptions.on">
                  close
                  <v-icon small right>fa-caret-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item @click="promptSurvey()">
                  <v-list-item-subtitle> Remind Me Later </v-list-item-subtitle>
                </v-list-item>
                <v-list-item @click="ignoreSurvey">
                  <v-list-item-subtitle> Ignore </v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </v-menu> -->
          </div>
        </v-alert>
      </v-overlay>
      <div id="order-details">
        <div class="section-header">Order Details</div>
        <div style="display: flex; flex-flow: row nowrap">
          <div id="order-information" style="
              padding-right: 30px;
              border-right: 1px solid lightgray;
              white-space: nowrap;
            ">
            <span class="field-label">Order #: </span>
            <span class="field-value">{{ order.OrderNum }}</span>
            <br />
            <span class="field-label">Quote #: </span>
            <span class="field-value">{{ order.QuoteNum }}</span><br />
            <span class="field-label">Order Date: </span>
            <span class="field-value">
              <my-moment :value="order.OrderDate" format="LL" />
            </span><br />
            <span class="field-label">PO #: </span>
            <span class="field-value">{{ order.PONum }}</span>
            <br />
            <span class="field-label">Freight Terms: </span>
            <span class="field-value">{{ order.FreightTerms }}</span>
            <br />
            <span class="field-label">Fully Released From Engineering: </span>
            <span class="field-value"><i v-if="order.FullyReleasedFromEngineering" class="far fa-check"></i> <span v-else style="color: red"><i class="far fa-times"></i></span></span><br />
            <span class="field-label">Scheduled Delivery Date: </span>
            <span class="field-value">
              <my-moment :value="order.RequestDate" format="LL" />
            </span>
            <br />
            <div v-if="order.AllMaterialOnSite != null">
              <span class="field-label">All Material On Site: </span>
              <span class="field-value">
                <my-moment :value="order.AllMaterialOnSite" format="LL" />
              </span><br />
            </div>
            <!-- <span class="field-label">Projected Fab Release: </span>
              <span class="field-value">
                <my-moment
                  :value="order.ProjectedFabRelease"
                  format="LL"
                /> </span
              ><br /> -->
            <span class="field-label">Fully Shipped: </span>
            <span class="field-value"><i v-if="order.ShippedComplete" class="far fa-check"></i> <span v-else style="color: red"><i class="far fa-times"></i></span></span>
            <br />
            <span class="field-label">Frazier Is Installing: </span>
            <span class="field-value"><i v-if="order.FrazierInstallation" class="far fa-check"></i> <span v-else style="color: red"><i class="far fa-times"></i></span></span>
            <br />
            <span v-if="order.FrazierInstallation">
              <span class="field-label">Scheduled Installation Begin Date: </span>
              <span class="field-value">
                <my-moment :value="order.InstallationStartDate" format="LL" />
              </span>
              <br />
              <span class="field-label">Scheduled Installation End Date: </span>
              <span class="field-value">
                <my-moment :value="order.InstallationEndDate" format="LL" />
              </span>
              <br />
            </span>
            <span v-if="order.FrazierInstallation">
              <span class="field-label">Installation Complete: </span>
              <span class="field-value"><i v-if="order.InstallationComplete" class="far fa-check"></i> <span v-else style="color: red"><i class="far fa-times"></i></span></span>
              <br />
            </span>
            <span class="field-label">Billed in Full: </span>
            <span class="field-value"><i v-if="order.BilledInFull" class="far fa-check"></i> <span v-else style="color: red"><i class="far fa-times"></i></span></span>
            <br />
            <span class="field-label">Paid in Full: </span>
            <span class="field-value"><i v-if="order.PaidInFull" class="far fa-check"></i> <span v-else style="color: red"><i class="far fa-times"></i></span></span>
            <br />
          </div>
          <div style="display: flex; flex-flow: column nowrap; flex: 1 1 auto">
            <div id="customer-information">
              <div>
                <div class="header">Sold To</div> {{ order.SoldTo }} <br /> {{ order.SoldToAddress1 }} <br /> {{ order.SoldToCity }}, {{ order.SoldToState }}
                <!-- {{ order.SoldToZip }} -->
                <br /> {{ order.SoldToCountry }}
              </div>
              <div>
                <div class="header">Bill To</div> {{ order.BillTo }} <br /> {{ order.BillToAddress1 }} <br /> {{ order.BillToCity }}, {{ order.BillToState }} {{ order.BillToZip }} <br /> {{ order.BillToCountry }}
              </div>
              <div>
                <div class="header">Ship To</div> {{ order.OTSName }} <br /> {{ order.OTSAddress1 }} <br /> {{ order.OTSCity }}, {{ order.OTSState }} {{ order.OTSZIP }} <br /> {{ order.OTSCountry }}
              </div>
            </div>
            <div id="order-stepper" class="hidden-md-and-down">
              <v-stepper v-model="stage" style="width: 100%" alt-labels>
                <v-stepper-header style="background: #e6e6e6">
                  <template v-for="(n, i) in tracker">
                    <v-stepper-step :key="`${i}-step`" :complete="n" :step="i + 1">
                      <!-- edit-icon="check"
                  :editable="n"--> {{ stages[i] }}
                      <!-- :style="`color: ${(stage === i + 1 ? 'white' : 'black')}`" -->
                    </v-stepper-step>
                    <v-divider v-if="i !== tracker.length - 1" :key="i"></v-divider>
                  </template>
                </v-stepper-header>
                <!-- <v-stepper-items>
              <v-stepper-content
                v-for="(n, i) in tracker"
                :key="`${i}-content`"
                :step="i + 1"
              >{{tracker[i]}}</v-stepper-content>
            </v-stepper-items>-->
              </v-stepper>
            </div>
          </div>
        </div>
      </div>
      <div id="order-contacts">
        <v-divider class="my-7" />
        <div class="section-header">Contact Information</div>
        <v-row justify="space-around" no-gutters>
          <div>
            <v-img contain height="150" width="135" :src="loadPhoto(order.SalesRepID1)" />
            <div>
              <div class="header">Account Management</div>
              <div v-if="order.SalesRepID1 != null">
                <h4>{{ order.SalesRepName1 }}</h4>
                <h4>{{ order.SalesRepTitle1 }}</h4>
                <h4>{{ order.SalesRepPhone1.replace('Ext', 'x') }}</h4>
                <h4>
                  <a :href="emailLink(order.SalesRepEmail1, order.SalesRepName1)">{{ order.SalesRepEmail1 }}</a>
                </h4>
              </div>
              <div v-else>Not yet assigned</div>
            </div>
          </div>
          <div v-if="onNull(order.SalesRepID2, '').length > 0 && order.SalesRepID1 !== onNull(order.SalesRepID2, '')">
            <v-img contain height="150" width="135" :src="loadPhoto(order.SalesRepID2)" />
            <div>
              <div class="header">Account Management</div>
              <div v-if="order.SalesRepID2 != null">
                <h4>{{ order.SalesRepName2 }}</h4>
                <h4>{{ order.SalesRepTitle2 }}</h4>
                <h4>{{ order.SalesRepPhone2.replace('Ext', 'x') }}</h4>
                <h4>
                  <a :href="emailLink(order.SalesRepEmail2, order.SalesRepName2)">{{ order.SalesRepEmail2 }}</a>
                </h4>
              </div>
              <div v-else>Not yet assigned</div>
            </div>
          </div>
          <div v-if="onNull(order.SalesRepID3, '').length > 0 && ![order.SalesRepID1,order.SalesRepID2].includes(onNull(order.SalesRepID3, ''))">
            <v-img contain height="150" width="135" :src="loadPhoto(order.SalesRepID3)" />
            <div>
              <div class="header">Account Management</div>
              <div v-if="order.SalesRepID3 != null">
                <h4>{{ order.SalesRepName3 }}</h4>
                <h4>{{ order.SalesRepTitle3 }}</h4>
                <h4>{{ order.SalesRepPhone3.replace('Ext', 'x') }}</h4>
                <h4>
                  <a :href="emailLink(order.SalesRepEmail3, order.SalesRepName3)">{{ order.SalesRepEmail3 }}</a>
                </h4>
              </div>
              <div v-else>Not yet assigned</div>
            </div>
          </div>
          <div>
            <v-img contain height="150" width="135" :src="loadPhoto(order.PMID)" />
            <div>
              <div class="header">Project Management</div>
              <div v-if="order.PMID != null">
                <h4>{{ order.PM }}</h4>
                <h4>{{ order.PMTitle }}</h4>
                <h4>{{ order.PMPhone.replace('Ext', 'x') }}</h4>
                <h4>
                  <a :href="emailLink(order.PMEmail, order.PM)">{{ order.PMEmail }}</a>
                </h4>
              </div>
              <div v-else>Not yet assigned</div>
            </div>
          </div>
          <div>
            <v-img contain height="150" width="135" :src="loadPhoto(order.CSRepID)" />
            <div>
              <div class="header">Customer Service</div>
              <div v-if="order.CSRepID != null">
                <h4>{{ order.CSRepName }}</h4>
                <h4>{{ order.CSRepTitle }}</h4>
                <h4>{{ order.CSRepPhone.replace('Ext', 'x') }}</h4>
                <h4>
                  <a :href="emailLink(order.CSRepEmail, order.CSRepName)">{{ order.CSRepEmail }}</a>
                </h4>
              </div>
              <div v-else>Not yet assigned</div>
            </div>
          </div>
          <div>
            <v-img contain height="150" width="135" :src="loadPhoto(order.ARRepID)" />
            <div>
              <div class="header">Accounts Receivable</div>
              <div v-if="order.ARRepID">
                <h4>{{ order.ARRepName }}</h4>
                <h4>{{ order.ARRepTitle }}</h4>
                <h4>{{ order.ARRepPhone.replace('Ext', 'x') }}</h4>
                <h4>
                  <a :href="emailLink(order.ARRepEmail, order.ARRepName)">{{ order.ARRepEmail }}</a>
                </h4>
              </div>
              <div v-else>Not yet assigned</div>
            </div>
          </div>
        </v-row>
      </div>
      <div id="order-schedule" v-show="hasEvents">
        <v-divider class="my-7" />
        <div class="section-header">Schedule</div>
        <CalendarMultiComponent :events="events.details" style="height: 800px"> </CalendarMultiComponent>
        <br />
        <!-- (<i style="color: orange" class="fas fa-sparkles"></i>&nbsp; = New
          Invoices) -->
      </div>
      <div id="order-billing">
        <v-divider class="my-7" />
        <div class="section-header">{{ hasSpecialBilling ? 'Special ' : '' }}Billing</div>
        <div v-if="invoices.details.length > 0 && !hasSpecialBilling">
          <my-table :items="invoices.details" :customStyle="table_style">
            <template #menu-start>
              <div style="
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                ">
                <span style="font-style: italic">Click <i class="far fa-file-pdf" style="color: red; margin: 0px 5px 0px 5px"></i> to Download</span>
              </div>
            </template>
            <template #header>
              <tr>
                <th field="AttachmentID">
                  <i class="far fa-download"></i>
                </th>
                <th field="InvoiceNum">Invoice #</th>
                <th field="InvoiceDate">Invoice Date</th>
                <th field="DocInvoiceAmt">Invoice Amount</th>
                <th field="DueDate">Due Date</th>
                <th field="Collected">Paid</th>
                <th field="DocInvoiceBal">Invoice Balance</th>
                <th v-if="hasPastDue"></th>
              </tr>
            </template>
            <template #body="{ items }">
              <tr v-for="item in items" :key="item.InvoiceNum" :style="billPastDue(item) ? 'font-weight: bold;' : ''">
                <td>
                  <v-btn icon color="error" @click="downloadAttachment(item)" :disabled="item.AttachmentID === null || item.AttachmentID === 0">
                    <v-icon>far fa-file-pdf</v-icon>
                  </v-btn>
                </td>
                <td>{{ item.InvoiceNum }}</td>
                <td>
                  <my-moment :value="item.InvoiceDate" format="ll" />
                </td>
                <td style="text-align: right"> {{ item.DocInvoiceAmt.USD(2) }} </td>
                <td :style="`${billPastDue(item) ? 'color: red;' : ''}`">
                  <my-moment :value="item.DueDate" format="ll" />
                </td>
                <td style="text-align: right"> {{ item.Collected.USD(2) }} </td>
                <td style="text-align: right">
                  <span v-if="item.DocInvoiceBal > 0" style="color: red; font-weight: bold"> {{ item.DocInvoiceBal.USD(2) }} </span>
                  <span v-else style="color: green; font-style: italic"> Fully Paid &nbsp; <i class="far fa-smile"></i> Thank you </span>
                  <!-- <span
                      :style="`color: ${
                        item.DocInvoiceBal > 0 ? 'red' : 'green'
                      };`"
                    >
                      {{ (item.DocInvoiceBal > 0 ? item.DocInvoiceBal.USD(2) : 'Fully Paid - Thank you' )}}</span
                    > -->
                </td>
                <td v-if="billPastDue(item)">
                  <v-chip color="error">Past Due</v-chip>
                </td>
                <!-- <td>
                    <span style="color: orange"
                      ><i class="fas fa-sparkles"></i>
                    </span>
                  </td> -->
              </tr>
            </template>
          </my-table>
          <v-btn v-if="invoices.details.filter((p) => p.AttachmentID !== null).length > 1" @click="downloadZipAttachment('billing')" class="ma-3" color="warning" text small>
            <v-icon left>fal fa-file-archive</v-icon> download all invoices
          </v-btn>
        </div>
        <div v-else-if="hasSpecialBilling && special.length > 0">
          <my-table :items="special" :customStyle="table_style">
            <template #menu-end>
              <i>Click <i class="far fa-file-download" style="color: red; margin: 0px 5px 0px 5px"></i> to Download</i>
            </template>
            <template #header>
              <tr>
                <th field="AttachmentID">
                  <i class="far fa-download"></i>
                </th>
                <th field="FileName">File Name</th>
                <!-- <th field="Description">Description</th> -->
              </tr>
            </template>
            <template #body="{ items }">
              <tr v-for="item in items" :key="item.AttachmentID">
                <td>
                  <v-btn icon :color="attachIconColor(item)" @click="downloadAttachment(item)" :disabled="item.AttachmentID === null || item.AttachmentID === 0">
                    <v-icon>{{ attachIcon(item) }}</v-icon>
                  </v-btn>
                </td>
                <td>{{ item.FileName }}</td>
                <!-- <td>{{ item.Description }}</td> -->
                <!-- <td><my-moment localize :value="item.InvoiceDate" format="LL" /></td> -->
              </tr>
            </template>
          </my-table>
        </div>
        <v-alert v-else text border="left" color="orange" type="info" style="display: inline-flex">Please contact your Accounts Receivable representative regarding order billing.</v-alert>
        <br />
        <!-- (<i style="color: orange" class="fas fa-sparkles"></i>&nbsp; = New
          Invoices) -->
      </div>
      <div id="invoice-schedule">
        <v-divider class="my-7" />
        <div class="section-header">Billing Schedule</div>
        <div v-if="billing !== null && invSchedule !== null && !order.BilledInFull" style="overflow-x: auto;">
          <v-radio-group class="ma-0" v-model="invoicingShowPercentages" row hide-details dense>
            <v-radio :value="true" label="Percentages"></v-radio>
            <v-radio :value="false" label="Dollars"></v-radio>
          </v-radio-group>
          <table class="mytable2" style="margin-top:10px;">
            <thead>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Invoiced</th>
                <th v-for="(detail, i) in invSchedule" :key="i"> {{detail.title}} </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="type in invoiceTypes" :key="type.name" v-show="order[type.priceField] > 0">
                <td>{{type.name}}</td>
                <td class="dollar">{{order[type.priceField].NumberFormat(0)}}</td>
                <!-- <td v-if="invoicingShowPercentages" :class="{ 'percent': true, percent: !getInvoicedPercentage(type.invoiceLookup).contains('N/A') }" v-qtip="getInvoicedTooltip(type.invoiceLookup)" -->
                <td v-if="invoicingShowPercentages" :class="{ percent: !getInvoicedPercentage(type.invoiceLookup).contains('N/A') }" v-html="getInvoicedPercentage(type.invoiceLookup)"></td>
                <td v-else class="dollar">
                  <span v-if="orderInvoicingTotals.some(p => p.PartNum == type.invoiceLookup)">{{(order[type.priceField] * orderInvoicingTotals.find(p => p.PartNum == type.invoiceLookup).InvoicedPercent).NumberFormat(0)}}</span>
                  <span v-else>{{(0).NumberFormat(0)}}</span>
                </td>
                <td v-for="(detail,i) in invSchedule" :key="i">
                    <!-- <numeric-input type="text" v-model="detail[type.detailLookup]" disabled :style="{ width: '40px', backgroundColor: invSchedule.sum(type.detailLookup) > 100 ? 'pink' : '' }"></numeric-input> -->
                  <span v-if="invoicingShowPercentages" class="percent">{{detail[type.detailLookup]}}</span>
                  <span v-else class="dollar">{{(order[type.priceField] * (detail[type.detailLookup] / 100.00)).NumberFormat(0)}}</span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <td class="dollar text-right">{{totalPrice.NumberFormat(0)}}</td>
                <td class="text-right">
                  <span v-if="invoicingShowPercentages" class="percent">{{((orderInvoicingTotals.sum(p => p.TotalInvoiced) / totalPrice) * 100).NumberFormat(0)}}</span>
                  <span v-else class="dollar">{{orderInvoicingTotals.sum(p => p.TotalInvoiced).NumberFormat(0)}}</span>
                </td>
                <td v-for="(detail,i) in invSchedule" :key="i">
                  <span v-if="invoicingShowPercentages" class="percent">{{(invoiceTypes.sum(type => (order[type.priceField] * (detail[type.detailLookup] / 100.00)) / totalPrice) * 100).NumberFormat(0)}}</span>
                  <span v-else class="dollar">{{invoiceTypes.sum(type => order[type.priceField] * (detail[type.detailLookup] / 100.00)).NumberFormat(0)}}</span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <v-alert v-else text border="left" :type="(order.BilledInFull || order.PaidInFull ? 'info' : 'warning')" style="display: inline-flex">
          {{(order.BilledInFull || order.PaidInFull ? (order.PaidInFull ? 'This order has been paid in full.' : 'This order has been fully invoiced.') : 'There is no billing schedule available for review at this time.')}}</v-alert>
      </div>
      <div id="order-attachments">
        <v-divider class="my-7" />
        <div class="section-header">Attachments</div>
        <div v-if="attachments.details.length > 0">
          <file-viewer v-show="attachments.details.length > 0" :items="attachments.details" @download="(file) => downloadAttachment(file)" @downloadZip="downloadZipAttachment"></file-viewer>
        </div>
        <v-alert v-else text border="left" type="info" style="display: inline-flex">There are no attachments available at this time.</v-alert>
        <br />
        <!-- (<i style="color: orange" class="fas fa-sparkles"></i>&nbsp; = New
          Attachments) -->
      </div>
      <div id="order-tasks" v-if="false">
        <v-divider class="my-7" />
        <div class="section-header">To-Do</div>
        <div v-if="tasks.length > 0">
          <task-list v-show="tasks.length > 0" :tasks="tasks" @download="(file) => downloadAttachment(file)" :internal="isEmployee" />
        </div>
        <v-alert v-else text border="left" type="info" style="display: inline-flex">There are no tasks available for review at this time.</v-alert>
        <br />
        <!-- (<i style="color: orange" class="fas fa-sparkles"></i>&nbsp; = New
          Attachments) -->
      </div>
      <div id="order-map">
        <v-divider class="my-7" />
        <div class="section-header">Map</div>
        <div>
          <mapping v-if="order !== null" :items="orderAddress" :zoom="14" :clickZoom="15" :maxZoom="20" mapType="hybrid" style="height: calc(100vh - 250px); width: 75vw" @click_marker="
              ({ id, event }) => {
                event()
              }
            " />
        </div>
        <br />
        <!-- (<i style="color: orange" class="fas fa-sparkles"></i>&nbsp; = New
          Attachments) -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import store from '@/store'
import { BaseAPIUrl } from '../plugins/axios'
import moment from 'moment'
import MyMoment from '@/components/MyMoment'
import MyTable from '@/components/MyTable'
import Mapping from '@/components/Mapping'
import FileViewer from '@/components/FileViewer'
import TaskList from '@/components/TaskList'
import CalendarMultiComponent from '@/components/CalendarMultiComponent'
import Weather from '@/components/Weather'
import { ShowLoading, HideLoading, EventBus, SHOW_ERROR } from '@/EventBus'
import { DownloadFile, readableBytes, onNull } from '@/functions'

export default {
  name: 'Order',
  components: {
    MyMoment,
    MyTable,
    Weather,
    Mapping,
    FileViewer,
    TaskList,
    CalendarMultiComponent
  },
  props: ['orderNum'],
  data() {
    return {
      order: null,
      invoices: {
        headers: [
          // { text: 'Company', value: 'Company' },
          { text: 'Download', align: 'left', value: 'AttachmentID' },
          { text: 'Invoice #', value: 'InvoiceNum' },
          { text: 'Invoice Date', value: 'InvoiceDate' },
          // { text: 'CreditMemo', value: 'CreditMemo' },
          // { text: 'Material', align: 'right', value: 'Material' },
          // { text: 'Freight', align: 'right', value: 'Freight' },
          // { text: 'Install', align: 'right', value: 'Install' },
          // { text: 'Teardown', align: 'right', value: 'Teardown' },
          // { text: 'Calcs', align: 'right', value: 'Calcs' },
          // { text: 'Bond', align: 'right', value: 'Bond' },
          // { text: 'Perm', align: 'right', value: 'Perm' },
          // { text: 'Misc', align: 'right', value: 'Misc' },
          // { text: 'Tax', align: 'right', value: 'Tax' },
          // { text: 'PreTax', align: 'right', value: 'PreTax' },
          {
            text: 'Invoice Amount',
            align: 'right',
            value: 'DocInvoiceAmt'
          },
          { text: 'Invoice Balance', align: 'right', value: 'DocInvoiceBal' },
          { text: 'Paid', align: 'right', value: 'Collected' }
          // { text: 'OrderNum', value: 'OrderNum' }
        ],
        details: [],
        selected: [],
        search: '',
        loading: false,
        height: null
      },
      events: {
        headers: [
          { text: 'Event ID', value: 'ScheduledOrderEventID' },
          { text: 'Order', value: 'OrderNum' },
          { text: 'Start Date', value: 'StartDate' },
          { text: 'End Date', value: 'EndDate' },
          { text: 'Title', value: 'Title' },
          { text: 'Added By ID', value: 'AddedByID' },
          { text: 'Color', value: 'Color' },
          { text: 'Added By', value: 'AddedBy' },
          { text: 'Date Added', value: 'DateAdded' }
        ],
        details: [],
        selected: [],
        search: '',
        loading: false,
        height: null
      },
      tasks: [],
      special: [],
      changes: [],
      billing: null,
      orderInvoicingTotals: null,
      attachments: {
        headers: [
          // { text: 'FileLocation', value: 'FileLocation' },
          // { text: 'Order', value: 'OrderNum' },
          { text: 'File Name', value: 'FileName' },
          // { text: 'Description', value: 'Description' },
          // { text: 'File Type', value: 'FileType' },
          // { text: 'Category', value: 'Category' },
          // { text: 'Size', value: 'Size' },
          { text: 'Date Added', value: 'DateAdded' },
          { text: 'Download', value: 'AttachmentID' }
          // { text: 'Attached By ID', value: 'AttachedByID' },
          // { text: 'Attached By', value: 'AttachedBy' },
        ],
        details: [],
        selected: [],
        search: '',
        loading: false,
        height: null
      },
      survey: {
        timer: null,
        // valid: false,
        alert: false,
        close: false,
        completed: false
      },
      invoicingShowPercentages: false,
      tracker: null,
      stage: 0,
      stages: ['Order Placed', 'Processing', 'Shipping', 'Complete'],
      height_offset: 800,
      table_style: 'display: inline-flex;',
      invoiceTypes: [
        { name: 'Material', priceField: 'MaterialPrice', invoiceLookup: 'MATERIAL', detailLookup: 'material', percentCompleteField: 'MaterialPercentComplete' },
        { name: 'Freight', priceField: 'FreightPrice', invoiceLookup: 'Freight', detailLookup: 'freight', percentCompleteField: 'FreightPercentComplete' },
        { name: 'Installation', priceField: 'InstallationPrice', invoiceLookup: 'INSTALL', detailLookup: 'installation', percentCompleteField: 'InstallationPercentComplete' },
        { name: 'Teardown', priceField: 'TeardownPrice', invoiceLookup: 'TEARDOWN', detailLookup: 'teardown', percentCompleteField: 'TeardownPercentComplete' },
        { name: 'Permits', priceField: 'PermitsPrice', invoiceLookup: 'PERMITS', detailLookup: 'permits', percentCompleteField: 'PermitsPercentComplete' },
        { name: 'Calculations', priceField: 'CalcsPrice', invoiceLookup: 'CALC', detailLookup: 'calcs', percentCompleteField: 'CalcPercentComplete' },
        { name: 'Bonds', priceField: 'BondPrice', invoiceLookup: 'BONDS', detailLookup: 'bonds', percentCompleteField: 'BondsPercentComplete' },
        { name: 'Miscellaneous', priceField: 'MiscPrice', invoiceLookup: 'MISC', detailLookup: 'misc', percentCompleteField: 'MiscPercentComplete' }
      ]
    }
  },
  computed: {
    invoicesTotal() {
      if (this.invoices === null) {
        return 0
      }
      return this.invoices.reduce((total, invc) => {
        return Number(total) + Number(invc.DocInvoiceAmt)
      }, 0)
    },
    balanceTotal() {
      if (this.invoices === null) {
        return 0
      }
      return this.invoices.reduce((total, invc) => {
        return Number(total) + Number(invc.InvoiceBal)
      }, 0)
    },
    balance() {
      return this.invoices.details.sum('DocInvoiceAmt') - this.invoices.details.sum('Collected')
    },
    hasEvents() {
      if (this.events.details !== null && this.events.details.length > 0) {
        return true
      }
      return false
    },
    hasPastDue() {
      if (this.invoices.details !== null && this.invoices.details.length > 0) {
        for (let invoice of this.invoices.details) {
          if (this.billPastDue(invoice)) {
            return true
          }
        }
      }
      return false
    },
    hasSpecialBilling() {
      if (this.order !== null) {
        return this.order.SpecialBilling || this.order.PayApp // && this.special != null && this.special.length > 0
        // return !this.order.SpecialBilling && !this.order.PayApp
      }
      return false
    },
    orderAddress() {
      let addresses = []
      addresses.push({
        Label: `${this.order.OTSName}<br/>${this.order.OTSAddress1}<br/> ${this.order.OTSCity}, ${this.order.OTSState} ${this.order.OTSZIP}<br/>${this.order.OTSCountry}`,
        Title: `${this.order.OTSName}\r\n${this.order.OTSAddress1}\r\n ${this.order.OTSCity}, ${this.order.OTSState} ${this.order.OTSZIP}\r\n${this.order.OTSCountry}`,
        OrderNum: this.order.OrderNum,
        Address: `${this.order.OTSAddress1} ${this.order.OTSCity} ${this.order.OTSState} ${this.order.OTSZIP} ${this.order.OTSCountry}`
      })
      return addresses
    },
    isEmployee() {
      return store.state.user.role.toUpperCase() === 'EMPLOYEE'
    },
    originalCO() {
      if (this.changes !== null && this.changes.length > 0) return this.changes.find((p) => p.CO == 0)

      return null
    },
    invSchedule() {
      let schedule = null

      if (this.billing !== null && this.onNull(this.billing.InvoicingDetailJSON, '').length > 0) {
        schedule = JSON.parse(this.billing.InvoicingDetailJSON)
      }

      return schedule
    },
    totalPrice() {
      return this.order.MaterialPrice + this.order.FreightPrice + this.order.InstallationPrice + this.order.TeardownPrice + this.order.BondPrice + this.order.PermitsPrice + this.order.CalcsPrice + this.order.MiscPrice
    }
  },
  watch: {
    orderNum() {
      this.loadOrder()
    }
  },
  mounted() {
    this.loadOrder()
  },
  // this.ignoreSurvey()
  // destroyed() {
  //   console.warn('D E S T R O Y E D')
  // },
  // beforeDestroy() {
  //   console.warn('B E F O R E   D E S T R O Y E D')
  // },
  // unmounted() {
  //   console.warn('U N M O U N T E D')
  // },
  // beforeUnmount() {
  //   console.warn('B E F O R E   U N M O U N T E D')
  // },
  methods: {
    readableBytes,
    scrollTo(value) {
      // console.log('scroll to: ' + value)
      if (value == 'order-details') {
        window.scrollTo({ left: 0, top: 0, behavior: 'smooth' })
      } else {
        // document.getElementById(value).scrollIntoView()
        document.getElementById(value).scrollIntoView({ behavior: 'smooth' })
      }
    },
    openImage(imageId) {
      window.open(`${BaseAPIUrl}order/GetAttachmentById?AttachmentID=${imageId}`)
    },
    emailLink(email, assignee) {
      return `mailto:${email}?subject=Customer Portal Question: ${this.order.OrderNum} - ${this.order.OTSName} - ${assignee}`
    },
    loadOrder() {
      // console.log(`orderNum=${this.orderNum}`)
      ShowLoading('Load Order')
      this.order = null
      this.ignoreSurvey()
      this.loadBilling()
      this.loadAttachments()
      this.loadEvents()
      this.loadTasks()
      axios
        .get('order/GetOrder', {
          params: {
            OrderNum: this.orderNum
          }
        })
        .then((response) => {
          this.order = response.data.orders[0]
          this.survey.completed = response.data.surveyCompleted
          this.tracker = response.data.trackers
          this.stage = this.tracker.IsComplete ? 4 : this.tracker.IsShipping ? 3 : this.tracker.IsProcessing ? 2 : this.tracker.hasOrderDate ? 1 : 0
          HideLoading('Load Order')
          this.checkSurveyStatus()
        })
        .catch((error) => {
          HideLoading('Load Order')
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
          this.$router.push({ name: 'Orders' })
        })
    },
    loadBilling() {
      ShowLoading('Load Billing')
      axios
        .get('order/GetOrderBilling', { params: { OrderNum: this.orderNum } })
        .then((response) => {
          this.invoices.details = response.data.invoices
          this.special = response.data.special
          this.changes = response.data.changes.map((item, index) => ({
            id: index,
            ...item
          }))
          this.billing = response.data.schedule[0]
          this.orderInvoicingTotals = response.data.orderInvoicingTotals
          HideLoading('Load Billing')
        })
        .catch(() => {
          HideLoading('Load Billing')
        })
    },
    loadEvents() {
      ShowLoading('Load Schedule Events')
      axios
        .get('order/GetScheduleEvents', { params: { OrderNum: this.orderNum } })
        .then((response) => {
          this.events.details = response.data.events
          HideLoading('Load Schedule Events')
        })
        .catch(() => {
          HideLoading('Load Schedule Events')
        })
      // },
      // test () {
      //   this.popupMsg = new Date().getTime(7500)
      //   console.log(this.popupMsg.toString())
    },
    loadAttachments() {
      ShowLoading('Load Attachments')
      axios
        .get('order/GetAttachments', { params: { OrderNum: this.orderNum } })
        .then((response) => {
          this.attachments.details = response.data.attachments
          HideLoading('Load Attachments')
        })
        .catch(() => {
          HideLoading('Load Attachments')
        })
    },
    loadTasks() {
      ShowLoading('Load Tasks')
      axios
        .get('order/GetTasks', {
          params: {
            OrderNum: this.orderNum
          }
        })
        .then((response) => {
          this.tasks = response.data.tasks
          HideLoading('Load Tasks')
        })
        .catch(() => {
          HideLoading('Load Tasks')
        })
    },
    downloadAttachment(file) {
      DownloadFile(`${BaseAPIUrl}order/DownloadAttachment?AttachmentID=${file.AttachmentID}`, file.FileName)
    },
    downloadZipAttachment(category = '') {
      DownloadFile(`${BaseAPIUrl}order/DownloadZipAttachment?OrderNum=${this.orderNum}&Category=${category}`, `attachments_${this.orderNum}_${moment().format('YYYY-MM-DDTHH_mm_ss')}.zip`)
    },
    promptSurvey(time = 30000) {
      if (!this.isEmployee) {
        this.survey.alert = false
        this.survey.close = false
        clearTimeout(this.survey.timer)
        this.survey.timer = setTimeout(() => {
          this.survey.alert = true
        }, time)
      }
    },
    showSurvey() {
      clearTimeout(this.survey.timer)
      this.$router.push({ name: 'SurveyForm', params: { orderNumber: this.order.OrderNum } })
    },
    checkSurveyStatus() {
      let ready = false
      if (this.order !== null) {
        // let installed = (this.order.FrazierInstallation && this.order.InstallationComplete) || !this.order.FrazierInstallation
        // let shipped = this.order.InstallationOnly || this.order.ShippedComplete
        // ready = installed && shipped && !this.survey.completed
        let ignore = ['master', 'customer']
        let role = this.$store.state.user.role.toLowerCase()
        let ignored = ignore.indexOf(role) < 0
        ready = this.order.SurveyReady && !this.survey.completed && !ignored
        if (ready) {
          this.promptSurvey()
        }
      }
      return ready
    },
    billPastDue(invoice) {
      let error = invoice.DocInvoiceBal > 0 && moment().isSameOrAfter(invoice.DueDate)
      // console.warn(`invoice ${invoice.InvoiceNum}: ${error}`)
      return error
    },
    ignoreSurvey() {
      console.warn('I G N O R E   S U R V E Y')
      this.survey.close = false
      this.survey.alert = false
      clearTimeout(this.survey.timer)
    },
    trackerProgress() {
      return 25 // this.stage - 1 / this.tracker.length // (this.stage === 4 ? 100 : (this.stage === 3 ? 75 : (this.stage === 1 ? 50 : (this.stage === 0 ? 25 : 0))))
    },
    onResize() {
      let height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - this.height_offset
      this.invoices.height = height
      this.attachments.height = height
    },
    loadPhoto(ID) {
      return `${BaseAPIUrl}order/GetEmployeePhoto?photo=${ID}`
      // return BaseAPIUrl + 'order/GetEmployeePhoto?photo=' + ID
    },
    loadPhotoById(id) {
      return `${BaseAPIUrl}order/GetAttachmentById?AttachmentID=${id}`
    },
    isPhoto(filename) {
      return ['bmp', 'gif', 'jpg', 'heic', 'jpeg', 'png'].indexOf(this.getFileExtension(filename)) > -1
    },
    getFileExtension(filename) {
      var ext = /^.+\.([^.]+)$/.exec(filename)
      return ext === null ? '' : ext[1]
    },
    attachIcon(item) {
      var type = item.FileType.replace('.', '')
      switch (type) {
        case 'pdf':
          return 'far fa-file-pdf'
        case 'doc':
        case 'docx':
          return 'far fa-file-word'
        case 'xls':
        case 'xlsx':
          return 'far fa-file-excel'
        case 'png':
        case 'jpeg':
        case 'jpg':
          return 'far fa-file-image'
        default:
          return 'far fa-file-download'
      }
    },
    attachIconColor(item) {
      var type = item.FileType.replace('.', '')
      switch (type) {
        case 'pdf':
          return 'error'
        case 'doc':
        case 'docx':
          return 'primary'
        case 'xls':
        case 'xlsx':
          return 'success'
        case 'png':
        case 'jpeg':
        case 'jpg':
          return 'orange'
        default:
          return 'primary'
      }
    },
    isItemNew() {
      // let latest = store.security.lastlogin
      // return moment(date).isSameOrAfter()
      return false
      // return true
    },
    getInvoicedPercentage(partNum) {
      var item = this.orderInvoicingTotals.find((p) => p.PartNum == partNum)
      if (item == null || item == undefined) {
        var result = '<span style=\'color:lightgray;\'>N/A</span>'
        switch (partNum) {
          case 'MATERIAL':
            if (this.order.MaterialPrice > 0) result = '0'
            break
          case 'Freight':
            if (this.order.FreightPrice > 0) result = '0'
            break
          case 'INSTALL':
            if (this.order.InstallationPrice > 0) result = '0'
            break
          case 'TEARDOWN':
            if (this.order.TeardownPrice > 0) result = '0'
            break
          case 'BOND':
            if (this.order.BondPrice > 0) result = '0'
            break
          case 'PERMITS':
            if (this.order.PermitsPrice > 0) result = '0'
            break
          case 'CALC':
            if (this.order.CalcsPrice > 0) result = '0'
            break
          case 'MISC':
            if (this.order.MiscPrice > 0) result = '0'
            break
        }
        return result
      }
      return `${(this.orderInvoicingTotals.find((p) => p.PartNum == partNum).InvoicedPercent * 100).NumberFormat(0)}`
    },
    getInvoicedTooltip(partNum) {
      var item = this.orderInvoicingTotals.find((p) => p.PartNum == partNum)
      if (item == null || item == undefined) return ''
      return this.orderInvoicingTotals.find((p) => p.PartNum == partNum).Tooltip
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
  color: dimgray;
  // border-bottom:1px solid lightgray;
}
.section-header {
  font-size: 1.5em;
  color: dimgray;
  font-weight: 500;
  // margin-left: 5vw;
  margin-bottom: 20px;
  font-variant: small-caps;
}

.fa-check {
  color: green;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.field-label {
  font-weight: 400;
}

.field-value {
  font-weight: 600;
  color: #006bb7;

  .fa-times {
    color: red;
  }
}

.text-right {
  text-align: right;
}

.bill-summary-table,
.contract-summary-table {
  width: 100%;
  border: 1px solid dimgray;
  font-size: 0.9em;
  border-collapse: collapse;
  th,
  td {
    padding: 1px 3px;
  }
}

.brick {
  // flex-grow: 1;
  min-width: 300px;
}

#customer-information {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;
}

tr.row_border_top td {
  border-top: 1px solid dimgray;
}

#order-contacts,
#order-schedule,
#order-billing,
#order-attachments,
#order-tasks,
#order-map {
  padding-top: 20px;
}

#navTab {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid lightgray;
  padding: 0px 20px 0px 20px;
  overflow-y: auto;
  height: calc(100vh - 120px);
  position: fixed;
  width: 260px;
}

#order-info {
  margin-left: 275px;
  flex: 1 1 auto;
  // overflow: auto;
}

#order-stepper {
  display: flex;
  margin: 0px 20px;
  // flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tax-note {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

.summary-header {
  background-color: dimgray;
  color: white;
  font-variant: small-caps;
  padding: 0px 5px;
  // margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

// @media only screen and (max-width: 1100px) {
//   .stepper {
//     display: none;
//   }
// }

// .lbs,
// .dollar,
// .percent-col {
//   display: flex;
//   flex-flow: row nowrap;
//   align-items: center;
//   justify-content: flex-end;
// }

.mytable2 {
  border-collapse: collapse;

  input {
    // width:60px;
    border: 0px solid lightgray;
    // &:hover {
    //   border: 1px solid lightgray;
    //   background-color: lightyellow;
    // }
  }
  td,
  th {
    // border-bottom:1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 2px 10px;
    white-space: nowrap;
    font-weight: 400;
  }
  tr:last-child {
    border-bottom: 1px solid lightgray;
  }
  th {
    font-size: 0.825em;
    background-color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    max-height: 20px;
  }
  tr {
    td:not(:first-child) {
      text-align: right;
    }
    td:first-child {
      text-align: left;
    }
  }
  tfoot {
    tr {
      th:not(:first-child) {
        text-align: right;
      }
      th:first-child {
        text-align: left;
      }
    }
    td {
      background-color: #f5f5f5;
    }
  }
}
</style>
