<template>
  <v-container fluid :style="backgroundStyle">
    <gallery />
  </v-container>
  <!-- <v-main :style="backgroundStyle">
  </v-main> -->
</template>

<script>
import Gallery from '@/components/Gallery'
import { backgroundStyle } from '@/functions'

export default {
  components: {
    Gallery
  },
  data() {
    return {
      loading: false,
      loadingImages: false,
      folder: '',
      images: [],
      folders: []
    }
  },
  computed: {
    backgroundStyle
  }
}
</script>

<style lang="scss">
.v-image__image--preload {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
</style>

<style lang="scss" scoped>
.gallery-title {
  transform: rotate(-45deg);
  letter-spacing: 0.15em;
  margin-top: 10px;
  margin-left: 10px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: orange;
}

.page-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.page-row.centered {
  justify-content: center;
}

.page {
  background-color: white;
  overflow-y: auto;
  width: 90vw;
  // max-height: 200px;
  border-radius: 20px;
}

.photo-list {
  justify-content: space-around;
  /* justify-content: center; */
}

.folder {
  display: flex;
  flex-flow: column;
  margin: 10px 40px 10px 10px;
  align-items: center;
  cursor: pointer;
  // :hover {
  // }
}

.hover-italic:hover {
  // font-style: italic;
  color: #006bb7;
}

.page-row.header-bar {
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 10px;
  min-height: 100px;
  max-height: 120px;
}

.wide {
  width: 100%;
}

.photos {
  margin-top: 20px;
  padding-top: 10px;
  height: calc(100vh - 180px);
}

.img-preview {
  // box-shadow: 0px 5px 10px 5px dimgray;
  cursor: pointer;
  border-radius: 5px;
}

.img-preview:hover {
  box-shadow: 0px 5px 10px 5px #006bb7;
  // transition-delay: 1s;
  // transition-delay: 200ms;
  transition-property: box-shadow;
  // transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
</style>
