<template>
  <v-app>
    <v-main :style="backgroundStyle">
      <v-container fluid>
        <modal name="passcode" :clickToClose="false" height="auto" classes="overlayed">
          <!-- <v-btn icon :to="{ name: 'Login' }" class="mx-3" title="Login Page">
              <v-icon>fa-chevron-left</v-icon>
            </v-btn> -->
          <div style="margin: 20px;">
            <!-- <v-img src="img/Frazier.png" contain width="250" :to="{ name: 'Login' }" style="cursor: pointer;margin: 10px 20px;" title="Login Page" /> -->
            <div style="border-bottom: 1px solid lightgray;">
              <v-img src="img/Frazier.png" contain width="250" @click="$router.push({ name: 'Login' })" style="cursor: pointer;margin: 10px 20px;" title="Login Page" />
            </div>
            <div style="display: flex; justify-content: center; align-items:center; padding: 20px 0px;">
              <v-text-field label="Passcode" v-model="passcode" :rules="rules.required" style="max-width: 400px;" hint="Password required to access gallery" persistent-hint autofocus type="password" @keyup.enter="validate" />
              <v-btn @click="validate" class="mx-3" color="primary" small :disabled="passcode.length === 0" :loading="validating">Submit</v-btn>
            </div>
          </div>
        </modal>
        <gallery standalone v-if="validated" />
        <loading :show="loading || validating" />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Gallery from '@/components/Gallery'
import Loading from '../components/Loading.vue'
import api from '@/api'
import { backgroundStyle, rules } from '@/functions'
import { DEBUG } from '@/constants'

export default {
  components: {
    Gallery,
    Loading
  },
  data() {
    return {
      // valid: false,
      rules,
      loading: false,
      validating: false,
      loadingImages: false,
      folder: '',
      passcode: '',
      images: [],
      folders: []
    }
  },
  computed: {
    // rules,
    backgroundStyle,
    validated() {
      return this.onNull(this.token, '').length > 0
    },
    token() {
      return this.$store.state.user.gallery
    }
  },
  watch: {
    loading(val) {
      let id = 'loading gallery'
      if (val) {
        this.ShowLoading(id)
      } else {
        this.HideLoading(id)
      }
    },
    validating(val) {
      let id = 'validating access'
      if (val) {
        this.ShowLoading(id)
      } else {
        this.HideLoading(id)
      }
    },
    validated() {
      this.requirePasscode()
    }
  },
  mounted() {
    this.requirePasscode()
  },
  beforeDestroy() {
    if (DEBUG) console.warn('remove gallery access')
    this.$store.commit('user/setGalleryAccess', false)
  },
  methods: {
    validate() {
      if (this.passcode.length > 0) {
        this.validating = true
        api
          .get('security/validategalleryaccess', {
            passcode: this.passcode
          })
          .then(response => {
            this.validating = false
            // this.valid = response.data.valid
            this.$store.commit('user/setGalleryAccess', response.data.token)
          })
          .catch(() => {
            this.validating = false
          })
      } else {
        this.Alert('Password cannot be blank!', 'warning')
      }
    },
    requirePasscode() {
      if (!this.validated) {
        this.$modal.show('passcode')
      } else {
        this.$modal.hide('passcode')
      }
    }
  }
}
</script>

<style lang="scss">
.v-image__image--preload {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
</style>

<style lang="scss" scoped>
.overlayed {
  background-color: greenyellow;
  color: blue;
  border: 3px solid yellow;
}
</style>
