<template>
  <v-container class="myCenter" :style="backgroundStyle" fluid>
    <account :info="user" style="width: 50vw" />
  </v-container>
</template>

<script>
import axios from 'axios'
import Account from '@/components/Account'
import { EventBus, SHOW_ERROR } from '@/EventBus'
import { backgroundStyle } from '@/functions'

export default {
  name: 'UserProfile',
  components: {
    Account
  },
  data() {
    return {
      valid: true,
      user: null,
      success: false,
      error: false
    }
  },
  computed: {
    backgroundStyle
  },
  mounted() {
    this.load()
  },
  methods: {
    clear() {
      this.$refs.form.reset()
    },
    load() {
      axios
        .get('security/GetMyUser')
        .then(response => {
          this.user = response.data.user
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'Unexpected error has occurred.')
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.design {
  /* background-image: url('@/img/rack/high-rise.jpg'); */
  background-size: cover;
  background-attachment: fixed;
}
</style>