<template>
  <v-container fluid>
    <!-- style="
        display: flex;
        justify-content: center;
        height: calc(100vh - 195px)
      " -->

    <div>
      <div style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;">
        <div class="myPageTitle">
          Reports
        </div>
        <!-- <v-tooltip right>
          <template #activator="hidden">
            <v-btn @click="hide = !hide" icon v-on="hidden.on"
              ><v-icon>fa-eye{{ hide ? '-slash' : '' }}</v-icon>
            </v-btn>
          </template>
          {{ hide ? 'Show' : 'Hide' }}
        </v-tooltip> -->
        <!-- <v-btn-toggle v-model="view" mandatory shaped tag="span">
          <v-btn value="criteria"><v-icon left>fa-edit</v-icon>criteria</v-btn>
          <v-btn value="results"
            ><v-icon left>fal fa-table</v-icon>results</v-btn
          >
        </v-btn-toggle> -->
        <div style="display: flex; width: 100%; justify-content: center;">
          <v-alert border="left" type="info" dense style="font-style: italic; font-weight: 400; margin-left: 20px;" text>
            Use this page to run reports on individual, multiple, or all portal
            users. The criteria tab is used to select report parameters & the
            results tab shows the report's result data after clicking 'Run
            Report'.
          </v-alert>
        </div>
      </div>
      <div>
        <div id="criteria" class="report">
          <div style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;">
            <v-select class="subtitle my-2" label="Report Type" :items="reports" v-model="report" return-object item-text="text" outlined success hide-details />
            <v-checkbox label="Select All Users" v-model="selectAll" :disabled="disableControls" class="pa-0 mx-2" dense style="max-width: 450px" hide-details />
            <!-- @change="(val) => updateUserList(val)" -->
            <v-checkbox label="Include Employees" v-model="includeEmployees" :disabled="disableControls" class="pa-0 mx-2" dense style="max-width: 450px" hide-details />
            <v-autocomplete label="Select User(s)" :items="users" v-model="selected" :disabled="selectAll || disableControls" dense hide-details clearable multiple class="px-2 mx-2">
              <template #selection="{ item, index }">
                <v-chip v-if="index === 0 && !selectAll" small>{{ selected.length }} users selected</v-chip>
              </template>
              <template #no-data>
                <v-chip v-if="selectAll" color="primary">
                  All users selected
                </v-chip>
              </template>
            </v-autocomplete>
            <div>
              <v-menu v-model="dates.menu" :close-on-content-click="false" offset-y><template #activator="calendar">
                  <v-btn v-on="calendar.on" color="warning" icon large title="Edit Dates" :disabled="disableDates">
                    <v-icon>fas fa-calendar-edit</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <v-row no-gutters justify="space-between"><span class="myPageTitle">Select Date Criteria</span>
                      <v-btn @click="defaultDates" color="error" outlined>
                        clear dates <v-icon right>fa-calendar-times</v-icon>
                      </v-btn>
                    </v-row>
                  </v-card-title>
                  <v-card-text>
                    <div style="
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
                        margin-bottom: 5px;
                        padding-bottom: 5px;
                      ">
                      <div class="date-brick">
                        <v-row no-gutters justify="space-between" align="center">
                          <!-- <v-switch
                        label="Start Date"
                        class="pa-0 my-2"
                        dense
                        hide-details
                        v-model="dates.start.enabled"
                        prepend-icon="far fa-sm fa-filter"
                      /> -->
                          <div style="font-size: 1.05em; font-weight: bold">
                            <v-icon small left>far fa-filter</v-icon>Start Date
                          </div>
                          <v-tooltip left>
                            <template #activator="start">
                              <v-btn icon color="error" v-on="start.on" @click="dates.start.value = null" :disabled="dates.start.value === null">
                                <v-icon>fa-times</v-icon>
                              </v-btn>
                            </template>
                            Clear Start Date
                          </v-tooltip>
                        </v-row>
                        <v-date-picker v-model="dates.start.value" :disabled="!dates.start.enabled" :color="
                            dates.start.value === null ? 'primary' : 'success'
                          " :allowed-dates="startDates"></v-date-picker>
                      </div>
                      <div class="date-brick">
                        <v-row no-gutters justify="space-between" align="center">
                          <div style="font-size: 1.05em; font-weight: bold">
                            <v-icon small left>far fa-filter</v-icon>End Date
                          </div>
                          <!-- <v-switch
                        label="End Date"
                        class="pa-0 my-2"
                        dense
                        hide-details
                        v-model="dates.end.enabled"
                        prepend-icon="far fa-sm fa-filter"
                      /> -->
                          <v-tooltip left>
                            <template #activator="end">
                              <v-btn icon color="error" v-on="end.on" @click="dates.end.value = null" :disabled="dates.end.value === null">
                                <v-icon>fa-times</v-icon>
                              </v-btn>
                            </template>
                            Clear End Date
                          </v-tooltip>
                        </v-row>
                        <v-date-picker v-model="dates.end.value" :disabled="!dates.end.enabled" :color="
                            dates.end.value === null ? 'primary' : 'success'
                          " :allowed-dates="endDates"></v-date-picker>
                      </div>
                    </div>
                  </v-card-text>
                  <!-- <v-card-actions>
              <v-row no-gutters justify="space-between"
                ><v-btn @click="dates.menu = false" color="success" block
                  >close date editor</v-btn
                >
              </v-row>
            </v-card-actions> -->
                </v-card>
              </v-menu>
              <span style="font-weight: 500">
                {{ dateCriteriaDesc }}
              </span>
            </div>
            <v-tooltip right>
              <template #activator="reset">
                <v-btn title="Reset Fields" @click="defaultFields" icon x-small class="mx-3" v-on="reset.on" :disabled="disableDates">
                  <v-icon>fa-undo</v-icon>
                </v-btn>
              </template>
              Reset Fields
            </v-tooltip>
          </div>
          <div>
            <v-btn :disabled="selected.length == 0 && !selectAll" @click="runReport" class="mx-1" color="primary" small>
              run report
              <v-icon right small>fal fa-search</v-icon>
            </v-btn>
            <v-btn :disabled="selected.length == 0 && !selectAll" @click="exportReport" class="mx-1" color="success" small>export to excel
              <v-icon right small>fal fa-file-excel</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <my-table v-if="records !== null && records.length > 0" :items="records" customStyle="height: calc(100vh - 350px)" class="small-font">
        <template #header>
          <tr>
            <th v-for="(header, h) in headers" :key="h" :field="header">
              {{ header }}
            </th>
          </tr>
        </template>
        <template #body="{ items }">
          <tr v-for="(item, i) in items" :key="i">
            <td v-for="(header, h) in headers" :key="h">
              <div :style="styleItem(item, header)" v-html="displayItem(item, header)" />
            </td>
          </tr>
        </template>
      </my-table>
      <div v-else>
        <v-alert type="warning" text class="mt-4" style="display: flex; justify-content: center" border="bottom">
          Enter report criterias (<span style="font-style: italic; font-weight: 500">report type, users, date range, etc.</span>) and click 'Run Report' to see
          <span style="font-weight: bolder">{{
            report !== null ? report.text : ''
          }}</span>
          data.
        </v-alert>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
import { EventBus, ShowLoading, HideLoading, FLASH_SUCCESS, SHOW_ERROR, CONFIRM_INFO, SHOW_INFO, DATE_FORMAT } from '@/EventBus'
import MyTable from '@/components/MyTable'
// import MyDateButton from '@/components/MyDateButton'
import { onNull } from '@/functions'
import moment from 'moment'
require('moment-timezone')

export default {
  name: 'Reports',
  components: {
    MyTable
    // MyDateButton
  },
  data() {
    return {
      // view: 'criteria',
      users: [],
      records: [],
      selected: [],
      valid: false,
      loading: false,
      hide: false,
      selectAll: true,
      includeEmployees: false,
      reports: [],
      report: null,
      dates: {
        menu: false,
        start: {
          enabled: true,
          value: null
        },
        end: {
          enabled: true,
          value: null
        }
      }
    }
  },
  computed: {
    headers() {
      if (this.records !== null && this.records.length > 0) {
        return Object.keys(this.records[0])
      }

      return []
    },
    today() {
      return moment().format(DATE_FORMAT)
    },
    dateCriteriaDesc() {
      let f = 'LL'
      let msg = ''

      if (this.dates.start.value !== null && this.dates.end.value !== null) {
        if (moment(this.dates.start.value).isSame(this.dates.end.value)) {
          msg = `Only on ${moment(this.dates.start.value).format(f)}`
        } else {
          msg = `Between ${moment(this.dates.start.value).format(f)} - ${moment(this.dates.end.value).format(f)}`
        }
      } else if (this.dates.start.value !== null) {
        msg = `On or after ${moment(this.dates.start.value).format(f)}`
      } else if (this.dates.end.value !== null) {
        msg = `On or before ${moment(this.dates.end.value).format(f)}`
      } else {
        msg = 'No Dates Selected'
      }

      return msg
    },
    disableControls() {
      // console.warn(this.report)
      // let noParams = ['orderitems', 'userlist', 'usersalescs']
      // if (this.report !== null && noParams.includes(onNull(this.report.value.toLowerCase(), ''))) {
      //   return true
      // }

      if (this.report && this.report.props) {
        return !this.report.props.ControlsEnabled
      }

      return true
    },
    disableDates() {
      // console.warn(this.report)
      // let noParams = ['userlist', 'usersalescs']
      // if (this.report !== null && noParams.includes(onNull(this.report.value.toLowerCase(), ''))) {
      //   return true
      // }

      if (this.report && this.report.props) {
        return !this.report.props.DatesEnabled
      }

      return true
    }
  },
  mounted() {
    this.load()
    this.getReportTypes()
    this.defaultFields()
  },
  methods: {
    moment,
    onNull,
    load() {
      axios
        .get('security/GetAllUsers')
        .then((response) => {
          this.users = response.data.users
            .filter((p) => !p.Admin)
            .map((item, index) => ({
              id: index,
              value: item.UserID,
              text: item.EmailAddress
            }))
          HideLoading('Load Users')
        })
        .catch((error) => {
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unexpected error has occurred.'))
          HideLoading('Load Users')
        })
    },
    displayItem(row, field) {
      let dateTimeFields = ['log_date_time', 'datecreatedutc', 'lastlogin']
      let dateFields = ['order_date']
      let value = row !== null && field !== null ? row[field] : ''

      const useOld = false // true

      if (useOld) {
        if (dateTimeFields.indexOf(field.toLowerCase()) > -1 && value && value.length > 0 && moment(value).isValid()) {
          // console.warn(`field: ${field} | value: ${value} | tz: ${tz}`)
          // let date = moment(value)
          // x = moment.utc(this.value)
          // let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          // // let msg = `localizing ${tz} datetime ${x}`
          // x = x.tz(tz)

          let tz = Intl.DateTimeFormat().resolvedOptions().timeZone
          value = value.toString().endsWith('Z') ? moment(value).tz(tz).format('LLL') : moment.utc(value).tz(tz).format('LLL')
        } else if (dateFields.indexOf(field.toLowerCase()) > -1 && value.length > 0 && moment(value).isValid()) {
          value = moment(value).format('LL')
        }
      }
      else {
        // if (value != null && typeof value == 'string' && (value.includes('true') || value.includes('false'))) console.log('displayItem', { row, field, value })

        if (value != null) {
          // console.log('displayItem', { row, field, value, type: typeof value })
          if (isNaN(value)) {
            if (moment(value).isValid() && value.includes('-')) {
              // console.log('time', value)
              if (value.includes('T') && value.includes(':')) {
                let tz = Intl.DateTimeFormat().resolvedOptions().timeZone
                value = value.toString().endsWith('Z') ? moment(value).tz(tz).format('lll') : moment.utc(value).tz(tz).format('lll')
              } else {
                value = moment(value).format('ll')
              }
            }

          }
          else if (typeof value == 'boolean') {

            value = value ? '&#10004;' : '&#10008;'
            // if (value.toLowerCase().trim() == 'true') value = '<span style="color: green;">&#10004;</span>'
            // else if (value.toLowerCase().trim() == 'false') value = '<span style="color: red;">&#10008;</span>'
          }
        } else {

          // if (value == undefined) console.warn('value undefined', { row, field })
        }
      }


      return value
    },
    styleItem(row, field) {
      let value = row !== null && field !== null ? row[field] : ''
      let props = {}

      if (value != null) {
        // let textAlign = 'normal'

        props['text-align'] = !isNaN(value) ? (Number(value) % 1 == 0 ? 'center' : 'right') : (typeof value == 'boolean' || ['true', 'false'].includes(value.toLowerCase()) ? 'center' : (value.length == 1 ? 'center' : 'left'))

        if (typeof value == 'boolean') {
          props['color'] = value ? 'green' : 'red'
          props['font-size'] = 'large' // '1.1em'
          // if (value.toLowerCase() == 'true')
          //   props['color'] = 'green'
          // else if (value.toLowerCase() == 'false')
          //   props['color'] = 'red'
        }
      }

      return props
    },
    getReportTypes() {
      axios
        .get('report/GetReportTypes')
        .then((response) => {
          this.reports = response.data
          if (this.reports.length > 0) {
            this.report = this.reports[0]
          } else {
            this.report = null
          }
        })
        .catch(() => {
          EventBus.$emit(SHOW_ERROR, 'Error retrieving reports. Please try again.')
        })
    },
    exportReport() {
      EventBus.$emit(CONFIRM_INFO, `Export ${this.report.text} to excel?`, () => {
        ShowLoading('Exporting')
        axios
          .get('report/ExportReport', {
            params: {
              Type: this.report.value,
              Data: JSON.stringify(this.selectAll ? [] : this.selected),
              StartDate: this.dates.start.value,
              EndDate: this.dates.end.value,
              SelectAll: this.selectAll,
              IncludeEmployees: this.includeEmployees
            },
            responseType: 'blob'
          })
          .then((response) => {
            const url = window.URL.createObjectURL(new Blob([response.data]))
            const link = document.createElement('a')
            link.href = url
            let filename = `temp_${moment().format('YYYY-MM-DDTHH_mm_ss')}.xlsx`
            link.setAttribute('download', filename)
            document.body.appendChild(link)
            link.click()
            document.body.removeChild(link)
            EventBus.$emit(FLASH_SUCCESS, 'Export downloaded!')
          })
          .catch((error) => {
            console.error(error)
            EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred while downloading the exported excel file!')
          })
          .finally(() => {
            HideLoading('Exporting')
          })
      })
    },
    runReport() {
      EventBus.$emit(CONFIRM_INFO, `Run ${this.report.text}?`, () => {
        ShowLoading('Running')
        axios
          .get('report/RunReport', {
            params: {
              Type: this.report.value,
              Data: JSON.stringify(this.selectAll ? [] : this.selected),
              StartDate: this.dates.start.value,
              EndDate: this.dates.end.value,
              SelectAll: this.selectAll,
              IncludeEmployees: this.includeEmployees
            }
          })
          .then((response) => {
            // this.view = 'results'
            this.records = response.data
            if (onNull(this.records, []).length === 0) {
              EventBus.$emit(SHOW_INFO, 'No records found')
            }
          })
          .catch((error) => {
            console.error(error)
            EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred while running this report!')
          })
          .finally(() => {
            HideLoading('Running')
          })
      })
    },
    updateUserList(val) {
      if (val) {
        this.selected.splice(0, this.selected.length)
      }
    },
    onResize() {
      let offset = 500
      let height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - offset
      this.height = height
    },
    defaultFields() {
      if (this.reports.length > 0) {
        this.report = this.reports[0]
      }
      this.selectAll = true
      this.includeEmployees = false
      this.selected.splice(0, this.selected.length)
      this.defaultDates()
    },
    defaultDates() {
      this.dates.start.value = null
      this.dates.end.value = null
    },
    defaultToday() {
      this.dates.start.value = moment().format(DATE_FORMAT)
      this.dates.end.value = moment().format(DATE_FORMAT)
    },
    startDates(val) {
      let valid = false

      if (this.dates.end.value == null) {
        valid = true
      } else {
        valid = moment(val).isSameOrBefore(this.dates.end.value)
      }

      return valid && moment(val).isSameOrBefore(this.today)
    },
    endDates(val) {
      let valid = false

      if (this.dates.start.value == null) {
        valid = true
      } else {
        valid = moment(val).isSameOrAfter(this.dates.start.value)
      }

      return valid && moment(val).isSameOrBefore(this.today)
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-name {
  font-size: 1.05em;
  font-weight: bold;
  div {
    display: flex;
    flex-flow: row nowrap;
  }
}

.date-brick {
  border: 1px solid dimgray;
  border-radius: 5px;
  margin: 10px;
  padding: 1px;
}

#criteria {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  border: 1px dashed dimgray;
  border-radius: 10px;

  .subtitle {
    font-size: 1.05em;
    font-weight: bold;
    color: dimgray;
    // padding-bottom: 10px;
  }
  div {
    padding: 0px 15px 0px 15px;
  }
}

.reports {
  height: calc(100vh - 250px);
  max-width: 750px;
  overflow-y: auto;
}
</style>
