<template>
  <v-app>
    <v-main :style="backgroundStyle">
      <v-container fluid fill-height>
        <v-layout row align-center justify-center>
          <v-flex xs8 sm6 md4 lg>
            <loading label="Please Wait"></loading>
            <v-form v-model="valid" ref="form">
              <v-card>
                <v-card-title primary-title style="border-bottom: 1px solid lightgray">
                  <div style="display: flex; align-items: center">
                    <v-btn large icon color="primary" :to="{ name: 'Login' }">
                      <v-icon>fas fa-arrow-left</v-icon>
                    </v-btn>
                    <img src="img/Frazier.png" style="width: 180px" />
                    <!-- <router-link :to="{ name: 'Login' }"><img src="img/Frazier.png" style="width:180px;"/></router-link> -->
                    <div class="myPageTitle">Reset Password</div>
                  </div>
                </v-card-title>
                <v-card-text>
                  <div style="width: 100%">
                    <v-skeleton-loader v-if="validating" type="article">
                    </v-skeleton-loader>
                    <div v-else-if="hasValidation">
                      <v-text-field label="Enter New Password" hint="Password requirements: minimum length of 12 characters; at least one special character" v-model="newPassword" :rules="rules.password" type="password" prepend-icon="fas fa-shield"
                        style="width: 100%" @keyup.enter.native="reset" counter clearable required></v-text-field>
                      <password :strength-meter-only="true" :secure-length="12" v-model="newPassword"></password>
                      <v-text-field label="Re-enter New Password" hint="Password requirements: minimum length of 12 characters; at least one special character" v-model="confirmPassword" :rules="rules.password" type="password"
                        prepend-icon="fas fa-shield" style="width: 100%" @keyup.enter.native="reset" counter clearable required></v-text-field>
                      <password :strength-meter-only="true" :secure-length="12" v-model="confirmPassword"></password>
                    </div>
                    <div v-else>
                      <v-alert outlined dense type="warning" class="ma-3">
                        <!-- style="font-size: 1.05em; font-weight: bold" -->
                        This link has expired. Please start the process from the
                        &nbsp;
                        <router-link :to="{ name: 'ForgotPassword' }">
                          Forgot Password
                        </router-link>
                        &nbsp;page.
                      </v-alert>
                    </div>
                  </div>
                </v-card-text>
                <v-card-actions>
                  <v-row no-gutters>
                    <v-btn block @click="reset" :disabled="!valid || !hasValidation" color="primary" :loading="loading">RESET</v-btn>
                  </v-row>
                </v-card-actions>
              </v-card>
            </v-form>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import axios from 'axios'
import loading from '@/components/Loading'
import { ShowLoading, HideLoading, EventBus, SHOW_SUCCESS, SHOW_ERROR, SHOW_WARNING } from '@/EventBus'
import swal from 'sweetalert'
import { onNull, rules, backgroundStyle } from '@/functions'
import Password from 'vue-password-strength-meter'

export default {
  name: 'ResetPassword',
  components: {
    loading,
    Password
  },
  props: ['resetID'],
  data() {
    return {
      loading: false,
      validating: false,
      valid: false,
      newPassword: '',
      confirmPassword: '',
      success: false,
      response: null,
      hasValidation: true,
      language: 'en',
      rules
    }
  },
  computed: {
    backgroundStyle
  },
  created() {
    EventBus.$on(SHOW_SUCCESS, msg => {
      this.SweetAlert(msg, 'success', true)
    })
    EventBus.$on(SHOW_ERROR, msg => {
      this.SweetAlert(msg, 'error', true)
    })
    EventBus.$on(SHOW_WARNING, msg => {
      this.SweetAlert(msg, 'warning', true)
    })
    document.title = process.env.VUE_APP_TITLE
  },
  mounted() {
    this.validateResetID()
  },
  methods: {
    clear() {
      this.$refs.form.reset()
    },
    validateResetID() {
      ShowLoading('Validate ResetID')
      this.validating = true
      if (this.resetID !== null) {
        axios
          .post('security/ValidateResetID', {
            ResetID: this.resetID
          })
          .then(response => {
            this.validating = false
            this.hasValidation = response.data.success
            HideLoading('Validate ResetID')
            // EventBus.$emit((this.hasValidation ? SHOW_SUCCESS : SHOW_ERROR), this.response.data.response)
          })
          .catch(() => {
            this.validating = false
            HideLoading('Validate ResetID')
          })
        // .catch(error => {
        //   // console.error(error)
        //   this.success = false
        //   this.response = error.data.response
        //   EventBus.$emit(SHOW_ERROR, this.response)
        // })
      }
    },
    reset() {
      if (this.newPassword === this.confirmPassword) {
        if (this.valid) {
          this.loading = true
          axios
            .post('security/ResetPassword', {
              // Email: this.email
              NewPassword: this.newPassword,
              ConfirmPassword: this.confirmPassword,
              ResetID: this.resetID
            })
            .then(response => {
              this.response = response.data.response
              this.success = true
              this.loading = false
              EventBus.$emit(SHOW_SUCCESS, this.response)
              this.$router.push({ name: 'Login' })
            })
            .catch(error => {
              this.response = onNull(error.response.data, 'An unknown error has occurred. Please refresh and try again.')
              EventBus.$emit(SHOW_ERROR, this.response)
              // console.error(error)
              this.success = false
              this.loading = false
            })
        }
      } else {
        let msg = 'New password and Confirmed password must be the same.'
        console.error(msg)
        EventBus.$emit(SHOW_WARNING, msg)
      }
    },
    SweetAlert(msg, type, confirm = false) {
      return swal({
        text: msg,
        icon: type,
        timer: !confirm ? 2000 : null,
        button: confirm
      })
    }
  }
}
</script>
