<template>
  <v-container fluid>
    <div>
      <div
        style="
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          width: 100%;
          margin-bottom: 15px;
        ">
        <v-row no-gutters align="start">
          <v-text-field
            prepend-icon="fa-search"
            label="Search"
            @keyup.enter.native="getSearch"
            v-model="searchText"
            style="max-width: 40vw"
            dense
            hint="Search for order or contact information"
            clearable></v-text-field>
          <v-btn
            @click="getSearch"
            :loading="loading"
            :disabled="onNull(searchText, '').length === 0"
            color="primary"
            class="mx-3">search <v-icon right>fal fa-search</v-icon></v-btn>
          <span style="align-self: center">{{ searchResults }}</span>
        </v-row>

        <v-btn-toggle v-model="searchView" mandatory>
          <v-btn value="Orders">Orders</v-btn>
          <v-btn value="Contacts">Contacts</v-btn>
        </v-btn-toggle>
      </div>
      <v-row no-gutters>
        <v-card elevation="24" style="width: 100%" justify="center">
          <!-- <v-card-title style="border-bottom: 1px solid lightgray; margin-bottom: 30px;"></v-card-title> -->
          <v-card-text>
            <v-data-table
              :headers="order.headers"
              :items="order.details"
              item-key="OrderNum"
              :height="order.height"
              fixed-header
              v-resize="onResize"
              :search="order.filter"
              :footer-props="footer"
              v-if="searchView == 'Orders'">
              <template v-slot:top>
                <v-text-field
                  prepend-icon="fa-search"
                  label="Filter"
                  v-model="order.filter"
                  outline
                  clearable
                  class="px-5"></v-text-field>
              </template>
              <template v-slot:item.OrderNum="{ item }">
                <v-btn
                  outlined
                  color="primary"
                  :to="{
                    name: 'Order',
                    params: { orderNum: item.OrderNum },
                  }">{{ item.OrderNum }}</v-btn>
              </template>
            </v-data-table>
            <v-data-table
              v-else
              :headers="contact.headers"
              :items="contact.details"
              item-key="OrderNum"
              :height="contact.height"
              fixed-header
              :footer-props="footer"
              v-resize="onResize"
              :search="contact.filter">
              <template v-slot:top>
                <!-- <v-row justify="end">
                      <v-col cols="7"> -->
                <v-text-field
                  prepend-icon="fa-search"
                  label="Filter"
                  v-model="contact.filter"
                  outline
                  clearable
                  class="px-5"></v-text-field>
                <!-- </v-col>
                    </v-row> -->
              </template>
              <template v-slot:item.action="{ item }">
                <!-- <router-link :to="{name: 'Order', params: { orderNum: orders.item.OrderNum }}"></router-link> -->
                <v-btn
                  icon
                  color="primary"
                  :to="{
                    name: 'Contacts',
                  }"><v-icon>fa-share</v-icon></v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-row>
    </div>
  </v-container>
</template>

<script>

import { SHOW_ERROR, EventBus, ShowLoading, HideLoading } from '@/EventBus'
import axios from 'axios'
import { onNull } from '@/functions'

export default {
  name: 'Search',
  data() {
    return {
      orderResults: null,
      loading: false,
      sorry: false,
      searchView: 'Orders',
      searchText: '',
      searchResults: '',
      order: {
        headers: [
          { text: 'Order #', value: 'OrderNum' },
          { text: 'Sold To', value: 'SoldTo' },
          { text: 'Ship To', value: 'OTSName' },
          { text: 'Address', value: 'OTSAddress1' },
          { text: 'City', value: 'OTSCity' },
          { text: 'State', value: 'OTSState' }
        ],
        details: [],
        height: null
      },
      contact: {
        headers: [
          { text: '', value: 'action' },
          { text: 'Name', value: 'Name' },
          { text: 'Email', value: 'Email' },
          { text: 'Title', value: 'Title' },
          { text: 'Phone', value: 'Phone' }
        ],
        details: [],
        height: null
      },
      footer: {
        itemsPerPageOptions: [100, 200, 500, -1]
      }
    }
  },
  computed: {
    orders: function() {
      return this.orderResults != null ? this.searchText !== null && this.searchText.length > 0 ? this.orderResults : this.empty : this.empty
    }
  },
  methods: {
    onNull,
    getSearch() {
      this.loading = true
      ShowLoading('Get Search')
      axios.get('order/GetSearchResults', { params: { searchText: this.searchText } })
        .then(response => {
          this.loading = false
          HideLoading('Get Search')
          this.order.details = response.data.orderData
          this.contact.details = response.data.contactData
          if (onNull(this.order.details, []).length === 0 && onNull(this.contact.details, []).length === 0) {
            EventBus.$emit(SHOW_ERROR, 'No orders or contacts could be found')
          }
          this.searchResults = `${onNull(this.order.details, []).length} orders & ${onNull(this.contact.details, []).length} contacts found.`
          // this.sorry = (this.orders === null || this.orders.length === 0)
        })
        .catch(error => {
          this.loading = false
          HideLoading('Get Search')
          console.error(error)
        })
    },
    onResize() {
      let offset = 400
      this.order.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - offset
      this.contact.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - offset
    }
  }
}
</script>

<style lang="scss" scoped>
.orders-table {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      border-bottom: 1px solid gray;
    }
  }
  tbody td {
    height: 30px;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
  }

  // tbody tr:hover {
  //   // background-color:orange;
  // }
  // tbody tr:nth-child(odd) {
  //   // background-color:lightgray;
  // }
}

.header {
  font-size: 0.7em;
  color: dimgray;
}

.field {
  margin-bottom: 2px;
  font-size: 0.9em;
  font-weight: 450;
}

.brick {
  border: 1px solid #e66b20;
  padding: 4px;
  // text-align:center;
  line-height: 20px;
  font-size: 1.2em;
  // margin-right:20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px #adadad;
  width: 420px; // 410px;
  // height: 485px;
  // min-width: 410px;
  // max-width: 410px;
  // min-height: 465px;
  // position: relative;
  padding-bottom: 30px;
}

// .brick {
//   border: 1px solid #e66b20;
//   padding:4px;
//   // text-align:center;
//   line-height:20px;
//   font-size:1.2em;
//   margin-right:20px;
//   margin-bottom:20px;
//   box-shadow: 5px 5px 15px #ADADAD;
//   width: 410px;
//   height: 485px;
//   // min-width: 410px;
//   // max-width: 410px;
//   // min-height: 465px;
//   position: relative;
//   padding-bottom:30px;
// }

// .brick-container {
//   display:flex;
//   flex-flow: row wrap;
//   justify-content: space-around;
// }

.click_details {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

// Google Static Map
#google_img {
  width: 100%;
  height: 100%;
}
</style>
