<template>
  <v-container fluid style="display: flex; justify-content: center;">
    <div class="page">
      <div class="title" style="border-bottom: 1px solid lightgray; display: flex; align-items:center;">
        <div class="myPageTitle">
          Customer Survey: <v-chip color="primary" style="text-transform: uppercase; font-weight: 300;" small v-if="preview">Preview</v-chip><span v-else-if="(orderNum !== null && !completed)">Order #
            <b>{{ orderNum }}</b></span>
        </div>
        <div style="flex: 1 1 auto;" />
        <v-chip v-if="preview && surveyId">ID # {{surveyId}}</v-chip>
        <div style="font-size:.70em;" v-if="this.$store.state.user.role.toLowerCase() === 'admin'">
          <v-select ref="selectPortalUser" label="Select Portal User for Survey" dense clearable style="width:350px;"
            v-model="surveyPortalUserID" :items="usersForOrder"  item-text="NameAndEmail" item-value="UserID" :rules="usersForOrder ? usersForOrder.length > 0 ? rules.required : [] : []">
          </v-select>
        </div>
      </div>
      <div v-if="survey && questions">
        <div class="mt-5" style="border-bottom: 1px solid lightgray">
          <div v-html="survey.DescriptionHTML" />
          <p><span class="required-symbol">*</span> = Response required</p>
        </div>
        <br />
        <v-form v-model="valid" ref="survey-form" style="color: black;">
          <div v-for="(question, i) in questions" :key="i" style="margin-bottom: 10px">
            <div v-html="question.InstructionsHTML" style="margin: 10px 0px; font-weight: bold;" />
            <div style='display: flex; align-items: flex-end;'>
              <div v-html="question.QuestionTextHTML" style="margin: 10px 10px 0px 0px; font-weight: bold;" /><span class="required-symbol" v-if="question.Required">*</span>
            </div>
            <v-checkbox v-if="question.QuestionType == 'Boolean'" class="ml-5" dense hide-details="auto" :label="question.Label" v-model="question.Answer" :input-value="false" :readonly="disabled"></v-checkbox>
            <v-text-field v-else-if="question.QuestionType == 'ShortText'" dense hide-details="auto" class="mt-1" :label="question.Label" v-model="question.Answer" outlined :rules="(question.Required ? rules.required : [])" :readonly="disabled" />
            <div v-else-if="question.QuestionType == 'Phone'" style='max-width: 400px;'>
              <v-form v-model="hasPhone">
              <v-text-field dense hide-details="auto" class="mt-1" :label="question.Label" v-model="question.Answer" outlined placeholder="123-456-7890" validate-on-blur :rules="question.Answer ? rules.phone : []" :readonly="disabled"
                :success-messages="(!!question.Answer && hasPhone ? 'Thank you for your contact information! A Frazier Customer Service Representative will reaching out to you shortly.' : null)" />
              </v-form>
            </div>
            <div class="myCenterRow radio-choices" v-else-if="question.QuestionType == 'Range'">
              <table class="rating-table">
                <thead>
                  <tr>
                    <th></th>
                    <th v-for="(option, i) in getRange(question)" :key="i">
                      {{ option }}
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: right; padding-right: 20px">
                      {{onNull(question.QuestionDetails.MinText, 'Strongly Disagree')}}
                    </td>
                    <td v-for="(option, i) in getRange(question)" :key="i">
                      <v-radio-group hide-details="auto" class="pa-0 ma-0" :rules="(question.Required ? rules.required : [])" v-model="question.Answer" :readonly="disabled">
                        <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                      </v-radio-group>
                    </td>
                    <td style="text-align: left; padding-left: 20px">
                      {{onNull(question.QuestionDetails.MaxText, 'Strongly Agree')}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <v-textarea v-else-if="question.QuestionType == 'LongText'" dense hide-details="auto" class="mt-1" :label="question.Label" v-model="question.Answer" outlined :rules="(question.Required ? rules.required : [])" :readonly="disabled" />
          </div>
        </v-form>
      </div>
      <div style="border-top: 1px solid lightgray; margin-top: 20px; padding-top: 20px;">
        <v-btn block color="primary" @click="submit" v-if="!preview" :disabled="!valid || !hasPhone || isEmployee">Submit Survey</v-btn>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
import api from '@/api'
import store from '@/store'
// import loading from '@/components/Loading'
import { EventBus, SHOW_WARNING, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR } from '../EventBus'
import { rules } from '@/functions'

export default {
  name: 'SurveyForm',
  props: {
    orderNum: {
      type: String
    },
    preview: {
      type: Boolean
    },
    surveyId: {
      type: Number
    }
  },
  data() {
    return {
      questions: null,
      survey: null,
      valid: false,
      completed: false,
      hasPhone: false,
      rules,
      usersForOrder: null,
      surveyPortalUserID: null
    }
  },
  // components: {
  //   loading
  // },
  computed: {
    isEmployee() {
      return store.state.user.role.toUpperCase() === 'EMPLOYEE'
    },
    disabled() {
      return this.orderNum == 0 || this.preview || this.completed
      // if (this.orderNum == 0) {
      //   return
      // }
    }
  },
  mounted() {
    this.load()
    console.log(`this.$store.state.user.proxyId: ${this.$store.state.user.proxyId}`)
  },
  methods: {
    load() {
      if (this.surveyId > 0) {
        this.loadSurvey()
      } else {
        this.loadCurrent()
      }

      if (this.orderNum > 0) {
        let loadingId = 'Load Order Survey'
        ShowLoading(loadingId)
        axios
          .get('order/GetOrder', { params: { OrderNum: this.orderNum } })
          .then(response => {
            HideLoading(loadingId)
            this.order = response.data.orders[0]
            this.completed = response.data.surveyCompleted
            if (this.order === null || !this.order.SurveyReady || this.completed) {
              this.goToSurveys()
              // this.$router.push({ name: })
            }
          })
          .catch(() => {
            // EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
            HideLoading(loadingId)
            this.goToSurveys()
          })

          // if admin user then make call to get all portal users for this order:
          if (this.$store.state.user.role.toLowerCase() === 'admin') {
            axios
              .get('order/GetUsersForOrder', { params: { orderNum: this.orderNum } })
              .then(response => {
                this.usersForOrder = response.data.users.map(user => {
                  return {
                    UserID: user.UserID,
                    NameAndEmail: `${user.FirstName} ${user.LastName} (${user.EmailAddress})`,
                    EmailAddress: user.EmailAddress,
                    FirstName: user.FirstName,
                    LastName: user.LastName
                  }
                }).sort((a, b) => {return a.LastName > b.LastName ? 1 : -1})

                this.surveyPortalUserID = this.usersForOrder ? this.usersForOrder.length > 0 ? this.usersForOrder[0].UserID : null : null
              })
              .catch(() => {
                // EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
              })
          }
          else if (this.$store.state.user.role.toLowerCase() === 'proxy') {
            this.surveyPortalUserID = this.$store.state.user.proxyId
          }
      }
    },
    loadCurrent() {
      ShowLoading('Load Active Survey')
      axios
        .get('security/GetActiveSurvey')
        .then(response => {
          this.survey = response.data.survey
          this.questions = response.data.questions.map(i => {
            return {
              Answer: null,
              ...i
            }
          })
          HideLoading('Load Active Survey')
          var onePhoneField = this.questions.some(question => { return question.QuestionType == 'Phone'})
          this.hasPhone = !onePhoneField
        })
        .catch(() => {
          // EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
          HideLoading('Load Active Survey')
          this.goToSurveys()
        })
    },
    loadSurvey() {
      ShowLoading('Load Survey')
      api
        .get('security/GetSurvey', {
          id: this.surveyId
        })
        .then(response => {
          this.survey = response.data.survey
          this.questions = response.data.questions.map(i => {
            return {
              Answer: null,
              ...i
            }
          })
          HideLoading('Load Survey')
        })
        .catch(() => {
          // EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
          HideLoading('Load Survey')
          this.goToSurveys()
        })
    },
    getRange(question) {
      let range = []
      let min = 0
      let max = 0
      if (question.QuestionDetails) {
        max = question.QuestionDetails.MaxValue
        min = question.QuestionDetails.MinValue
      } else {
        max = 5
        min = 1
      }

      for (let num = min; num <= max; num++) {
        range.push(num)
      }

      return range
    },
    submit() {
      // console.log(this.$refs)
      if (this.valid) {
        ShowLoading('Submit Survey')
        // var surveyResults = [this.answers, this.repurchaseAnswer, this.feedback, this.feedbackResponse]
        // console.log(surveyResults)
        var surveyResults = {
            SurveyID: this.survey.SurveyID,
            OrderNum: this.orderNum,
            SurveyPortalUserID: this.surveyPortalUserID,
            Results: this.questions // surveyResults
          }
          console.log(`surveyResults: ${JSON.stringify(surveyResults)}`)
        axios
          .post('order/SubmitOrderSurvey', {
            SurveyID: this.survey.SurveyID,
            OrderNum: this.orderNum,
            SurveyPortalUserID: this.surveyPortalUserID,
            Results: this.questions // surveyResults
          })
          .then(() => {
            HideLoading('Submit Survey')
            this.goToSurveys()
            EventBus.$emit(SHOW_SUCCESS, `Thank you for completing our survey for ${this.orderNum}!`)
            // EventBus.$emit(SHOW_SUCCESS, 'Thank you for your contact information a Frazier Customer Service Representative will reaching out to you shortly.')
          })
          .catch(error => {
            console.error(error)
            EventBus.$emit(SHOW_ERROR, `An unknown error has occurred for ${this.orderNum}!`)
          })
      } else {
        EventBus.$emit(SHOW_WARNING, 'Input required. Please answer all questions.')
      }
    },
    goToSurveys() {
      if (!this.preview) {
        this.$router.push({ name: 'SurveyList' })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// question commented out
// td.communications > div {
//   margin: -25px -25px -25px 0px;
// }

table.rating-table {
  // text-align: center;
  // width: 100%;

  tbody > tr > td:first-child,
  tbody > tr > td:last-child,
  thead > tr > td:first-child,
  thead > tr > td:last-child {
    width: 300px;
  }
}

.required-symbol {
  color: red;
  font-weight: bolder;
  font-size: 1.15em;
}

.radio-choices {
  padding: 10px;
  td {
    padding: 5px;
    // text-align: justify;
    // padding: 10px;
    // margin: 10px;
    // max-width: 100px;
    // max-height: 10px;
    // justify-content: center;
  }
  // th {
  //   padding: 5px;
  //   text-align: center;
  // }
}

.page {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  max-width: 70vw;
  padding: 0px 20px;
}
</style>
