<template>
  <v-container fluid>
    <!-- <div v-if="completeSurveys !== null && completeSurveys.length > 0" elevation="24"> -->
      <div elevation="24">
      <!-- <v-card-title
                    style="border-bottom: 1px solid lightgray; margin-bottom: 30px;"
                  >Survey Responses</v-card-title>-->
      <!-- <div style="display: flex; flex-flow: row nowrap; height: calc(100vh - 150px);"> -->
      <div style="display: flex; flex-flow: row nowrap; margin:0; padding:0;">
        <!-- justify-content: space-between; -->
        <div class="survey-list" style="border: 1px solid cornflowerblue; height: calc(100vh - 150px);">
          <div>
            <h4 class="text-center" style="background-color: cornflowerblue; color:white; padding:2px;">Survey Responses</h4>
            <h5 class="text-center" style="background-color: cornflowerblue; color:white; padding:2px;">(Trailing 12 Months)</h5>
            <div style="display:flex; flex-flow:row; margin:6px; padding-bottom: 12px; border-bottom:2px solid cornflowerblue;">

              <v-card style="margin:0px 6px 0px 4px; width:200px;">
                <v-card-text class="text-center"  >
                  <div class="mt-6 text-h2" style="align-items:middle;">{{ completeSurveys.length }}</div>
                  <div class="mt-4">Total<br>Responses</div>
                </v-card-text>
              </v-card>

              <v-card style="margin:0px 4px 0px 6px; width:100%;">
                <v-card-text class="text-center"  >
                </v-card-text>
                <v-sheet>
                  <v-sparkline
                    title="test"
                    :line-width=2
                    :labels="sparklineLabels"
                    :value="sparklineValues"
                    :smooth=5
                    auto-draw>
                  </v-sparkline>
                </v-sheet>
              </v-card>

            </div>
            <div style="display:flex; flex-flow:row; padding:10px;">
              <div style="width:75%;">
                <v-text-field v-model="filter" label="Search for Survey"  prepend-icon="fa-search" clearable hide-details dense></v-text-field>
              </div>

              <div class="ml-2">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn color="success" @click="exportExcel" v-bind="attrs" v-on="on">
                      <v-icon right class="mx-0 px-0">fal fa-file-excel</v-icon>
                    </v-btn>
                  </template>
                  <span>Download ALL Survey Responses to Excel</span>
                </v-tooltip>
              </div>

              <div class="ml-2">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn color="error" :disabled="selectedCount === 0" @click="downloadPdfs" v-bind="attrs" v-on="on">
                      <v-icon small>fal fa-file-pdf</v-icon>
                    </v-btn>
                  </template>
                  <span>Download Selected Orders as PDF</span>
                </v-tooltip>
              </div>

            </div>
          </div>
          <!-- <v-data-table
                      :headers="tableHeaders"
                      :items="completeSurveys"
                      :search="filter"
                      item-key="orderNum"
                      fixed-header
                    >
                      <template v-slot:top>
                        <v-text-field
                          v-model="filter"
                          label="Search"
                          class="mx-4"
                          prepend-icon="fa-search"
                          clearable
                        ></v-text-field>
                      </template>
                      <template v-slot:item.OrderNum="completeSurveys">
                        <h3>
                          <router-link
                            :to="{name: 'SurveyResponse', params: {orderNum: completeSurveys.item.OrderNum}}"
                          >{{completeSurveys.item.OrderNum}}</router-link>
                        </h3>
                      </template>
                      <template v-slot:item.CompleteDate="completeSurveys">
                        <my-moment :value="completeSurveys.item.CompleteDate" format="llll" />
                      </template>
                    </v-data-table> -->
          <!-- :items="filteredItems(orders)" -->
          <!-- <my-table :items="filteredItems(completeSurveys)" customStyle="display: inline-flex;height: calc(100vh - 270px);min-width: 590px"> -->
          <!-- <div style="overflow: auto; margin: 10px 0px; border: 1px solid lightgray;"> -->
          <div style="overflow: auto; margin: 10px 0px; padding: 0px 0px 0px 0px;">
            <my-table :items="filteredItems(completeSurveys)" customStyle="display: inline-flex; min-width: 590px;">
              <template #header>
                <tr>
                  <th>
                    <v-checkbox v-model="allSelected" @change="val => selectAllSurveys(val)" dense hide-details class="mt-0" />
                  </th>
                  <th field="OrderNum">Order</th>
                  <th field="CompletedBy">Completed By</th>
                  <th field="CompleteDate">Completed</th>
                  <th field="RangeAnswerAverage">Avg Response</th>
                  <th>View</th>
                  <th>PDF</th>
                </tr>
              </template>
              <template #body="{ items }">
                <tr v-for="item in items" :key="item.OrderNum" :style="rowStyle(item)">
                  <td>
                    <v-checkbox v-model="item.selected" dense hide-details class="mt-0" />
                  </td>
                  <td :title="`Completion ID: ${item.CompletionID}`">{{ item.OrderNum }}</td>
                  <td>
                    {{ item.CompletedBy }}
                    <v-tooltip right>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon v-if="item.AdminUserID" small v-bind="attrs" v-on="on">fa-solid fa-user-headset</v-icon>
                      </template>
                      <span>via Admin user: {{ item.AdminUserName }}</span>
                    </v-tooltip>
                  </td>
                  <td>
                    <my-moment localize :value="item.CompleteDate" format="LL" />
                  </td>
                  <td class="text-center" >
                    {{ item.RangeAnswerAverage ? item.RangeAnswerAverage > 0 ? item.RangeAnswerAverage : '' : '' }}
                  </td>
                  <td>
                    <v-btn fab x-small elevation="10" :color="(item.OrderNum != orderNum ? 'primary' : 'warning')" @click="loadSurvey(item.OrderNum)" :title="`View Survey Order # ${item.OrderNum} (${item.CompletionID})`">
                      <v-icon x-small>{{(item.OrderNum != orderNum ? 'fal fa-search' : 'fal fa-search-minus')}}</v-icon>
                    </v-btn>
                  </td>
                  <td>
                    <v-btn fab x-small elevation="10" color="error" @click="downloadPdf(item.CompletionID)" :title="`Download Survey Order # ${item.OrderNum} (${item.CompletionID})`">
                      <v-icon x-small>fal fa-file-pdf</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </template>
            </my-table>
          </div>
          <!--
          <div style="display: flex;flex-flow: row nowrap; justify-content: space-around;">
            <v-btn color="success" @click="exportExcel">Export ALL Surveys to Excel<v-icon right>fal fa-file-excel</v-icon>
            </v-btn>
            <v-btn color="error" :disabled="selectedCount === 0" @click="downloadPdfs">Export {{(selectedCount > 0 ? selectedCount : '')}} Surveys to PDF<v-icon right>fal fa-file-pdf</v-icon>
            </v-btn>
          </div>
          -->
        </div>
        <!-- <div style="margin-left: 610px;display: flex;flex-flow: column nowrap;flex: 1 1 auto;justify-content: flex-start; align-items: stretch"> -->
        <div class="survey-view">
          <survey-response :orderNum="orderNum" v-if="orderNum > 0" @close="orderNum = 0"/>
          <!--
          <v-alert v-else type="info" border="left" style="margin-top: 10px;">Click <i class="far fa-search" style="font-size: 1.5em; margin: 0px 10px;" /> or select <i class="far fa-check-square" style="font-size: 1.5em; margin: 0px 10px;" /> an
            order on the left to begin
          </v-alert>
          -->
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
import MyMoment from '@/components/MyMoment'
import MyTable from '@/components/MyTable'
import SurveyResponse from '@/views/SurveyResponse'
import { ShowLoading, HideLoading, FLASH_SUCCESS, EventBus, SHOW_ERROR, CONFIRM_INFO } from '../EventBus'
import { BaseAPIUrl } from '@/plugins/axios'
import { onNull, formatDate } from '@/functions'
import moment from 'moment'

export default {
  name: 'SurveyResponses',
  components: {
    MyMoment,
    SurveyResponse,
    MyTable
  },
  data() {
    return {
      orderNum: 0,
      completeSurveys: [],
      filter: '',
      valid: false,
      sorry: false,
      tableHeaders: [
        { text: 'Order #', align: 'center', value: 'OrderNum' },
        { text: 'Completed By', align: 'center', value: 'CompletedBy' },
        { text: 'Completed On', align: 'center', value: 'CompleteDate' }
      ],
      allSelected: false,
      startDate: moment().add(-1, 'years').format('YYYY-MM-DD'),
      endDate: moment().add(1, 'day').format('YYYY-MM-DD')
    }
  },
  computed: {
    selectedCount() {
      let count = 0

      if (this.completeSurveys !== null) {
        count = this.completeSurveys.filter(p => p.selected).length
      }

      return count
    },
    selectedCompletionIds() {
      let ids = this.completeSurveys.filter(p => p.selected).map(p => p.CompletionID)

      return ids
    },
    sparklineLabels() {
      let months = moment.monthsShort();
      var monthNumber = moment().format('M')
      return months.slice(monthNumber, 12).concat(months.slice(0, monthNumber))
    },
    sparklineValues() {
      //return [10, 5, 0, 2, 1, 11, 0, 0, 2, 1, 4, 5]
      var outputArr = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
      this.completeSurveys.forEach(survey => {
        // only displaying last 12 months worh of data in sparkline:
        if (moment(survey.CompleteDate).isAfter(moment().add(-1, 'year'))) {
          var monthShortName = moment(survey.CompleteDate).format('MMM')
          var sparkLineIndedx = this.sparklineLabels.indexOf(monthShortName)
          outputArr[sparkLineIndedx] += 1
        }
      })

      return outputArr;
    }
  },
  mounted() {
    this.getSurveyResponses()
  },
  methods: {
    formatDate,
    loadSurvey(orderNum) {
      if (this.orderNum == orderNum) {
        this.orderNum = 0
      } else {
        this.orderNum = orderNum
      }
    },
    getSurveyResponses() {
      ShowLoading('Load Surveys')
      axios
        .get('order/GetSurveyResponses', {
          params: {
            startDate: this.startDate ? this.startDate.format('YYYY-MM-DD') : null,
            endDate: this.endDate ? this.endDate.format('YYYY-MM-DD') : null
          }
        })
        .then(response => {
          this.completeSurveys = response.data.surveys.map((item, i) => {
            return {
              index: i,
              selected: false,
              ...item
            }
          })
          // console.log(this.completeSurveys)
          this.sorry = this.completeSurveys === null || this.completeSurveys.length === 0
          HideLoading('Load Surveys')
        })
        .catch(error => {
          // alert(error)
          this.sorry = true
          // this.sorry = this.completeSurveys === null || this.completeSurveys.length === 0
          console.error(error)
          HideLoading('Load Surveys')
        })
    },
    selectAllSurveys(value = false) {
      let surveys = this.filteredItems(this.completeSurveys)
      for (let survey of surveys) {
        survey.selected = value
      }
    },
    downloadPdf(completionId) {
      ShowLoading('Downloading PDF')
      axios({
        url: `report/ExportSurveyPdf?completionId=${completionId}`,
        method: 'GET',
        responseType: 'blob'
      })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `tmp_survey_response_${completionId}.pdf`)
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          EventBus.$emit(FLASH_SUCCESS, 'Survey Results PDF downloaded!')
          HideLoading('Downloading PDF')
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, `An unknown error has occurred while downloading survey result ${completionId} to PDF!`)
          HideLoading('Downloading PDF')
        })
    },
    downloadPdfs() {
      ShowLoading('Downloading PDF')
      axios({
        url: `report/ExportSurveysPdf?completionIdsJSON=${JSON.stringify(this.selectedCompletionIds)}`,
        method: 'GET',
        responseType: 'blob'
      })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `tmp_survey_response_${formatDate(new Date(), 'MMDDYY_hhmmss')}.pdf`)
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          EventBus.$emit(FLASH_SUCCESS, 'Survey Results PDF downloaded!')
          HideLoading('Downloading PDF')
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred while downloading survey results to PDF!')
          HideLoading('Downloading PDF')
        })
    },
    exportExcel() {
      EventBus.$emit(CONFIRM_INFO, 'Are you sure you want to export all surveys to excel?', () => {
        ShowLoading('Exporting')
        axios({
          url: 'report/ExportToExcel',
          method: 'GET',
          responseType: 'blob'
        })
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data], {
              type: 'application/vnd.ms-excel'
            }))
            const link = document.createElement('a')
            link.href = url
            link.setAttribute('download', `survey_responses_${formatDate(new Date(), 'YYYYMMDD_hhmm')}.xlsx`)
            document.body.appendChild(link)
            link.click()
            document.body.removeChild(link)
            EventBus.$emit(FLASH_SUCCESS, 'Survey Results downloaded!')
            HideLoading('Exporting')
          })
          .catch(error => {
            console.error(error)
            EventBus.$emit(SHOW_ERROR, 'An unknown error has occurred while exporting survey results to excel!')
            HideLoading('Exporting')
          })
      })

      /*
      axios.get('security/ExportToExcel', {
        params: {
          completionID: this.completion.completionID
        }
      })
        .then(response => {
          EventBus.$emit(SHOW_SUCCESS, `There should be an export of an excel file of the survey for ${this.orderNum}!`)
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, `An unknown error has occurred when loading survey for ${this.orderNum}!`)
          HideLoading('Exporting')
        })
      */
    },
    filteredItems(items) {
      var self = this
      var records

      if (onNull(this.filter, '').length > 0) {
        // function GetValue (item, field) {
        //   if (self.valueConversionFunction != null) {
        //     return self.valueConversionFunction(item[field], field, item)
        //   } else {
        //     return item[field]
        //   }
        // }

        var data = items.filter(function(obj) {
          return Object.keys(obj).some(function(e) {
            // if (!self.fields.some(p => p == e)) return false
            return onNull(obj[e], '').toString().toLowerCase().contains(self.filter.toLowerCase())
          })
        })

        records = data
      } else {
        records = items
      }

      // if (this.filterFunction != null) records = records.filter(p => this.filterFunction(p))

      // this.filteredCount = this.totalItemCount || this.onNull(records, []).length

      // if (this.loadingFunction != undefined && this.filteredCount < (this.currentPage - 1) * this.pageSize) {
      //   this.currentPage = 1
      // }

      if (this.paging && this.loadingFunction == undefined) {
        var startSlice = (this.currentPage - 1) * this.pageSize
        return records.slice(startSlice, startSlice + this.pageSize)
      } else {
        return records
      }
    },
    rowStyle(row) {
      let style = { 'font-size': 'small' }

      if (this.orderNum == row.OrderNum) {
        style['color'] = 'blue'
        style['background-color'] = 'lightgray'
      }

      return style
    }
  }
}
</script>

<style lang="scss" scoped>
.survey-list {
  // position: fixed;
  display: flex;
  flex-flow: column nowrap;
  // border: 1px solid lightgray;
  // border-radius: 10px;
  // height: calc(100vh - 250px);
  // overflow-y: auto;
  // padding-bottom: 20px;
  // width: 500px;
  //border-right: 1px solid lightgray;
  //padding-right: 10px;
  // overflow: auto;
  flex: 0 1 auto;
}

.survey-view {
  margin-left: 20px;
  // max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  //overflow: auto;
  height: calc(100vh - 150px);
}
</style>
