<template>
  <!-- <v-container style="border:1px red dashed; display: flex; justify-content: center;"> -->
    <v-container style="display: flex; justify-content: center; padding-left:50px;" >
    <div class="page" v-if="orderNum !== null && hasData">
      <div class="title" style="border-bottom: 1px solid lightgray; display: flex; align-items:center;">
        <div class="myPageTitle">
          Customer Survey: Order #
          <span style="font-weight: bold;">{{ orderNum }}</span>
          <v-chip v-if="surveyId"># {{surveyId}}</v-chip>
        </div>
        <div style="flex: 1 1 auto;" />
        <div style="font-size: 12pt;">
          <div><span class="light-label">Completed By: </span> {{ completion.CompletedBy }}
            <div><span class="light-label">Completed On: </span>
              <my-moment localize :value="completion.CompleteDate" format="LLLL"></my-moment>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-5" style="border-bottom: 1px solid lightgray">
          <div v-html="survey.DescriptionHTML" />
          <p><span class="required-symbol">*</span> = Response required</p>
        </div>
        <br />
        <v-form ref="survey-form" style="color: black;">
          <div v-for="(question, i) in questions" :key="i" style="margin-bottom: 10px">
            <div v-html="question.InstructionsHTML" style="margin: 10px 0px; font-weight: bold;" />
            <div style='display: flex;'>
              <div v-html="question.QuestionTextHTML" style="margin-right: 10px; font-weight: bold;" /><span class="required-symbol" v-if="question.Required">*</span>
            </div>
            <v-checkbox readonly v-if="question.QuestionType == 'Boolean'" class="ml-5" dense hide-details="auto" :label="question.Label" :input-value="getAnswer(question)"></v-checkbox>
            <div v-else-if="question.QuestionType == 'Phone'" style='max-width: 400px;'>
              <v-text-field readonly dense hide-details class="mt-1" :label="question.Label" :value="getAnswer(question)" outlined />
            </div>
            <v-text-field readonly v-else-if="question.QuestionType == 'ShortText'" dense hide-details="auto" class="mt-1" :label="question.Label" :value="getAnswer(question)" outlined />
            <div class="myCenterRow radio-choices" v-else-if="question.QuestionType == 'Range'">
              <table class="rating-table">
                <thead>
                  <tr>
                    <th></th>
                    <th v-for="(option, i) in getRange(question)" :key="i">
                      {{ option }}
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: right; padding-right: 20px">
                      {{onNull(question.QuestionDetails.MinText, 'Strongly Disagree')}}
                    </td>
                    <td v-for="(option, i) in getRange(question)" :key="i">
                      <v-radio-group readonly hide-details="auto" class="pa-0 ma-0" :value="getAnswer(question)">
                        <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                      </v-radio-group>
                    </td>
                    <td style="text-align: left; padding-left: 20px">
                      {{onNull(question.QuestionDetails.MaxText, 'Strongly Agree')}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <v-textarea readonly v-else-if="question.QuestionType == 'LongText'" dense hide-details="auto" class="mt-1" :label="question.Label" :value="getAnswer(question)" outlined />
          </div>
        </v-form>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
import api from '@/api'
import store from '@/store'
import MyMoment from '@/components/MyMoment'

export default {
  name: 'SurveyResponse',
  components: {
    MyMoment
  },
  props: {
    orderNum: {
      type: Number
    },
    preview: {
      type: Boolean
    },
    surveyId: {
      type: Number
    }
  },
  data() {
    return {
      questions: null,
      survey: null,
      test: null,
      completion: null,
      answers: null
    }
  },
  computed: {
    hasData() {
      return this.survey && this.questions && this.answers && this.completion
    }
  },
  watch: {
    orderNum() {
      this.loadSurvey()
    }
  },
  mounted() {
    this.loadSurvey()
    // this.load()
  },
  methods: {
    loadSurvey() {
      // console.log(this.$refs)
      let loadingId = 'Load Survey'
      this.ShowLoading(loadingId)
      // var surveyResults = [this.answers, this.repurchaseAnswer, this.feedback, this.feedbackResponse]
      // console.log(surveyResults)
      api
        .get('order/GetSurveyResponse', {
          OrderNum: this.orderNum
        })
        .then(response => {
          this.survey = response.data.survey
          this.questions = response.data.questions
          this.completion = response.data.completion
          this.answers = response.data.answers
          // console.log(response)
          this.HideLoading(loadingId)
        })
        .catch(error => {
          console.error(error)
          this.Alert(`An unknown error has occurred when loading survey for ${this.orderNum}!`, 'error')
          this.close()
          this.HideLoading(loadingId)
        })
    },
    close() {
      this.$emit('close')
    },
    getAnswer(question) {
      let answer = null
      if (question && question.QuestionID > 0) {
        answer = this.answers.find(p => p.QuestionID == question.QuestionID) // && p.SubQuestionID == question.SubQuestionID)
      }

      if (answer == null) {
        if (answer == null) console.warn(`No answer found for ${question.QuestionID}`)
        answer = {
          Answer: null
        }
      }

      switch (question.QuestionType) {
        case 'Boolean':
          return this.onNull(answer.Answer, '').toLowerCase() === 'true'
        case 'Range':
          return Number(answer.Answer)
      }

      return answer.Answer
    },
    getRange(question) {
      let range = []
      let min = 0
      let max = 0
      if (question.QuestionDetails) {
        max = question.QuestionDetails.MaxValue
        min = question.QuestionDetails.MinValue
      } else {
        max = 5
        min = 1
      }

      for (let num = min; num <= max; num++) {
        range.push(num)
      }

      return range
    }
  }
}
</script>

<style lang="scss" scoped>

table.rating-table {
  // text-align: center;
  // width: 100%;

  tbody > tr > td:first-child,
  tbody > tr > td:last-child,
  thead > tr > td:first-child,
  thead > tr > td:last-child {
    width: 300px;
  }
}

.required-symbol {
  color: red;
  font-weight: bolder;
  font-size: 1.15em;
}

.radio-choices {
  padding: 10px;
  td {
    padding: 5px;
    // text-align: justify;
    // padding: 10px;
    // margin: 10px;
    // max-width: 100px;
    // max-height: 10px;
    // justify-content: center;
  }
  // th {
  //   padding: 5px;
  //   text-align: center;
  // }
}

.page {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  // max-width: 70vw;
  padding: 0px 20px;
}

.light-label {
  color: gray;
}

.textfield {
  width: 100%;
  margin-right: 20px;
}

th {
  padding: 5px;
}

td.communications > div {
  margin: -25px -25px -25px 0px;
}

td {
  text-align: center;
  padding: -10px;
  // margin: 10px;
  // max-width: 100px;
  // max-height: 10px;
  // justify-content: center;
}

.radio > label {
  width: 0%;
}
</style>
