<template>
  <div>
      <div style="display: flex;justify-content: center; align-items:center; margin: 10px 0px 10px 0px;">
        <h4 style="color: gray">
          <!-- Frazier deeply values customer feedback. Please take a few moments to review our performance on the orders below.-->
          Frazier deeply values customer feedback. Please take a few moments to share your experience with these recent orders.
        </h4>
      </div>

      <div style="display: flex; justify-content: center; flex-direction: row; margin-bottom:10px;">
        <v-card title="Total Surveys" class="d-flex align-center justify-center">
          <v-card-text class="text-center">
            <div class="text-h2">{{ orders ? orders.length : 0 }}</div>
            <div class="text-body-1">SURVEY{{ orders? orders.length !== 1 ? 'S' : '' : 'S' }}</div>
          </v-card-text>
        </v-card>
        <div style="display: flex; justify-content: center; flex-direction: column; margin:0px 10px 0px 10px;">
          <v-btn color="accent" :disabled="startDateDayOffset === 30 ? true : false" @click="changeDateRange(30)" class="mb-2">
            Last 30 Days
            <v-icon right color="white">fa-regular fa-calendar</v-icon>
          </v-btn>
          <v-btn color="accent" :disabled="startDateDayOffset === 90 ? true : false" @click="changeDateRange(90)" class="mb-2">
            Last 90 Days
            <v-icon right color="white">fa-regular fa-calendar</v-icon>
          </v-btn>
          <v-btn color="accent" :disabled="startDateDayOffset === 180 ? true : false" @click="changeDateRange(180)" class="">
            Last 6 Months
            <v-icon right color="white">fa-regular fa-calendar</v-icon>
          </v-btn>
          <v-btn color="accent" :disabled="startDateDayOffset === null ? true : false" @click="changeDateRange(null)" class="mt-2"
            v-if="this.$store.state.user.role.toLowerCase() === 'admin' || this.$store.state.user.role.toLowerCase() === 'proxy'" >
            All Time
            <v-icon right color="white">fa-regular fa-calendar</v-icon>
          </v-btn>
        </div>
        <v-card variant="tonal"  class="d-flex align-center justify-center"
          v-if="this.$store.state.user.role.toLowerCase() === 'admin' || this.$store.state.user.role.toLowerCase() === 'proxy'">
          <v-card-text class="text-center">
            <div class="text-h2">{{ getSoldToCount }}</div>
            <div class="text-body-1">SOLD TO{{ getSoldToCount.length !== 1 ? 's' : '' }}</div>
          </v-card-text>
        </v-card>
      </div>

      <div v-if="orders !== null && !sorry">
        <div>
          <div class="mb-2" style="">
            <v-text-field :label="`Search Order Surveys`" hint="Type order number or address to lookup" style="max-width: 500px; margin: 0px 20px 0px 20px" prepend-icon="fa-search" hide-details v-model="filter" :append-icon="filter ? 'fa-times-circle' : ''"/>
          </div>

          <my-table :items="filteredItems(orders)" customStyle="height: calc(100vh - 310px);">
            <template #header>
              <tr>
                <th style="width: 5px"></th>
                <th field="OrderNum">Order</th>
                <th field="OrderDate">Order Date</th>
                <th field="StartedClosingOrder_c">Close Date</th>
                <th field="SalesRep1Name"> Sales Rep</th>
                <th field="SoldTo">Sold To</th>
                <th field="OTSName">Ship To</th>
                <th field="OTSAddress1">Address</th>
                <th field="OTSCity">City</th>
                <th field="OTSState">State</th>
                <th field="OTSZIP">ZIP</th>
                <th field="OTSCountry">Country</th>
                <!-- <th></th> -->
              </tr>
            </template>
            <template #body="{ items }">
              <tr v-for="item in items" :key="item.OrderNum">
                <td style="text-align: center">
                  <v-btn color="primary" :to="{
                      name: 'SurveyForm',
                      params: { orderNum: item.OrderNum.toString() },
                    }" fab x-small :title="`Take survey order # ${item.OrderNum}`">
                    <v-icon x-small>fal fa-edit</v-icon>
                  </v-btn>
                </td>
                <td style="text-align: center">{{ item.OrderNum }}</td>
                <td style="text-align: center">
                  <my-moment :value="item.OrderDate" format="ll" />
                </td>
                <td style="text-align: center">
                  <my-moment :value="item.OkToStartClosingOrder_c === true ? item.StartedClosingOrder_c : null" format="ll"  />
                </td>
                <td>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <span  v-bind="attrs" v-on="on">
                        {{ item.SalesRep1Name }}
                      </span>
                    </template>
                    {{ item.SalesRep1Email }}
                  </v-tooltip>
                </td>
                <td>{{ item.SoldTo }}</td>
                <td>{{ item.OTSName }}</td>
                <td>{{ item.OTSAddress1 }}</td>
                <td>{{ item.OTSCity }}</td>
                <td style="text-align: center">{{ item.OTSState }}</td>
                <td style="text-align: center">{{ item.OTSZIP }}</td>
                <td style="text-align: center">{{ item.OTSCountry }}</td>
                <!-- <td>
                    <span style="color: orange"
                      ><i class="fas fa-sparkles"></i>
                    </span>
                  </td> -->
              </tr>
            </template>
          </my-table>
        </div>
    </div>

    <div v-else style="display: flex;justify-content: center; align-items:center; margin-top:75px;">
      <span style="color: gray">No Orders with incomplete Surveys in the date range requested.</span>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import { onNull } from '@/functions'
import { EventBus, SHOW_ERROR, ShowLoading, HideLoading } from '../EventBus'
import Sorry from '@/components/Sorry'
import MyTable from '@/components/MyTable'
import MyMoment from '@/components/MyMoment'
import moment from 'moment'

export default {
  name: 'SurveyList',
  components: {
    Sorry,
    MyMoment,
    MyTable
  },
  data() {
    return {
      orders: null,
      filter: '',
      valid: false,
      sorry: false,
      startDate: moment().add(-30, 'days').format('YYYY-MM-DD'),
      endDate: moment().format('YYYY-MM-DD'),
      startDateDayOffset: 30
    }
  },
  computed: {
    getSoldToCount() {
      var soldToCount = 0
      if (this.orders) {
        var soldTos = this.orders.map(order => {return order.SoldTo})
        soldToCount = new Set(soldTos).size
      }
      return soldToCount;
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    load() {
      ShowLoading('Load Surveys')
      axios
        .get('order/GetOrderSurveys', {
          params: {
            startDate: this.startDate ? this.startDate.format('YYYY-MM-DD') : null,
            endDate: this.endDate ? this.endDate.format('YYYY-MM-DD') : null
          }
        })
        .then((response) => {
          // console.log(response)
          HideLoading('Load Surveys')
          this.orders = response.data.orders
          this.sorry = this.orders === null || this.orders.length === 0
        })
        .catch((error) => {
          // alert(error)
          HideLoading('Load Surveys')
          this.sorry = this.orders === null || this.orders.length === 0
          EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
        })
    },
    filteredItems(items) {
      var self = this
      var records

      if (onNull(this.filter, '').length > 0) {
        var data = items.filter(function(obj) {
          return Object.keys(obj).some(function(e) {
            // if (!self.fields.some(p => p == e)) return false
            return onNull(obj[e], '').toString().toLowerCase().contains(self.filter.toLowerCase())
          })
        })

        records = data
      } else {
        records = items
      }

      // if (this.filterFunction != null) records = records.filter(p => this.filterFunction(p))

      // this.filteredCount = this.totalItemCount || this.onNull(records, []).length

      // if (this.loadingFunction != undefined && this.filteredCount < (this.currentPage - 1) * this.pageSize) {
      //   this.currentPage = 1
      // }

      if (this.paging && this.loadingFunction == undefined) {
        var startSlice = (this.currentPage - 1) * this.pageSize
        return records.slice(startSlice, startSlice + this.pageSize)
      } else {
        return records
      }
    },

    changeDateRange(numberOfDays) {
      this.startDateDayOffset = numberOfDays
      console.log(`changeDateRange(${numberOfDays})`)
      if (numberOfDays !== null) {
        this.startDate = moment().add(numberOfDays * -1, 'days')
      }
      else {
        this.startDate = null
      }
      this.load()
    }
  }
}
</script>

<style lang="scss" scoped>
.surveys-table {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      border-bottom: 1px solid gray;
    }
  }
  tbody td {
    height: 30px;
    padding: 3px;
    border-bottom: 1px solid darkgrey;
  }
  text-align: center;
  // tbody tr:hover {
  //   // background-color:orange;
  // }
  // tbody tr:nth-child(odd) {
  //   // background-color:lightgray;
  // }
}

.textfield {
  width: 100%;
  margin-right: 20px;
}

th {
  padding: 5px;
  text-align: center;
}
</style>
