<template>
  <v-container fluid>
    <!-- <v-card v-show="orderNum !== null" elevation="24"> -->
    <v-card v-show="orderNum !== null">
      <v-card-title style="border-bottom: 1px solid lightgray">
        <div class="myPageTitle" style="display: flex; justify-content: space-between; width: 100%">
          <span>Customer Survey: Order # <b>{{ orderNum }}</b></span>
          <v-btn color="error" @click="close">
            close <v-icon right>fa-times</v-icon>
          </v-btn>
        </div>
      </v-card-title>
      <v-card-text style="color: black">
        <div class="mt-5" style="border-bottom: 1px solid lightgray">
          Completed By: {{ completion.CompletedBy }} <br />Completed On:
          <my-moment localize :value="completion.CompleteDate" format="LLLL"></my-moment>
          <v-divider></v-divider>
        </div>
        <br />
        <h3>
          I was aware of and had contact information for the following Frazier
          representatives
          <i>(Please check all that apply)</i>:
        </h3>
        <v-checkbox class="ml-5" label="Salesperson" readonly :false-value="0" :true-value="1" v-model="answers[0].AnswerValue"></v-checkbox>
        <v-checkbox class="ml-5" label="Project Manager" readonly :false-value="0" :true-value="1" v-model="answers[1].AnswerValue"></v-checkbox>
        <v-checkbox class="ml-5" label="Customer Service Representative" readonly :false-value="0" :true-value="1" v-model="answers[2].AnswerValue"></v-checkbox>
        <br />
        <h3>Communication from Frazier representatives was open and timely.</h3>
        <div class="myCenterRow radio-choices">
          <table>
            <thead>
              <tr>
                <th></th>
                <th v-for="(option, i) in repurchaseOptions" :key="i">
                  {{ option }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: right; padding-right: 20px">
                  Strongly Disagree
                </td>
                <td v-for="(option, i) in repurchaseOptions" :key="i">
                  <v-radio-group hide-details readonly class="pa-0 ma-0" v-model="answers[3].AnswerValue">
                    <!-- <v-radio :value="option" class="pl-2 ma-0" on-icon="fa-star" off-icon="$rackman" color="warning"></v-radio> -->
                    <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline" color="warning"></v-radio>
                  </v-radio-group>
                </td>
                <td style="text-align: left; padding-left: 20px">
                  Strongly Agree
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <h3>All deadlines were met by the Frazier Team.</h3>
        <div class="myCenterRow radio-choices">
          <table>
            <thead>
              <tr>
                <th></th>
                <th v-for="(option, i) in repurchaseOptions" :key="i">
                  {{ option }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: right; padding-right: 20px">
                  Strongly Disagree
                </td>
                <td v-for="(option, i) in repurchaseOptions" :key="i">
                  <v-radio-group hide-details readonly class="pa-0 ma-0" v-model="answers[4].AnswerValue">
                    <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                  </v-radio-group>
                </td>
                <td style="text-align: left; padding-left: 20px">
                  Strongly Agree
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <h3>Any issues that occurred were resolved swiftly and accurately.</h3>
        <div class="myCenterRow radio-choices">
          <table>
            <thead>
              <tr>
                <th></th>
                <th v-for="(option, i) in repurchaseOptions" :key="i">
                  {{ option }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: right; padding-right: 20px">
                  Strongly Disagree
                </td>
                <td v-for="(option, i) in repurchaseOptions" :key="i">
                  <v-radio-group hide-details readonly class="pa-0 ma-0" v-model="answers[5].AnswerValue">
                    <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                  </v-radio-group>
                </td>
                <td style="text-align: left; padding-left: 20px">
                  Strongly Agree
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <h3>
          I am pleased and comfortable with Frazier's current Customer Service
          model.
        </h3>
        <div class="myCenterRow radio-choices">
          <table>
            <thead>
              <tr>
                <th></th>
                <th v-for="(option, i) in repurchaseOptions" :key="i">
                  {{ option }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: right; padding-right: 20px">
                  Strongly Disagree
                </td>
                <td v-for="(option, i) in repurchaseOptions" :key="i">
                  <v-radio-group hide-details readonly class="pa-0 ma-0" v-model="answers[6].AnswerValue">
                    <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                  </v-radio-group>
                </td>
                <td style="text-align: left; padding-left: 20px">
                  Strongly Agree
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <h3>I would purchase from Frazier Industrial Company again.</h3>
        <div class="myCenterRow radio-choices">
          <table>
            <thead>
              <tr>
                <th></th>
                <th v-for="(option, i) in repurchaseOptions" :key="i">
                  {{ option }}
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: right; padding-right: 20px">
                  Strongly Disagree
                </td>
                <td v-for="(option, i) in repurchaseOptions" :key="i">
                  <v-radio-group hide-details readonly class="pa-0 ma-0" v-model="answers[7].AnswerValue">
                    <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                  </v-radio-group>
                </td>
                <td style="text-align: left; padding-left: 20px">
                  Strongly Agree
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <h3>
          Please leave us a note with any additional feedback you would like to
          provide us.
        </h3>
        <v-textarea :label="'Feedback/Comments'" v-model="answers[8].AnswerText" readonly outlined></v-textarea>
        <br />
        <h3>Check the following if applicable:</h3>
        <v-checkbox class="ml-5" label="Please check this box to grant us permission to use your company logo and testimonial on our website or in our future marketing emails." readonly :false-value="0" :true-value="1"
          v-model="answers[9].AnswerValue"></v-checkbox>
        <v-checkbox class="ml-5" label="Please check this box if you are willing to act as a reference for our company in the future." readonly :false-value="0" :true-value="1" v-model="answers[10].AnswerValue"></v-checkbox>
      </v-card-text>
      <!-- <v-card-actions>
                <v-layout justify-end>
                  <v-btn color="success" @click="exportExcel">Export to Excel</v-btn>
                </v-layout>
              </v-card-actions>-->
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'
// import loading from '@/components/Loading'
import MyMoment from '@/components/MyMoment'
import { EventBus, ShowLoading, HideLoading, SHOW_ERROR } from '@/EventBus'
// import { BaseAPIUrl } from '@/plugins/axios'

export default {
  components: {
    MyMoment
  },
  props: ['orderNum'],
  data() {
    return {
      completion: {
        completedBy: null,
        completeDate: null
      },
      answers: [
        {
          questionID: 1,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 2,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 3,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 4,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 5,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 6,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 7,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 8,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 9,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 10,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          questionID: 11,
          subQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        }
      ],
      repurchaseOptions: 5,
      valid: false,
      submitted: false
    }
  },
  computed: {
    bool1: {
      get: function() {
        if (this.answers[7].AnswerValue === 1) {
          return true
        } else {
          return false
        }
      },
      set: function(value) {
        this.answers[7].AnswerValue = value === false ? 0 : 1
      }
    },
    bool2: {
      get: function() {
        if (this.answers[8].AnswerValue === 1) {
          return true
        } else {
          return false
        }
      },
      set: function(value) {
        this.answers[8].AnswerValue = value === false ? 0 : 1
      }
    }
  },
  watch: {
    orderNum() {
      this.loadSurvey()
    }
  },
  mounted() {
    this.loadSurvey()
    // console.log(`orderNum=${this.orderNum}`)
  },
  methods: {
    loadSurvey() {
      // console.log(this.$refs)
      ShowLoading('Load Survey')
      // var surveyResults = [this.answers, this.repurchaseAnswer, this.feedback, this.feedbackResponse]
      // console.log(surveyResults)
      axios
        .get('order/GetSurveyResponse', {
          params: {
            OrderNum: this.orderNum
          }
        })
        .then(response => {
          this.completion = response.data.surveyComplete
          this.answers = response.data.surveyAnswers
          // console.log(response)
          HideLoading('Load Survey')
        })
        .catch(error => {
          console.error(error)
          EventBus.$emit(SHOW_ERROR, `An unknown error has occurred when loading survey for ${this.orderNum}!`)
          this.close()
          HideLoading('Load Survey')
        })
    },
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.textfield {
  width: 100%;
  margin-right: 20px;
}

th {
  padding: 5px;
}

td.communications > div {
  margin: -25px -25px -25px 0px;
}

td {
  text-align: center;
  padding: -10px;
  // margin: 10px;
  // max-width: 100px;
  // max-height: 10px;
  // justify-content: center;
}

.radio > label {
  width: 0%;
}
</style>
