<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col lg="8">
        <v-card v-if="orderNum !== null && !completed" elevation="24">
          <v-card-title style="border-bottom: 1px solid lightgray">
            <div class="myPageTitle">
              Customer Survey: Order #
              <b>{{ orderNum }}</b>
            </div>
          </v-card-title>
          <v-card-text>
            <div class="mt-5" style="border-bottom: 1px solid lightgray">
              <h3>How Did We Do?</h3>
              <br />
              <p>
                Thank you for choosing Frazier Industrial Company. We are
                constantly seeking opportunities to improve our clients’
                experiences, so your feedback is very important to us!
              </p>
              <p>Please complete the survey below to let us know how we did.</p>
              <p><span class="required-symbol">*</span> = Response required</p>

            </div>
            <br />
            <v-form v-model="valid" ref="form" style="color: black">
              <h3>
                I was aware of and had contact information for the following
                Frazier representatives
                <i>(Please check all that apply)</i>:
              </h3>
              <v-checkbox class="ml-5" label="Salesperson" :false-value="0" :true-value="1" v-model="answers[0].AnswerValue"></v-checkbox>
              <v-checkbox class="ml-5" label="Project Manager" :false-value="0" :true-value="1" v-model="answers[1].AnswerValue"></v-checkbox>
              <v-checkbox class="ml-5" label="Customer Service Representative" :false-value="0" :true-value="1" v-model="answers[2].AnswerValue"></v-checkbox>
              <br />
              <h3>
                Communication from Frazier representatives was open and
                timely.<span class="required-symbol">*</span>
              </h3>
              <div class="myCenterRow radio-choices">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(option, i) in repurchaseOptions" :key="i">
                        {{ option }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: right; padding-right: 20px">
                        Strongly Disagree
                      </td>
                      <td v-for="(option, i) in repurchaseOptions" :key="i">
                        <v-radio-group hide-details class="pa-0 ma-0" :rules="rules.required" v-model="answers[3].AnswerValue">
                          <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                        </v-radio-group>
                      </td>
                      <td style="text-align: left; padding-left: 20px">
                        Strongly Agree
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <h3>
                All deadlines were met by the Frazier Team.<span class="required-symbol">*</span>
              </h3>
              <div class="myCenterRow radio-choices">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(option, i) in repurchaseOptions" :key="i">
                        {{ option }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: right; padding-right: 20px">
                        Strongly Disagree
                      </td>
                      <td v-for="(option, i) in repurchaseOptions" :key="i">
                        <v-radio-group hide-details :rules="rules.required" class="pa-0 ma-0" v-model="answers[4].AnswerValue">
                          <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                        </v-radio-group>
                      </td>
                      <td style="text-align: left; padding-left: 20px">
                        Strongly Agree
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <h3>
                Any issues that occurred were resolved swiftly and
                accurately.<span class="required-symbol">*</span>
              </h3>
              <div class="myCenterRow radio-choices">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(option, i) in repurchaseOptions" :key="i">
                        {{ option }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: right; padding-right: 20px">
                        Strongly Disagree
                      </td>
                      <td v-for="(option, i) in repurchaseOptions" :key="i">
                        <v-radio-group hide-details :rules="rules.required" class="pa-0 ma-0" v-model="answers[5].AnswerValue">
                          <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                        </v-radio-group>
                      </td>
                      <td style="text-align: left; padding-left: 20px">
                        Strongly Agree
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <h3>
                I am pleased and comfortable with Frazier's current Customer
                Service model.<span class="required-symbol">*</span>
              </h3>
              <div class="myCenterRow radio-choices">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(option, i) in repurchaseOptions" :key="i">
                        {{ option }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: right; padding-right: 20px">
                        Strongly Disagree
                      </td>
                      <td v-for="(option, i) in repurchaseOptions" :key="i">
                        <v-radio-group hide-details :rules="rules.required" class="pa-0 ma-0" v-model="answers[6].AnswerValue">
                          <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                        </v-radio-group>
                      </td>
                      <td style="text-align: left; padding-left: 20px">
                        Strongly Agree
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <h3>
                I would purchase from Frazier Industrial Company again.<span class="required-symbol">*</span>
              </h3>
              <div class="myCenterRow radio-choices">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(option, i) in repurchaseOptions" :key="i">
                        {{ option }}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="text-align: right; padding-right: 20px">
                        Strongly Disagree
                      </td>
                      <td v-for="(option, i) in repurchaseOptions" :key="i">
                        <v-radio-group hide-details :rules="rules.required" class="pa-0 ma-0" v-model="answers[7].AnswerValue">
                          <v-radio :value="option" class="pl-2 ma-0" on-icon="$rackman_filled" off-icon="$rackman_outline"></v-radio>
                        </v-radio-group>
                      </td>
                      <td style="text-align: left; padding-left: 20px">
                        Strongly Agree
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <h3>
                Please leave us a note with any additional feedback you would
                like to provide us.<span class="required-symbol">*</span>
              </h3>
              <v-textarea :label="'Feedback/Comments'" v-model="answers[8].AnswerText" outlined :rules="rules.required"></v-textarea>
              <br />
              <h3>Check the following if applicable:</h3>
              <v-checkbox class="ml-5" label="Please check this box to grant us permission to use your company logo and testimonial on our website or in our future marketing emails." :false-value="0" :true-value="1" v-model="answers[9].AnswerValue">
              </v-checkbox>
              <v-checkbox class="ml-5" label="Please check this box if you are willing to act as a reference for our company in the future." :false-value="0" :true-value="1" v-model="answers[10].AnswerValue"></v-checkbox>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn block color="primary" @click="submit" :disabled="!valid || this.isEmployee">Submit Survey</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import store from '@/store'
// import loading from '@/components/Loading'
import { EventBus, SHOW_WARNING, ShowLoading, HideLoading, SHOW_SUCCESS, SHOW_ERROR } from '../EventBus'
import { rules } from '@/functions'

export default {
  name: 'Survey',
  props: ['orderNum'],
  data() {
    return {
      answers: [
        {
          QuestionID: 1,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 2,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 3,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 4,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 5,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 6,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 7,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 8,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 9,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 10,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        },
        {
          QuestionID: 11,
          SubQuestionID: 0,
          AnswerValue: 0,
          AnswerText: null
        }
      ],
      repurchaseOptions: 5,
      // questions: [
      //   'Quoting Process',
      //   'Project Material Update',
      //   'Installation Status',
      //   'Customer Service Availability',
      //   'Project Completion'
      // ],
      // options: [
      //   'Very Unsatisfied',
      //   'Unsatisfied',
      //   'Neutral',
      //   'Satisfied',
      //   'Very Satisfied'
      // ],
      // answers: [{
      //   QuestionID: 1,
      //   SubQuestionID: 1,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 1,
      //   SubQuestionID: 2,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 1,
      //   SubQuestionID: 3,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 1,
      //   SubQuestionID: 4,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 1,
      //   SubQuestionID: 5,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 2,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 3,
      //   AnswerValue: 0,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 4,
      //   AnswerValue: 1,
      //   AnswerText: null
      // },
      // {
      //   QuestionID: 5,
      //   AnswerValue: 1,
      //   AnswerText: null
      // }],
      // repurchaseOptions: 10,
      valid: false,
      submitted: false,
      completed: false,
      test: null,
      rules
    }
  },
  // components: {
  //   loading
  // },
  computed: {
    isEmployee() {
      return store.state.user.role.toUpperCase() === 'EMPLOYEE'
    }

    // bool1: {
    //   get: function () {
    //     if (this.answers[7].AnswerValue === 1) {
    //       return true
    //     } else {
    //       return false
    //     }
    //   },
    //   set: function (value) {
    //     this.answers[7].AnswerValue = (value === false ? 0 : 1)
    //   }
    // },
    // bool2: {
    //   get: function () {
    //     if (this.answers[8].AnswerValue === 1) {
    //       return true
    //     } else {
    //       return false
    //     }
    //   },
    //   set: function (value) {
    //     this.answers[8].AnswerValue = (value === false ? 0 : 1)
    //   }
    // }
  },
  mounted() {
    this.load()
  },
  methods: {
    load() {
      ShowLoading('Load Survey')
      axios
        .get('order/GetOrder', { params: { OrderNum: this.orderNum } })
        .then(response => {
          HideLoading('Load Survey')
          this.order = response.data.orders[0]
          this.completed = response.data.surveyCompleted
          if (this.order === null || !this.order.SurveyReady || this.completed) {
            this.$router.push({ name: 'Surveys' })
            // this.$router.push({ name: })
          }
        })
        .catch(() => {
          // EventBus.$emit(SHOW_ERROR, onNull(error.response.data, 'An unknown error has occurred'))
          HideLoading('Load Survey')
          this.$router.push({ name: 'Surveys' })
        })
      // },
    },
    submit() {
      // console.log(this.$refs)
      if (this.validate()) {
        ShowLoading('Submit Survey')
        // var surveyResults = [this.answers, this.repurchaseAnswer, this.feedback, this.feedbackResponse]
        // console.log(surveyResults)
        axios
          .post('order/SubmitOrderSurvey', {
            OrderNum: this.orderNum,
            Results: this.answers // surveyResults
          })
          .then(() => {
            HideLoading('Submit Survey')
            this.$router.push({ name: 'Surveys' })
            EventBus.$emit(SHOW_SUCCESS, `Thank you for completing our survey for ${this.orderNum}!`)
          })
          .catch(error => {
            console.error(error)
            EventBus.$emit(SHOW_ERROR, `An unknown error has occurred for ${this.orderNum}!`)
          })
      } else {
        EventBus.$emit(SHOW_WARNING, 'Input required. Please answer all questions.')
      }
    },
    validate() {
      let b = true
      // console.log(this.answers)
      let answers = this.answers.filter(t => t.questionID > 3 && t.questionID < 9)
      answers.forEach(a => {
        if (a.AnswerValue < 1 && a.questionID > 3 && a.questionID < 8) {
          // console.log(`${a.questionID} - ${a.AnswerValue}`)
          b = false
        }
        if (a.AnswerText !== null && a.AnswerText.length < 1 && a.questionID === 8) {
          // console.log(`${a.questionID} - ${a.AnswerText}`)
          b = false
        }
      })
      return b
      // let b = true
      // let answers = this.answers.filter(t => t.questionID === 1 || t.questionID === 2 || t.questionID === 3)
      // answers.forEach(a => {
      //   if ((a.AnswerValue === -3 && a.questionID === 1) || (a.AnswerValue === 0 && a.questionID === 2) || ((a.AnswerText === null || a.AnswerText === '') && a.questionID === 3)) {
      //     b = false
      //   }
      // })
      // return b
    }
  }
}
</script>

<style lang="scss" scoped>
// question commented out
// td.communications > div {
//   margin: -25px -25px -25px 0px;
// }

.required-symbol {
  color: red;
  font-weight: bolder;
  font-size: 1.15em;
}

.radio-choices {
  padding: 10px;
  td {
    padding: 5px;
    // text-align: justify;
    // padding: 10px;
    // margin: 10px;
    // max-width: 100px;
    // max-height: 10px;
    // justify-content: center;
  }
  // th {
  //   padding: 5px;
  //   text-align: center;
  // }
}
</style>
