<template>
  <v-container fluid>
    <div v-if="surveys !== null && surveys.length > 0">
      <!-- <v-card-title
                    style="border-bottom: 1px solid lightgray; margin-bottom: 30px;"
                  >Survey Responses</v-card-title>-->
      <div style="display: flex; flex-flow: row nowrap;height: calc(100vh - 150px);">
        <!-- justify-content: space-between; -->
        <div class="survey-list">
          <div>
            <v-text-field v-model="filter" label="Search" prepend-icon="fa-search" clearable></v-text-field>
          </div>
          <!-- <my-table :items="filteredItems(surveys)" min-width="590px" height="auto"> -->
          <my-table :items="filteredItems(surveys)" customStyle="display: inline-flex; min-width: 590px">
            <template #header>
              <tr>
                <th></th>
                <th field="SurveyID">Survey</th>
                <th field="DateCreated">Date Created</th>
                <th field="LastUpdated">Last Updated</th>
                <th field="EffectiveDate">Effective Date</th>
                <th></th>
              </tr>
            </template>
            <template #body="{ items }">
              <tr v-for="item in items" :key="item.SurveyID" :style="selectedStyle(item)">
                <td>
                  <!-- <v-checkbox v-model="item.selected" dense hide-details class="mt-0" /> -->
                  <v-btn fab x-small elevation="10" :color="(!isSelected(item.SurveyID) ? 'primary' : 'warning')" :disabled="isSelected(item.SurveyID)" @click="selected = item" :title="`View Survey # ${item.SurveyID}`">
                    <v-icon small>fal fa-search</v-icon>
                  </v-btn>
                </td>
                <td :title="`Survey ID: ${item.SurveyID}`">{{ item.Name }}
                  <v-icon v-if="item.Active" color="yellow" small>fa-star</v-icon>
                </td>
                <td>
                  <my-moment localize :value="item.DateCreated" format="ll" />
                </td>
                <td>
                  <my-moment localize :value="item.LastUpdated" format="ll" />
                </td>
                <td>
                  <my-moment localize :value="item.EffectiveDate" format="ll" />
                </td>
                <td>
                  <v-btn icon color="primary" @click="previewSurvey(item.SurveyID)" :title="`Preview Survey ${item.Name} (ID # ${item.SurveyID})`">
                    <v-icon>fa-eye</v-icon>
                  </v-btn>
                </td>
              </tr>
            </template>
          </my-table>
          <div style="display: flex;flex: 1 1 auto;" />
          <div style="display: flex;flex-flow: row nowrap; justify-content: space-around;">
            <v-btn color="success" @click="$modal.show('new-survey')">New Survey<v-icon right>fal fa-edit</v-icon>
            </v-btn>
          </div>
        </div>
        <div class="survey-editor-view">
          <v-alert type="info" border="left" style="margin-top: 10px; display: flex; align-items: center;">Click any <i class="far fa-search" style="font-size: 1.5em; margin: 0px 10px;" /> on the left to begin or <v-btn x-small>new survey</v-btn> to
            create a new survey</v-alert>
          <div v-if="selected != null" class="survey-editor" style="max-width: 1000px">
            <div class="light-border-bottom" style="display: flex; align-items: center;">
              <div class="header">
                Survey # {{selected.SurveyID}}
                <v-chip :color="selected.Active ? 'success' : null" small style="text-transform: uppercase;">{{(selected.Active ? 'Active' : 'Inactive')}}</v-chip>
              </div>
              <div style="flex: 1 1 auto;" />
              <v-chip color="warning" v-if="selected.Locked" dense title="Survey locked. No changes can be made." style="text-transform: uppercase;">locked
                <v-icon right small style="px-2">fa-lock</v-icon>
              </v-chip>
              <v-btn class="mx-2" disabled color="primary" title="Copy Survey functionality disabled" small>copy</v-btn>
              <v-btn v-if="!selected.Active" @click="activate" color="success" title="Activate Survey" small>activate</v-btn>
            </div>
            <v-text-field v-model="selected.Name" label="Name" dense outlined :readonly="locked" :rules="rules.required" @change="val => updateSurvey(selected.SurveyID, 'Name', val)" />
            <v-textarea v-model="selected.DescriptionHTML" label="Description (HTML)" outlined :readonly="locked" :rules="rules.required" @change="val => updateSurvey(selected.SurveyID, 'DescriptionHTML', val)"></v-textarea>
            <!-- <v-textarea v-else v-html="selected.DescriptionHTML"  label="Description (HTML)" outlined :readonly="locked" /> -->
            <div class="data-row">
              <span class="label">Created:</span>
              <my-moment localize :value="selected.DateCreated" format="LLL" />
            </div>
            <div class="data-row">
              <span class="label">Last Updated:</span>
              <my-moment localize :value="selected.LastUpdated" format="LLL" />
            </div>
            <div class="data-row">
              <span class="label">Effective Date:</span>
              <my-moment localize :value="selected.EffectiveDate" format="LLL" v-if="selected.Active" />
              <span v-else>Not Active</span>
            </div>
            <!-- <CKEditor :value="selected.DescriptionHTML"></CKEditor> -->
            <div class="survey-questions">
              <div class="data-row light-border-bottom" style="align-items: center;">
                <div class="header">Questions</div>
                <div style="flex: 1 1 auto;" />
                <v-checkbox v-model="showAllDetails" label="Show All Details" dense hide-details />
              </div>
              <div v-for="(question, q) in selectedQuestions" :key="q" style="border-bottom: 1px dashed gray; display: flex; padding: 20px 0px;">
                <div style="background-color: lightgray; padding: 0px 5px; margin: 0px 10px 0px 0px; border-radius: 20px; width: 30px; height: 25px; text-align: center;">{{question.QuestionID}}</div>
                <div class="wide">
                  <div class="data-row space-between">
                    <v-text-field label="Label" v-model="question.Label" dense class="mr-3" :readonly="locked" @change="val => updateQuestion(question.QuestionID, 'Label', val)" />
                    <v-btn @click="removeSurveyQuestion(question.QuestionID)" v-if="!locked" color="error" icon small class="mx-2" title="Remove Question">
                      <v-icon>fa-trash</v-icon>
                    </v-btn>
                    <v-btn @click="copySurveyQuestion(question.QuestionID)" v-if="!locked" color="warning" icon small class="mx-2" title="Copy Question">
                      <v-icon>fal fa-paste</v-icon>
                    </v-btn>
                    <v-btn v-if="false && question.QuestionDetails" @click="question.showDetails = !question.showDetails" icon small :color="(question.showDetails ? 'primary' : null)" class="mx-2"
                      :title="`${(question.showDetails ? 'Hide' : 'Show')} Details`">
                      <v-icon>{{(question.showDetails ? 'fa-eye' : 'fa-eye-slash')}}</v-icon>
                    </v-btn>
                    <!-- <v-checkbox v-model="question.showDetails" label="Show Details?" dense hide-details /> -->
                    <v-progress-circular indeterminate color="primary" v-if="question.loading" class="mx-2"></v-progress-circular>
                  </div>
                  <div class="data-row space-between">
                    <v-select label="Type" v-model="question.QuestionType" dense :readonly="locked" :rules="rules.required" :items="options.QuestionTypes" class="mr-3" @change="val => updateQuestion(question.QuestionID, 'QuestionType', val)" />
                    <v-checkbox label="Required" v-model="question.Required" dense :readonly="locked" hide-details @change="val => updateQuestion(question.QuestionID, 'Required', val)" />
                  </div>
                  <v-textarea label="Instructions (HTML)" v-model="question.InstructionsHTML" outlined :readonly="locked" style="margin-top: 10px;" hide-details @change="val => updateQuestion(question.QuestionID, 'InstructionsHTML', val)" />
                  <v-textarea label="Question (HTML)" v-model="question.QuestionTextHTML" outlined :readonly="locked" style="margin-top: 10px;" hide-details @change="val => updateQuestion(question.QuestionID, 'QuestionTextHTML', val)" />
                  <div v-if="question.QuestionDetails && showAllDetails" style="margin-top: 10px; border-top: 1px solid lightgray;">
                    <div v-if="question.QuestionType == 'Range'">
                      <div class="data-row pt-2">
                        <v-text-field label="Min Text" placeholder="Strongly Disagree" :readonly="locked" dense outlined hide-details="auto" v-model="question.QuestionDetails.MinText"
                          @change="val => updateQuestionDetail(question.QuestionID, 'MinText', val)" />
                        <div class="number-input">
                          <v-text-field label="Min Value" dense outlined hide-details="auto" :readonly="locked" v-model.number="question.QuestionDetails.MinValue" class="mx-2"
                            @change="val => updateQuestionDetail(question.QuestionID, 'MinValue', val)" />
                        </div>
                      </div>
                      <div class="data-row pt-2">
                        <v-text-field label="Max Text" dense outlined :readonly="locked" hide-details="auto" placeholder="Strongly Agree" v-model="question.QuestionDetails.MaxText"
                          @change="val => updateQuestionDetail(question.QuestionID, 'MaxText', val)" />
                        <div class="number-input">
                          <v-text-field label="Max Value" dense outlined :readonly="locked" hide-details="auto" v-model.number="question.QuestionDetails.MaxValue" class="mx-2"
                            @change="val => updateQuestionDetail(question.QuestionID, 'MaxValue', val)" />
                        </div>
                      </div>
                    </div>
                    <v-alert v-else border="left" type="info" outlined text dense style="margin-top: 10px;">No applicable details</v-alert>
                  </div>
                </div>
              </div>
              <div style="margin-top: 20px" v-if="!locked">
                <v-btn @click="newSurveyQuestion" color="primary" small>add question</v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
      <modal name="new-survey" :clickToClose="false" width="1000" height="auto">
        <div class="survey-editor">
          <div v-if="survey != null">
            <div class="header" style="border-bottom: 1px solid lightgray; margin-bottom: 10px;">New Survey</div>
            <v-text-field v-model="survey.Name" label="Name" dense outlined :rules="rules.required" />
            <!-- <CKEditor :value="survey.DescriptionHTML"></CKEditor> -->
            <div style="display: flex; justify-content: flex-end;">
              <v-btn color="success" @click="newSurvey" x-small>create <v-icon right x-small>fa-pen</v-icon>
              </v-btn>
              <v-btn class="mx-3" color="error" @click="$modal.hide('new-survey')" x-small>close <v-icon right x-small>fa-times</v-icon>
              </v-btn>
            </div>
            <!-- <CKEditor :value="survey.DescriptionHTML"></CKEditor> -->
          </div>
        </div>
      </modal>
      <modal name="preview-survey" width="1000" height="80%">
        <div style="height: 100%; overflow-y: auto;">
          <survey preview :surveyId="previewId" />
        </div>
      </modal>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios'
import MyMoment from '@/components/MyMoment'
import MyTable from '@/components/MyTable'
import { BaseAPIUrl } from '@/plugins/axios'
import { formatDate, rules } from '@/functions'
import CKEditor from '@/components/MyCkEditor'
import Survey from '@/views/SurveyForm'
import api from '@/api'

export default {
  name: 'SurveyEditor',
  components: {
    MyMoment,
    CKEditor,
    MyTable,
    Survey
  },
  data() {
    return {
      rules,
      completeSurveys: [],
      filter: '',
      valid: false,
      sorry: false,
      tableHeaders: [
        { text: 'Order #', align: 'center', value: 'OrderNum' },
        { text: 'Completed By', align: 'center', value: 'CompletedBy' },
        { text: 'Completed On', align: 'center', value: 'CompleteDate' }
      ],
      selected: null,
      previewId: 0,
      surveys: [],
      questions: [],
      options: null,
      survey: {
        Name: 'New Survey',
        DescriptionHTML: '<h1>Thank you for taking the time to fill out our survey!</h1>'
      },
      showAllDetails: false
    }
  },
  computed: {
    selectedQuestions() {
      if (this.selected && this.selected.SurveyID && this.questions != null && this.questions.length > 0) {
        return this.questions.filter(p => p.SurveyID == this.selected.SurveyID)
      }

      return []
    },
    locked() {
      if (this.selected) {
        return this.selected.Locked
      }

      return false
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    formatDate,
    load() {
      this.ShowLoading('Load Surveys')
      api.get('security/GetSurveys').then(response => {
        this.surveys = response.data.Surveys
        this.questions = response.data.SurveyQuestions.map(i => {
          return {
            loading: false,
            showDetails: false,
            ...i
          }
        })
        this.options = response.data.options

        if (this.selected && this.selected.SurveyID) {
          this.selected = this.surveys.find(p => p.SurveyID == this.selected.SurveyID)
        } else {
          this.selected = this.surveys[0]
        }
        this.HideLoading('Load Surveys')
      })
    },
    isSelected(id) {
      if (this.selected) {
        return this.selected.SurveyID == id
      }

      return false
    },
    newSurvey() {
      let loadingId = 'Adding Survey'
      this.ShowLoading(loadingId)
      api.post('security/AddSurvey', this.survey).then(() => {
        this.$modal.hide('new-survey')
        this.HideLoading(loadingId)
        this.load()
      })
    },
    previewSurvey(id) {
      this.previewId = id
      this.$modal.show('preview-survey')
    },
    updateSurvey(id, field, value) {
      let loadingId = 'Updating Survey'
      this.ShowLoading(loadingId)
      axios
        .post('security/UpdateSurvey', {
          Id: id,
          Field: field,
          Value: value
        })
        .then(() => {
          this.HideLoading(loadingId)
          this.load()
        })
    },
    updateQuestion(id, field, value) {
      // let loadingId = 'Updating Survey Question'
      let question = this.questions.find(p => p.SurveyID == this.selected.SurveyID && p.QuestionID == id)
      question.loading = true
      // this.ShowLoading(loadingId)
      axios
        .post('security/UpdateSurveyQuestion', {
          surveyID: this.selected.SurveyID,
          data: {
            Id: id,
            Field: field,
            Value: value
          }
        })
        .then(() => {
          // this.HideLoading(loadingId)
          this.load()
        })
    },
    updateQuestionDetail(id, field, value) {
      // let loadingId = 'Updating Survey Question'
      let question = this.questions.find(p => p.SurveyID == this.selected.SurveyID && p.QuestionID == id)
      // question.loading = true

      _.set(question.QuestionDetails, field, value)

      this.updateQuestion(id, 'DetailsJSON', JSON.stringify(question.QuestionDetails))
      // this.ShowLoading(loadingId)
      // axios
      //   .post('security/UpdateSurveyQuestionDetail', {
      //     surveyID: this.selected.SurveyID,
      //     id: id,
      //     Field: field,
      //     Value: value
      //   })
      //   .then(() => {
      //     // this.HideLoading(loadingId)
      //     this.load()
      //   })
    },
    newSurveyQuestion() {
      let loadingId = 'Adding Survey Question'
      this.ShowLoading(loadingId)
      api
        .post('security/AddSurveyQuestion', {
          surveyID: this.selected.SurveyID
        })
        .then(() => {
          this.HideLoading(loadingId)
          this.load()
        })
    },
    removeSurveyQuestion(questionId) {
      let loadingId = 'Removing Survey Question'
      this.ShowLoading(loadingId)
      api
        .post('security/RemoveSurveyQuestion', {
          surveyID: this.selected.SurveyID,
          questionID: questionId
        })
        .then(() => {
          this.HideLoading(loadingId)
          this.load()
        })
    },
    copySurveyQuestion(questionId) {
      let loadingId = 'Copying Survey Question'
      this.ShowLoading(loadingId)
      api
        .post('security/CopySurveyQuestion', {
          surveyID: this.selected.SurveyID,
          questionID: questionId
        })
        .then(() => {
          this.HideLoading(loadingId)
          this.load()
        })
    },
    selectSurvey(survey) {
      this.survey = survey
    },
    selectedStyle(survey) {
      let style = {}
      if (this.isSelected(survey.SurveyID)) {
        style['color'] = 'blue'
        style['background-color'] = 'lightgray'
      } else if (survey.Active) {
        // style['color'] = 'orange'
        style['background-color'] = '#e6f2ff'
        // style['border'] = '1px solid blue'
      }
      return style
    },
    activate() {
      this.ConfirmAlert('Are you sure you want to activate this survey?<br/> This will replace the current active survey for ALL users!', 'warning', () => {
        let loadingId = 'activating survey'
        this.ShowLoading(loadingId)
        api
          .post('security/ActivateSurvey', {
            id: this.selected.SurveyID
          })
          .then(response => {
            this.HideLoading(loadingId)
            this.Alert(response.data, 'success')
            this.load()
          })
      })
    },
    filteredItems(items) {
      var self = this
      var records

      if (this.onNull(this.filter, '').length > 0) {
        // function GetValue (item, field) {
        //   if (self.valueConversionFunction != null) {
        //     return self.valueConversionFunction(item[field], field, item)
        //   } else {
        //     return item[field]
        //   }
        // }

        var data = items.filter(function(obj) {
          return Object.keys(obj).some(function(e) {
            // if (!self.fields.some(p => p == e)) return false
            return self
              .onNull(obj[e], '')
              .toString()
              .toLowerCase()
              .contains(self.filter.toLowerCase())
          })
        })

        records = data
      } else {
        records = items
      }

      // if (this.filterFunction != null) records = records.filter(p => this.filterFunction(p))

      // this.filteredCount = this.totalItemCount || this.onNull(records, []).length

      // if (this.loadingFunction != undefined && this.filteredCount < (this.currentPage - 1) * this.pageSize) {
      //   this.currentPage = 1
      // }

      if (this.paging && this.loadingFunction == undefined) {
        var startSlice = (this.currentPage - 1) * this.pageSize
        return records.slice(startSlice, startSlice + this.pageSize)
      } else {
        return records
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.survey-list {
  // position: fixed;
  display: flex;
  flex-flow: column nowrap;
  // border: 1px solid lightgray;
  // border-radius: 10px;
  // height: calc(100vh - 250px);
  // overflow-y: auto;
  padding-bottom: 20px;
  // width: 500px;
  border-right: 1px solid lightgray;
  padding-right: 10px;
  overflow: auto;
  min-width: 600px;
}

.survey-editor-view {
  margin-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
}

.survey-editor {
  border: 1px solid #e2e2e2;
  padding: 10px;
  border-radius: 10px;
  // max-width: 800px;
}

.survey-questions {
  border-top: 1px solid;
}

.wide {
  width: 100%;
}

.number-input {
  width: 200px;
}

.data-row {
  display: flex;
  flex-flow: row nowrap;

  .label {
    margin: 0px 5px 5px 0px;
    color: gray;
  }
}

.data-row.space-between {
  justify-content: space-between;
}

.header {
  font-size: 24pt;
}

.light-border-bottom {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
</style>
