<template>
  <div v-if="user !== null" style="background-color: white; padding: 20px; border-radius: 5px;">
    <!-- <div class="profile-title"> -->
    <div style="display: flex; flex-flow: row nowrap; align-items: center;border-bottom: 1px solid lightgray; padding-bottom: 10px; margin-bottom: 10px;">
      <div>
        <span class="myPageTitle"> User Profile</span> -
        <span style="color: blue">{{ user.EmailAddress }}</span>
      </div>
      <div style="flex: 1 0 auto;" />
      <div id="save-message" class="light-label mx-3">Changes Saved!</div>
      <v-progress-circular class="mx-3" v-if="loading" indeterminate color="primary" />
      <v-btn v-if="showClose" color="error" @click="close" x-small :disabled="loading">close</v-btn>
    </div>
    <!-- <div>
          <v-btn
            large
            icon
            color="error"
            @click="dialog = false"
            title="Close Window"
          >
            <v-icon large>fa-times</v-icon>
          </v-btn>
        </div> -->
    <div>
      <div class="data-row">
        <div class="data-column">
          <v-text-field clearable label="First Name" v-model="user.FirstName" prepend-icon="far fa-smile" class="mr-2" @change="val => update('FirstName', val)"></v-text-field>
        </div>
        <div class="data-column">
          <v-text-field clearable label="Last Name" v-model="user.LastName" class="ml-2" @change="val => update('LastName', val)"></v-text-field>
        </div>
      </div>
      <div class="data-row">
        <div class="data-column">
          <v-text-field clearable label="City" v-model="user.City" prepend-icon="fa-building" class="mr-2" @change="val => update('City', val)"></v-text-field>
        </div>
        <div class="data-column">
          <v-text-field clearable label="State" v-model="user.State" class="ml-2" @change="val => update('State', val)"></v-text-field>
          <!-- prepend-icon="room" -->
        </div>
      </div>
      <div class="data-row">
        <v-text-field label="Email Address" v-model="user.EmailAddress" prepend-icon="fa-user" disabled @change="val => update('EmailAddress', val)"></v-text-field>
        <v-switch v-if="admin || master" class="mx-3" v-model="user.Verified" label="Active" @change="val => update('Verified', val)" />

      </div>
      <v-text-field clearable label="Company Name" v-model="user.Company" prepend-icon="fa-briefcase" @change="val => update('Company', val)"></v-text-field>
      <v-text-field clearable label="Position Title" v-model="user.Title" prepend-icon="fa-id-card" @change="val => update('Title', val)"></v-text-field>
      <div class="data-row" v-if="(admin || master) && user.ParentID > 0">
        <v-switch label="Limited Access" v-model="user.LimitedAccess" hide-details class="mr-4" @change="val => update('LimitedAccess', val)"></v-switch>
        <v-autocomplete label="List of Orders" :items="orders" clearable multiple :loading="loading" validate-on-blur chips deletable-chips hide-details style="min-width: 250px" v-model="user.orders" @change="updateOrderList">
          <!-- <template v-slot:selection="{ i, index }">
            <v-chip v-if="index === 0">
              <span class="grey--text caption"
                >{{ user.orders.length }} orders selected</span
              >
            </v-chip>
          </template> -->
        </v-autocomplete>
      </div>
      <div class="data-row" style="justify-content: space-around;" v-if="admin">
        <v-switch v-model="user.PromptNewPassword" label="Prompt New Password?" @change="val => update('PromptNewPassword', val)" />
        <v-switch v-model="user.AgreementSigned" label="Agreement Signed?" @change="val => update('AgreementSigned', val)" />
        <v-switch v-model="user.Admin" label="Administrator?" :disabled="user.Master || user.ITAdmin" @change="val => update('Admin', val)" />
        <v-switch v-model="user.Master" disabled label="Master User" />
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus, SHOW_SUCCESS, SHOW_ERROR, CONFIRM_INFO } from '@/EventBus'
import axios from 'axios'
import api from '@/api'

export default {
  name: 'AccountInfo',
  props: {
    info: Object,
    master: Boolean,
    admin: Boolean,
    showClose: Boolean
  },
  data() {
    return {
      user: null,
      valid: false,
      orders: [],
      loading: false,
      saved: 0,
      timer: null
    }
  },
  watch: {
    info(newVal) {
      this.user = newVal
      this.load()
    },
    saved(val) {
      // console.warn(`saved = ${val}`)
      let el = document.getElementById('save-message')

      if (val > 0) {
        // console.warn(`classList = ${JSON.stringify(el.classList)}`)
        if (!el.classList.contains('show')) el.classList.add('show')
        this.timer = setTimeout(() => {
          if (this.saved > 0) this.saved--
        }, 3000)
      } else {
        if (el.classList.contains('show')) el.classList.remove('show')
      }
    }
  },
  mounted() {
    this.user = this.info
    this.load()
  },
  methods: {
    close() {
      this.$emit('close_dialog')
    },
    load() {
      // if (this.master) {
      //   this.loading = true
      //   axios.get('order/GetOrders')
      //     .then(response => {
      //       this.loading = false
      //       let data = response.data
      //       if (data !== null) {
      //         this.orders = data.map(item => ({
      //           text: `${item.OrderNum} (${item.OTSName})`,
      //           value: item.OrderNum
      //         }))
      //       }
      //     })
      //     .catch(() => {
      //       this.loading = false
      //     })
      // }
      // else
      if (this.user && (this.admin || this.master)) {
        this.loading = true
        axios
          .get('order/RetrieveOrders', {
            params: {
              userId: this.user.UserID
            }
          })
          .then(response => {
            this.loading = false
            let data = response.data
            if (data !== null) {
              this.orders = data.map(item => ({
                text: `${item.OrderNum} (${item.OTSName})`,
                value: item.OrderNum
              }))
            }
          })
          .catch(() => {
            this.loading = false
          })
      }
    },
    update(field, value) {
      this.loading = true
      api
        .post('security/UpdateUser', {
          id: this.user.UserID,
          field: field,
          value: value
        })
        .then(response => {
          this.loading = false
          this.saved++
          // this.dialog = false
          // this.Alert(response.data, 'success')
          // this.close()
          // this.load()
        })
        .catch(error => {
          this.loading = false
          this.Alert(this.onNull(error.response.data, `Error occurred during update for ${this.user.EmailAddress}.`), 'error')
          this.close()
        })
    },
    updateOrderList() {
      if (this.user !== null) {
        // if (this.user.orders.length === 0) {
        //   this.user.OrderList = ''
        // }

        // let temp = this.user.orders.map((i) => (i.value))
        // this.user.OrderList = JSON.stringify(temp)
        if (process.env.ENV_MODE !== 'production') {
          console.log(`orders: ${this.onNull(this.user.orders, '')}`)
        }
        this.user.OrderList = JSON.stringify(this.user.orders.sort())

        this.update('OrderList', this.user.OrderList)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.data-row {
  display: flex;
  flex-flow: row nowrap;
}

.data-column {
  width: 50%;
}

.light-label {
  font-style: italic;
  color: gray;
  font-size: 0.85em;
  font-weight: 400;
}

#save-message {
  opacity: 0;
  transition: opacity 3s ease-out;
}

#save-message.show {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
</style>
