<template>
  <div style="display: flex; flex-flow: column">
    <div
      style="
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-bottom: 15px;
      ">
      <!-- <v-radio-group v-model="view" hide-details row class="ma-0">
        <v-radio value="calendar" label="Calendar"></v-radio>
        <v-radio value="list" label="List"></v-radio>
        <v-radio value="gantt" label="Gantt"></v-radio>
      </v-radio-group> -->
      <v-btn-toggle v-model="view" mandatory >
        <v-btn value="Calendar"> <v-icon small left>fa-calendar</v-icon>Calendar </v-btn>
        <v-btn value="List"> <v-icon small left>fa-list</v-icon>List </v-btn>
        <v-btn value="Gantt"> <v-icon small left>fa-project-diagram</v-icon>Gantt </v-btn>
      </v-btn-toggle>
      <slot></slot>
    </div>
    <div
      v-show="view == 'Calendar'"
      style="flex: 1 1 auto; display: flex; flex-flow: column">
      <div
        style="
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          background-color: dimgray;
          color: white;
        ">
        <v-btn
          small
          icon
          color="white"
          class="mr-2"
          :disabled="!allowPrevious"
          @click="$refs.calendar.prev()"><v-icon>fa-arrow-left</v-icon></v-btn>
        <div style="font-weight: 500; font-size: 1.2em; min-width: 150px; text-align: center;">
          {{ title }}
        </div>
        <v-btn
          small
          icon
          :disabled="!allowNext"
          @click="$refs.calendar.next()"
          color="white"
          class="ml-2"><v-icon>fa-arrow-right</v-icon></v-btn>
      </div>
      <v-calendar
        ref="calendar"
        :events="events"
        :event-color="getEventColor"
        v-model="focus"
        @change="updateRange"
        style="flex: 1 1 auto; border: 1px solid lightgray">
      </v-calendar>
    </div>

    <div v-show="view == 'List'" style-="flex: 1 1 auto; ">
      <MyTable :items="events" customStyle="display: inline-flex;">
        <template v-slot:header>
          <tr>
            <th>Event</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
          </tr>
        </template>

        <template v-slot:body="{ items }">
          <tr v-for="(item, idx) in items" :key="idx">
            <td>{{ item.name }}</td>
            <td>{{ moment(item.startDate).format('MMM DD, YYYY') }}</td>
            <td>
              <span v-if="item.endDate != null">{{
                moment(item.end).format('MMM DD, YYYY')
              }}</span>
            </td>
            <td>
              <v-btn
                v-if="item.editable && editable"
                class="ma-0"
                x-small
                color="error"
                @click="$emit('deleteEvent', item.id)"><i class="far fa-trash-alt"></i></v-btn>
            </td>
          </tr>
        </template>
      </MyTable>
    </div>

    <div v-show="view == 'Gantt'" style="flex: 1 1 auto">
      <scheduler id="dp" :config="initConfig" ref="scheduler"></scheduler>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import MyTable from '@/components/MyTable'
export default {
  components: {
    MyTable
  },
  props: {
    events: null,
    editable: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    focus: null,
    view: 'Calendar',
    title: '',
    start: null,
    initConfig: {
      timeHeaders: [
        { groupBy: 'Month', format: 'MMMM yyyy' },
        { groupBy: 'Day', format: 'd' }
      ],
      rowHeaderColumns: [
        { title: 'Task' },
        { title: 'Start', width: 80 },
        { title: 'End', width: 80 }
      ],
      onBeforeResHeaderRender: function(args) {
        args.resource.columns[0].html = args.resource.startCol
        args.resource.columns[1].html = args.resource.endCol
      },
      bubble: new DayPilot.Bubble({ animated: false }),
      scale: 'Day',
      eventHeight: 25,
      cellWidth: 20,
      heightSpec: 'Parent100Pct',
      durationBarVisible: false,
      progressiveTaskRendering: false,
      // durationBarMode: 'PercentComplete',
      timeRangeSelectedHandling: 'Disabled',
      eventMoveHandling: 'Disabled',
      eventResizeHandling: 'Disabled',
      eventDeleteHandling: 'Disabled',
      eventClickHandling: 'Disabled',
      // eventHoverHandling: 'Disabled',
    }
  }),
  computed: {
    allowPrevious() {
      if (this.start == null || this.events.length == 0) { return true }
      var earliestStartDate = new Date(Math.min.apply(null, this.events.map(p => new Date(p.startDate))))
      return moment(earliestStartDate).isBefore(this.start.date)
    },
    allowNext() {
      if (this.start == null || this.events.length == 0) { return true }
      var maxEndDate = new Date(Math.max.apply(null, this.events.map(p => new Date(p.endDate))))
      var maxStartDate = new Date(Math.max.apply(null, this.events.map(p => new Date(p.startDate))))
      return moment(maxEndDate).add(-1, 'M').isAfter(this.start.date) || moment(maxStartDate).add(-1, 'M').isAfter(this.start.date)
    },
    scheduler: function() {
      return this.$refs.scheduler.control
    }
  },
  watch: {
    events(val) {
      this.showEvents(val)
    }
  },
  mounted() {
    this.showEvents()
  },
  methods: {
    moment,
    getEventColor(event) {
      return event.color.replace('gray', 'grey')
    },
    updateRange({ start, end }) {
      // console.log(start)
      this.start = start
      this.title = moment(start.date).format('MMMM YYYY')
    },
    showEvents(val) {
      if (val === null || val === undefined) {
        val = this.events
      }
      this.focus = moment(new Date(Math.min.apply(null, val.map(p => new Date(p.startDate))))).format('YYYY-MM-DD')

      var events = []
      var resources = []

      for (var evt of val) {
        resources.push({
          id: evt.ganttId,
          name: evt.name,
          startCol: moment(evt.startDate).format('MMM DD, YYYY'),
          endCol: evt.endDate == null ? '' : moment(evt.endDate).format('MMM DD, YYYY')
        })
        if (evt.endDate == null) {
          events.push({
            resource: evt.ganttId,
            id: evt.ganttId,
            start: evt.startDate,
            end: evt.startDate,
            backColor: evt.color,
            fontColor: evt.fontColor,
            bubbleHtml: `<span style='color: blue; font-weight:500; font-family: Tahoma'>${evt.name}</span>`,
            text: '' // evt.name,
            // type: 'Milestone'
          })
        } else {
          events.push({
            resource: evt.ganttId,
            id: evt.ganttId,
            start: evt.startDate,
            end: evt.endDate,
            backColor: evt.color,
            fontColor: evt.fontColor,
            bubbleHtml: `<span style='color: blue; font-weight:500; font-family: Tahoma'>${evt.name}</span>`,
            text: evt.name
          })
        }
      }

      var earliestStartDate = new Date(Math.min.apply(null, val.map(p => new Date(p.startDate))))
      var maxEndDate = new Date(Math.max.apply(null, val.map(p => new Date(p.endDate))))
      var maxStartDate = new Date(Math.max.apply(null, val.map(p => new Date(p.startDate))))
      var ganttStart = `${moment(earliestStartDate).format('YYYY-MM')}-01`
      var ganttEnd = `${moment(Math.max(maxEndDate, maxStartDate)).add(1, 'months').format('YYYY-MM')}-01`

      this.scheduler.startDate = ganttStart
      this.scheduler.days = moment(ganttEnd).diff(moment(ganttStart), 'days')
      this.scheduler.update({ events: events, resources: resources })

    }
  }
}
</script>

<style scoped>

.active-btn-tab {
  background-color: yellow;
  color: white;
}

</style>