<template>
  <modal :name="modalName" width="90%" height="90%">
    <div style="">
      <!-- <v-card elevation="24"> -->
      <!-- <v-system-bar lights-out /> -->
      <v-carousel :cycle="cycle" v-model="selected">
      <!-- <v-carousel :cycle="cycle" hide-delimiter-background delimiter-icon="fa-minus" v-model="selected"> -->
        <v-carousel-item v-for="(slide, i) in slides" :key="i" :src="loadPhoto(slides[i])">
        </v-carousel-item>
      </v-carousel>
      <div style="display: flex; flex-flow: row nowrap; align-items: center; height: 80px">
        <v-btn @click="cycle = !cycle" class="ml-3" icon :color="(cycle ? 'primary' : 'success')">
          <v-icon>{{(cycle ? 'fa-pause' : 'fa-play')}}</v-icon>
        </v-btn>
        <div style="display: flex; flex-flow: row nowrap; align-items: center; overflow-x: auto;">
          <div v-for="(slide, i) in slides" :key="i" class="thumbnail">
            <v-img class="thumbnail-img" contain :src="loadPhoto(slides[i], true)" height="50" max-width="80" @click="selected = i" />
          </div>
        </div>
      </div>
      <!-- <v-list two-line>
          <v-list-item>
            <v-list-item-avatar>
              <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>John Leider</v-list-item-title>
              <v-list-item-subtitle>Author</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-switch v-model="cycle" label="Cycle Slides" inset></v-switch>
            </v-list-item-action>
          </v-list-item>
        </v-list> -->
      <!-- </v-card> -->
    </div>
  </modal>
</template>

<script>
export default {
  props: {
    hidden: {
      type: Boolean
    },
    modalName: {
      type: String,
      default: 'carousel'
    },
    slides: {
      type: Array,
      default: () => []
    },
    loadPhoto: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      cycle: true,
      selected: null
    }
  },
  methods: {
    open(index) {
      if (index >= 0) this.selected = index
      this.$modal.show(this.modalName)
    },
    close() {
      this.$modal.hide(this.modalName)
      // this.$emit('closeSlideshow')
    }
  }
}
</script>

<style lang="scss" scoped>
.thumbnail {
  margin: 10px 20px;
}

.thumbnail-img {
  cursor: pointer;
  // height: 50px;
}
</style>
