<template>
  <div>
    <!-- <div
    class="contact-brick"
    @click="loadContactOrders(contact.id)"
    @click.stop="orderDrawer = !orderDrawer"
  >
    <v-img contain max-height="150" max-width="135" :src="loadPhoto(contact.id)" />
    <v-card>
      <v-card-title>
        <h3>{{contact.name}}</h3>
      </v-card-title>
      <v-card-text>
        <h4>{{contact.title}}</h4>
        <h4>{{contact.phone.replace('Ext','x')}}</h4>
        <h4 class="email">{{contact.email}}</h4>
      </v-card-text>
    </v-card>
    </div>-->

    <div class="contact-brick">
      <v-card>
        <v-list>
          <v-list-item three-line>
            <v-list-item-avatar size="150" tile left>
              <v-img contain :src="loadPhoto(contact.ID)"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{contact.Name}}</v-list-item-title>
              <v-list-item-subtitle>{{contact.Title}}</v-list-item-subtitle>
              <v-list-item-subtitle>{{contact.Phone.replace('Ext', 'x')}}</v-list-item-subtitle>
              <v-list-item-subtitle>
                <a :href="`mailto:${contact.Email}`">{{ contact.Email }}</a>
              </v-list-item-subtitle>
              <v-btn @click="clickFx" @click.stop="clickStopFx" block small outlined color="blue darken-3" elevation="1" title="Related Orders">
                <v-icon small left>fal fa-id-card</v-icon>
                show related orders
              </v-btn>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </div>
  </div>
</template>

<script>
import { BaseAPIUrl } from '@/plugins/axios'
// import Loading

export default {
  props: ['contact', 'clickFx', 'clickStopFx'],
  data() {
    return {}
  },
  watch: {
    contact(newVal) {
      console.log(`loaded: ${newVal}`)
    }
  },
  methods: {
    loadPhoto(ID) {
      return `${BaseAPIUrl}order/GetEmployeePhoto?photo=${ID}`
      // return BaseAPIUrl + 'order/GetEmployeePhoto?photo=' + ID
    }
  }
}
</script>

<style lang="scss" scoped>
.contact-brick {
  // flex-grow: inherit;
  // min-height: 115px;
  // height: 100%;
  // min-width: 285px;
  // max-width: 375px;
  display: flex;
  background-color: white;
  width: 450px;
  margin-left: 40px;
  // padding: 10px;
  box-shadow: 5px 5px 15px #adadad;
  border: 1px solid #e66b20;
  // font-size: 1.2em;
  margin-bottom: 30px;
  transition: 0.5s;
  div {
    color: black;
    transition: 0.75s;
  }
}

.contact-brick:hover {
  // cursor: pointer;
  border: 1px solid #006bb7;
  box-shadow: 10px 10px 20px #333333;
  transition: 0.25s;
  div {
    color: black;
  }
}

.email {
  color: steelblue;
}
</style>
