<template>
  <div>
    <div>
      <v-btn-toggle v-model="mode" style="margin-bottom: 10px" mandatory>
        <v-btn value="Folder" class="ma-0">
          <v-icon small left>far fa-folders</v-icon>Folder
        </v-btn>
        <v-btn value="List" class="ma-0">
          <v-icon small left>fa-list</v-icon>List
        </v-btn>
        <v-btn value="Tree" class="ma-0">
          <v-icon small left>far fa-folder-tree</v-icon>Tree
        </v-btn>
      </v-btn-toggle>
      <v-tooltip right>
        <template #activator="zip">
          <v-btn v-if="items !== null && items.length > 1" v-on="zip.on" class="mx-4" fab small color="warning" @click="downloadZip">
            <v-icon>fal fa-file-archive</v-icon>
          </v-btn>
        </template>
        Download All Attachments
      </v-tooltip>
    </div>
    <div v-if="mode == 'Folder' && selectedGroup == null" style="display: flex; flex-flow: row wrap">
      <div v-for="group in groups" :key="group" class="folder hover-italic" v-on:click="selectGroup(group)">
        <i class="fad fa-folder frazier-blue-font" style="font-size: 50px"></i>
        <div style="font-size: 16px">{{ group }}</div>
      </div>
    </div>
    <div v-else-if="mode == 'Folder' && selectedGroup != null">
      <div class="section-title">
        <v-btn small color="primary" @click="selectedGroup = null">Back</v-btn>
        {{ selectedGroup }} ({{ selectedGroupItems.length }} files)
      </div>
      <div v-if="selectedGroup != 'Photos'" style="display: flex; flex-flow: row wrap">
        <div v-for="item in selectedGroupItems" :key="item[itemKey]">
          <div class="file hover-italic" v-on:click="download(item)">
            <i :class="getFontAwesomeClass(item)" :style="`font-size: 50px; color: ${getFontAwesomeColor(item)}`"></i>
            <div style="font-size: 16px; max-width: 200px; text-align:center">
              {{ item[itemFileName] }}
            </div>
          </div>
        </div>
      </div>
      <div v-else style="display: flex; flex-flow: row wrap">
        <div v-for="item in selectedGroupItems" :key="item[itemKey]">
          <div class="file hover-italic" v-on:click="download(item)">
            <img :src="getPhotoUrl(item)" style="height: 300px" />
          </div>
        </div>
      </div>
    </div>

    <div v-else-if="mode == 'List'">
      <MyTable :items="items" customStyle="display: inline-flex;">
        <template v-slot:header>
          <tr>
            <th></th>
            <th>File</th>
            <!-- <th>Description</th> -->
            <th>Size</th>
            <th>Category</th>
            <!-- <th>Attached</th> -->
            <!-- <th>Attached By</th> -->
          </tr>
        </template>

        <template v-slot:body="{ items }">
          <tr v-for="file in items" :key="file.AttachmentID">
            <td>
              <v-btn small @click="download(file)" :color="getFontAwesomeColor(file)" icon class="pa-0 ma-0">
                <v-icon>{{ getFontAwesomeClass(file) }}</v-icon>
              </v-btn>
            </td>
            <td>{{ file.FileName }}</td>
            <!-- <td>{{ file.Description }}</td> -->
            <td>{{ readableBytes(file.Size) }}</td>
            <td>{{ file.Category }}</td>
            <!-- <td>
              <MyMoment
                :value="file.DateAdded"
                format="MMM DD, YYYY h:mm a"
              ></MyMoment>
            </td> -->
            <!-- <td>{{ file.AttachedBy }}</td> -->
          </tr>
        </template>
      </MyTable>
    </div>

    <div v-else-if="mode == 'Tree'">
      <v-treeview :items="groupedItems" hoverable>
        <template v-slot:prepend="{ item, open }">
          <span class="hover-icon">
            <i v-if="!item.file && !open" class="fad fa-folder" style="font-size: 20px; color: dimgray; margin-left: 10px"></i>
            <i v-else-if="!item.file && open" class="fad fa-folder-open" style="font-size: 20px; color: dimgray; margin-left: 10px"></i>
            <i v-else-if="!isPhoto(item)" :class="getFontAwesomeClass(item)" v-on:click="download(item)" :style="`font-size: 20px; margin-left: 10px; color: ${getFontAwesomeColor(
                item
              )}`"></i>
            <img v-else :src="getPhotoUrl(item)" v-on:click="download(item)" style="height: 20px; margin-left: 10px" />
          </span>
        </template>

        <template v-slot:label="{ item }">
          <span v-if="!item.file">{{ item.name }}</span>
          <span v-else v-on:click="download(item)" class="hover-italic" style="cursor: pointer">{{ item.name }}</span>
          <v-btn x-small class="ml-2 pa-1" text v-if="allowDelete && item.file" @click="deleteFile(item)"><i class="far fa-trash-alt" style="color: red"></i></v-btn>
        </template>
      </v-treeview>
    </div>
  </div>
</template>

<script>
// import MyMoment from '@/components/MyMoment'
import MyTable from '@/components/MyTable'
import { BaseAPIUrl } from '@/plugins/axios'
import { readableBytes } from '@/functions'
export default {
  components: {
    MyTable
    // MyMoment
  },
  props: {
    items: Array,
    itemKey: {
      type: String,
      default: 'AttachmentID'
    },
    itemDescription: {
      type: String,
      default: 'Description'
    },
    itemFileName: {
      type: String,
      default: 'FileName'
    },
    itemSize: {
      type: String,
      default: 'Size'
    },
    groupBy: {
      // field in data to group/folderize by
      type: String,
      default: 'Category'
    },
    allowDelete: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      mode: 'Folder', // List, Folder, Tree
      selectedGroup: null
    }
  },
  computed: {
    groups() {
      return this.items.distinct(this.groupBy).sort()
    },
    selectedGroupItems() {
      return this.items.filter(p => p[this.groupBy] == this.selectedGroup)
    },
    groupedItems() {
      let data = []
      let num = 0
      for (let group of this.groups) {
        data.push({
          id: num--,
          name: group,
          file: false,
          children: this.items
            .filter(p => p[this.groupBy] == group)
            .map(item => {
              let x = {}
              Object.assign(x, item)
              x.id = x[this.itemKey]
              x.name = x[this.itemFileName]
              x.file = true
              return x
            })
        })
      }
      return data
    }
  },
  watch: {
    mode() {
      this.selectedGroup = null
    }
  },
  mounted() {},
  methods: {
    selectGroup(grp) {
      this.selectedGroup = grp
    },
    download(file) {
      this.$emit('download', file)
    },
    downloadZip() {
      this.$emit('downloadZip')
    },
    deleteFile(file) {
      this.$emit('delete', file)
    },
    getFontAwesomeClass(file) {
      let extension = file[this.itemFileName].split('.')[file[this.itemFileName].split('.').length - 1]
      switch (extension) {
        case 'pdf':
          return 'far fa-file-pdf'
        case 'xls':
        case 'xlsx':
          return 'far fa-file-excel'
        case 'doc':
        case 'docx':
          return 'far fa-file-word'
        case 'csv':
          return 'far fa-file-csv'
        case 'zip':
          return 'far fa-file-archive'
        default:
          return 'far fa-file'
      }
    },
    getFontAwesomeColor(file) {
      let extension = file[this.itemFileName].split('.')[file[this.itemFileName].split('.').length - 1]
      switch (extension) {
        case 'pdf':
          return 'red'
        case 'xls':
        case 'xlsx':
        case 'csv':
          return 'green'
        case 'doc':
        case 'docx':
          return '#1976d2'
        case 'zip':
          return '#ffd96f'
        default:
          return '#a3a3a3'
      }
    },
    readableBytes,
    isPhoto(file) {
      let extension = file[this.itemFileName].split('.')[file[this.itemFileName].split('.').length - 1]
      return ['gif', 'bmp', 'jpg', 'jpeg', 'png', 'tif', 'tiff'].indexOf(extension) > -1
    },
    getPhotoUrl(file) {
      // return `${BaseAPIUrl}/customerportal/DirectDownloadAttachment?Token=${this.$store.state.user.token}&AttachmentID=${file.AttachmentID}`
      return `${BaseAPIUrl}order/GetAttachmentById?AttachmentID=${file.AttachmentID}`
      // return `${BaseAPIUrl}order/DownloadAttachment?AttachmentID=${file.AttachmentID}`
    }
  }
}
</script>

<style lang="scss" scoped>
.folder {
  display: flex;
  flex-flow: column;
  margin: 10px 40px 10px 10px;
  align-items: center;
  cursor: pointer;
  // :hover {
  // }
}

.file {
  display: flex;
  flex-flow: column;
  margin: 10px 40px 10px 10px;
  align-items: center;
  cursor: pointer;
  //max-width:150px;
}

.hover-italic:hover {
  // font-style: italic;
  color: #006bb7;
}

.hover-icon:hover {
  cursor: pointer;
}

.fad {
  background-color: white;
}
.fa-file-pdf {
  color: red;
}
</style>