<template>
  <span v-html="formatted"></span>
</template>

<script>
var Fraction = require('fraction.js')
export default {
  props: [
    'value'
  ],
  computed: {
    formatted() {
      var x = new Fraction(this.value)
      var f = (x.toFraction(true) + ' IN').split(' ')
      var a = f.shift()
      return '{0} <span style="font-size:.8em;">{1}</span>'.format(a, f.join(' '))
    }
  }
}
</script>

<style>

</style>
