<template>
  <modal :ref="modalName" :name="modalName" width="90%" height="95%" @closed="reset">
    <div v-if="onNull(galleryName, '').length > 0 && onNull(selected, -1) >= 0">
      <div v-if="hasSlides" class="inline" style="margin: 20px;justify-content: space-between; border-bottom: 1px solid lightgray; padding-bottom: 10px;">
        <div class="inline centered">
          <!-- <h2 style="letter-spacing: .12em;font-variant: small-caps;">Gallery:</h2> -->
          <h1>{{galleryName}}</h1>
        </div>
        <div class="inline centered">
          <v-chip tag="h1">
            ({{`${selected + 1} / ${slides.length}`}})
          </v-chip>
          <div v-for="(control, i) in controls" :key="i">
            <v-btn :ref="`control-${control.name}`" @click="controls[i].action(selected)" class="ml-3" icon :title="controls[i].title()" :color="controls[i].color()">
              <!-- :disabled="controls[i].disabled()" -->
              <v-icon>{{controls[i].icon()}}</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <div id="gallery-body">
        <div id="gallery-preview">
          <div id="preview">
            <div v-if="onNull(selected, -1) >= 0" class="inline centered fill-height">
              <div>
                <img :src="loadPhoto(slides[selected])" lazy-src="img/gear-spinner-mini.png" class="fullsize-img" :alt="slides[selected]" :title="slides[selected]" />
              </div>
            </div>
            <div v-else class="inline centered fill-height">
              <!-- <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
              </v-row> -->
              <v-skeleton-loader v-bind="attrs" type="card-heading,image,article,paragraph" style="width: 80%; height: 80%;" loading>
              </v-skeleton-loader>
            </div>
            <div class="my-2">
              <v-progress-linear :value="progress.current" height="5" bottom striped rounded :active="cycle">
                <!-- <template>{{progress.current}}</template> -->
              </v-progress-linear>
            </div>
            <h4 v-if="onNull(selected, -1) >= 0" class="inline centered" style="margin-top: 10px;color: dimgray;">{{slides[selected]}}</h4>
          </div>
          <div id="side-tab" v-if="!hidden">
            <!-- <div style="display: flex; flex-flow: column nowrap; justify-content: flex-start; overflow-y:auto; margin-right: 10px; " v-if="!hidden"> -->
            <div v-for="(slide, i) in slides" :key="i" :id="`slide-thumbnail-${i}`" style="margin: 10px 20px; display: flex; justify-content: center;" >
              <!-- <img :class="`thumbnail-img ${selected == i ? 'selected-img' : ''}`" :src="`${BaseAPIUrl}photo/GetAttachmentByFile?directory=${galleryName}&file=${slide}&thumbnail=true`" @click="selected = i" :alt="slide" :title="slide" /> -->
              <img :class="`thumbnail-img ${selected == i ? 'selected-img' : ''}`" :src="loadPhoto(slides[i], true)" @click="selected = i" :alt="slide" :title="slide" />
              <!-- <v-img class="thumbnail-img" contain :src="loadPhoto(slides[i], true)" lazy-src="img/gear-spinner-mini.png" max-height="180" @click="selected = i" :alt="slide" :title="slide" /> -->
              <!-- <div class="thumbnail-img" @click="selected = i" :alt="slide" :title="slide">{{slide}}</div> -->
              <!-- height="60" max-width="100"  -->
            </div>
            <!-- <v-img class="thumbnail-img" contain :src="loadPhoto(slides[i], true)" height="50" max-width="80" @click="selected = i" /> -->
          </div>
        </div>
      </div>

    </div>
  </modal>
</template>

<script>
// import { BaseAPIUrl } from '@/plugins/axios'
export default {
  props: {
    modalName: {
      type: String,
      default: 'gallery'
    },
    slides: {
      type: Array,
      default: () => []
    },
    loadPhoto: {
      type: Function,
      required: true
    },
    downloadPhoto: {
      type: Function,
      required: true
    },
    galleryName: {
      type: String,
      default: 'Gallery'
    }
  },
  // mounted () {
  //   this.startTimer()
  // },
  data() {
    return {
      // BaseAPIUrl,
      cycle: false,
      selected: null,
      timer: null,
      progress: {
        current: null,
        timer: null,
        increment: 4,
        refresh: 200
      },
      // interval: 5000,
      hidden: false,
      fullscreen: false,
      controls: [
        {
          name: 'cycle',
          icon: () => this.cycle ? 'fa-pause' : 'fa-play',
          title: () => `${this.cycle ? 'Pause' : 'Play'} Slideshow`,
          action: () => this.cycle = !this.cycle,
          color: () => this.cycle ? 'primary' : 'success'
        },
        {
          name: 'previous',
          icon: () => 'fa-chevron-left',
          title: () => 'Previous Image',
          action: this.previous,
          color: () => {}
        },
        {
          name: 'next',
          icon: () => 'fa-chevron-right',
          title: () => 'Next Image',
          action: this.next,
          color: () => {}
        },
        {
          name: 'download',
          icon: () => 'fa-download',
          title: () => 'Download Photo',
          action: i => this.downloadPhoto(i),
          color: () => 'warning'
        },
        {
          name: 'hidden',
          icon: () => this.hidden ? 'fa-eye' : 'fa-eye-slash',
          title: () => (this.hidden ? 'Show' : 'Hide') + ' Thumbnails',
          action: () => this.hidden = !this.hidden,
          color: () => this.hidden ? 'blue-grey' : ''
        },
        // {
        //   name: 'fullscreen',
        //   icon: () => 'fa-expand',
        //   title: () => 'Full Screen',
        //   action: () => (this.fullscreen = !this.fullscreen),
        //   color: () => {}
        // },
        {
          name: 'close',
          icon: () => 'fas fa-times',
          color: () => 'error',
          title: () => 'Close Preview',
          action: this.close
          // action: () => {}
        }
      ],
      attrs: {
        // class: 'my-6',
        // boilerplate: true,
        elevation: 6
        // loading: true
      }
    }
  },
  computed: {
    hasSlides() {
      return this.slides && this.slides.length > 0 && this.selected != null
    }
  },
  watch: {
    cycle(val) {
      if (val) {
        this.start()
      } else {
        this.stop()
      }
    },
    selected(val) {
      if (this.cycle) this.progress.current = 0
      this.scrollToImage(val)
    }
  },
  methods: {
    open(index, start = false) {
      if (index >= 0) this.selected = index
      else this.selected = 0
      // console.warn('open ' + this.galleryName)

      this.$modal.show(this.modalName)

      if (start) this.cycle = true
    },
    close() {
      // console.warn('close ' + this.galleryName)
      this.$modal.hide(this.modalName)
      this.reset()
    },
    reset() {
      this.cycle = false
      this.selected = null
      this.hidden = false
    },
    start() {
      this.progress.timer = setInterval(this.nextSlide, this.progress.refresh)
    },
    stop() {
      clearInterval(this.progress.timer)
      this.progress.timer = null
      this.progress.current = null
    },
    nextSlide() {
      let ready = false

      if (this.cycle) {
        if (this.progress.current >= 100) {
          this.progress.current = 0
          ready = true
        } else {
          this.progress.current += this.progress.increment
        }
      } else {
        ready = true
      }

      if (ready) this.next()
    },
    next() {
      if (this.selected >= this.slides.length - 1) {
        this.selected = 0
      } else {
        this.selected++
      }
    },
    previous() {
      if (this.selected <= 0) {
        this.selected = this.slides.length - 1
      } else {
        this.selected--
      }
    },
    scrollToImage(index) {
      let elemId = `slide-thumbnail-${index}`
      let elem = document.getElementById(elemId)
      if (elem != null) {
        // console.log('found element')
        // console.info(elem)
        elem.scrollIntoView({ block: 'start', behavior: 'smooth' })
        let parent = document.getElementById('side-tab')
        if (parent != null) {
          // console.log('found parent')
          // console.info(parent)
          parent.scrollTop -= 10
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  margin: 0px 20px;
  letter-spacing: 0.15em;
}

.inline {
  display: flex;
  flex-flow: row wrap;
}

.inline.centered {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.inline.no-wrap {
  flex-wrap: nowrap;
}

#gallery-preview {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

// #gallery-body {}

#preview {
  width: 100%;
  // height: 100%;
  margin: 10px;
  padding: 10px;
  height: calc(100vh - 220px);
  img {
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px 5px lightgray;
  }
  // text-align: center;
  // padding: auto;
}

#side-tab {
  overflow-y: auto;
  border-left: 1px solid lightgray;
  height: calc(100vh - 200px);
  margin: 0px 10px;
  width: 15%;
  // max-width: 100px;
  // width: 200px;
  // height: 100%;
  // align-items: flex-start;
  // padding: 0px 10px;
  // width: 100px;
}

.thumbnail {
  margin: 10px 20px;
  // width: 100%;
}

.thumbnail-img {
  cursor: pointer;
  max-height: 150px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  // width: 100%;
  // min-width: 100px;
  // max-width: 180px;
}

.thumbnail-img:hover {
  box-shadow: 0px 0px 5px 2px #006bb7;
  // transition-delay: 250ms;
  transition-property: box-shadow;
  // transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}

.fullsize-img {
  max-width: 100%;
  max-height: calc(100vh - 250px);
  // height: auto;
  // width: 50%;
  // display: inline;
}

.selected-img {
  box-shadow: 0px 0px 5px 5px orange; // green;
}
</style>
