<template>
  <div>
    <div class="page page-row header-bar wide" style="height: 120px;">
      <div style="display: flex; margin-right: 20px; border-right: 1px solid lightgray;">
        <v-img src="img/Frazier.png" contain width="250" @click="$router.push({ name: 'Login' })" style="cursor: pointer;margin: 10px 20px;" v-if="standalone" />
        <h2 class="gallery-title">Gallery</h2>
      </div>
      <div class="page page-row header-bar wide" style="overflow-y: auto;">
        <div v-if="loading">
          <img src="img/gear-spinner.png" height="100px" />
          <!-- <v-progress-circular indeterminate color="grey lighten-5" width="100px" :value="1"></v-progress-circular> -->
          <!-- <v-progress-circular :size="100" :width="3" indeterminate color="primary"></v-progress-circular> -->
        </div>
        <div v-else-if="folders && folders.length > 0" v-for="group in folders" :key="group" class="folder hover-italic" v-on:click="folder = group">
          <i class="fad fa-folder frazier-blue-font" style="font-size: 50px;"></i>
          <div style="font-size: 16px" :style="isFolderSelected(group)">{{ group }}</div>
        </div>
        <div v-else class="page-row">
          <v-alert type="info" border="left" outlined colored-border prominent class="ma-0">
            <h3 style="letter-spacing: .12em;">No photo galleries available at this time. Please try again later.</h3>
          </v-alert>
        </div>
      </div>
    </div>
    <div class="page wide photos">
      <div class="page-row centered ma-3" v-if="!loading && folders && folders.length > 0 && onNull(folder, '') === ''">
        <v-alert type="warning" border="left" outlined colored-border icon="fa-image">
          <h3 style="letter-spacing: .12em;">Please select a gallery from above to proceed.</h3>
        </v-alert>
      </div>
      <div class="" v-else-if="onNull(folder, '') !== ''">
        <div class="page-row">
          <v-btn icon @click="folder = ''" class="ml-1 mr-3">
            <v-icon>far fa-chevron-left</v-icon>
          </v-btn>
          <div class="page-row">
            <h1>{{folder}}</h1>
            <v-btn @click="openSlideshow(0, true)" class="mx-5" v-if="images && images.length > 0">
              <v-icon left>fa-play</v-icon>Start Slideshow
            </v-btn>
          </div>
        </div>

        <div class="page-row wide centered" v-if="loadingImages">
          <img src="img/gear-spinner-large.png" />
        </div>
        <div class="page-row photo-list" v-else-if="images && images.length > 0">
          <div v-for="(image, i) in images" :key="i" style="margin: 20px;">
            <!-- <v-img contain height="150" width="135" :src="getPhotoUrl(image.Name, true)" lazy-src="img/gear-spinner-mini.png" :title="image.Name" :alt="image.Name" @click="openSlideshow(i)" class="img-preview elevation-1" /> -->
            <img style="height: 150px" :src="getPhotoUrl(image.Name, true)" :title="image.Name" :alt="image.Name" @click="openSlideshow(i)" class="img-preview elevation-3" />
            <!-- <img :src="getPhotoUrl(image.DirectoryName, image.Name)" /> -->
          </div>
        </div>
        <div v-else style="margin: 20px" class="page-row">
          <v-alert type="warning" border="left" prominent outlined colored-border class="ma-0">
            <h3 style="letter-spacing: .12em;">Sorry! No photos were found in the <span style="font-size: 1.2em;text-decoration:underline;" class="frazier-blue-font">{{folder}}</span> gallery. Please try again later.</h3>
          </v-alert>
        </div>
      </div>
    </div>
    <gallery-preview ref="gallery" :slides="images.map(i => i.Name)" :loadPhoto="getPhotoUrl" :downloadPhoto="download" :galleryName="folder" />
    <loading :show="loading || loadingImages"></loading>
  </div>
</template>

<script>
import axios from 'axios'
import { BaseAPIUrl } from '@/plugins/axios'
import { DownloadFile, backgroundStyle } from '@/functions'
import GalleryPreview from '@/components/GalleryPreview'
import Loading from '@/components/Loading'

export default {
  components: {
    Loading,
    GalleryPreview
  },
  props: {
    standalone: {
      type: Boolean
    }
  },
  data() {
    return {
      loading: false,
      loadingImages: false,
      folder: '',
      images: [],
      folders: []
    }
  },
  computed: {
    backgroundStyle,
    userID() {
      return this.$store.state.user.userId
    }
    // folders() {
    //   if (this.images && this.images.length > 0) {
    //     let value = this.images.map(item => item.DirectoryName).distinct()
    //     // console.log(value)
    //     return value
    //   }

    //   return []
    // }
  },
  watch: {
    folder(val) {
      if (val && val.length > 0) this.loadImages(val)
    },
    loading(val) {
      let id = 'loading gallery'
      if (val) {
        this.ShowLoading(id)
      } else {
        this.HideLoading(id)
      }
    },
    loadingImages(val) {
      let id = 'loading gallery photos'
      if (val) {
        this.ShowLoading(id)
      } else {
        this.HideLoading(id)
      }
    }
  },
  mounted() {
    this.load()
    this.setHeight()
  },
  methods: {
    load() {
      this.loading = true
      axios
        .get('photo/getgalleries')
        .then(response => {
          this.folders = response.data
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    },
    loadImages(folder) {
      this.images = []
      this.loadingImages = true
      axios
        .get('photo/getgalleryphotos', {
          params: {
            gallery: folder
          }
        })
        .then(response => {
          this.images = response.data
          this.loadingImages = false
        })
        .catch(() => {
          this.loadingImages = false
        })
    },
    getPhotoUrl(file, thumbnails = false) {
      // if (thumbnails) console.log('loading thumbnails: ' + file)
      // else console.log('loading photo: ' + file)
      return `${BaseAPIUrl}photo/GetAttachmentByFile?directory=${this.folder}&file=${file}${thumbnails ? '&thumbnail=true' : ''}${this.userID ? `&userID=${this.userID}` : ''}`
    },
    openSlideshow(index, start = false) {
      this.$refs.gallery.open(index, start)
    },
    closeSlideshow() {
      this.$refs.gallery.close()
    },
    download(index) {
      console.info(index)
      let self = this
      // console.warn('Downloading Photo' + self.images[index].Name)
      let file = self.images[index].Name
      DownloadFile(`${BaseAPIUrl}photo/DownloadAttachment?directory=${this.folder}&file=${file}`, file)
    },
    isFolderSelected(name) {
      let obj = {
        'white-space': 'nowrap'
      }

      if (this.folder === name) {
        obj['color'] = 'orange'
        obj['font-weight'] = 'bold'
        obj['font-size'] = '1.2em'
      }

      return obj
    },
    setHeight() {
      let wrapper = document.getElementsByClassName('photos')
      if (wrapper && wrapper.length > 0) {
        let el = wrapper[0]
        let height = ''
        if (this.standalone) {
          height = 'calc(100vh - 180px)'
        } else {
          height = 'calc(100vh - 300px)'
        }
        el.style.height = height
      } else {
        console.warning(wrapper)
      }
    }
  }
}
</script>

<style lang="scss">
.v-image__image--preload {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
</style>

<style lang="scss" scoped>
.gallery-title {
  transform: rotate(-45deg);
  letter-spacing: 0.15em;
  margin-top: 10px;
  margin-left: 10px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: orange;
}

.page-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.page-row.centered {
  justify-content: center;
}

.page {
  background-color: white;
  overflow-y: auto;
  width: 90vw;
  // max-height: 200px;
  border-radius: 20px;
}

.photo-list {
  justify-content: space-around;
  /* justify-content: center; */
}

.folder {
  display: flex;
  flex-flow: column;
  margin: 10px 40px 10px 10px;
  align-items: center;
  cursor: pointer;
  // :hover {
  // }
}

.hover-italic:hover {
  // font-style: italic;
  color: #006bb7;
}

.page-row.header-bar {
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 10px;
  min-height: 100px;
  max-height: 120px;
}

.wide {
  width: 100%;
}

.photos {
  margin-top: 20px;
  padding-top: 10px;
}

.img-preview {
  // box-shadow: 0px 5px 10px 5px dimgray;
  cursor: pointer;
  border-radius: 5px;
}

.img-preview:hover {
  box-shadow: 0px 5px 10px 5px #006bb7;
  // transition-delay: 1s;
  // transition-delay: 200ms;
  transition-property: box-shadow;
  // transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
</style>
