<template>
  <div>
    <div id="headerIntro">
      <h1 class="welcome">{{ title }}</h1>
      <hr style="margin-left:15px; margin-right:15px;" />
      <br />
      <div class="d-flex flex-row">
        <h3 class="welcome">{{ message }}</h3>
        <div class="mr-10">
          <MyVideo ref="userGuide" :videoFile="helpVideo.VideoFile" :frameFile="helpVideo.VideoImage" :title="helpVideo.Title"></MyVideo>
        </div>
      </div>
      <!--
      <h3 class="welcome">{{ message }}
        <div class="d-flex flex-column align-center">
          <MyVideo ref="userGuide" :videoFile="helpVideo.VideoFile" :frameFile="helpVideo.VideoImage" :title="helpVideo.Title"></MyVideo>
        </div>
      </h3>
      -->
    </div>
    <!-- This tag is causing a console warning regarding will-change memory consumption -->
    <v-carousel :hide-delimiters="!controls" :show-arrows="controls" cycle continuous style="z-index:0;">
      <!-- v-if="photos.length === 0" -->
      <v-carousel-item v-for="(photo, i) in photos" :src="loadPhoto(photo)" :key="i"></v-carousel-item>
    </v-carousel>

    <!-- This tag is causing a console warning regarding will-change memory consumption -->
    <!--
        <div id="headerIntro">
          <h1 class="welcome">
            WELCOME TO FRAZIER'S
            <br />CUSTOMER PORTAL
          </h1>
          <hr />
          <br />
          <h3
            class="welcome"
          >Thank you for visiting Frazier's new Customer Portal. Here you will have the ability to track down your orders, access customer-only news and more!</h3>
        </div>
        <v-carousel style="carousel" :show-arrows="false" hide-delimiters light>
          <v-carousel-item v-for="(photo, i) in photos" :src="photo.src" :key="i"></v-carousel-item>
        </v-carousel>
    -->
  </div>
</template>

<script>
import { BaseAPIUrl } from '@/plugins/axios'
import MyVideo from '@/components/Video'
export default {
  components: {
    MyVideo
  },
  props: ['title', 'message', 'photos', 'controls'],
  data() {
    return {
      helpVideo: {
        VideoFile: 'Frazier Customer Portal.mp4',
        VideoImage: 'Frazier Customer Portal.jpg',
        Title: 'Frazier Customer Portal User Guide',
        Description: ''
      },
    }
  },
  methods: {
    loadPhoto(fileName) {
      // console.log(fileName)
      return `${BaseAPIUrl}security/GetPhoto?filename=${fileName}`
    }
  }
}
</script>

<style lang="scss" scoped>
.carousel {
  margin-top: 30px;
  margin-bottom: 30px;
}

#headerIntro {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding: 5px;
  //width: 55%;
  //width: 1100px;
  min-width:1050px;
  max-width:1200px;
  float: right;
  // background-color: black;
  background: rgba(0, 0, 0, 0.45);
  margin-top: 70px;
  margin-right: 70px;
  color: white;
  // opacity: 0.55;
  height: auto;

  // @media screen and (max-width: 449px) {
  //   color: aliceblue;
  // }
  // @media screen and (min-width: 450px) and (max-width: 1023px) {
  //   color: greenyellow;
  //   // height: 200px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   color: yellow;
  //   // height: 300px;
  // }

  // @media screen and (min-width: 1024px) {
  //   color: tan;
  //   // height: 400px;
  // }
}

.welcome {
  margin-left: 20px;
  margin-right: 20px;
  // font-family: 'Nerko One';
  font-family: 'Futura', 'Tw Cen Mt', Calibri, 'Trebuchet MS', sans-serif;
}

h1.welcome {
  //font-size: 2vw;
  font-size: 2.2em;
  // @media screen and (max-width: 449px) {
  //   font-size: 1em;
  // }
  // @media screen and (min-width: 450px) and (max-width: 1023px) {
  //   font-size: 2em;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: 3em;
  // }

  // @media screen and (min-width: 1024px) {
  //   font-size: 4em;
  // }
}

h3.welcome {
  //font-size: 2vw;
  font-size: 1.75em;
  // @media screen and (max-width: 449px)  and (max-width: 766px) {
  //   font-size: 1em;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1023px) {
  //   font-size: 1.5em;
  // }

  // @media screen and (min-width: 1024px) {
  //   font-size: 2em;
  // }
}
</style>
