<script>
import { Line } from 'vue-chartjs'
import moment from 'moment'
import { defaultColors } from './chart-colors'

export default {
  extends: Line,
  props: [
    'data',
    'setFieldName',
    'xAxisFieldName',
    'pointFieldName'
  ],
  data() {
    return {
      label: null,
      datasets: null
    }
  },
  computed: {
    defaultColors
  },
  watch: {
    data() {
      var setNames = this.data.map(p => p[this.setFieldName]).unique().sort()
      var xAxisNames = this.data.map(p => p[this.xAxisFieldName]).unique().sort()
      var sets = []
      for (var setName of setNames) {
        var data = []
        for (var xName of xAxisNames) {
          var x = this.data.find(p => { return p[this.setFieldName] === setName && p[this.xAxisFieldName] === xName })
          if (x === undefined) {
            data.push(0)
          } else {
            data.push(x[this.pointFieldName])
          }
        }
        sets.push({
          label: setName,
          backgroundColor: defaultColors[sets.length],
          borderColor: defaultColors[sets.length],
          data: data,
          fill: false,
          radius: 2,
          pointHitRadius: 5
        })
      }
      this.labels = xAxisNames
      this.datasets = sets
      this.render()
    }
  },
  mounted() {
  },
  methods: {
    render() {
      if (this.$data._chart !== null) {
        // console.log('destroy chart')
        this.$data._chart.destroy()
      }
      this.renderChart({
        labels: this.labels,
        datasets: this.datasets
      },
      {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            ticks: {
              callback: function(value, index, values) {
                return moment(value).format('ddd, MMM Do')
              },
              autoSkip: false
            }
          }],
          yAxes: [{
            gridLines: {
              display: true
            }
          }]
        },
        plugins: {
          datalabels: {
            display: false,
            backgroundColor: 'lime',
            borderRadius: 4,
            color: 'black',
            font: {
              weight: 'bold'
            }
            // formatter: function (value, context) {
            //   return Math.round(value * 100) + '%'
            // }
          }
        }
      })
    }
  }
}
</script>

<style scoped>
canvas{

  /* width:1000px !important; */
  height:410px !important;

}
</style>
