<template>
  <div id="map"></div>
</template>

<script>
import axios from 'axios'
import { Loader } from '@googlemaps/js-api-loader'
import MarkerClusterer from '@googlemaps/markerclustererplus'
// import { onNull } from '@/functions'

export default {
  props: {
    items: {
      type: Array
    },
    showFrazierPlants: {
      type: Boolean,
      default: false
    },
    zoom: {
      type: Number,
      default: 9
    },
    maxZoom: {
      type: Number,
      default: 20
    },
    clickZoom: {
      type: Number,
      default: 12
    },
    mapType: {
      type: String,
      default: 'hybrid' //roadmap, hybrid, terrain, satellite
    },
    clustered: {
      type: Boolean,
      default: false
    }

  },
  data() {
    return {
      map: null,
      info: null,
      loader: null,
      geolocation: null,
      markers: [],
      cluster: null,
      center: {
        lat: 37.090240,
        lng: -95.712891
      }
    }
  },
  computed: {
    hybridMapType() {
      return google.maps.MapTypeId.HYBRID
    }
  },
  watch: {
    items() {
      this.getGeolocation()
    }
    // zoom (val) {
    //   // console.warn('zoom changing')
    //   if (this.map !== null) {
    //     this.map.setZoom(val)
    //   }
    // }
  },
  mounted() {
    this.loader = new Loader({
      apiKey: 'AIzaSyCpv4b2Dh3K3-nYXJc0XhPd1FYgvOuq7z4',
      version: 'weekly'
    })
    this.initMap()
  },
  methods: {
    initMap() {
      this.loader.load().then(() => {
        this.map = new google.maps.Map(document.getElementById('map'), {
          center: this.center,
          zoom: this.zoom,
          mapTypeId: this.mapType,
          maxZoom: this.maxZoom
        })

        if (this.info === null) {
          this.info = new google.maps.InfoWindow({
            content: ''
          })

          this.info.addListener('closeclick', () => {
            this.closeInfoWindow()
          })
        }

        this.map.addListener('zoom_changed', () => {
          let zoom = this.map.getZoom()
          if (zoom > 15) {
            this.map.setMapTypeId(this.hybridMapType)
          }

          if (zoom <= 13) {
            this.closeInfoWindow()
          }
        })

        this.getGeolocation()
        this.defaultZoom()
      })
    },
    getGeolocation() {
      if (this.items == null || !(this.items instanceof Array)) {
        console.warn('List of addresses should be of type Array')
        return
      }

      this.addCluster()

      this.geolocation = []

      for (let item of this.items) {
        axios.get('order/GetGeolocation', { params: { Address: item.Address } })
          .then(response => {
            let geolocation = response.data

            if (geolocation !== null && geolocation !== undefined) {
              this.geolocation.push(geolocation)
              let marker = this.mapIt(geolocation, item.Id, item.Label, item.Title)

              if (marker != null) {
                this.markers.push(marker)

                // if (this.clusered && this.cluster != null) {
                if (this.cluster != null) {
                  this.cluster.addMarker(marker)
                }
              }
            }
          })
          .catch((error) => {
            console.error(error)
          })
      }
    },
    mapIt(geo, id, label, title) {
      if (geo !== null && geo !== undefined) {

        if (this.map == null) {
          console.error('map not initialized')
          return
        }

        if (this.geolocation.length === 1) {
          this.map.setCenter(new google.maps.LatLng(geo.Latitude, geo.Longitude));
          this.map.setZoom(this.zoom);
        }

        let hasId = id !== null && id !== undefined
        // let identifier = hasId ? `${id}) ` : ''
        // let title = `${identifier}${address} [${orderNum}]`

        let marker = new google.maps.Marker({
          position: { lat: geo.Latitude, lng: geo.Longitude },
          // map: this.items.length > 1 && this.clustered ? null : this.map,
          map: this.map,
          title: title,
          animation: google.maps.Animation.DROP
          // icon: new google.maps.MarkerImage(`http://www.googlemapsmarkers.com/v1/${num}/009900/000000/FFFFFF/`)
        })


        if (hasId)
          marker.setLabel({
            text: `#${id}`,
            fontSize: '11px'
          })

        let event = () => {
          this.info.close()
          this.map.setCenter(marker.getPosition())

          // set zoom after setting center
          if (this.map.getZoom() < this.clickZoom) {
            this.map.setZoom(this.clickZoom)
          }
          // console.warn(`marker: ${marker.getLabel().text} - center: ${marker.getPosition()} / zoom: ${this.map.getZoom()}`)

          this.map.setMapTypeId(this.hybridMapType)

          // if (this.markers.length === 1 || hasDupes) {
          // this.closeInfoWindow()
          this.info.setContent(label)
          this.info.open(this.map, marker)
          // } else {

          // }
          // window.setTimeout(() => { infowindow.close() }, 3000)
          // this.info.addListener('closeclick', () => {
          //   this.closeInfoWindow()
          // })
        }

        this.$emit('default_marker', { id, event })

        marker.addListener('click', () => {
          this.$emit('click_marker', { id, event })
        })

        // marker.addListener('click', () => {
        //   this.$emit('click_marker', { marker, orderNum, event })
        // })

        // google.maps.event.addListener(marker, 'click', (function (marker, i) {
        //   () => {
        //     infoBubble.setContent(infoWindowContent[i]);
        //     infoBubble.open(map, marker);
        //     map.panTo(marker.getPosition());
        //     map.setZoom(17);
        //     // Add this line
        //     // $(".descriptionTextContainer" + marker.id).show();
        //   }
        // })(marker, i));

        return marker
      }

    },
    defaultZoom() {
      let event = () => {
        if (this.map !== null) {
          if (this.markers !== null && this.markers.length > 0) {
            this.map.setCenter(this.markers[0].getPosition())
          } else {
            this.map.setCenter(this.center)
          }
          // this.map.setMapTypeId(google.maps.MapTypeId.ROADMAP) // HYBRID)
          this.map.setMapTypeId(this.mapType)
          let street = this.map.getStreetView()
          if (street.getVisible()) {
            street.setVisible(false)
          }
          this.map.setZoom(this.zoom)
          this.closeInfoWindow()

        }
      }

      this.$emit('default_zoom', { event })
    },
    closeInfoWindow() {
      if (this.info !== null && this.info.map !== null) {
        // console.warn('closing info window')
        this.info.close()
      }
      this.$emit('close_info_window')
    },
    addCluster() {
      // console.warn(`items: ${this.items.length} / clusterd: ${this.clustered}`)
      if (this.items.length > 1 && this.clustered && this.cluster == null) {
        // console.warn('adding map clusters')

        this.cluster = new MarkerClusterer(this.map, null, {
          imagePath: 'img/icons/m'
          // zoomOnClick: false
        })

        this.cluster.setCalculator((markers) => {
          return {
            index: 0,
            text: markers.length
          }
        })

        this.cluster.setTitle('Click to zoom')


        google.maps.event.addListener(this.cluster, 'clusterclick', () => {
          if (this.cluster !== null) {
            let clusters = this.cluster.getClusters()
            if (clusters.length == 1) { // && this.map.getZoom() > 12) {
              let cluster = clusters[0]
              let markers = cluster.getMarkers()
              if (markers.length > 0) {
                let content = ''
                let address = ''
                for (let marker of markers) {
                  let id = marker.getLabel().text.replaceAll('#', '')
                  let item = this.items.find(p => p.Id == id)
                  if (item !== null) {
                    content += `<div style="padding: 4px; margin: 5px; border-bottom: 1px dashed lightgray; font-weight: bold">${item.Id != null && item.Id != undefined ? `#${item.Id}) ` : ''}${item.OrderNum}</div>`
                    // content += `<div style="padding: 4px; margin: 5px; border-bottom: 1px dashed lightgray; font-weight: bold">${id != null && id != undefined ? id + ') ' : ''}${marker.getTitle().replace('\r\n', '<br/>').replace('\n', '<br/>')}</div>`
                    address = item.AddressHTML
                  }
                }
                if (this.info !== null) {
                  // this.closeInfoWindow()
                  // could add this for more info
                  // <span style="font-style:italic;color: dimgray; border-bottom: 2px solid dimgray;padding: 2px; margin:2px;">(${markers.length} orders linked to this address)</span>
                  this.info.setContent(`<div id="content" style="max-height: 250px; overflow-y: auto;"><div style="padding: 4px; margin: 5px 10px 5px 5px; border-bottom: 2px solid dimgray; font-weight: bold">${address.replace('\r\n', '<br/>').replace('\n', '<br/>')}<br/></div>${content}</div>`)
                  this.info.setPosition(cluster.getCenter())
                  this.info.open(this.map)
                  // this.info.open(this.map, markers[0])
                } else {
                  console.error('info window is null and could not be updated')
                }
              }
            }
          }
        })
      }
    }
  }
}
</script>
