<template>
  <span>{{formatted}}</span>
</template>

<script>
export default {
  props: [
    'minutes'
  ],
  computed: {
    formatted() {
      var a = Math.ceil(Number(this.minutes))
      var hours = Math.trunc(a / 60)
      var minutes = a % 60
      return hours + ':' + minutes.pad(2)
    }
  }
}
</script>

<style>

</style>
