<template>
  <div :id="outerWrapperId">
    <div :id="wrapperId" v-show="!disabled">
      <div :id="editorId"></div>
    </div>
    <div :id="disabledWrapperId" v-show="disabled" v-html="value"></div>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    height: null,
    disabled: Boolean,
    full: Boolean,
    sourceEditing: Boolean,
    mini: Boolean
  },
  data() {
    return {
      editor: null,
      wrapperId: this.randomString(),
      outerWrapperId: this.randomString(),
      disabledWrapperId: this.randomString(),
      editorId: this.randomString(),

      lastChangeEmitValue: null,
      lastInputEmitvalue: null,

      heightInterval: null,
      changeTimer: null
    }
  },
  computed: {
    editorConfig() {
      var self = this

      var killPlugins = [
        // 'SourceEditing',
        // 'Heading',
        // 'Link',
        // 'FontFamily'
        // 'autogrow'
      ]

      if (this.mini) {
        var toolbarItems = ['bold', 'italic', 'underline', 'fontColor']
      } else {
        var toolbarItems = [
          // "heading",
          // "|",
          'undo',
          //"redo",
          '|',
          'bold',
          'italic',
          'underline',
          '|',
          'alignment',
          'fontSize',
          'fontColor',
          'fontBackgroundColor',
          'removeFormat',
          '|',
          // "link",
          'bulletedList',
          'numberedList'
          // "fontFamily",
          //"strikethrough",
          // "subscript",
          // "superscript",
          // "|",
          // "horizontalLine",
          // "outdent",
          // "indent",
          // "|",
          // "imageInsert",
          // "blockQuote",
          // "insertTable",
          // "sourceEditing"
        ]
      }

      if (this.full && !this.mini) {
        toolbarItems.push('|')
        toolbarItems.push('fontFamily')
        toolbarItems.push('blockQuote')
        toolbarItems.push('|')
        toolbarItems.push('horizontalLine')
        toolbarItems.push('outdent')
        toolbarItems.push('indent')
        toolbarItems.push('|')
        toolbarItems.push('insertTable')
        toolbarItems.push('imageInsert')
      }

      if (this.sourceEditing) {
        toolbarItems.push('sourceEditing')
      }

      return {
        autosave: {
          save(editor) {
            //return self.save() // this.$emit('input', editor.getData())
          }
        },
        fontSize: {
          options: [10, 12, 14, 16, 18, 20, 30, 40]
        },
        toolbar: toolbarItems,
        removePlugins: killPlugins,
        image: {
          resizeUnit: 'px'
        }
      }
    }
  },
  watch: {
    value(val) {
      if (val !== this.lastInputEmitvalue) {
        console.log('set ckeditor value via watcher')
        this.editor.setData(this.onNull(val, ''))
      }
    }
  },
  mounted() {
    this.initEditor()
  },
  beforeDestroy() {
    if (this.changeTimer != null) this.$emit('change', this.lastInputEmitvalue)
    document.querySelectorAll(`[ckeditor="${this.wrapperId}"]`)[0].remove()
    this.editor.destroy()
  },
  methods: {
    initEditor() {
      ClassicEditor.create(document.querySelector(`#${this.editorId}`), this.editorConfig)
        .then(editor => {
          this.editor = editor

          // initialize data
          this.editor.setData(this.onNull(this.value, ''))
          this.lastChangeEmitValue = this.onNull(this.value, '')

          // set height
          this.setHeight()

          // change event
          editor.model.document.on('change:data', () => {
            var str = this.extractParagraphSymbols(this.editor.getData())

            // Input event - instantaneous after any key press
            this.lastInputEmitvalue = str
            this.$emit('input', str)

            // Change Event
            if (this.changeTimer != null) {
              clearTimeout(this.changeTimer)
              this.changeTimer = null
            }

            if (this.lastChangeEmitValue != str) {
              this.changeTimer = setTimeout(_ => {
                // console.log('ckeditor change')
                this.lastChangeEmitValue = str
                this.$emit('change', str)
                this.changeTimer = null
              }, 750)
            }
          })
        })
        .catch(error => {
          console.error(error)
        })
    },
    extractParagraphSymbols(str) {
      str = str.replaceAll('</p>', '')
      // remove <p> and </p> from text - ckeditor adds these..annoyingly.
      const regex = new RegExp('(</?p.*?>)', 'g')
      let m
      while ((m = regex.exec(str)) !== null) {
        // This is necessary to avoid infinite loops with zero-width matches
        if (m.index === regex.lastIndex) {
          regex.lastIndex++
        }

        // The result can be accessed through the `m`-variable.
        m.forEach((match, groupIndex) => {
          // console.log(`Found match, group ${groupIndex}: ${match}`);
          if (str.startsWith(match)) str = str.replace(match, '')
        })
      }
      return str
    },
    randomString(len = 20, charSet) {
      charSet = charSet || 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
      var randomString = ''
      for (var i = 0; i < len; i++) {
        var randomPoz = Math.floor(Math.random() * charSet.length)
        randomString += charSet.substring(randomPoz, randomPoz + 1)
      }
      return randomString
    },
    setHeight() {
      const styleEl = document.createElement('style')
      document.head.appendChild(styleEl)
      styleEl.setAttribute('ckeditor', this.wrapperId)
      const styleSheet = styleEl.sheet
      var h = this.height
      if (h == 'inherit') {
        //setTimeout(_ => {
        if (this.heightInterval == null) {
          // this.heightInterval = setInterval(() => {
          h = `${document.getElementById(this.outerWrapperId).parentElement.scrollHeight - document.getElementById(this.outerWrapperId).getElementsByClassName('ck-editor__top')[0].offsetHeight}px`
          // }, 1000)
        }
        //styleSheet.insertRule(`#${this.wrapperId} .ck-editor__editable_inline { min-height: ${h}; max-height: ${h} }`)
        //}, 0)
      } //else {
      styleSheet.insertRule(`#${this.wrapperId} .ck-editor__editable_inline { min-height: ${h}; max-height: ${h}; }`)
      styleSheet.insertRule(`#${this.disabledWrapperId} { min-height: ${h}; max-height: ${h}; }`)
      // }
    }
  }
}
</script>

<style lang="scss">
.ck-editor__editable_inline {
  // min-height: 100px;
  // max-height: 300px;
}
.ck-button {
  transform: scale(0.8);
}

.ck.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break),
.ck.ck-toolbar > .ck.ck-toolbar__grouped-dropdown {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ck.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break) {
  margin: 0px !important;
  padding: 0px !important;
}

.ck.ck-toolbar .ck.ck-toolbar__separator {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button:not(.ck-button_with-text) {
  padding: 0px !important;
}
</style>
