<template>
  <v-menu
    :close-on-content-click="false"
    v-model="menu"
    transition="scale-transition"
    offset-y
    min-width="290px">
    <template v-slot:activator="{ on }">
      <!-- <span slot="activator"> -->
      <v-btn
        small
        tabindex="-1"
        :text="flat"
        :outlined="flat"
        :color="color"
        style="min-width: 100px; margin-right: 2px"
        :title="tooltip"
        v-on="on"><my-moment :value="date" :format="format"></my-moment></v-btn>
      <!-- </span> -->
    </template>
    <v-date-picker v-model="date">
      <v-btn
        v-if="date !== null && allowClear"
        color="error"
        @click="date = null"
        style="width: 100%">Clear Date</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
import moment from 'moment'
import MyMoment from './MyMoment'
export default {
  components: {
    MyMoment
  },
  props: {
    value: {
    },
    format: {
      default: 'MMM-DD-YY'
    },
    color: {
      default: ''
    },
    allowClear: {
      default: true
    },
    flat: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      menu: false,
      date: this.value === null || this.value === 'Invalid date' ? null : this.value.split('T')[0]
    }
  },
  computed: {
    tooltip() { return moment(this.date).format('ddd, MMM Do, YYYY') }
  },
  watch: {
    value(val) {
      this.date = val === null || this.value === 'Invalid date' ? null : val.split('T')[0]
    },
    date(val) {
      this.menu = false
      try {
        if (val !== this.value) {
          this.$emit('input', val)
        }
      } catch (err) {
        this.$emit('input', val)
      }
    }
  },
  methods: {
    moment
  }
}
</script>

<style>
</style>
