<template>
  <span :title="tipFormatted">{{ formatted }}</span>
</template>

<script>
import moment from 'moment'
require('moment-timezone')

export default {
  props: [
    'value',
    'format',
    'localize',
    'tip'
  ],
  data() {
    return {

    }
  },
  computed: {
    formatted() {
      if (this.value === undefined || this.value === null) {
        return ''
      }
      return this.momentValue.format(this.format || 'M-D-YY')
    },
    tipFormatted() {
      if (this.value === undefined || this.value === null || this.tip == undefined || this.tip == null) {
        return ''
      }
      return this.momentValue.format(this.tip)
    },
    momentValue() {
      var x = moment(this.value)

      if (this.localize != undefined) {
        if (!this.value.toString().endsWith('Z')) {
          x = moment.utc(this.value)
          var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
          // let msg = `localizing ${tz} datetime ${x}`
          x = x.tz(tz)
          // msg += `to ${x}`
          // console.log(msg)
        }
      }
      return x
    }
  }
}
</script>

<style>
</style>
