<template>
  <select :value="value" @change="update($event.target.value)">
    <!-- <option v-for="o in listOptions" :key="o[optionsValue]" :value="o[optionsValue]">{{text(o)}}</option> -->
    <option v-for="o in list" :key="o.value" :value="o.value">{{o.text}}</option>
  </select>
</template>

<script>
import { onNull } from '@/functions'
export default {
  props: [
    'options',
    'optionsValue',
    'optionsText',
    'optionsCaption',
    'value'
  ],
  data() {
    return {

    }
  },
  computed: {
    list() {
      if (this.options === null) { console.log('list not specified'); return null }
      var x = this.options.map(p => { return { text: this.text(p), value: p[this.optionsValue] } })
      if (onNull(this.optionsCaption, '') !== '') {
        x.unshift({ text: this.optionsCaption, value: null })
      }
      return x
    }
  },
  watch: {
    list(val) {
      // console.log('val data')
      // console.log(val)
      // console.log('value = ' + this.value)
      if (val === undefined || val === null || val.length === 0) {
        // console.log('List cleared')
        this.$emit('input', null)
      } else if (this.value !== null && val.find(p => {
        // console.log(`compare ${p.value} to ${this.value}`)
        return onNull(p.value, '').toString() === onNull(this.value, '').toString()
      }) === undefined) {
        // console.log('Item missing from list')
        if (val.length > 0) {
          this.$emit('input', val[0]['value'])
        } else {
          this.$emit('input', null)
        }
      } else if (val.length > 0 && (this.value === null || this.value === '')) {
        // console.log('Set select default to ' + val[0]['value'])
        this.$emit('input', val[0]['value'])
      }
    }
  },
  methods: {
    update(val) {
      this.$emit('input', val)
    },
    text(val) {
      if (val === undefined || val === null) { return '' }
      if (typeof this.optionsText === 'function') {
        return this.optionsText(val)
      } else {
        return val[this.optionsText]
      }
    },
    onNull
  }
}
</script>

<style>

</style>
