<template>
  <div>
    <div style="
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 5px;
        align-items: center;
      ">
      <slot name="menu-start"></slot>
      <v-text-field prepend-icon="fa-search" :label="filteringLabel" :hint="filteringHint" v-model="filterComputed" v-if="filtering" style="max-width: 400px" :hide-details="onNull(filteringHint, '').length == 0" autocomplete="off" clearable>
      </v-text-field>
      <div v-if="cardView" class="d-flex">
        <span class="ml-4" style="
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.05rem;
          ">View</span>
        <v-radio-group class="ma-0 pa-0 ml-2" row v-model="selectedView" hide-details dense style="">
          <v-radio label="Table" value="table"></v-radio>
          <v-radio label="Cards" value="cards"></v-radio>
        </v-radio-group>
      </div>
      <slot name="menu-end"></slot>
    </div>
    <slot name="pre-table"></slot>
    <div v-show="selectedView == 'table'" v-resize="onResize" :id="wrapperId" class="my-table-wrapper frazier-table-wrapper" :style="
        customStyle !== null && customStyle.length > 0
          ? customStyle
          : wrapperStyle
      ">
      <!-- :style="wrapperStyle" -->
      <table v-show="recordsExist" class="frazier-freeze-table">
        <!-- <colgroup v-for="n in colCount" :key="n"></colgroup> -->
        <thead>
          <slot name="header"></slot>
          <tr v-if="colCount > 0">
            <th v-for="n in colCount" :key="n"></th>
          </tr>
        </thead>
        <tbody>
          <slot name="body" v-bind:items="filteredItems"></slot>
        </tbody>
        <tfoot>
          <slot name="footer"></slot>
        </tfoot>
      </table>
      <div v-show="!recordsExist" style="
          height: inherit;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
        ">
        <slot name="no-records">
          <div style="font-size: 35px; text-align: center">
            <i class="fad fa-frown" style="
                --fa-primary-color: gray;
                --fa-secondary-color: #006bb7;
                font-size: 50px;
              "></i><br />
            <span style="font-weight: 300">{{ noRecordsMessage }}</span>
          </div>
        </slot>
      </div>
    </div>
    <div v-if="paging && selectedView == 'table' && recordsExist" class="ma-1" style="display: flex; flex-flow: row">
      <div class="mr-2"> Page <v-icon small @click="currentPage = 1" :disabled="currentPage == 1">fas fa-chevron-double-left</v-icon>
        <v-icon small @click="currentPage--" class="mx-2" :disabled="currentPage == 1">far fa-chevron-left</v-icon>
        <!-- <select class="px-1" :value="currentPage" @change="evt => currentPage = Number(evt.target.value)" style=" -->
        <select class="px-1" v-model="currentPage" style="
            border-style: solid;
            background-color: white;
            text-align: center;
            min-width: 25px;
          ">
          <option v-for="c in pageCount" :key="c" :value="c">{{ c }}</option>
        </select>
        <v-icon small @click="currentPage++" class="mx-2" :disabled="currentPage >= pageCount">far fa-chevron-right</v-icon>
        <v-icon small @click="currentPage = pageCount" :disabled="currentPage >= pageCount">fas fa-chevron-double-right</v-icon>
      </div>
      <div> {{ Math.max((currentPage - 1) * pageSize, 0) }} - {{
          filteredCount > 0 ? Math.min((currentPage - 1) * pageSize + pageSize - 1, filteredCount) : 0
        }} of {{ filteredCount }} records <span v-if="onNull(filter, '').length > 0" class="frazier-blue-font" style="font-style: italic">filtered</span>
      </div>
    </div>
    <div v-show="selectedView == 'cards'" style="display: flex; flex-flow: row wrap">
      <slot name="cards" v-bind:items="filteredItems"></slot>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
// Version 1 Adam
import moment from 'moment'
import _ from 'lodash'
export default {
  props: {
    items: Array,
    freezeCols: {
      type: Number,
      default: 0
    },
    heightReduction: {
      type: Number,
      default: 0
    },
    customStyle: {
      type: String,
      default: ''
    },
    customFilter: {
      type: String,
      default: null
    },
    filtering: Boolean,
    filteringHint: {
      type: String,
      default: 'type here to search'
    },
    filteringLabel: {
      type: String,
      default: 'Search'
    },
    noRecordsMessage: {
      type: String,
      default: 'No Records'
    },
    cardView: Boolean,
    defaultView: {
      type: String,
      default: 'table'
    },
    valueConversionFunction: Function,
    paging: Boolean,
    pageSize: {
      type: Number,
      default: 100
    },
    filterFunction: Function,
    sorting: {
      type: Boolean,
      default: true
    },
    loadingFunction: Function,
    totalItemCount: Number,
    searchFields: Array
  },
  data() {
    return {
      filter: null,
      frozen: false,
      colCount: 0,
      wrapperStyle: {
        // height: 0
      },
      sortField: null,
      sortOrder: 'asc',
      selectedView: 'table',
      fields: [],
      currentPage: 1,
      filteredCount: 0
    }
  },
  watch: {
    customFilter (val) {
      if (val !== null && val !== undefined) {
        this.filter = val
      }
    },
    pageCount(val) {
      if (this.currentPage > val) {
        this.currentPage = val
      } else if (this.currentPage < val) {
        this.currentPage = 1
      }
    },
    filteredItems: _.debounce(function () {
      var self = this
      $('#' + this.wrapperId)
        .find('tbody tr')
        .each(function (i) {
          if (self.onNull($(this).attr('row-prepped'), false) !== 'true') {
            self.PrepRow($(this))
          }
        })

      var widthInterval = setInterval(() => {
        var width = 0
        $('tbody tr')
          .first()
          .find('td')
          .each(function (x) {
            if (x + 1 <= self.freezeCols) {
              $(`.sticky-col-${x}`).css('left', `${width}px`)
              $(`tbody .sticky-col-${x}`).css('z-index', '1')
              $(`thead .sticky-col-${x}`).css('z-index', '2')
            }
            width += $(this).outerWidth()
          })
        if (width > 0) {
          clearInterval(widthInterval)
        }

      }, 1000)
    }, 50),
    currentPage(val) {
      this.reloadData()
    }
  },
  mounted() {
    this.selectedView = this.defaultView
    this.initializeTable()
    if (this.loadingFunction != undefined) this.loadingFunction(null, null, 0, this.pageSize)
          if (this.customFilter !== undefined) {this.filter = this.customFilter}

  },
  computed: {
    wrapperId() {
      return `scrolly_table${Math.random().toString().replace('0.', '')}`
    },
    pageCount() {
      return Math.ceil(this.filteredCount / this.pageSize)
    },
    recordsExist() {
      return this.items != undefined && this.items != null && this.items.length > 0
    },
    filterComputed: {
      get() {
        return this.filter
      },
      set: _.debounce(function (newValue) {
        this.filter = newValue
        this.reloadData()
      }, 350)
    },
    filteredItems() {
      var self = this
      var records

      if (this.onNull(this.filter, '').length > 0 && this.loadingFunction === undefined) {
        function GetValue(item, field) {
          if (self.valueConversionFunction != null) {
            return self.valueConversionFunction(item[field], field, item)
          } else {
            return item[field]
          }
        }

        var data = this.items.filter(function (obj) {
          return Object.keys(obj).some(function (e) {
            if (!self.fields.some((p) => p == e)) return false
            return self.onNull(GetValue(obj, e), '').toString().toLowerCase().contains(self.filter.toLowerCase())
          })
        })

        records = data
      } else {
        records = this.items
      }

      if (this.filterFunction != null) records = records.filter((p) => this.filterFunction(p))

      this.filteredCount = this.totalItemCount || this.onNull(records, []).length

      if (this.loadingFunction != undefined && this.filteredCount < (this.currentPage - 1) * this.pageSize) {
        this.currentPage = 1
      }

      if (this.paging && this.loadingFunction == undefined) {
        var startSlice = (this.currentPage - 1) * this.pageSize
        return records.slice(startSlice, startSlice + this.pageSize)
      } else {
        return records
      }
    }
  },
  methods: {
    initializeTable() {
      var self = this
      $('#' + this.wrapperId).delegate('th', 'click', function (e) {
        var sortField = $(this).attr('field')
        if (self.onNull(sortField, '').length > 0 && self.sorting) {
          $('#' + self.wrapperId)
            .find('thead i[sort-icon]')
            .remove()
          self.sort(sortField, $(this).index())
          $(this).append(`<i sort-icon class="fa fa-sort-${self.sortOrder === 'asc' ? 'up' : 'down'}" style="margin-left:2px;"></i>`)
        }
      })

      $('#' + this.wrapperId).delegate('td', 'mouseenter mouseleave', function (e) {
        var idx = self.SumColSpan($(this).parent(), $(this).index())
        if (e.type == 'mouseenter') {
          $('#' + self.wrapperId)
            .find('thead tr')
            .each(function (i) {
              var c = self.GetColumnIndex($(this), idx)
              $(this).children().eq(c).addClass('header-hover')
            })
        } else {
          $('#' + self.wrapperId)
            .find('thead tr')
            .each(function (i) {
              var c = self.GetColumnIndex($(this), idx)
              $(this).children().eq(c).removeClass('header-hover')
            })
        }
      })

      $('#' + this.wrapperId).delegate('tr', 'mouseenter mouseleave', function (e) {
        var gradient = 'linear-gradient(to bottom, rgba(0,107,183,0.1) 0%,rgba(0,107,183,0.1) 36%,rgba(0,107,183,0.1) 99%,rgba(0,107,183,0.1) 100%)'
        if (e.type == 'mouseenter') {
          $(this).find('td').addClass('my-table-row-hover')
          if (self.freezeCols > 0) {
            var tmp = $(this).find(`td:lt(${self.freezeCols})`).last().parent().css('background-color')
            if (tmp != null) {
              $(this)
                .find(`td:lt(${self.freezeCols})`)
                .last()
                .css('background', gradient + ', linear-gradient(to left, lightgray 1px, ' + tmp.replace('rgba(0, 0, 0, 0)', '#FBFBFB') + ' 1px)')
            }
          }
        } else {
          $(this).find('td').removeClass('my-table-row-hover')
          if (self.freezeCols > 0) {
            var originalBI = $(this).find(`td:lt(${self.freezeCols})`).last().css('background-image')
            if (self.onNull(originalBI, '').contains('),')) {
              var original = originalBI.split('),')[1]
              $(this).find(`td:lt(${self.freezeCols})`).last().css('background', original)
            }
          }
        }
      })

      $('#' + this.wrapperId)
        .find('tbody tr')
        .each(function (i) {
          if (self.onNull($(this).attr('row-prepped'), false) != 'true') {
            self.PrepRow($(this))
          }
        })

      if (!this.frozen) {
        var x = 0
        $('#' + this.wrapperId)
          .find('thead tr')
          .each(function () {
            x = Math.max(x, $(this).children().length)
          })
        this.colCount = x
        this.$forceUpdate()
        $('#' + this.wrapperId)
          .find('[field]')
          .each(function () {
            self.fields.push($(this).attr('field'))
          })

        setTimeout(() => {
          $('#' + this.wrapperId)
            .find('thead tr')
            .each(function (i) {
              if (self.onNull($(this).attr('row-prepped'), false) != 'true') {
                self.PrepHeaderRow($(this))
              }
            })
        }, 100)

        var heightInterval = setInterval(() => {
          var height = 0
          $('#' + this.wrapperId)
            .find('thead tr')
            .each(function (i) {
              $(this)
                .find('th')
                .each(function () {
                  $(this).css('top', height.toString() + 'px')
                })
              height += $(this).height()
              if (height > 0) {
                clearInterval(heightInterval)
              }
            })
        }, 1000)

        this.frozen = true
      }
    },
    onNull(val, _default) {
      if (val === undefined || val === null) {
        return _default
      }
      return val
    },
    reloadData() {
      if (this.loadingFunction != undefined) {
        var sort = this.sortField == null ? null : `${this.sortField} ${this.sortOrder}`
        if (this.filter == null) {
          this.loadingFunction(null, sort, (this.currentPage - 1) * this.pageSize, this.pageSize)
          return
        }

        var f = []

        for (var prop of this.searchFields) {
          if (typeof prop == 'string') {
            f.push(`${prop}.contains("${this.filter}")`)
          } else if (typeof prop == 'object' && prop.type == Number && !isNaN(this.filter)) {
            f.push(`${prop.field} = ${this.filter}`)
          } else if (typeof prop == 'object' && prop.type == String) {
            f.push(`${prop.field}.contains("${this.filter}")`)
          }
        }
        this.loadingFunction(this.filter == null ? null : f.join(' OR '), sort, (this.currentPage - 1) * this.pageSize, this.pageSize)
      }
    },
    onResize() {
      this.wrapperStyle.height = (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - this.heightReduction).toString() + 'px'
    },
    setFilter(val) {
      this.filterComputed = val
    },
    SumColSpan(row, toIdx) {
      var self = this
      var x = 0
      row.children().each(function (i) {
        if (i < toIdx) {
          x += self.onNull($(this).attr('colspan'), 1)
        }
      })
      return x
    },
    PrepRow(row) {
      var self = this
      if (this.freezeCols > 0) {
        row.find('td').each(function (x) {
          if (self.freezeCols > 0 && x <= self.freezeCols - 1) {
            $(this).addClass(`sticky-col sticky-col-${x}`)
          }
        })

        row.find(`td:lt(${this.freezeCols})`).each(function () {
          $(this).css('background-color', $(this).parent().css('background-color').replace('rgba(0, 0, 0, 0)', '#FBFBFB'))
        })
        row
          .find(`td:lt(${this.freezeCols})`)
          .last()
          .css(
            'background',
            'linear-gradient(to left, lightgray 1px, ' +
              row
                .find('td:lt(' + this.freezeCols.toString() + ')')
                .last()
                .parent()
                .css('background-color')
                .replace('rgba(0, 0, 0, 0)', '#FBFBFB') +
              ' 1px) '
          )
      }

      row.attr('row-prepped', true)
    },
    PrepHeaderRow(row) {
      var self = this

      row.find('th, td').each(function (x) {
        if (self.freezeCols > 0 && x <= self.freezeCols - 1) {
          $(this).addClass(`sticky-col sticky-col-${x}`)
        }
      })

      if (!row.is(':last-child') && this.freezeCols > 0) {
        row
          .find(`th:lt(${this.freezeCols})`)
          .last()
          .css(
            'background',
            'linear-gradient(to left, lightgrey 1px, ' +
              row
                .find('th:lt(' + this.freezeCols.toString() + ')')
                .last()
                .parent()
                .css('background-color')
                .replace('rgba(0, 0, 0, 0)', '#F5F5F5') +
              ' 1px) '
          )
      }

      row.attr('row-prepped', true)
    },
    GetColumnIndex(row, idx) {
      idx += 1
      var self = this
      var rtn = -1
      row.children().each(function (i) {
        idx -= self.onNull($(this).attr('colspan'), 1)
        if (idx <= 0 && rtn < 0) {
          rtn = $(this).index()
        }
      })
      return rtn
    },
    sort(byField, colIndex) {
      var self = this

      if (this.sortField != byField) {
        this.sortOrder = 'asc'
      } else if (this.sortField === byField) {
        this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc'
      }

      if (this.loadingFunction != undefined) {
        this.sortField = byField
        this.reloadData()
        return
      }

      function GetValue(item) {
        if (self.valueConversionFunction != null) {
          // console.log(`id convert ${byField} --> ${item[byField]} = ${self.valueConversionFunction(item[byField], byField)}`)
          return self.valueConversionFunction(item[byField], byField)
        } else {
          return item[byField]
        }
      }

      // determine field type
      var fieldType = ''
      for (var item of this.items) {
        var a = GetValue(item)
        //  console.log(`field type analyze value --> ${a}`)
        if (a != undefined && a != null) {
          // console.log(`!isNaN = ${!isNaN(a)}`)
          if (!isNaN(a) && !moment(a).isValid()) {
            // console.log('is a number')
            // Is a number
            if (fieldType == 'number' || fieldType == '') {
              fieldType = 'number'
            } else {
              fieldType = 'string'
              break
            }
          } else if (moment(a).isValid()) {
            // console.log('is a date')
            // is a date
            if (fieldType == 'date' || fieldType == '') {
              fieldType = 'date'
            } else {
              fieldType = 'string'
              break
            }
          } else {
            // console.log('is a string')
            // string
            fieldType = 'string'
            break
          }
        }
      }
      // console.log(`sorting on ${byField} (${fieldType}). Column Index is ${colIndex}`)
      // if (this.sortField === byField) {
      //   this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc'
      // }
      this.sortField = byField
      this.items.sort((a, b) => {
        var aVal = ''
        var bVal = ''

        aVal = GetValue(a) //a[byField]
        bVal = GetValue(b) //b[byField]

        if (fieldType == 'string') {
          aVal = this.onNull(aVal, '')
          bVal = this.onNull(bVal, '')
        } else if (fieldType == 'date') {
          aVal = moment(self.onNull(aVal, '01/01/1900'))
          bVal = moment(self.onNull(bVal, '01/01/1900'))
        }

        if (aVal < bVal) {
          // console.log(`comparison --> ${aVal} < ${bVal}`)
          return this.sortOrder === 'asc' ? -1 : 1
        }
        if (aVal > bVal) {
          // console.log(`comparison --> ${aVal} > ${bVal}`)
          return this.sortOrder === 'asc' ? 1 : -1
        }
        // console.log(`comparison --> ${aVal} = ${bVal}`)
        // a must be equal to b
        return 0
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.my-grid-background {
  background: #f5f5f5;
}
.sticky-col {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
}

// This is the table element itself
.frazier-freeze-table {
  border-collapse: collapse;
  // background: #fafafa; // color of data
  // background: whitesmoke; // color of data
  background: white; // color of data
  width: 100%;

  thead {
    tr:first-child {
      th {
        top: 0;
      }
    }

    tr:last-child {
      th {
        height: 1px;
        padding: 0px;
        background-color: lightgray;
      }
    }

    th {
      font-weight: 400;
      font-size: 0.825em;
      text-transform: uppercase;
      padding: 2px 10px 2px 10px;
      letter-spacing: 0.1em;
      background: #f5f5f5;
      white-space: nowrap;
      color: #757575;
      position: sticky;
      z-index: 1;

      &[field] {
        cursor: pointer;
      }
      &:hover {
        color: #006bb7;
        font-style: italic;
      }
    }

    .header-hover {
      color: #006bb7;
      font-style: italic;
      background-color: #eeeeee;
    }
  }

  tbody {
    td {
      padding: 2px 10px 2px 10px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      min-height: 34px;
      height: 34px;
      white-space: nowrap;
    }

    tr {
      input:not([type='checkbox']) {
        border: 1px solid transparent;
        padding: 1px;
        margin: -1px;
      }
      .hover-show {
        display: none;
      }
    }

    tr:hover {
      select {
        appearance: menulist;
        border-style: solid;
        background-color: white;
        margin-left: -5px;
        margin-right: -10px;
      }

      input:not([type='checkbox']) {
        appearance: textfield;
        border: 1px solid lightgray;
        padding: 1px;
        background-color: white;
      }

      .hover-show {
        display: initial;
      }
    }

    .my-table-row-hover {
      background-image: linear-gradient(to bottom, rgba(0, 107, 183, 0.1) 0%, rgba(0, 107, 183, 0.1) 36%, rgba(0, 107, 183, 0.1) 99%, rgba(0, 107, 183, 0.1) 100%);
    }
  }

  .right-border {
    background: lightgray;
    padding: 0px;
    min-width: 1px;
    max-width: 1px;
    width: 1px;
  }
}

// This is the div that wraps the table
.my-table-wrapper {
  @extend .my-grid-background;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid lightgray;
  // padding: 1px;
}
</style>
