<template>
  <div class='my-table-root' :style="{'width' : width == 'fill' ? '100%' : ''}">
    <div v-if="filtering || showHeader || excel" class="my-table-header-wrapper">
      <slot name="menu-start"></slot>
      <div v-if="filtering" class="search-box-wrapper">
        <i class="search-box-search-icon" title="Search"></i>
        <!-- <Fa class="search-box-search-icon">search</Fa> -->
        <input
          class="search-box"
          autocomplete="off"
          v-model="filterComputed"
          :placeholder="filteringLabel"
          v-on:focus="focusEvt"/>
        <i class="search-box-clear-icon far fa-times" title="Clear Search" @click="filterComputed = ''"></i>
      </div>
      <v-btn @click="exportToExcel" v-if="excel" :disabled="items == null || items.length == 0" class="ma-0 ml-3" small color="primary" title="Export to Excel">Excel</v-btn>

      <slot name="menu-end"></slot>
    </div>

    <slot name="pre-table"></slot>

    <div v-show="selectedView == 'table'" v-resize="onResize" :id="wrapperId" :style="wrapperStyle">
      <div class="my-table-wrapper" :style="{ width: width == 'fill' ? '100%' : '', minWidth: minWidth }">
        <table :id="tableId" :key="tableId" v-show="recordsExist && !loading" :class="{ 'frazier-freeze-table': true, 'frazier-freeze-table-auto-height': height == 'auto' }">
          <!-- <colgroup v-for="n in colCount" :key="n"></colgroup> -->
          <thead>
            <slot name="header"></slot>
            <tr v-if="colCount > 0">
              <th v-for="n in colCount" :key="n"></th>
            </tr>
          </thead>
          <tbody>
            <slot name="body" v-bind:items="filteredItems"></slot>
          </tbody>
          <tfoot>
            <slot name="footer"></slot>
          </tfoot>
        </table>
        <div v-show="!recordsExist && !loading" style="height:100%; width:100%; display:flex; flex-flow: column nowrap; justify-content:center; align-items:center;">
          <slot name="no-records">
            <div style="font-size:35px; text-align:center; padding: 0px; max-width: 50%;">
              <i class="fad fa-frown" style="--fa-primary-color: gray; --fa-secondary-color: #006BB7; font-size:50px;"></i><br>
              <span style="font-weight:300;">{{noRecordsMessage}}</span>
            </div>
          </slot>
        </div>
        <div v-show="loading" style="height:100%; width:100%; display:flex; flex-flow: column nowrap; justify-content:center; align-items:center;">
          <slot name="loading">
            <div style="font-size:35px; text-align:center; padding-left:40px; padding-right: 40px;">
              <i class="fad fa-spinner-third fa-spin" style="--fa-primary-color: gray; --fa-secondary-color: #006BB7; font-size:50px;"></i><br>
              <span style="font-weight:300;">{{loadingMessage}}</span>
            </div>
          </slot>
        </div>
      </div>

      <div v-if="height == 'auto'" style="flex: 1 1 auto;">
      </div>

    </div>

    <div v-if="selectedView == 'table' && recordsExist" class="ma-1" style="display:flex; flex-flow:row; align-items: center;">
      <div class="mr-2 d-flex align-center" v-if="paging && pageCount > 1"><span class="pr-1" style="font-size:.9em;">Page</span>
        <v-icon small @click="currentPage = 1" :disabled="currentPage == 1">fas fa-chevron-double-left</v-icon>
        <v-icon small @click="currentPage--" class="mx-2" :disabled="currentPage == 1">far fa-chevron-left</v-icon>
        <select class="px-1" v-model="currentPage" style="border-style: solid;  background-color: white; text-align:center; min-width:25px;"><option v-for="c in pageCount" :key="c" :value="c">{{c}}</option></select>
        <v-icon small @click="currentPage++" class="mx-2" :disabled="currentPage == pageCount">far fa-chevron-right</v-icon>
        <v-icon small @click="currentPage = pageCount" :disabled="currentPage == pageCount">fas fa-chevron-double-right</v-icon>
      </div>
      <div class="table-record-count">
        <span v-if="paging && pageCount > 1">{{(currentPage - 1) * pageSize}} - {{Math.min((currentPage - 1) * pageSize + pageSize - 1, filteredCount)}} of {{filteredCount}} records</span>
        <span v-else-if="((paging && pageCount == 0) || width == 'fill' || showCount) && !hideCount">{{filteredCount}} records</span>
        <span v-if="onNull(filter, '').length > 0" class="frazier-blue-font pl-2" style="font-style: italic; ">filtered</span>
      </div>
    </div>

    <div v-show="selectedView == 'cards'" style="display:flex; flex-flow: row wrap;">
      <slot name="cards" v-bind:items="filteredItems"></slot>
    </div>

    <div :id="postWrapper">
      <slot name="post-table"></slot>
    </div>

  </div>

</template>

<script>
// Version 1 Adam
import moment from 'moment'
import _ from 'lodash'
export default {
  props: {
    items: Array,
    freezeCols: {
      type: Number,
      default: 0
    },
    // heightReduction: {
    //   type: Number,
    //   default: 0
    // },
    height: {
      type: String,
      default: 'fill'
    },
    dense: {
      type: Boolean,
      default: true
    },
    filtering: Boolean,
    filteringHint: {
      type: String,
      default: ''
    },
    filteringLabel: {
      type: String,
      default: 'Search'
    },
    noRecordsMessage: {
      type: String,
      default: 'No Records'
    },
    cardView: Boolean,
    defaultView: {
      type: String,
      default: 'table'
    },
    valueConversionFunction: Function,
    paging: Boolean,
    pageSize: {
      type: Number,
      default: 100
    },
    filterFunction: Function,
    filterFunctionReplace: Boolean, // by default filter function appends its filtering . True to replace
    sorting: {
      type: Boolean,
      default: true
    },
    loadingFunction: Function,
    totalItemCount: Number,
    searchFields: Array,
    appendToWhereClause: String,
    loading: {
      type: Boolean,
      default: false
    },
    loadingMessage: {
      type: String,
      default: 'Loading'
    },
    showHeader: Boolean,
    width: {
      type: String,
      default: 'fill'
    },
    minWidth: {
      type: String,
      default: '0px'
    },
    excelPrefix: {
      type: String,
      default: 'Excel Export'
    },
    excel: Boolean,
    showCount: Boolean,
    hideCount: Boolean,
    selectable: Boolean
  },
  data() {
    return {
      filter: null,
      frozen: false,
      colCount: 0,
      wrapperStyle: {
        display: 'flex',
        flexFlow: 'row nowrap',
        width: this.width == 'fill' ? '100%' : '',
        minWidth: this.minWidth,
        height: ''
      },
      sortField: null,
      sortOrder: 'asc',
      selectedView: 'table',
      fields: [],
      currentPage: 1,
      filteredCount: 0,
      tableId: this.randomString(),
      resizeInterval: null,
      wrapperId: `scrolly_table${this.randomString()}`,
      postWrapper: this.randomString()
    }
  },
  computed: {
    pageCount() { return Math.ceil(this.filteredCount / this.pageSize) },
    recordsExist() { return this.items != undefined && this.items != null && this.items.length > 0 },
    filterComputed: {
      get() {
        return this.filter;
      },
      set: _.debounce(function(newValue) {
        this.filter = newValue;
        this.reloadData()
      }, 750)
    },
    tableJQueryLocator() { return '#' + this.tableId },
    filteredItems() {
      var self = this
      var records;

      // console.log('filtered items changed')
      function GetValue(item, field) {
        if (self.valueConversionFunction != null) {
          return self.valueConversionFunction(item[field], field, item)
        } else {
          return item[field]
        }
      }

      if (this.items == null) {
        records = []
      } else if (this.filterFunction != null && this.filterFunctionReplace) {
        records = this.items.filter(p => this.filterFunction(p, this.filter))
      } else if (this.onNull(this.filter, '').length > 0 && this.loadingFunction == undefined && this.fields.length > 0) {


        var data = this.items.filter(function(obj) {
          return Object.keys(obj).some(function(e) {
            if (!self.fields.some(p => p == e)) return false
            return self.onNull(GetValue(obj, e), '').toString().toLowerCase().contains(self.filter.toLowerCase())
          })
        })

        records = data

      }  else {

        records = this.items

      }

      if (this.filterFunction != null && !this.filterFunctionReplace) records = records.filter(p => this.filterFunction(p, this.filter))

      this.filteredCount = this.totalItemCount || this.onNull(records, []).length

      if (this.loadingFunction != undefined && this.filteredCount < (this.currentPage - 1) * this.pageSize) {
        this.currentPage = 1
      }

      setTimeout(_ => {
        this.$nextTick(_ => {
          this.initializeTable()
        })
      }, 100)

      if (this.paging && this.loadingFunction == undefined) {
        var startSlice = (this.currentPage - 1) * this.pageSize
        records = records.slice(startSlice, startSlice + this.pageSize)
      }

      this.items.forEach(item => {
        if (typeof item === 'object' && !!item) {
          this.$set(item, '__isVisible', records.indexOf(item) > -1)
          if (this.selectable && item.__selected == undefined) {
            this.$set(item, '__selected', false)
          } else if (this.selectable) {
            this.$set(item, '__selected', item.__selected && records.indexOf(item) > -1)
          }
        }
      })

      return records

    }
  },
  watch: {
    currentPage() { this.reloadData() },
    appendToWhereClause(val) { this.reloadData() },
    items() {
      // if (this.loadingFunction != undefined) {
        this.$forceUpdate()
        setTimeout(_ => {
          // this.initializeTable(true)
          var self = this
          var width = 0
          $(this.tableJQueryLocator).find('tbody tr').first().find('td').each(function(x) {
            if (x + 1 <= self.freezeCols) {
              $(self.tableJQueryLocator).find(`.sticky-col-${x}`).css('left', `${width}px`)
              $(self.tableJQueryLocator).find(`tbody .sticky-col-${x}`).css('z-index', '5')
              $(self.tableJQueryLocator).find(`thead .sticky-col-${x}`).css('z-index', '6')
            }
            width += $(this).outerWidth()
          })
        }, 250)
      // }
    }
  },
  mounted() {
    this.selectedView = this.defaultView
    this.initializeEvents()
    this.initializeTable()
    if (this.loadingFunction != undefined) this.reloadData()
    this.resizeInterval = setInterval(this.onResize, 100);
  },
  beforeDestroy() {
    clearInterval(this.resizeInterval)
  },
  methods: {
    focusEvt(evt) {
      evt.target.setSelectionRange(0, evt.target.value.length)
    },
    initializeEvents() {
      var self = this
      // console.log(`initialize events ${this.tableId}`)

      $(this.tableJQueryLocator).delegate('th', 'click', function(e) {
        var sortField = $(this).attr('field')
        var fieldType = $(this).attr('fieldType') || $(this).attr('field-type')
        if (self.onNull(sortField, '').length > 0 && self.sorting) {
          $('#' + self.wrapperId).find('thead i[sort-icon]').remove()
          self.sort(sortField, $(this).index(), fieldType)
          $(this).append(`<i sort-icon class="fa fa-sort-${self.sortOrder === 'asc' ? 'up' : 'down'}" style="margin-left:2px;"></i>`)
        }
      })

      $(this.tableJQueryLocator).delegate('td', 'mouseenter mouseleave', function(e) {
        var idx = self.SumColSpan($(this).parent(), $(this).index())
        if (e.type == 'mouseenter') {
          $('#' + self.wrapperId).find('thead tr').each(function(i) {
            var c = self.GetColumnIndex($(this), idx)
            $(this).children().eq(c).addClass('header-hover')
          })
        }
        else {
          $('#' + self.wrapperId).find('thead tr').each(function(i) {
            var c = self.GetColumnIndex($(this), idx)
            $(this).children().eq(c).removeClass('header-hover')
          })
        }
      })

      $(this.tableJQueryLocator).delegate('tr', 'mouseenter mouseleave', function(e) {
          var gradient = 'linear-gradient(to bottom, rgba(0,107,183,0.1) 0%,rgba(0,107,183,0.1) 36%,rgba(0,107,183,0.1) 99%,rgba(0,107,183,0.1) 100%)'
          if (e.type == 'mouseenter') {
            $(this).find('td').addClass('my-table-row-hover')
            if (self.freezeCols > 0) {
              var tmp = $(this).find(`td:lt(${self.freezeCols})`).last().parent().css('background-color')
              if (tmp != null) {
                $(this).find(`td:lt(${self.freezeCols})`).last().css('background', gradient + ', linear-gradient(to left, lightgray 1px, ' + tmp.replace('rgba(0, 0, 0, 0)', '#FBFBFB') + ' 1px)')
              }
            }
          }
          else {
            $(this).find('td').removeClass('my-table-row-hover')
            if (self.freezeCols > 0)
            {
              var originalBI = $(this).find(`td:lt(${self.freezeCols})`).last().css('background-image')
              if (self.onNull(originalBI, '').contains('),'))
              {
                var original =  originalBI.split('),')[1]
                $(this).find(`td:lt(${self.freezeCols})`).last().css('background', original)
              }
            }
          }
      });

    },
    initializeTable() {
      var self = this
      // console.log(`initialize table ${this.tableId}`)
      $(this.tableJQueryLocator).find('tbody tr').each(function(i) {
        if (self.onNull($(this).attr('row-prepped'), false) != 'true') {
          self.PrepRow($(this))
        }
      })

      if (!this.frozen) {
        var x = 0
        $(this.tableJQueryLocator).find('thead tr').each(function() { x = Math.max(x, $(this).children().length) })
        this.colCount = x
        this.$forceUpdate()
        this.fields = []
        $(this.tableJQueryLocator).find('thead').find('[field]').each(function() { self.fields.push($(this).attr('field')) })
        if (this.filtering && this.fields.length == 0) {
          console.error('filtering is active on MyTable, but no field properties are specified on table headers')
        }

        setTimeout(() => {

          $(this.tableJQueryLocator).find('thead tr').each(function(i) {
            // if (self.onNull($(this).attr('row-prepped'), false) != 'true') {
              self.PrepHeaderRow($(this))
            // }
          })

        }, 100)

        var heightInterval = setInterval(() => {
          var height = 0
          $(this.tableJQueryLocator).find('thead tr').each(function(i) {
            $(this).find('th').each(function() {
              $(this).css('top', height.toString() + 'px')
            })
            height += $(this).height()
            if (height > 0) {
              clearInterval(heightInterval)
            }
          })
        }, 1000)

        var widthInterval = setInterval(() => {
          // console.log(`freeze cols ${self.freezeCols} ` + this.tableId)
          var width = 0;
          $(this.tableJQueryLocator).find('tbody tr').first().find('td').each(function(x) {

            if (x + 1 <= self.freezeCols) {
              // console.log(`set sticky left to ${width}`)
              $(self.tableJQueryLocator).find(`.sticky-col-${x}`).css('left', `${width}px`)
              $(self.tableJQueryLocator).find(`tbody .sticky-col-${x}`).css('z-index', '5')
              $(self.tableJQueryLocator).find(`thead .sticky-col-${x}`).css('z-index', '6')
            }
            // console.log(`column ${x} outerWidth = ${$(this).outerWidth()}`)
            width += $(this).outerWidth()
          })
          if (width > 0) {
            // console.log('clear width interval')
            clearInterval(widthInterval)
            widthInterval = null
          }
        }, 1000);

        this.frozen = true
      }

    },
    onNull(val, _default) {
      if (val === undefined || val === null) {
        return _default
      }
      return val
    },
    reloadData() {
      if (this.loadingFunction != undefined) {

        var sort = this.sortField == null ? null : `${this.sortField} ${this.sortOrder}`

        var where = '' //this.onNull(this.filter, '')

        if (this.onNull(this.appendToWhereClause, '').length > 0) {
          // if (where != '') where += ' AND '
          where += `(${this.appendToWhereClause})`
        }

        if (this.onNull(this.filter, '') == 0 && where.length == 0) {
          console.log('filter is missing. execute loading function')
          this.loadingFunction(null, sort, (this.currentPage - 1) * this.pageSize, this.pageSize)
          return
        }

        var f = []

        if (this.onNull(this.filter, '').length > 0) {
          for (var prop of this.searchFields) {
            if (typeof prop == 'string') {
              f.push(`${prop}.contains("${this.filter}")`)
            }
            else if (typeof prop == 'object' && prop.type == Number && !isNaN(this.filter)) {
              f.push(`${prop.field} == ${this.filter}`)
            }
            else if (typeof prop == 'object' && prop.type == String) {
              f.push(`${prop.field}.contains("${this.filter}")`)
            }
          }
        }

        if (f.length > 0) {
          if (where.length > 0) where += ' AND '
          where += '(' + f.join(' OR ') + ')'
        }

        console.log('execute loading function')
        this.loadingFunction(where, sort, (this.currentPage - 1) * this.pageSize, this.pageSize)
      }
    },
    onResize() {
      if (this.height == 'fill') {
        //  this.wrapperStyle.height = (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - this.heightReduction).toString() + 'px'

        var w = document.getElementById(this.wrapperId)
        if (w == undefined || w == null) return
        var rect = w.getBoundingClientRect()
        // console.log(rect)
        // console.log(document.body.getBoundingClientRect())

        var postHeight = document.getElementById(this.postWrapper).getBoundingClientRect().height
        // console.log(postHeight)

        var y = (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - rect.y - 52 - postHeight - 20 + (this.hideCount ? 24 : 0)).toString() + 'px'

        // var x = (Math.max(document.documentElement.clientWidth, window.innerWidth || 0) - rect.x - 32).toString() + 'px'
        //console.log(q)
        if (this.wrapperStyle.height != y) {
          this.wrapperStyle.height = y
        }


      }
      else if (this.height == 'auto') {
        // if (this.heightReduction > 0) { console.warn('The heightReduction in MyTable is ignored because height is not set to fill') }
      }
      else {
        // if (this.heightReduction > 0) { console.warn('The heightReduction in MyTable is ignored because height is not set to fill') }
        if (this.wrapperStyle.height != this.height) {
          this.wrapperStyle.height = this.height
        }
      }

      if (this.width == 'fill') {
        var w = document.getElementById(this.wrapperId)
        if (w == undefined || w == null) return
        var rect = w.parentElement.getBoundingClientRect()
        //rect = w.getBoundingClientRect()
        // var x = (Math.max(document.documentElement.clientWidth, window.innerWidth || 0) - rect.x - 32).toString() + 'px'
        // console.log(rect)
        var x = rect.width.toString() + 'px'
        // console.log(`width fill --> ${x}`)
        if (this.wrapperStyle.width != x) {
          this.wrapperStyle.width = x
        }
      } else if (this.width == 'auto') {

      } else {
        if (this.wrapperStyle.width != this.width) {
          this.wrapperStyle.width = this.width
        }
      }
    },
    setFilter(val) {
      this.filterComputed = val
    },
    SumColSpan(row, toIdx) {
      var self = this
      var x = 0
      row.children().each(function(i) {
        if (i < toIdx) {
          x += self.onNull($(this).attr('colspan'), 1)
        }
      })
      return x
    },
    PrepRow(row) {
      var self = this;
      if (this.freezeCols > 0) {
        // console.log('set freeze cols')
        row.find('td').each(function(x) {
          if (self.freezeCols > 0 && x <= self.freezeCols - 1) {
            $(this).addClass(`sticky-col sticky-col-${x}`)
          }
        })

        row.find(`td:lt(${this.freezeCols})`).each(function() {
          $(this).css('background-color', $(this).parent().css('background-color').replace('rgba(0, 0, 0, 0)', '#FBFBFB'))
        })
        row.find(`td:lt(${this.freezeCols})`).last().css('background', 'linear-gradient(to left, lightgray 1px, ' + row.find('td:lt(' + this.freezeCols.toString() + ')').last().parent().css('background-color').replace('rgba(0, 0, 0, 0)', '#FBFBFB') + ' 1px) ')

      }

      row.attr('row-prepped', true)
    },
    PrepHeaderRow(row) {
      var self = this

      row.find('th, td').each(function(x) {
        if (self.freezeCols > 0 && x <= self.freezeCols - 1) {
          $(this).addClass(`sticky-col sticky-col-${x}`)
        }
      })

      if (!row.is(':last-child') && this.freezeCols > 0) {
        row.find(`th:lt(${this.freezeCols})`).last().css('background', 'linear-gradient(to left, lightgrey 1px, ' + row.find('th:lt(' + this.freezeCols.toString() + ')').last().parent().css('background-color').replace('rgba(0, 0, 0, 0)', '#F5F5F5') + ' 1px) ')
      }

      row.attr('row-prepped', true)
    },
    GetColumnIndex(row, idx) {
      idx += 1
      var self = this
      var rtn = -1
      row.children().each(function(i) {
        idx -= self.onNull($(this).attr('colspan'), 1)
        if (idx <= 0 && rtn < 0) {
          rtn = $(this).index()
        }
      })
      return rtn
    },
    sort(byField, colIndex, fieldType = '') {
      var self = this

      if (this.sortField != byField) {
        this.sortOrder = 'asc'
      }
      else if (this.sortField === byField) {
        this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc'
      }

      if (this.loadingFunction != undefined) {
        this.sortField = byField
        this.reloadData()
        return;
      }

      function GetValue(item) {
         if (self.valueConversionFunction != null) {
            // console.log(`id convert ${byField} --> ${item[byField]} = ${self.valueConversionFunction(item[byField], byField)}`)
            return self.valueConversionFunction(item[byField], byField)
          } else {
            return item[byField]
          }
      }

      // determine field type
      // var fieldType = ''
      if (this.onNull(fieldType, '').length == 0){
        for (var item of this.items) {
          var a = GetValue(item)
          //  console.log(`field type analyze value --> ${a}`)
          if (a != undefined && a != null) {
            // console.log(`!isNaN = ${!isNaN(a)}`)
            if (!isNaN(a) && !moment(a).isValid()) {
              // console.log('is a number')
              // Is a number
              if (fieldType == 'number' || fieldType == '') {
                fieldType = 'number'
              } else {
                fieldType = 'string'
                break
              }
            } else if (moment(a).isValid()) {
              // console.log('is a date')
              // is a date
              if (fieldType == 'date' || fieldType == '') {
                fieldType = 'date'
              } else {
                fieldType = 'string'
                break
              }
            } else {
              // console.log('is a string')
              // string
              fieldType = 'string'
              break
            }
          }
        }
      }
      // console.log(`sorting on ${byField} (${fieldType}). Column Index is ${colIndex}`)
      // if (this.sortField === byField) {
      //   this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc'
      // }
      this.sortField = byField
      this.items.sort((a, b) => {
        var aVal = ''
        var bVal = ''

        aVal = GetValue(a) //a[byField]
        bVal = GetValue(b) //b[byField]

        if (fieldType == 'string') {
          aVal = this.onNull(aVal, '').toUpperCase()
          bVal = this.onNull(bVal, '').toUpperCase()
        } else if (fieldType == 'date') {
          aVal = moment(self.onNull(aVal, '01/01/1900'))
          bVal = moment(self.onNull(bVal, '01/01/1900'))
        }



        if (aVal < bVal) {
          // console.log(`comparison --> ${aVal} < ${bVal}`)
          return this.sortOrder === 'asc' ? -1 : 1
        }
        if (aVal > bVal) {
          // console.log(`comparison --> ${aVal} > ${bVal}`)
          return this.sortOrder === 'asc' ? 1 : -1
        }
        // console.log(`comparison --> ${aVal} = ${bVal}`)
        // a must be equal to b
        return 0
      })
    },
    exportToExcel() {
      let uri = 'data:application/vnd.ms-excel;base64,',
      template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><title></title><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
      base64 = function(s) { return window.btoa(decodeURIComponent(encodeURIComponent(s))) },         format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; })}

      var table = document.getElementById(this.tableId)
      var ctx = { worksheet: 'Worksheet', table: table.innerHTML }

      var link = document.createElement('a');
      link.download = `${this.excelPrefix} ${moment().format('MMMM Do YYYY h-mm-ss a')}.xls`;
      link.href = uri + base64(format(template, ctx));
      link.click();
    },
    randomString(len, charSet) {
      charSet = charSet || 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
      len = len || 20
      var randomString = ''
      for (var i = 0; i < len; i++) {
        var randomPoz = Math.floor(Math.random() * charSet.length)
        randomString += charSet.substring(randomPoz, randomPoz + 1)
      }
      return randomString
    }
  }
}
</script>

<style lang="scss">

.my-grid-background {
  background:#F5F5F5;

}
.sticky-col {
  position: sticky;
  position: -webkit-sticky;
  z-index:1;
}

// This is the table element itself
.frazier-freeze-table {
  border-collapse: collapse;
  background: #FAFAFA; // color of data
  // background-color: #Fdfdfd;

  thead {

    tr:first-child {
      th {
        top: 0;
      }
    }

    tr:last-child {
      th {
        height: 1px;
        padding:0px;
        background-color: lightgray;
      }
    }

    th {
      font-weight:400;
      font-size:.825em;
      text-transform: uppercase;
      padding:2px 10px 2px 10px;
      letter-spacing: 0.1em;
      background:#F5F5F5;
      white-space:nowrap;
      color:#757575;
      position: sticky;
      z-index: 4;
      text-align:center;

      &[field]{
        cursor:pointer;
      }
      &:hover {
        color: #006BB7;
        font-style:italic;
      }
    }

    .header-hover {
      color: #006BB7;
      font-style:italic;
      background-color: #EEEEEE;
    }

  }

  tbody {
    td {
      padding:2px 10px 2px 10px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      min-height:34px;
      height:34px;
      white-space:nowrap;
    }

    tr {

      select {
        // background-color: yellow;
        margin-right: 10px;
      }

      input:not([type="checkbox"]) {
        border: 1px solid transparent;
        padding: 1px 3px;
        margin:-1px -3px;
      }
      @media (pointer: fine) {
        .hover-show {
          // display:none;
          // height: 0;
          // transition: opacity .25s ease-out;
          visibility: hidden !important;
        }
      }
    }


    tr:hover {
      select {
        appearance: menulist;
        border-style: solid;
        background-color: white;
        margin-left:-5px;
        margin-right:-10px;
        border: 1px solid lightgray;
      }

      > td input:not([type="checkbox"]) { //Careful here as we are trying NOT to impact currency selector
        appearance: textfield;
        border: 1px solid lightgray;
        // padding: 1px;
        background-color: white;
      }
      @media (pointer: fine) {
        .hover-show {
          // display: initial;
          // height: initial;
          // transition: opacity .25s ease-in;
          visibility: visible !important;
        }
      }

    }

    .my-table-row-hover {
      background-image: linear-gradient(to bottom, rgba(0,107,183,0.1) 0%,rgba(0,107,183,0.1) 36%,rgba(0,107,183,0.1) 99%,rgba(0,107,183,0.1) 100%);
    }
  }

  tfoot {
    td {
      padding:2px 10px 2px 10px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      // min-height:34px;
      // height:34px;
      white-space:nowrap;
    }
    tr {
      background-color: #e6f2ff;
      font-weight:500;
    }
  }

  .right-border {
    background:lightgray;
    padding:0px;
    min-width:1px;
    max-width:1px;
    width:1px;
  }

}

.frazier-freeze-table-auto-height {
  tbody {
    tr:first-child{
      td {
        border-top:0px;
      }
    }

    tr:last-child {
      td {
        border-bottom:0px;
      }
    }
  }
}

.my-table-header-wrapper {
  // border-top: 1px solid lightgray;
  // border-left: 1px solid lightgray;
  // border-right: 1px solid lightgray;
  // border-bottom: 1px solid lightgray;
  // margin-bottom: 5px;
  display: flex;
  padding: 0px 0px 5px 0px;
  flex-flow: row wrap;
  align-items: center;
  // background-color: #f5f5f5;

  .search-box-wrapper {
    // border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 0px 10px;

    .search-box {
      border: 0px solid lightgray;
      padding: 2px 0px;
      margin: 0px 3px;
      width: 200px;

      &::placeholder {
        color: gray;
        font-size: .85em;
        // font-style: italic;
      }

      &:focus {
        outline: none;
      }
    }

    .search-box-search-icon, .search-box-clear-icon {
      // background-color: white;
      color: gray;
      font-size: .9em;
      padding: 3px;
    }

    .search-box-clear-icon {
      cursor: pointer;

    }
  }

}

// This is the div that wraps the table
.my-table-wrapper {
  @extend .my-grid-background;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid lightgray;
  // padding: 1px;
}

.my-table-root {
  .table-record-count {
      color: gray;
      font-size: .925em;
      // font-variant: small-caps;
      letter-spacing: .035em;
  }
}

</style>
