<template>
    <!-- <div v-if="!readonly" style=""> -->
      <!-- <span class="my-small-symbol" :style="{ 'padding-right': prefix.length > 0 ? '3px' : '' }">{{prefix}}</span> -->
      <input
        v-if="!readonly"
        @change="validate($event)"
        @focus="selectAll($event.target)"
        @blur="active = false"
        :value="bindValue"
        @keydown="blockKeys($event)"
        ref="autoFocus"
        :style="{
          'text-align': center ? 'center' : 'right',
          'width': '100%',
          'font-weight': onNull(value, 0) != 0 ? '400' : '400',
          'color': active ? 'black' : (onNull(value, 0) != 0 ? (onNull(value, 0) < 0 && redNegative ? 'red' : 'black') : (greyZero ? 'lightgray' : 'black'))
        }"/>
      <!-- <span class="my-small-symbol" :style="{ 'padding-left': prefix.length > 0 ? '3px' : '' }">{{suffix}}</span> -->
    <!-- </div> -->
    <div v-else style="">
      <span v-if="usd" class="dollars">{{value}}</span>
      <span v-else-if="pounds" class="lbs">{{value}}</span>
      <span v-else>{{value}}</span>
    </div>
</template>

<script>
import { onNull, isNumeric } from '@/functions'
export default {
  props: {
    value: Number,
    min: Number,
    max: Number,
    decimals: Number,
    selectOnFocus: {
      type: Boolean,
      default: true
    },
    allowNegative: Boolean,
    usd: Boolean,
    pounds: Boolean,
    inches: Boolean,
    readonly: Boolean,
    center: Boolean,
    percent: Boolean,
    redNegative: Boolean,
    greyZero: {
      type: Boolean,
      default: true
    },
  },
  data() {
    return {
      active: false
    }
  },
  computed: {
    allowedDecimals() {
      if (this.decimals === undefined || this.decimals === null) {
        return 0
      }
      return Number(this.decimals)
    },
    prefix() {
      if (this.usd) return '$'
      return ''
    },
    suffix() {
      if (this.pounds) return 'lb'
      else if (this.inches) return 'in'
      return ''
    },
    bindValue() {
      if (this.percent) return this.value * 100
      return this.value
    }
  },
  methods: {
    selectAll(element) {
      this.active = true
      // console.log('focused')
      if (this.selectOnFocus != undefined) {
        // console.log('select all')
        element.setSelectionRange(0, element.value.length)
      }
    },
    notify(val) {
      // console.log('notify')
      if (this.percent) val = val / 100

      this.$emit('input', Number(val))
      this.$emit('change', Number(val))
    },
    blockKeys(evt) {
      //console.log(evt)
      // console.log('key pressed = ' + evt.key)
      // console.log('allow negative = ' + onNull(this.allowNegative, false))
      this.$emit('keypressed', evt.key)

      // handle pasting
      if (evt.key == 'v' && evt.ctrlKey) { return }

      if (onNull(this.allowNegative, false) === false && evt.key === '-') {
        // console.log('prevent -')
        evt.preventDefault()
        return
      } else if (evt.key === '-' && onNull(evt.target.value, '').toString().contains('-')) {
        evt.preventDefault()
        return
      }
      if (this.allowedDecimals <= 0) {
        if (/\D/.test(evt.key) && ['Delete', 'Backspace', 'Tab', 'Shift', 'ArrowLeft', 'ArrowRight', '-'].indexOf(evt.key) <= -1) {
          evt.preventDefault()
        }
      } else {
        if (/\D/.test(evt.key) && ['Delete', 'Backspace', 'Tab', 'Shift', '.', 'ArrowLeft', 'ArrowRight', '-'].indexOf(evt.key) <= -1) {
          // console.log(evt.key)
          evt.preventDefault()
        }
        if (evt.target.value.toString().contains('.') && evt.key === '.') {
          evt.preventDefault()
        }
      }
    },
    focus(){
      this.$refs['autoFocus'].focus()
    },
    validate(evt) {
      // console.log(evt)
      // evt.target.value = evt.target.value.replace(/[^0-9]/g, '')
      if (!isNumeric(evt.target.value)) {
        // console.log('not a number --> ' + evt.target.value)
        // console.log('old value = ' + this.value)
        // this.notify(this.value)
        evt.target.value = this.value
      } else {
        if (this.max !== undefined && Number(evt.target.value) > this.max) {
          evt.target.value = this.max
          if (this.value != this.max) {
            this.notify(this.max)
          }
          return
        }
        if (this.min !== undefined && Number(evt.target.value) < this.min) {
          evt.target.value = this.min
          if (this.value != this.min) {
            this.notify(this.min)
          }
          return
        }
        if (this.allowedDecimals > 0) {
          var val = evt.target.value.toString()
          if (val.contains('.')) {
            if (val.split('.')[1].length > this.allowedDecimals) {
              evt.target.value = Number(val.split('.')[0] + '.' + val.split('.')[1].substring(0, this.allowedDecimals))
              this.notify(evt.target.value)
              return
            }
          }
        }
        this.notify(evt.target.value)
      }
    }
  }
}
</script>
<style lang="scss" scoped>

// .suffix, .prefix {
//   vertical-align: text-top;
//   font-size: .8em;
//   padding-right: 2px;
//   color: #BBBBBB;
//   font-family: verdana;
//   font-weight: 100;
// }

select {
  appearance: menulist;
  border-style: solid;
  background-color: initial;
}

input:not([type="checkbox"]) {
  appearance: textfield;
  border: 1px solid lightgray;
  padding: 1px;
  // background-color: initial;
// background: white;
  // &:focus {
  //   border: 1px solid lightgray;
  // }
}

input:not([type="checkbox"]):focus {
  // outline-color: lightgray;
}
</style>