<template>
  <input @change="notify($event.target.value)" @focus="selectAll($event.target)" :value="value" @keydown="blockKeys($event)" @blur="validate($event)" />
</template>

<script>
export default {
  props: [
    'value',
    'min',
    'max',
    'decimals',
    'selectOnFocus'
  ],
  computed: {
    allowedDecimals() {
      if (this.decimals === undefined || this.decimals === null) {
        return 0
      }
      return Number(this.decimals)
    }
    // xMin () {
    //   if (this.min === undefined || this.min === null) {
    //     return ''
    //   } else {
    //     return this.min
    //   }
    // },
    // xMax () {
    //   if (this.max === undefined || this.max === null) {
    //     return ''
    //   } else {
    //     return this.max
    //   }
    // }
  },
  methods: {
    selectAll(element) {
      // console.log('focused')
      if (this.selectOnFocus) {
        console.log('select all')
        element.setSelectionRange(0, element.value.length)
      }
    },
    notify(val) { this.$emit('input', Number(val)) },
    blockKeys(evt) {
      if (this.allowedDecimals <= 0) {
        if (/\D/.test(evt.key) && ['Delete', 'Backspace', 'Tab'].indexOf(evt.key) <= -1) {
          evt.preventDefault()
        }
      } else {
        if (/\D/.test(evt.key) && ['Delete', 'Backspace', 'Tab', '.'].indexOf(evt.key) <= -1) {
          console.log(evt.key)
          evt.preventDefault()
        }
        if (evt.target.value.toString().contains('.') && evt.key === '.') {
          evt.preventDefault()
        }
      }
    },
    validate(evt) {
      console.log(evt)
      // evt.target.value = evt.target.value.replace(/[^0-9]/g, '')
      if (this.max !== undefined && Number(evt.target.value) > this.max) {
        evt.target.value = this.max
        this.notify(this.max)
      }
      if (this.min !== undefined && Number(evt.target.value) < this.min) {
        evt.target.value = this.min
        this.notify(this.min)
      }
      if (this.allowedDecimals > 0) {
        var val = evt.target.value.toString()
        if (val.contains('.')) {
          if (val.split('.')[1].length > this.allowedDecimals) {
            evt.target.value = Number(val.split('.')[0] + '.' + val.split('.')[1].substring(0, this.allowedDecimals))
            this.notify(evt.target.value)
          }
        }
      }
    }
  }
}
</script>

<style>

</style>
