<script>
import { Pie } from 'vue-chartjs'
import { defaultColors } from './chart-colors'
import { EventBus, LOCALE_CHANGED } from '@/EventBus'

export default {
  extends: Pie,
  props: [
    'data', // array of values
    'labels' // array of strings matching index order of data values
  ],
  computed: {
    colors() {
      return defaultColors.slice(0, this.data.length)
    }
  },
  watch: {
    data() {
      this.render() // when data is updated, chart will render
    }
  },
  mounted() {
    EventBus.$on(LOCALE_CHANGED, () => { this.render() })
  },
  beforeDestroy() {
    EventBus.$off(LOCALE_CHANGED)
  },
  methods: {
    render() {
      if (this.$data._chart !== null) {
        // console.log('destroy chart')
        this.$data._chart.destroy()
      }
      this.renderChart({
        labels: this.labels.map(p => this.$i18n.translate(p)),
        datasets: [
          {
            backgroundColor: this.colors,
            data: this.data
          }
        ]
      },
      {
        legend: {
          position: 'left'
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var allData = data.datasets[tooltipItem.datasetIndex].data
              var tooltipLabel = data.labels[tooltipItem.index]
              var tooltipData = allData[tooltipItem.index]
              var total = 0
              for (var i of allData) {
                total += i
              }
              var tooltipPercentage = Math.round(tooltipData / total * 100)
              return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)'
            }
          }
        },
        plugins: {
          datalabels: {
            display: false
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
canvas{

  /* width:1000px !important; */
  height:450px !important;

}
</style>