<template>
  <div>
    <div class="unfound">
      <h2>Sorry, we were unable to look up {{formatted}} your account.</h2>
    </div>
    <div class="unfound">
      <v-img src="img/question.png" contain height="250" />
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'value'
  ],
  data() {
    return {
    }
  },
  computed: {
    formatted() {
      if (this.value === undefined || this.value === null) {
        return ''
      } else {
        return this.value + ' for'
      }
    }
  }
}
</script>

<style>

.unfound {
  justify-content: center;
  display: flex;
  margin-top: 40px;
}
</style>
