<template>
  <div>
    <my-table :items="tasks" customStyle="display: inline-flex">
      <template v-slot:header>
        <tr>
          <th field="Complete">Complete</th>
          <th field="Description">Task Description</th>
          <th field="DueDate">Due Date</th>
          <th field="DateAdded" v-if="internal" >Added</th>
        </tr>
      </template>

      <template v-slot:body="{ items }">
        <tr v-for="task in items" :key="task.TaskID">
          <td style="text-align: center">
            <v-icon :color="task.Complete ? 'success' : ''">{{
              task.Complete ? 'fa-check-square' : 'far fa-square'
            }}</v-icon>
          </td>
          <td>
            {{ task.Description }}
          </td>
          <td>
            <my-moment localize :value="task.DueDate" format="MMM DD, YYYY"></my-moment>
          </td>
          <td v-if="internal">
            <my-moment localize
              :value="task.DateAdded"
              format="MMM DD, YYYY"></my-moment>
            by {{ task.AddedBy }}
          </td>
        </tr>
      </template>
    </my-table>
  </div>
</template>

<script>
import MyTable from '@/components/MyTable'
// import OrderPicker from './OrderPicker'
import MyMoment from '@/components/MyMoment'
// import MyDateButton from '@/components/MyDateButton'
// import axios from 'axios'
// import { EventBus, SHOW_ERROR } from '@/EventBus'
// import { onNull } from '@/functions'
export default {
  components: {
    MyTable,
    // OrderPicker,
    MyMoment
    // MyDateButton
  },
  props: {
    // 'order',
    tasks: Array,
    internal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      // tasks: [],
      orderInfo: null
    }
  }
}
</script>

<style>
</style>