<template>
  <!-- <v-radio-group v-model="attachments.filters.viewMode" row>
                <v-radio label="List View" value="list">list</v-radio>
                <v-radio label="Photo View" value="photos">photos</v-radio>
              </v-radio-group> -->
  <div style="display: flex; flex-flow: row wrap">
    <v-btn-toggle
      v-model="attachments.filters.viewMode"
      mandatory
      style="margin-bottom: 15px">
      <v-btn> <v-icon small left>fa-list</v-icon>Folder </v-btn>
      <v-btn> <v-icon small left>fa-list</v-icon>List </v-btn>
      <v-btn> <v-icon small left>far fa-images</v-icon>Photos</v-btn>
    </v-btn-toggle>
    <div
      v-if="attachments.filters.viewMode === 1"
      style="display: flex; flex-flow: row wrap">
      <div
        v-for="photo in attachments.details.filter((p) => isPhoto(p.FileName))"
        :key="photo.AttachmentID">
        <img
          v-on:click="openImage(photo.AttachmentID)"
          :src="loadPhotoById(photo.AttachmentID)"
          style="
            max-height: 300px;
            margin-right: 30px;
            margin-bottom: 30px;
            cursor: pointer;
          "
          title="Click to see full size photo"/>
        <!-- <v-btn @click="openImage(photo.AttachmentID)">
                view full image</v-btn
              > -->
      </div>
    </div>
    <my-table v-else :items="attachments.details" :customStyle="table_style">
      <template #menu-start>
        <i>Click
          <i
            class="far fa-file-pdf"
            style="color: red; margin: 0px 5px 0px 5px"></i>,
          <i
            class="far fa-file-word"
            style="color: #1976d2; margin: 0px 5px 0px 5px"></i>,
          <i
            class="far fa-file-image"
            style="color: #ff9800; margin: 0px 5px 0px 5px"></i>, or
          <i
            class="far fa-file-download"
            style="color: #1976d2; margin: 0px 5px 0px 5px"></i>
          to Download</i>
      </template>
      <template #header>
        <tr>
          <th field="AttachmentID">
            <i class="far fa-download"></i>
          </th>
          <th field="FileName">File Name</th>
          <th field="Description">Description</th>
          <th field="Category">Category</th>
          <th field="Size">File Size</th>
          <th field="DateAdded">Date Added</th>
          <!-- <th></th> -->
        </tr>
      </template>

      <template #body="{ items }">
        <tr v-for="item in items" :key="item.AttachmentID">
          <td>
            <v-btn
              icon
              :color="attachIconColor(item)"
              @click="downloadAttachment(item)"><v-icon>{{ attachIcon(item) }}</v-icon></v-btn>
          </td>
          <td>{{ item.FileName }}</td>
          <td>{{ item.Description }}</td>
          <td>{{ item.Category }}</td>
          <td style="text-align: right">
            {{ readableBytes(item.Size) }}
          </td>
          <td><my-moment :value="item.DateAdded" format="ll" /></td>
          <!-- <td>
                  <span style="color: orange"
                    ><i class="fas fa-sparkles"></i>
                  </span>
                </td> -->
        </tr>
      </template>
    </my-table>
  </div>
</template>