<template>
  <div style="display:flex; flex-flow:row; align-items:center;">
    <slot>
      <v-btn color="primary" @click="selectFiles">Attach File(s)</v-btn>
    </slot>

    <!-- <v-file-input
      accept="image/*"
      label="Upload File"
      class="mx-8"
      show-size
      prepend-icon="fa-camera"
      type="file"
      multiple
      :id="selectorID"
      v-model="attachments"
    ></v-file-input>-->
    <input :id="selectorID" type="file" style="display:none;" multiple="multiple" accept="image/*" />
    <div v-if="uploading" style="font-weight:500">
      Attaching {{currentFile}}
      <i class="fas fa-arrow-right"></i>
      {{currentPercentage}}%
    </div>
  </div>
</template>

<script>
import { EventBus, SHOW_WARNING, SHOW_SUCCESS } from '@/EventBus'
import $ from 'jquery'

export default {
  props: {
    attachments: {
      type: Array
    },
    url: String,
    extensions: {
      type: Array,
      default: () => [
        // 'pdf',
        // 'bmp',
        'jpg',
        'png'
        // 'tif',
        // 'tiff',
        // 'xlsx',
        // 'xls',
        // 'ppt',
        // 'pptx',
        // 'doc',
        // 'docx',
        // 'txt',
        // 'mp3',
        // 'aac',
        // 'rtf',
        // 'zip',
        // 'msg',
        // 'eml',
        // 'wma',
        // 'mov',
        // 'mp4',
        // 'xmlc',
        // 'xmla',
        // 'csv'
      ]
    }
  },
  data() {
    return {
      fileCount: 0,
      uploadCounter: 0,
      uploading: false,
      files: null,
      currentFile: null,
      currentPercentage: null
      // url: 'http://localhost/mes/web/UploadBlock?FormID=11157&&UserID=100167'
    }
  },
  computed: {
    selectorID() { return `fileselect${Math.random().toString().replace('0.', '')}` }
  },
  mounted() {
    document.getElementById(this.selectorID).onchange = e => {
      e.stopPropagation()
      e.preventDefault()
      this.processFiles(e.target.files || e.dataTransfer.files)
    }
  },
  methods: {
    selectFiles() {
      document.getElementById(this.selectorID).click()
    },
    processFiles(files) {
      console.log('process files')
      if (this.okToUpload(files)) {
        this.fileCount = files.length
        this.uploadCounter = 0
        this.files = files
        this.uploadNextFile()
      }
    },
    okToUpload(files) {
      for (var file of files) {
        if (!this.extensions.some(p => p === this.getFileExtension(file.name.toLowerCase()))) {
          EventBus.$emit(SHOW_WARNING, file.name + ' is an invalid file type')
          return false
        }
        if (this.attachments !== null && this.attachments !== undefined && this.attachments.length > 0 && this.attachments.some(p => p === file.name.toLowerCase())) {
          EventBus.$emit(SHOW_WARNING, file.name + ' already attached')
          return false
        }
      }
      console.log('ok to upload')
      return true
    },
    uploadNextFile() {
      if (this.fileCount > this.uploadCounter) {
        // UpdateWaitMessage('Uploading {0}<br/>({1} of {2})'.format(zen.uploader.files[zen.uploader.uploadCounter].name, zen.uploader.uploadCounter + 1, zen.uploader.files.length));
        // zen.uploader.handleFile(zen.uploader.files[zen.uploader.uploadCounter]);
        // ++zen.uploader.uploadCounter;
        this.uploading = true
        this.uploadFile(this.files[this.uploadCounter])
        this.currentFile = this.files[this.uploadCounter].name
        this.currentPercentage = 0
        this.uploadCounter++
      } else {
        this.uploading = false
      }
    },
    uploadFile(file) {
      var self = this
      var blockLength = 1048576 / 2

      var totalBlocks = Math.ceil(file.size / blockLength)
      console.log('total blocks {0} for {1}'.format(totalBlocks, file.name))
      var start = 0
      var end = Math.min(blockLength, file.size)
      var incrimentalIdentifier = 1
      var retryCount = 0
      var fileChunk
      var maxRetries = 3
      var retryAfterSeconds = 1

      var sendNextChunk = function() {
        fileChunk = new FormData()
        // uploader.renderProgress(incrimentalIdentifier);
        self.currentPercentage = (incrimentalIdentifier / totalBlocks * 100).toFixed(0)
        if (file.slice) {
          console.log('send chunk {1}, start {2}, end {3}, for {0}'.format(file.name, incrimentalIdentifier, start, end))
          fileChunk.append('Slice_' + file.name, file.slice(start, end))
        } else if (file.webkitSlice) {
          console.log('send webkit chunk {1} for {0}'.format(file.name, incrimentalIdentifier))
          fileChunk.append('Slice_' + file.name, file.webkitSlice(start, end))
        } else if (file.mozSlice) {
          console.log('send moz chunk {1} for {0}'.format(file.name, incrimentalIdentifier))
          fileChunk.append('Slice_' + file.name, file.mozSlice(start, end))
        } else {
          // uploader.displayLabel(operationType.UNSUPPORTED_BROWSER);
          return
        }
        $.ajax({
          async: true,
          url: self.url + 'FileName={0}&LastBlock={1}&Increment={2}'.format(encodeURIComponent(file.name), incrimentalIdentifier >= totalBlocks, incrimentalIdentifier),
          data: fileChunk,
          // dataType: 'json',
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          error: function(request, error) {
            console.log(request)
            console.warn('upload transfer error')
            console.error(error)
            if (error !== 'abort' && retryCount < maxRetries) {
              retryCount++
              setTimeout(sendNextChunk, retryAfterSeconds * 1000)
            } else if (error === 'abort') {
              // uploader.displayLabel(operationType.CANCELLED);
              // uploader.resetControls();
              // uploader = null;
              self.uploadNextFile()
            } else {
              // if (retryCount === zen.uploader.maxRetries) {
              // uploader.uploadError(request.responseText);
              // uploader.resetControls();
              // uploader = null;
              self.uploadNextFile()
              // }
              // else {
              //    uploader.displayLabel(operationType.RESUME_UPLOAD);
              // }
            }
          },
          success: function(data) {
            if (incrimentalIdentifier >= totalBlocks) {
              // uploader.renderProgress(uploader.totalBlocks + 1);
              // uploader.displayStatusMessage('File Upload Complete');
              // uploader.resetControls();
              // zen.uploader.fileUploadCompleteFunction(data);
              // zen.uploader.UploadNextFile();
              // uploader = null;
              // self.fileComplete(JSON.parse(data))
              self.fileComplete(data)
              EventBus.$emit(SHOW_SUCCESS, 'Done. Please refresh the list.')
              self.uploadNextFile()
              return
            }

            incrimentalIdentifier++

            start = (incrimentalIdentifier - 1) * blockLength
            end = Math.min(incrimentalIdentifier * blockLength, file.size)
            retryCount = 0
            sendNextChunk()
          }
        })
      }

      sendNextChunk()
    },
    fileComplete(data) {
      console.log('file upload complete')
      console.log(data)
      // this.$emit('UploadComplete', data)
    },
    getFileExtension(filename) {
      var ext = /^.+\.([^.]+)$/.exec(filename)
      return ext === null ? '' : ext[1]
    }
  }
}
</script>

<style>
</style>
