<template>
  <div
    v-if="weather != null"
    style="border: 1px dashed lightgray; padding: 5px; display: inline-block">
    <div
      style="
        background-color: dimgray;
        color: white;
        font-variant: small-caps;
        padding-left: 5px;
      ">
      Weather
    </div>

    {{ weather.location.name }},
    <span v-show="weather.location.region.length > 0">{{ weather.location.region }},</span>
    {{ weather.location.country }}

    <div
      style="
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 10px;
        border-top: 1px dashed lightgray;
        background-color: whitesmoke;
      ">
      <!-- <div>{{moment(weather.current.last_updated).format('ddd, MMM DD h:mm a')}}</div> -->
      <div>{{ weather.current.condition.text }}</div>
      <div style="display: flex; flex-flow: row nowrap; align-items: center">
        <img
          :src="`https:${weather.current.condition.icon}`"
          style="height: 50px"/>
        <div v-if="isUSA" style="font-size: 30px">
          {{ weather.current.temp_f }} <span v-html="tempsymbol"></span>
        </div>
        <div v-else style="font-size: 30px">
          {{ weather.current.temp_c }} <span v-html="tempsymbol"></span>
        </div>
      </div>
      <div title="wind gusts">
        <i class="far fa-wind" style="color: gray"></i>
        {{
          `${isUSA ? weather.current.gust_mph : weather.current.gust_kph} ${
            isUSA ? 'mph' : 'kph'
          }`
        }}
      </div>
    </div>

    <div class="forecast">
      <div>
        {{ moment(weather.forecast.forecastday[0].date).format('ddd, MMM DD') }}
      </div>
      <div style="display: flex; flex-flow: row nowrap; align-items: center">
      <img
        :src="`https:${weather.forecast.forecastday[0].day.condition.icon}`"
        :title="weather.forecast.forecastday[0].day.condition.text"/>
        <div class="maxtemp">
          {{ getMaxTemp(weather.forecast.forecastday[0].day) }}
          <span v-html="tempsymbol"></span>
        </div>
        <div class="mintemp">
          {{ getMinTemp(weather.forecast.forecastday[0].day) }}
          <span v-html="tempsymbol"></span>
        </div>
      </div>
      <div title="wind gusts">
        <i class="far fa-wind"></i>{{ getWind(weather.forecast.forecastday[0].day) }}
      </div>
    </div>

    <div class="forecast">
      <div>
        {{ moment(weather.forecast.forecastday[1].date).format('ddd, MMM DD') }}
      </div>
      <div style="display: flex; flex-flow: row nowrap; align-items: center">
      <img
        :src="`https:${weather.forecast.forecastday[1].day.condition.icon}`"
        :title="weather.forecast.forecastday[1].day.condition.text"/>
        <div class="maxtemp">
          {{ getMaxTemp(weather.forecast.forecastday[1].day) }}
          <span v-html="tempsymbol"></span>
        </div>
        <div class="mintemp">
          {{ getMinTemp(weather.forecast.forecastday[1].day) }}
          <span v-html="tempsymbol"></span>
        </div>
      </div>
      <div title="wind gusts">
        <i class="far fa-wind"></i>{{ getWind(weather.forecast.forecastday[1].day) }}
      </div>
    </div>

    <div class="forecast">
      <div>
        {{ moment(weather.forecast.forecastday[2].date).format('ddd, MMM DD') }}
      </div>
      <div style="display: flex; flex-flow: row nowrap; align-items: center">
      <img
        :src="`https:${weather.forecast.forecastday[2].day.condition.icon}`"
        :title="weather.forecast.forecastday[2].day.condition.text"/>
        <div class="maxtemp">
          {{ getMaxTemp(weather.forecast.forecastday[2].day) }}
          <span v-html="tempsymbol"></span>
        </div>
        <div class="mintemp">
          {{ getMinTemp(weather.forecast.forecastday[2].day) }}
          <span v-html="tempsymbol"></span>
        </div>
      </div>
      <div title="wind gusts">
        <i class="far fa-wind"></i>{{ getWind(weather.forecast.forecastday[2].day) }}
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  props: {
    zipcode: {
      type: String,
      default: '07853' // 'N5V 0A6'
    }
  },
  data() {
    return {
      weather: null
    }
  },
  computed: {
    isUSA() {
      return this.zipcode.length === 5
    },
    tempsymbol() {
      if (this.isUSA) {
        return '&#x2109;'
      } else {
        return '&#x2103;'
      }
    }
  },
  watch: {
    zipcode() { this.load() }
  },
  mounted() {
    this.load()
  },
  methods: {
    moment,
    load() {
      var self = this
      $.ajax({
        // async: true,
        url: `https://api.weatherapi.com/v1/forecast.json?key=cf45227af6bd4cc793e181345212601&q=${this.zipcode}&days=4`,
        // data: fileChunk,
        // dataType: 'json',
        cache: false,
        contentType: false,
        processData: false,
        headers: {
        },
        type: 'GET',
        error: function(request, error) {
          console.log('upload transfer error')
          console.log(error)
        },
        success: function(data) {
          self.weather = data
        }
      })
    },
    getMaxTemp(day) {
      return this.isUSA ? day.maxtemp_f : day.maxtemp_c
    },
    getMinTemp(day) {
      return this.isUSA ? day.mintemp_f : day.mintemp_c
    },
    getWind(day) {
      return this.isUSA ? day.maxwind_mph + ' mph' : day.maxwind_kph + ' kph'
    }
  }
}
</script>

<style lang="scss" scoped>
.forecast {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  // margin-bottom:10px;
  border-top: 1px dashed lightgray;
  img {
    height: 40px;
    margin-right: 10px;
  }

  .maxtemp {
    font-size: 16px;
    margin-right: 5px;
  }
  .mintemp {
    color: gray;
    font-size: 16px;
    margin-left: 5px;
  }
  i {
    margin-right: 5px;
    color: gray;
  }
}
</style>
