@import '~vue-snotify/styles/material';

// $img-preload-filter: blur(0px);

.myHeader {
  font-size: 2em;
  margin-top: 30px;
}

.myCenterRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.myPageTitle {
  margin-left: 10px;
  // font-weight: 400;
  // font-size: 1.05em;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
  font-variant: small-caps;
  // padding-top: 20px;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // padding-bottom: 10px;
}

.myCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 195px);
}

.my-small-symbol {
  // vertical-align: text-top;
  font-size: 0.8em;
  padding-right: 2px;
  color: #bbbbbb;
  font-family: tahoma;
  font-weight: 100;
}

.dollar {
  white-space: nowrap;
}

.dollar:before {
  content: '$';
  padding-right: 2px;
  vertical-align: text-top;
  @extend .my-small-symbol;
}

.lbs {
  white-space: nowrap;
}

.lbs:after {
  content: 'lb';
  padding-left: 3px;
  @extend .my-small-symbol;
}

.percent {
  white-space: nowrap;
}

.percent:after {
  content: '%';
  padding-left: 3px;
  @extend .my-small-symbol;
}

.inches {
  white-space: nowrap;
}

.inches:after {
  content: ' in';
  @extend .my-small-symbol;
}

.myTable {
  thead {
    th {
      border-bottom: 1px solid gray;
      font-weight: 450;
      text-align: center;
    }
  }

  tfoot {
    td {
      border-top: 1px solid gray;
      font-weight: 450;
      text-align: right;
    }
  }

  th,
  td {
    padding: 5px 10px 5px 10px;
  }
}

// Imported from mes-vue project's custom.scss file
.frazier-blue-font {
  color: #006bb7;
}

.small-font {
  font-size: small;
}

.section-title {
  margin-bottom: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 0px solid lightgray;
  border-top: 0px solid lightgray;
  font-size: 0.95em;
  // text-transform:uppercase;
  font-variant: small-caps;
  font-weight: 500;
  width: 100%;
  letter-spacing: 0.05em;
  background-color: rgb(224, 224, 224);
  // margin-left: -5px;
  // margin-right:-5px;
  padding-right: 5px;
  padding-left: 5px;
}
